Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/patch-release.yml:
  jobs:
  - job: Patching
    displayName: Generate patch (with build)
    timeoutInMinutes: 180
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    pool:
      vmImage: ubuntu-20.04
    steps:
    - template: /eng/pipelines/templates/steps/cache-maven-repository.yml
      parameters:
  ...

change the table
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Due: eng/pipelines/mgmt.yml

Address comments
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Due: eng/pipelines/mgmt.yml

address wes comments.
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools for PR 3433 (#29415)
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: eng/pipelines/mgmt.yml

add missing aot sdk
  sdk/aot/azure-aot-graalvm-samples/pom.xml
Due: none

ci fixes
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/BlobDecryptionPolicy.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/BlobCryptographyBuilderTest.groovy
Due: none

initial commit
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpClient.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipeline.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddDatePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelinePolicy.java
Due: none

add user agent tests
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipeline.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddDatePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core/src/test/java/com/azure/core/UserAgentTests.java
Due: none

add logger
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextPolicy.java
Due: none

cleanup and tests:
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipeline.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddDatePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpPipelineTests.java
Due: none

#28703 + changes
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipeline.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextSyncPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelinePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelineSynchronousPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpPipelineCallState.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpPipelineNextSyncPolicyHelper.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpPipelinePolicyTests.java
Due: eng/pipelines/mgmt.yml

fixing tests that are using incorrect service versions
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
Due: none

Reworked RedisClientConfig.java into a Builder Class for JedisRedisCheckpointStore
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-redis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/redis/JedisRedisCheckpointStoreBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-redis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/redis/RedisClientConfig.java
Due: none

add changelog
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextSyncPolicy.java
Due: eng/pipelines/link-verification.yml

fix test
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpPipelineTests.java
Due: none

checkstyle
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpPipelineTests.java
Due: none

rename to sync and get current policy
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextSyncPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelineSyncPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpPipelineCallState.java
Due: eng/pipelines/link-verification.yml

Tried fixing ci
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/BlobDecryptionPolicy.java
Due: none

fixing existing tests
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/NioBlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/NioBlobOutputStreamTestCloseError.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobOutputStream.java
Due: none

merge release info
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Due: eng/pipelines/link-verification.yml

adding service versions to more tests
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
Due: none

Add missing javadoc @param annotations for lastUpdatedOn
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/BasicDigitalTwinComponentMetadata.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/BasicDigitalTwinMetadata.java
Due: none

Increment package version after release of com.azure azure-data-appconfiguration (#29317)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Convert tabs into spaces
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/BasicDigitalTwinComponentMetadata.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/BasicDigitalTwinMetadata.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/ComponentSyncSamples.java
Due: none

[TA] Merge patch release note back to main repo from release SHA (#29416)
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Added missing external dependencies in `azure-sdk-build-tool/pom.xml` to `external_dependencies.txt` with their latest versions.
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/mgmt.yml

Updated external dependencies for `azure-sdk-build-tools/pom.xml`.
  sdk/tools/azure-sdk-build-tool/pom.xml
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml
