Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/cognitiveservices/ms-azure-cs-autosuggest, sdk/cognitiveservices/ms-azure-cs-computervision, sdk/cognitiveservices/ms-azure-cs-contentmoderator, sdk/cognitiveservices/ms-azure-cs-customimagesearch, sdk/cognitiveservices/ms-azure-cs-customsearch, sdk/cognitiveservices/ms-azure-cs-customvision-prediction, sdk/cognitiveservices/ms-azure-cs-customvision-training, sdk/cognitiveservices/ms-azure-cs-entitysearch, sdk/cognitiveservices/ms-azure-cs-faceapi, sdk/cognitiveservices/ms-azure-cs-imagesearch, sdk/cognitiveservices/ms-azure-cs-luis-authoring, sdk/cognitiveservices/ms-azure-cs-luis-runtime, sdk/cognitiveservices/ms-azure-cs-newssearch, sdk/cognitiveservices/ms-azure-cs-qnamaker, sdk/cognitiveservices/ms-azure-cs-spellcheck, sdk/cognitiveservices/ms-azure-cs-videosearch, sdk/cognitiveservices/ms-azure-cs-visualsearch, sdk/cognitiveservices/ms-azure-cs-websearch, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

cleaning
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/AppConfigurationExporterIntegrationTest.java
Due: eng/pipelines/pullrequest.yml

Fix AppConfigurationExporterIntegrationTest (#44490)
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/AppConfigurationExporterIntegrationTest.java
Due: eng/pipelines/pullrequest.yml

Internal: Allows configuring PendingAcquireMaxCount
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClientConfig.java
Due: none

fixed client impl and sample returns 200
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/responses/implementation/ResponsesClientImpl.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/ResponsesSample.java
Due: eng/pipelines/pullrequest.yml

Fixing CI pipeline.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
Due: none

addressing api view auto generated suggestions
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathSystemProperties.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/PathGetSystemPropertiesOptions.java
Due: eng/pipelines/pullrequest.yml

enable EntraIdToken Test
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/AzureApiKeyCredentialSample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/EntraIdCredentialSample.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientAsyncTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTestBase.java
Due: eng/pipelines/pullrequest.yml

move to json package
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/MockHttpResponse.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/RestProxyTests.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/RestProxy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/models/binarydata/BinaryData.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/JsonSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/models/JsonPatchDocument.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CoreUtils.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/models/binarydata/BinaryDataJavaDocCodeSnippet.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/MockHttpResponse.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyImplTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/AdditionalPropertiesSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/BinaryDataSerializationTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/JsonSerializableEndToEndTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/models/binarydata/BinaryDataTest.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/serialization/json/models/JsonPatchDocumentTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTestsServer.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/serializers/JsonSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/serializers/MockSerializer.java
Due: eng/pipelines/pullrequest.yml

Internal: Allows configuring PendingAcquireMaxCount (#44512)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClientConfig.java
Due: none

Make clientcore JsonSerializer public (#44501)
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/MockHttpResponse.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/RestProxyTests.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/RestProxy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/models/binarydata/BinaryData.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/JsonSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/models/JsonPatchDocument.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CoreUtils.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/models/binarydata/BinaryDataJavaDocCodeSnippet.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/MockHttpResponse.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyImplTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/AdditionalPropertiesSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/BinaryDataSerializationTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/JsonSerializableEndToEndTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/models/binarydata/BinaryDataTest.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/serialization/json/models/JsonPatchDocumentTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTestsServer.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/serializers/JsonSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/serializers/MockSerializer.java
Due: eng/pipelines/pullrequest.yml

update serialization of list
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/Union.java
Due: eng/pipelines/pullrequest.yml

Changelog Updates for Communications and Storage
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
  sdk/communication/azure-communication-messages/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Update version client
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update version with python script
  common/smoke-tests/pom.xml
  sdk/batch/azure-compute-batch/pom.xml
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-messages/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
  sdk/translation/azure-ai-translation-document/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment versions for keyvault release
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment versions for eventhubs release
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

use service connection id
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTestBase.java
Due: eng/pipelines/pullrequest.yml

Updating external dependency: io.vertx:vertx-core:4.5.10 -> 4.5.13 io.vertx:vertx-codegen:4.5.10 -> 4.5.13
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/template/azure-template-stress/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

add public client + update pom
  sdk/identity/azure-identity-v2/pom.xml
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/AuthenticationRecord.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/AuthenticationRequiredException.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/BrowserCustomizationOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/InteractiveBrowserCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/ManagedIdentityCredentialBuilder.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/PublicClient.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/MsalAuthenticationAccount.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/PublicClientOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/util/IdentityConstants.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/util/IdentityUtil.java
Due: eng/pipelines/pullrequest.yml

Updating CHANGELOG.md
  sdk/core/azure-core-http-vertx/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

update version client
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Add path logging to sparse-checkout (#44513)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

fix versions
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-v2/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update pom
  sdk/identity/azure-identity-v2/pom.xml
Due: eng/pipelines/pullrequest.yml

add collaborator tests
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsAsyncClientTests.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsClientTest.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsTestBase.java
Due: eng/pipelines/pullrequest.yml

remove print statement
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsClientTest.java
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/communication/azure-communication-rooms/assets.json
Due: eng/pipelines/pullrequest.yml
