Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

Deleted pom.xml.orig
  pom.xml.orig
Due: eng/pipelines/mgmt.yml

Fix test failure by: 1. In azure-spring-boot-test-keyvault, add spring-boot-starter-web and spring-boot-starter-webflux. 2. exclude tomcat-embed-core in springWebFluxTests.
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
  sdk/spring/azure-spring-boot-test-parent/pom.xml
Due: none

Fix test failure by: Not exclude spring-webflux in integration-test(id: default).
  sdk/spring/azure-spring-boot-test-parent/pom.xml
Due: none

Moved tests.yml; pom.xml version update
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/attestation/tests.yml
Due: none

Updated maven checkstyle version
  pom.xml
Due: eng/pipelines/mgmt.yml

Cleanup
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/ChangeFeedState.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeContinuation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosChangeFeedRequestOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/ChangeFeedStateTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/feedranges/FeedRangeContinuationTest.java
Due: none

Added azure-security-attestation
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

- b2c code refactor
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/src/main/java/com/azure/spring/sample/aad/b2c/controller/WebController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/src/main/resources/templates/greeting.html
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/src/main/resources/templates/home.html
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CProperties.java
Due: eng/pipelines/link-verification.yml

Fixing spotbug issue
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/ChangeFeedState.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeInternal.java
Due: none

- refactor aad sample code
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/java/com/azure/spring/sample/aad/controller/TodoListController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/java/com/azure/spring/sample/aad/security/WebSecurityConfig.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/resources/static/App/Scripts/app.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/resources/templates/index.html
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-security-keyvault-keys
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update spring-test-template.yml
  sdk/spring/spring-test-template.yml
Due: none

Fixed a couple of version issues in pom.xml; updated version.
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/pom.xml
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-security-keyvault-secrets
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Adding generic type information that my IDE told me was redundant...
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/ReactorNettyHttpResponseBase.java
Due: none

update to 4.0.11
  eng/mgmt/automation/parameters.py
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-keyvault-certificates
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-messaging-servicebus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Change semantics of netty headers impl to match expectations of unit tests
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/ReactorNettyHttpResponseBase.java
Due: none

Small cleanup mainly to trigger the check-enforcer to get out of my way
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyHttpHeaderTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/CookiePolicy.java
Due: none

Lower case all keys and fix two checkstyle issues
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/ReactorNettyHttpResponseBase.java
Due: none

update to 4.0.11 (#18695)
  eng/mgmt/automation/parameters.py
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-messaging-servicebus (#18696)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

- add java doc
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CProperties.java
Due: none

Increment version for keyvault releases (#18692)
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update error message in tools repo (#18686)
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-ci.ps1
Due: eng/pipelines/mgmt.yml

clean some code
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/ThroughputRequestThrottler.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputRequestThrottlerTests.java
Due: none

Update version_client.txt manually.
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

update env names
  sdk/spring/spring-test-template.yml
  sdk/spring/tests.yml
Due: none

- add ut code
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CConstants.java
Due: none

- rename variables
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/java/com/azure/spring/sample/aad/controller/TodoListController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/resources/static/App/Scripts/app.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/src/main/resources/templates/index.html
Due: eng/pipelines/link-verification.yml

adjust artifacts order
  sdk/spring/spring-test-template.yml
Due: none

add SubscriptionConfiguration
  sdk/spring/spring-test-template.yml
  sdk/spring/tests.yml
Due: none

Use 2 pom file to test for spring-web and spring-webflux.
  sdk/spring/azure-spring-boot-test-core/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom-webflux.xml
  sdk/spring/azure-spring-boot-test-parent/pom.xml
  sdk/spring/pom.xml
Due: none

Fixing test issue
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
Due: none
