Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template
  ...

test empty artifact case
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  sdk/template/ci.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

updating assets for blob share and queue
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAsyncApiTests.java
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-queue/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Reverted change of set-test-pipeline-version template reference
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

updating assets for blob and datalake
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-file-datalake/assets.json
Due: eng/pipelines/pullrequest.yml

Bump cspell from 9.2.1 to 9.3.2 in /eng/common/spelling (#47341)
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update InvalidHostnameTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/InvalidHostnameTest.java
Due: none

Reverted script change
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update Spring Boot and Spring Cloud versions for the compatibility test. This commit is created by GitHub Action: https://github.com/Azure/spring-cloud-azure-tools/actions/runs/19555713493
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

removed if condition
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

adding engsys repo owner to codeowners file
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

remove other change in changelog
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Moved comment to the right place
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

adding engsys repo owner to codeowners file (#47344)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

[VoiceLive] Fix MCP error (#47325)
  .github/CODEOWNERS
  .vscode/cspell.json
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AvatarConfigTypes.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AvatarConfiguration.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AvatarOutputProtocol.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AzurePersonalVoice.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/CachedTokenDetails.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ContentPartType.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/InputTokenDetails.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/MessageItem.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/OpenAIVoiceName.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/PhotoAvatarBaseModes.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/RequestImageContentPart.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/RequestImageContentPartDetail.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ResponseCreateParams.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ServerEventResponseMcpCallCompleted.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ServerEventResponseMcpCallFailed.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ServerEventResponseMcpCallInProgress.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionUpdate.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/VoiceLiveContentPart.java
  sdk/ai/azure-ai-voicelive/src/main/resources/META-INF/azure-ai-voicelive_apiview_properties.json
  sdk/ai/azure-ai-voicelive/src/main/resources/META-INF/azure-ai-voicelive_metadata.json
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/models/AvatarConfigTypesTest.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/models/AvatarOutputProtocolTest.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/models/OpenAIVoiceTest.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/models/PhotoAvatarBaseModesTest.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/models/RequestImageContentPartDetailTest.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/models/RequestImageContentPartTest.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/models/ServerEventResponseMcpCallLifecycleTest.java
  sdk/ai/azure-ai-voicelive/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reverted the change on the template ci yml
  sdk/template/ci.yml
Due: eng/pipelines/pullrequest.yml

Remove JUnit dependencies from external_dependencies.txt
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/mgmt.yml

replace spring-boot-starter-web with spring-boot-starter-webmvc
  eng/versioning/external_dependencies.txt
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/SpringMonitorTest.java
Due: eng/pipelines/mgmt.yml

Update CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Due: none

Modify StreamsConstraintException retries.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ExceptionClassifier.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Due: none

Cleaning tests.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/StoreResponseTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
Due: none

Cleaning up.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosChangeFeedContinuationTokenUtils.java
Due: none

Sync eng/common directory with azure-sdk-tools for PR 13009 (#47348)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Pass package info to the API review and package validation pipelines (#47335)
  eng/pipelines/patch-release.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Adding tests.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/StoreResponseBuilder.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/batch/CosmosBulkItemResponseTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/batch/TransactionalBatchResponseTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriterTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/JsonNodeStorePayloadTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/StoreResponseTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/StoreResultDiagnosticsSerializerTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/test/faultinjection/JsonParseInterceptor.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/test/faultinjection/JsonParseInterceptorHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/JsonNodeStorePayload.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ResponseUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdResponse.java
Due: none

Used full pkg name including groupId when create api view
  eng/common/scripts/Detect-Api-Changes.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

test template
  sdk/template/azure-sdk-template/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12976 (#47351)
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
