Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  stages:
  - stage: LatestJdk
    displayName: Latest JDK
    jobs:
    - job: RunLatestJdk
      displayName: Run Latest JDK
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

Increment package versions for monitor releases (#38445)
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/template/azure-template-stress/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

kill fault-injector at the end
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
Due: none

implementation
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKNAsyncTests.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/AccessorUtility.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FileReadHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathProperties.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/DataLakeFileInputStreamOptions.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/PathGetPropertiesOptions.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/ReadToFileOptions.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/PathClientJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/CpkTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileApiTest.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SasTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/specialized/LeaseApiTests.java
Due: none

pass exit code
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
Due: none

record error type on failed runs
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/TelemetryHelper.java
Due: none

subpartitions fix for numeric type
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/src/test/scala/com.azure.cosmos.spark/ItemsScanITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosItemIdentityHelper.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReaderWithReadMany.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ReadManyFilterAnalyzer.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/GetCosmosItemIdentityValue.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosItemIdentityHelperSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/FilterAnalyzerSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/ItemsPartitionReaderWithReadManyITest.scala
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosMultiHashTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/CosmosReadAllItemsTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PartitionKeyHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Permission.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/BoolPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/IPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/InfinityPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/MaxNumberPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/MaxStringPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/MinNumberPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/MinStringPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/NullPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/NumberPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/StringPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/UndefinedPartitionKeyComponent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKeyBuilder.java
Due: none

Adding tests for encoded file names for file shares
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
Due: none

refactor
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosMultiHashTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ParallelDocumentQueryTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

add more tests
  sdk/openai/azure-ai-openai-assistants/pom.xml
  sdk/openai/azure-ai-openai-assistants/src/samples/java/README.md
  sdk/openai/azure-ai-openai-assistants/src/samples/java/com/azure/ai/openai/assistants/MathTutorAssistant.java
  sdk/openai/azure-ai-openai-assistants/src/samples/java/com/azure/ai/openai/assistants/ReadmeSamples.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsClientTestBase.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureAssistantsAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureAssistantsTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureMessageAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureMessageSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureRunThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureRunThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/MessageAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/MessageSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/RunThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/RunThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/ThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/ThreadSyncTest.java
Due: eng/pipelines/link-verification.yml

[Automation] External Change
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

fix tests
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/test/scala/com.azure.cosmos.spark/ItemsScanITest.scala
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/src/test/scala/com.azure.cosmos.spark/ItemsScanITest.scala
Due: none

create blob per scenario instance to go beyond service limits
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobScenarioBase.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadContent.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadToFile.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenInputStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenSeekableByteChannelRead.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/TelemetryHelper.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/StorageStressOptions.java
Due: none

Update pom.xml
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Due: none

mgmt, local generation for Cosmos DB - API release 2023-11-15-preview
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/README.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Make it possible to enable encryption at host for a VM and add test cases
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachine.java
Due: none

up and review
  sdk/storage/azure-storage-blob-stress/Dockerfile
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/App.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadContent.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadToFile.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenInputStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenSeekableByteChannelRead.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/TelemetryHelper.java
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
Due: none

added more tests
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsClientTestBase.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureMessageAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureMessageSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureRunThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureRunThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/MessageAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/RunThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/RunThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/ThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/ThreadSyncTest.java
Due: none

[OpenAI] Setup and Add tests for Assistant (#38377)
  sdk/openai/azure-ai-openai-assistants/pom.xml
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClientBuilder.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/OpenAIServiceVersion.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/AssistantsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsClientTestBase.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureAssistantsAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureAssistantsTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureMessageAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureMessageSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureRunThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureRunThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/MessageAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/MessageSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/RunThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/RunThreadSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/TestUtils.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/ThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/ThreadSyncTest.java
Due: none

Make it possible to enable encryption at host for a VM and add test cases
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachine.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
Due: none

fix for jdk21
  eng/versioning/external_dependencies.txt
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/pipeline/compatibility-tests-job.yml
  sdk/spring/scripts/compatibility_delete_version.py
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
Due: eng/pipelines/mgmt.yml

mgmt, local generation for Container Service - 2023-11-01
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

fix tests
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/ReadManyFilterAnalyzerSpec.scala
Due: none

Increment package versions for recoveryservicesbackup releases
  eng/versioning/version_client.txt
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update Spring Boot and Spring Cloud versions for the Spring compatibility tests (#38390)
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Increment package versions for recoveryservicesbackup releases (#38456)
  eng/versioning/version_client.txt
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

mgmt, local generation for Container Service - 2023-11-01
  sdk/resourcemanager/azure-resourcemanager-containerservice/assets.json
Due: none

Increment package versions for resourcemanager releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment versions for Cosmos DB - API release 2023-11-15-preview
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

regen
  eng/emitter-package.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/MultipartFormDataHelper.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/models/FileDetails.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AudioTranscriptionOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AudioTranslationOptions.java
Due: eng/pipelines/mgmt.yml

[Automation] Generate Fluent Lite from networkanalytics#package-2023-11-15
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/CHANGELOG.md
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/README.md
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/SAMPLE.md
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/pom.xml
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/main/java/com/azure/resourcemanager/networkanalytics/NetworkAnalyticsManager.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/main/java/com/azure/resourcemanager/networkanalytics/implementation/DataProductImpl.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/main/java/com/azure/resourcemanager/networkanalytics/implementation/DataProductsCatalogsImpl.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/main/java/com/azure/resourcemanager/networkanalytics/implementation/DataProductsImpl.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/main/java/com/azure/resourcemanager/networkanalytics/implementation/DataTypeImpl.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/main/java/com/azure/resourcemanager/networkanalytics/implementation/DataTypesImpl.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/main/java/com/azure/resourcemanager/networkanalytics/implementation/OperationsImpl.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/main/java/com/azure/resourcemanager/networkanalytics/implementation/ResourceManagerUtils.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/test/java/com/azure/resourcemanager/networkanalytics/generated/DataProductUpdateTests.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/test/java/com/azure/resourcemanager/networkanalytics/generated/ManagedServiceIdentityTests.java
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/test/java/com/azure/resourcemanager/networkanalytics/generated/UserAssignedIdentityTests.java
Due: eng/pipelines/link-verification.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
