Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

fix sample
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppCosmosDbByMsi.java
Due: none

switch to run-from-package for linux web app
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppWithTrafficManager.java
Due: none

use tomcat
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppWithTrafficManager.java
Due: none

update readme and changelog of aad scope updates
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

clean-up web app linux runtime stack
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/RuntimeStack.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/LinuxWebAppsTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppBasic.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppSqlConnection.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppWithDomainSsl.java
Due: none

add changelog subsection
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Mgmt: Container Registry update to 2019 05 (#16232)
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/fluent/RegistriesClient.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/fluent/models/RegistryInner.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/fluent/models/RegistryPoliciesInner.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/fluent/models/RunInner.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/fluent/models/TaskInner.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/implementation/OperationsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/implementation/RegistriesClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/implementation/RegistryImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/implementation/ReplicationsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/implementation/RunsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/implementation/TasksClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/implementation/WebhooksClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/CustomRegistryCredentials.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/IdentityProperties.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/OperationServiceSpecificationDefinition.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/Policies.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/QuarantinePolicy.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/RegistryUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/ResourceIdentityType.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/RetentionPolicy.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/SecretObjectType.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/TaskUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/TimerTrigger.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/TimerTriggerDescriptor.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/TimerTriggerUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/TriggerProperties.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/TriggerUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/TrustPolicy.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/models/UserIdentityProperties.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/dockerTaskRunRequestFromRegistry.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/dockerTaskRunRequestFromRuns.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/encodedTaskRunRequestFromRegistry.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/encodedTaskRunRequestFromRuns.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/fileTaskRunRequestFromRegistry.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/fileTaskRunRequestFromRuns.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/getBuildSourceUploadUrlFromRegistryAndRegistries.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/getLogSasUrl.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/testContainerRegistry.json
Due: none

Mgmt: Fix live test error (#16233)
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppCosmosDbByMsi.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/containerinstance/samples/ManageContainerInstanceZeroToOneAndOneToManyUsingContainerServiceOrchestrator.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/kubernetescluster/samples/DeployImageFromContainerRegistryToKubernetes.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/sql/samples/ManageSqlServerKeysWithAzureKeyVaultKey.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/AppServiceSampleLiveOnlyTests.java
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestBase.java
Due: none

fix test
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/UtilsTests.java
Due: none

fix pipeline errors
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Due: eng/pipelines/link-verification.yml

* update revapi.json and checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhub/AzureEventHubAutoConfiguration.java
  sdk/spring/azure-spring-cloud-context/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureContextAutoConfiguration.java
  sdk/spring/azure-spring-cloud-context/src/main/java/com/azure/spring/cloud/context/core/config/AzureProperties.java
  sdk/spring/azure-spring-cloud-messaging/src/main/java/com/azure/spring/messaging/config/AzureListenerAnnotationBeanPostProcessor.java
  sdk/spring/azure-spring-cloud-messaging/src/main/java/com/azure/spring/messaging/config/AzureListenerEndpointRegistry.java
  sdk/spring/azure-spring-cloud-messaging/src/main/java/com/azure/spring/messaging/config/AzureMessagingConfiguration.java
  sdk/spring/azure-spring-cloud-messaging/src/main/java/com/azure/spring/messaging/listener/ListenerExecutionFailedException.java
  sdk/spring/azure-spring-cloud-servicebus-queue-stream-binder/src/main/java/com/azure/servicebus/stream/binder/ServiceBusQueueMessageChannelBinder.java
  sdk/spring/azure-spring-cloud-servicebus-stream-binder-core/src/main/java/com/azure/servicebus/stream/binder/ServiceBusMessageChannelBinder.java
  sdk/spring/azure-spring-cloud-storage/src/main/java/com/azure/spring/cloud/autoconfigure/storage/actuator/FileStorageHealthIndicator.java
  sdk/spring/azure-spring-cloud-storage/src/main/java/com/azure/spring/cloud/storage/AzureStorageResourcePatternResolver.java
  sdk/spring/azure-spring-cloud-stream-binder-test/src/main/java/com/azure/servicebus/stream/binder/test/ThroughputThrottler.java
  sdk/spring/azure-spring-integration-core/src/main/java/com/azure/spring/integration/core/api/reactor/BatchSendOperation.java
  sdk/spring/azure-spring-integration-core/src/main/java/com/azure/spring/integration/core/converter/AzureMessageConverter.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/inbound/ServiceBusTopicInboundChannelAdapter.java
Due: eng/pipelines/mgmt.yml

Fixing test case and changing processor
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/LockRenewalOperation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
Due: none

Generated from 69871941ec3a40d0817a658d452ccf284c21e5f9
  sdk/healthcareapis/mgmt-v2020_03_15/pom.xml
  sdk/healthcareapis/mgmt-v2020_03_15/src/main/java/com/microsoft/azure/management/healthcareapis/v2020_03_15/implementation/OperationResultsInner.java
  sdk/healthcareapis/mgmt-v2020_03_15/src/main/java/com/microsoft/azure/management/healthcareapis/v2020_03_15/implementation/OperationsInner.java
  sdk/healthcareapis/mgmt-v2020_03_15/src/main/java/com/microsoft/azure/management/healthcareapis/v2020_03_15/implementation/ServicesInner.java
Due: none

unit test fixing
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumerTest.java
Due: none

fix compile errors on latest code
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/AppServiceSampleLiveOnlyTests.java
Due: none

Remove unwanted args from contructor
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumerTest.java
Due: none

fix spotbugs
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppWithTrafficManager.java
Due: none

mgmt, switch to WEBSITE_RUN_FROM_PACKAGE for linux web app sample (#16234)
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/RuntimeStack.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/LinuxWebAppsTests.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/UtilsTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppBasic.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppSqlConnection.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppWithDomainSsl.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppWithTrafficManager.java
Due: none

* update checkstyle-suppressions.xml BlacklistedWordsCheck suppress
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Due: eng/pipelines/mgmt.yml

remove withHttpPipeline from Manager.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/AppServiceManager.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/ComputeManager.java
  sdk/resourcemanager/azure-resourcemanager-containerinstance/src/main/java/com/azure/resourcemanager/containerinstance/ContainerInstanceManager.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/ContainerRegistryManager.java
  sdk/resourcemanager/azure-resourcemanager-eventhubs/src/main/java/com/azure/resourcemanager/eventhubs/EventHubsManager.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/KeyVaultManager.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/MsiManager.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/Manager.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/implementation/AzureConfigurableImpl.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/SqlServerManager.java
Due: none

UserPrincipal save all roles and groups in JWT without filter.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory/src/main/java/com/azure/aad/controller/TodoListController.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/groups/AADGroupsCountIT.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADAppRoleStatelessAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADOAuth2AutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AzureADGraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/Constants.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/MemberShip.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/MemberShips.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipal.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipalManager.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/AADAppRoleAuthenticationFilterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/MemberShipTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipalAzureADGraphTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipalMicrosoftGraphTest.java
Due: none

* update checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/spring/azure-spring-cloud-servicebus-queue-stream-binder/src/main/java/com/azure/servicebus/stream/binder/package-info.java
  sdk/spring/azure-spring-cloud-servicebus-stream-binder-core/src/main/java/com/azure/servicebus/stream/binder/properties/package-info.java
  sdk/spring/azure-spring-cloud-servicebus-stream-binder-core/src/main/java/com/azure/servicebus/stream/binder/provisioning/package-info.java
Due: eng/pipelines/mgmt.yml

update pom and fix checkstyle
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/implementation/AzureConfigurableImpl.java
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestBase.java
Due: none

Optimize reads/queries to Gateway and only send SessionToken when applicable (#16111)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
Due: none

update readme and changelog for aad scope updates (#16235)
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

revert spring-data-cosmos changes
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/config/CosmosConfig.java
Due: none

fix checkstyle
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipalManager.java
Due: none

Avoiding ctl workload failure on some write failures
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/ctl/AsyncCtlWorkload.java
Due: none

Reworked logging
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/AuthClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultClient.java
Due: none

Spot bugs fixes
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/LockRenewalOperation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/UnnamedSessionReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
Due: none

Increment version for eventhubs releases (#16221)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/spring/azure-spring-cloud-eventhubs-stream-binder/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixing formatting comments
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/ctl/AsyncCtlWorkload.java
Due: none

Update JsonPatchOperationKind to an ExpandableStringEnum, changed azure-core dependency back to current
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/jsonpatch/JsonPatchOperationKind.java
Due: none

[STEP3] Complete Day 1 session
  sdk/api-learn/azure-learn-appconfig/src/main/java/module-info.java
  sdk/api-learn/azure-learn-appconfig/src/samples/java/com/azure/learn/appconfig/ConfigurationAsyncClient.java
  sdk/api-learn/azure-learn-appconfig/src/samples/java/com/azure/learn/appconfig/ConfigurationClient.java
  sdk/api-learn/azure-learn-appconfig/src/samples/java/com/azure/learn/appconfig/ConfigurationClientBuilder.java
Due: none

Increment core-amqp version after 1.6.0 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reworked logging
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/JacksonJsonConverter.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyManager.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyManagerFactory.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyStoreTest.java
Due: none

Add pipeline configuration for cleaning up upstream branches
  eng/common/scripts/Delete-Remote-Branches.ps1
Due: eng/pipelines/mgmt.yml

Fix powershell naming
  eng/common/scripts/Delete-RemoteBranches.ps1
Due: eng/pipelines/mgmt.yml
