Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

Cleanup on JacksonJsonWriter
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonWriter.java
Due: none

Fix Spring Data Cosmos not work JDK 16 (#31417)
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/src/test/resources/non-emulator-testng.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/non-emulator-testng.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ParallelDocumentQueryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/resources/non-emulator-testng.xml
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/AuditableIdGeneratedEntity.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/AuditableConfig.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/TestRepositoryConfig.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/AuditableIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveAuditableIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageableAddressRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageableMemoRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageablePersonRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosMappingContext.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosSimpleTypes.java
  sdk/cosmos/integration-matrix.json
  sdk/cosmos/platform-matrix.json
  sdk/cosmos/tests.yml
Due: eng/pipelines/mgmt.yml

loadtestservice, fix ci.yml (#31656)
  sdk/loadtestservice/ci.yml
Due: none

Fix pipeline caused by "cspell".
  .vscode/cspell.json
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

test sleep
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
Due: none

test sleep1
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
Due: none

Increment package versions for elasticsan releases
  eng/versioning/version_client.txt
  sdk/elasticsan/azure-resourcemanager-elasticsan/CHANGELOG.md
  sdk/elasticsan/azure-resourcemanager-elasticsan/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment versions for elasticsan releases (#31660)
  eng/versioning/version_client.txt
  sdk/elasticsan/azure-resourcemanager-elasticsan/CHANGELOG.md
  sdk/elasticsan/azure-resourcemanager-elasticsan/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update dependsOn
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
Due: none

Finished adding function objects to all implementations and changed behaviour of JsonFactory
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/GsonJsonReader.java
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/GsonJsonWriter.java
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonFactory.java
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonReader.java
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonWriter.java
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JsonFactory.java
Due: none

Deleted test.bat
  sdk/core/azure-json-reflect/test.bat
Due: none

add reference
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
Due: none

Unify SecurityAlertPolicyState
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/fluent/models/DatabaseSecurityAlertPolicyInner.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/fluent/models/ManagedServerSecurityAlertPolicyInner.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/fluent/models/SecurityAlertsPolicyProperties.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/fluent/models/ServerSecurityAlertPolicyInner.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/implementation/SqlDatabaseThreatDetectionPolicyImpl.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/implementation/SqlServerSecurityAlertPolicyImpl.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/models/ElasticPoolEdition.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/models/SecurityAlertPolicyState.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/models/SecurityAlertsPolicyState.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/sql/generated/DatabaseSecurityAlertPoliciesCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/sql/generated/ManagedServerSecurityAlertPoliciesCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/sql/generated/ServerSecurityAlertPoliciesCreateOrUpdateSamples.java
Due: none

Update EventProcessorWithOptions, README and renaming some options
  sdk/eventhubs/azure-messaging-eventhubs-stress/README.md
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventProcessorWithOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventSenderBuffered.java
Due: eng/pipelines/link-verification.yml

update value
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
Due: none

Fix #31593: Proxy setting not work in Azure AD B2C web application (#31597)
  .vscode/cspell.json
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cOidcLoginConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cOidcIdTokenDecoderFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/RestTemplateTestUtil.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cAutoConfigurationTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update value2
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
Due: none

Fix #31190. Put a value into Collections.emptyMap()
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/jackson/SerializerUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/JacksonHttpSessionOAuth2AuthorizedClientRepositoryTest.java
Due: eng/pipelines/link-verification.yml

Fix #31191. duplicated "scope" parameter.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AbstractOAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AadOAuth2AuthorizationCodeGrantRequestEntityConverterTests.java
Due: none

Fix 31218 rest template is not well configured when jwk resolver is null
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/RestTemplateProxyCustomizerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/AbstractAzureServiceConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreatorTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/CosmosUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/EventHubsUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/EventProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/ServiceBusUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusReceiverUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSenderUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSessionProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSessionReceiverUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/util/UserAgentTestUtil.java
Due: none

Fix #31482 rest template used to get access token should only contain 2 converters.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreator.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/resources/aad/access-token-response.json
Due: none

add test for sqldatabase security alert
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/implementation/SqlDatabaseImpl.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/implementation/SqlDatabaseThreatDetectionPolicyImpl.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/models/SqlDatabaseThreatDetectionPolicy.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/test/java/com/azure/resourcemanager/sql/SqlServerOperationsTests.java
Due: none

Fix #31233: NimbusJwtDecoder still uses RestTemplate() instead RestTemplateBuilder
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadResourceServerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AadOidcIdTokenDecoderFactory.java
Due: none

Fix #31593: Proxy setting not work in Azure AD B2C web application
  .vscode/cspell.json
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cOidcLoginConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cOidcIdTokenDecoderFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/RestTemplateTestUtil.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cAutoConfigurationTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Move container log to DEBUG_SHARE
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/resources/logback.xml
Due: none

update reference
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
Due: none

update
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceBusProcessorTest.java
Due: none

update
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/BatchSendTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ReceiveMessagesTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceBusProcessorTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceBusStressOptions.java
Due: none

added
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/role/test-resources.json
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
  sdk/spring/tests.yml
Due: none

update readme
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
Due: eng/pipelines/link-verification.yml

remove metals files
  sdk/cosmos/.metals/metals.lock.db
  sdk/cosmos/.metals/metals.mv.db
Due: none

improve changelog wording
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Prototype buffered file writing
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AsynchronousByteChannelWriteSubscriber.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/io/IOUtilsTest.java
Due: none

Use schedulers parallel
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
Due: eng/pipelines/mgmt.yml

uncomment import in 3.2 CosmosCatalog
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
Due: none

added
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus-role/test-resources.json
  sdk/spring/tests.yml
Due: none

Increment package versions for template releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/template/azure-sdk-template-three/CHANGELOG.md
  sdk/template/azure-sdk-template-three/pom.xml
  sdk/template/azure-sdk-template-two/CHANGELOG.md
  sdk/template/azure-sdk-template-two/pom.xml
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
  sdk/template/azure-template-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Try redesign of perf test
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/DownloadBlobNonSharedClientTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/core/ContainerTest.java
Due: none

[fix build] add banned dependencies in 3.3
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
