Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

Small readme fix on creating a filestore
  sdk/storage/azure-storage-blob-nio/README.md
Due: eng/pipelines/link-verification.yml

Changed credential policy priority
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationIdentityClientBuilder.java
Due: none

Update identity stable release versions dec 2020 (#17984)
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add simple change logs to libraries to release
  sdk/synapse/azure-analytics-synapse-accesscontrol/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-artifacts/swagger/README.md
  sdk/synapse/azure-analytics-synapse-spark/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update sdk/synapse/azure-analytics-synapse-accesscontrol/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-accesscontrol/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Added sync test
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityTests.java
  sdk/communication/azure-communication-administration/src/test/resources/session-records/createIdentityClientUsingManagedIdentity.json
Due: none

[Communication] - Identity - Auth with managed identity (#17797)
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationIdentityClientBuilder.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityAsyncTests.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityTests.java
  sdk/communication/azure-communication-administration/src/test/resources/session-records/createAsyncIdentityClientUsingManagedIdentity.json
  sdk/communication/azure-communication-administration/src/test/resources/session-records/createIdentityClientUsingManagedIdentity.json
Due: none

undo changes to DocumentCollection. CosmosContainerReplace test case to have stronger assertions. Fix checkstyle issues
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentCollection.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleCosmosRepository.java
Due: none

Increment package version after release of com.azure azure-messaging-eventhubs
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-messaging-eventhubs-checkpointstore-blob
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools for PR 1257 (#18023)
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
Due: eng/pipelines/mgmt.yml

refactoring test cases
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Conflict.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosConflictProperties.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ConflictTestPojo.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosConflictsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/MultiMasterConflictResolutionTest.java
Due: none

adding timeout in test
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosConflictsTest.java
Due: none

fixing documentation
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Conflict.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/MultiMasterConflictResolutionTest.java
Due: none

Increment package version after release of com.azure azure-analytics-synapse-accesscontrol
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/synapse/azure-analytics-synapse-accesscontrol/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-accesscontrol/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-storage-common
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update Resolver when Using a Proxy
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/module-info.java
Due: none

user provided data in the query path
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosBatchWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosItemsDataSource.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosScan.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTable.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriterBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueySpec.scala
Due: none

updated missing file
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQuerySpec.scala
Due: none

Fix build error.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
Due: none

Increment versions for spark & artifacts
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/synapse/azure-analytics-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-artifacts/pom.xml
  sdk/synapse/azure-analytics-synapse-spark/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-spark/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Remove unused class
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/ClientRegistrationInitialization.java
Due: none

format code
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipal.java
Due: none

expose user account type (#18034)
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipal.java
Due: none

add test case and AzureOAuth2AuthorizationRequestResolver.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2AuthorizationRequestResolver.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Error.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2ResponseErrorHandler.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuthError.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuthenticationFailureHandler.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AzureOAuth2ResponseErrorHandlerTest.java
Due: none

- checkStyle code format
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
Due: none

try to fix broken links
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-cache/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-kafka/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/README.md
Due: eng/pipelines/link-verification.yml

add AzureOAuth2AuthorizationRequestResolver to AzureOAuth2Configuration
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
Due: none

* Boolean to determine whether the user is a person or a work/school account (#18019)
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureOAuth2AuthenticatedPrincipal.java
Due: none

Fixing test
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
Due: none
