Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Reporting
    displayName: Generate reports (with build)
    timeoutInMinutes: 180
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    pool:
      vmImage: ubuntu-20.04
    steps:
    - template: /eng/pipelines/templates/steps/cache-maven-repository.yml
      parameters:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/patch-release.yml:
  jobs:
  - job: Patching
    displayName: Generate patch (with build)
    timeoutInMinutes: 180
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    pool:
      vmImage: ubuntu-20.04
    steps:
    - template: /eng/pipelines/templates/steps/cache-maven-repository.yml
      parameters:
  ...

remove a javadoc
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/DomainContact.java
Due: none

update CHANGELOGs
  sdk/spring/azure-identity-spring/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-storage/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-context/CHANGELOG.md
  sdk/spring/azure-spring-cloud-messaging/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-cache/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-storage/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-test/CHANGELOG.md
  sdk/spring/azure-spring-integration-core/CHANGELOG.md
  sdk/spring/azure-spring-integration-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-integration-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-integration-storage-queue/CHANGELOG.md
  sdk/spring/azure-spring-integration-test/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

update dependency version for spring bom
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

fix CHANGELOGs
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

mgmt, update pom for javadoc (#25656)
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cdn/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-dns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-msi/pom.xml
  sdk/resourcemanager/azure-resourcemanager-privatedns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-servicebus/pom.xml
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: none

Increment package version after release of com.azure azure-messaging-webpubsub
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment version for webpubsub releases (#25659)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

mgmt, create method for vmss
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineScaleSetImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineScaleSet.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetOperationsTests.java
Due: none

Add hybrid-2020-09-01 profile compatible api versions in api-specs.json
  sdk/resourcemanager/api-specs.json
Due: none

Set the secret and key service versions to v7.1 for keyvault
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/VaultImpl.java
Due: none

Fix issues in test code after regeneration
  sdk/resourcemanagerhybrid/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/AppServiceTest.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/WebAppsMsiTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/WebAppsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineEMSILMSIOperationsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetEMSILMSIOperationsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetManagedDiskOperationsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetOperationsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-containerservice/src/test/java/com/azure/resourcemanager/containerservice/KubernetesClustersTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-dns/src/test/java/com/azure/resourcemanager/dns/DnsZoneRecordSetETagTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/MonitorActivityAndMetricsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/LoadBalancerTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/DeploymentsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/PolicyTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/AzureResourceManagerTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/PrivateLinkTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestBatch.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestCdn.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestCdnCrud.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestContainerInstanceWithPrivateIpAddress.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestContainerInstanceWithPublicIpAddressWithSystemAssignedMSI.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestCosmosDB.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestPrivateDns.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestPublicIPPrefix.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestRedis.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestSearchService.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestSql.java
  sdk/resourcemanagerhybrid/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestTrafficManager.java
Due: none

Add support for testing packages with custom ARM endpoints and locations
  sdk/resourcemanagerhybrid/azure-resourcemanager-test/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestBase.java
Due: none

Fix engineering and pipeline issues with resourcemanagerhybrid
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/scripts/generate_from_source_pom.py
  eng/versioning/pom_file_version_scanner.ps1
  sdk/resourcemanagerhybrid/ci.yml
  sdk/resourcemanagerhybrid/update_root_pom.py
Due: eng/pipelines/mgmt.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

fix batch consuming issue
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/src/test/java/com/azure/spring/eventhub/stream/binder/EventHubsBinderBatchModeIT.java
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/src/test/resources/application.yaml
  sdk/spring/azure-spring-integration-eventhubs/src/main/java/com/azure/spring/integration/eventhub/checkpoint/BatchCheckpointManager.java
Due: none

support creating empty profile vmss
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineScaleSetImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetOperationsTests.java
Due: none

[Automation] External Change
  eng/versioning/version_client.txt
  pom.xml
  sdk/managementgroups/ci.yml
  sdk/managementgroups/pom.xml
Due: eng/pipelines/mgmt.yml

Fix broken links in Purview Catalog README (#25655)
  sdk/purview/azure-analytics-purview-catalog/README.md
Due: eng/pipelines/link-verification.yml

Suppressing query plan retrieval in Spark connector
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
Due: eng/pipelines/mgmt.yml

Onlyretrieving QP for schema inferrence when custom inference query is used
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
Due: none

Update CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Prepare azure-search-documents for November 2021 Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Due: eng/pipelines/link-verification.yml

Prepare azure-search-documents for November 2021 Beta Release (#25669)
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-search-documents
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update Data Lake service URL endpoint sample to use HTTPS (#25654)
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/AppendFlushExample.java
Due: none

Increment version for search releases (#25670)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

testing
  eng/pipelines/templates/steps/compilation.check.yml
Due: eng/pipelines/mgmt.yml

Added snippets for synchronous APIs and finished last of the snippets.
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationAsyncClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationClientBuilder.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAsyncClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationClientBuilder.java
  sdk/attestation/azure-security-attestation/src/samples/java/com/azure/security/attestation/AttestationClientJavaDocCodeSnippets.java
Due: none

address feedbacks
  eng/versioning/external_dependencies.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/main/java/com/azure/messaging/eventgrid/cloudnative/cloudevents/EventGridCloudNativeEventPublisher.java
Due: eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml
