Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Add tests
  sdk/communication/azure-communication-phonenumbers/assets.json
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
Due: none

Increment package versions for eventgrid releases (#37348)
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fix format
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
Due: none

Build base image with maven and use it in the stress tests
  eng/common/scripts/stress-testing/java11-mvn-mariner-dockerfile
  sdk/eventhubs/azure-messaging-eventhubs-stress/Dockerfile
  sdk/servicebus/azure-messaging-servicebus-stress/Dockerfile
Due: eng/pipelines/mgmt.yml

nits
  eng/common/scripts/stress-testing/java11-mvn-mariner-dockerfile
Due: eng/pipelines/mgmt.yml

Blob aadAudience Test Fix (#37347)
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobApiTests.java
Due: none

Remove unused import
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
Due: none

Updating squareup.okhttp3:okhttp dependency
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-okhttp/pom.xml
Due: eng/pipelines/mgmt.yml

Updating squareup.okhttp3:mockwebserver dependency
  eng/versioning/external_dependencies.txt
  sdk/applicationinsights/microsoft-azure-applicationinsights-query/pom.xml
Due: eng/pipelines/mgmt.yml

Fix null ikey
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryItemExporter.java
Due: none

recording updates
  sdk/storage/azure-storage-blob/assets.json
Due: none

Ensuring the position of forwardDeadLetteredMessagesTo xml node in payload is where ATOM service endpoint expects
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
Due: eng/pipelines/link-verification.yml

Prepare release for azure-data-schemaregistry
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare release apache avro
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for cosmos releases (#37349)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare to release beta.13
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fixing the warnings
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/converters/ChatMessageContentConverter.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageContent.java
Due: none

Ensuring the position of forwardDeadLetteredMessagesTo xml node in payload is where ATOM service endpoint expects (#37353)
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
Due: eng/pipelines/link-verification.yml

use multi-master instead (#37338)
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionMetadataRequestRuleTests.java
Due: none

Fix null ikey for _otelresource_ custom metrics (#37352)
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryItemExporter.java
Due: eng/pipelines/link-verification.yml

Fix Storage - Blobs Samples Issue (#36704)
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobServiceClientJavaDocCodeSnippets.java
Due: none

Updating squareup.okio:okio-jvm dependency
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Due: eng/pipelines/mgmt.yml

Running prepare release script for October-2023 release
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

updated tests and improve corner case logic by doing some null checks
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationEventProcessor.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/eventprocessor/EventBacklog.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationEventParserAndProcessorUnitTests.java
Due: none

Updated list of libraries to patch in patch-release.yml
  eng/pipelines/patch-release.yml
  eng/pipelines/patch_release_client.txt
Due: eng/pipelines/mgmt.yml

Reset sources for azure-storage-file-datalake to the release version 12.17.0.
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/DataLakeAudience.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeAudienceExample.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/BuilderHelperTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DataLakeTestBase.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileApiTest.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SasTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SoftDeleteTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/specialized/LeaseAsyncApiTests.java
Due: eng/pipelines/link-verification.yml

Prepare azure-storage-file-datalake for 12.17.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-storage-common to the release version 12.23.0.
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
Due: eng/pipelines/link-verification.yml

Prepare azure-storage-common for 12.23.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-storage-internal-avro to the release version 12.9.0.
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
Due: eng/pipelines/link-verification.yml

Prepare azure-storage-internal-avro for 12.9.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-storage-queue to the release version 12.19.0.
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/QueueAudience.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/BuildHelperTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueServiceApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueTestBase.java
Due: eng/pipelines/link-verification.yml

Prepare azure-storage-queue for 12.19.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-storage-blob for 12.24.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-storage-blob-batch to the release version 12.20.0.
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
Due: eng/pipelines/link-verification.yml

Prepare azure-storage-blob-batch for 12.20.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-storage-file-share to the release version 12.20.0.
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareAudience.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/BuilderHelperTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
Due: eng/pipelines/link-verification.yml
