Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Reporting
    displayName: Generate reports (with build)
    timeoutInMinutes: 180
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    pool:
      vmImage: ubuntu-20.04
    steps:
    - template: /eng/pipelines/templates/steps/cache-maven-repository.yml
      parameters:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/patch-release.yml:
  jobs:
  - job: Patching
    displayName: Generate patch (with build)
    timeoutInMinutes: 180
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    pool:
      vmImage: ubuntu-20.04
    steps:
    - template: /eng/pipelines/templates/steps/cache-maven-repository.yml
      parameters:
  ...

answer call apis
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
Due: none

answer call apis
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/AnswerCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/AnswerCallOptions.java
Due: none

Increment package version after release of com.azure azure-sdk-template
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/pom.xml
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
  sdk/template/azure-template-perf/pom.xml
  sdk/template/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

permanent delete permission for blob/container SAS (#24430)
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobSasPermission.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasAllPermissionsSuccess.json
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasPermission.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/SasModelsTest.groovy
Due: eng/pipelines/link-verification.yml

Take in the doc author and service name from pipeline
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

Update docs-metadata-release.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Due: eng/pipelines/mgmt.yml

Change the author name to doc author
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

print docauthor
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

Introduce more var
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 2086
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Due: eng/pipelines/mgmt.yml

Update azure-data-appconfiguration to Use New Codesnippet Tooling (#24841)
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationServiceVersion.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadmeSamples.java
Due: eng/pipelines/link-verification.yml

Made FormData's `filename` default value an empty string.
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/FormData.java
Due: none

Added unit tests.
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/SwaggerMethodParserTests.java
Due: none

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: eng/pipelines/mgmt.yml

Add POM parent element fallback for GroupId and Version (#24872)
  eng/scripts/MavenPackaging.ps1
Due: eng/pipelines/mgmt.yml

update changelog
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Make changes to the workflow.
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

Make changes to align the new logic
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 2086
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: eng/pipelines/mgmt.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files (#24898)
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 2093
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Due: eng/pipelines/mgmt.yml

Refine the files
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 2086
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

update to latest test-proxy tag (#24895)
  eng/common/testproxy/docker-start-proxy.ps1
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 2120
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Due: eng/pipelines/mgmt.yml

fixForDistinctContinuationToken (#24883)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DistinctContinuationToken.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/DistinctQueryTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Due: none

Update delete live test records. Remove old files. Small style fixes
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/TokenCredentialAddHostHeaderPolicy.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/TokenCredentialAddHostHeaderPolicyTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteAsyncLiveTests.deleteRecording401Async[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteAsyncLiveTests.deleteRecordingWithConnectionStringAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteAsyncLiveTests.deleteRecordingWithTokenCredentialAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteLiveTests.deleteRecording401Async[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteLiveTests.deleteRecordingWithConnectionStringClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteLiveTests.deleteRecordingWithTokenCredentialClient[1].json
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml
