Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

Update CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
Due: none

Only pass SecurityManager configuration in Java 18+
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: none

Prepare Stream-Style Serialization Libraries for Beta Release (#31096)
  sdk/core/azure-json-gson/CHANGELOG.md
  sdk/core/azure-json-gson/README.md
  sdk/core/azure-json-gson/src/main/java/com/azure/json/gson/GsonJsonWriter.java
  sdk/core/azure-json/CHANGELOG.md
  sdk/core/azure-json/README.md
  sdk/core/azure-json/src/main/java/com/azure/json/JsonWriter.java
  sdk/core/azure-json/src/main/java/com/azure/json/implementation/DefaultJsonWriter.java
  sdk/core/azure-json/src/samples/java/com/azure/json/JsonSerializableSamples.java
  sdk/core/azure-xml/CHANGELOG.md
  sdk/core/azure-xml/README.md
  sdk/core/azure-xml/src/main/java/com/azure/xml/XmlWriter.java
  sdk/core/azure-xml/src/main/java/com/azure/xml/implementation/DefaultXmlWriter.java
  sdk/core/azure-xml/src/samples/java/com/azure/xml/XmlSerializableSamples.java
Due: eng/pipelines/link-verification.yml

testing countdown latch with 3 mins instead of 1 min
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/VertxAsyncHttpClientBuilder.java
Due: none

Reacting to code review feedback
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientTelemetryConfig.java
Due: none

Cosmos BulkExecutor: Fixing leak of threads with "cosmos-daemon-BulkExecutor-*" prefix (#31082)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/BatchTestBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/BulkExecutorTest.java
Due: eng/pipelines/link-verification.yml

Release for azure-cosmos-spark 4.13.1
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Simplified more tests with less throughput for container creation
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/FullFidelityChangeFeedProcessorTest.java
Due: none

Use Smaller ByteBuffers when Buffering BinaryData.fromFlux
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FluxByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
Due: none

Updating readmes
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Due: eng/pipelines/link-verification.yml

3 mins instead of 1
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/VertxAsyncHttpClientBuilder.java
Due: none

Disabled emulator test for checking previous present on replace
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/FullFidelityChangeFeedTest.java
Due: none

chained reactive response
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BufferedUploadWithKnownLengthExample.java
Due: none

Increment package versions for core releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-json-gson/CHANGELOG.md
  sdk/core/azure-json-gson/pom.xml
  sdk/core/azure-json/CHANGELOG.md
  sdk/core/azure-json/pom.xml
  sdk/core/azure-xml/CHANGELOG.md
  sdk/core/azure-xml/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Renaming some MediaStreaming variables
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingAudioChannel.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingContent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingTransport.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
Due: none

Transition to wiremock-jre8-standalone
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/samples/java/com/azure/core/annotation/AnnotationJavadocCodesnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/io/IOUtilsTest.java
Due: eng/pipelines/mgmt.yml

Increment versions for core releases (#31104)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-json-gson/CHANGELOG.md
  sdk/core/azure-json-gson/pom.xml
  sdk/core/azure-json/CHANGELOG.md
  sdk/core/azure-json/pom.xml
  sdk/core/azure-xml/CHANGELOG.md
  sdk/core/azure-xml/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

version including lock fixes
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/mgmt.yml

target the correct version of the test-proxy. one that doesn't include breaking changes
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/mgmt.yml

Release for azure-cosmos-spark-* 4.13.1 (#31101)
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools for PR 4212 (#31099)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/mgmt.yml

mgmt, add a test case for deployment beginCreate (#31091)
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/DeploymentsTests.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/DeploymentsTests.canDeployVirtualNetworkSyncPoll.json
Due: none

Disabling slf4j logging by default
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
Due: none

Increment version for monitor releases (#31065)
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-confidentialledger (#31071) (#31072)
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment BOM version after September 2022 patch release (#31073)
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Due: eng/pipelines/link-verification.yml

Update Spring Boot and Spring Cloud versions for the compatibility test. This commit is created by GitHub Action: https://github.com/Azure/spring-cloud-azure-tools/actions/runs/3109649601
  sdk/spring/spring-cloud-azure-supported-spring.json
Due: none

Reverted ChangeFeedMode to implementation class. Reverted the name changes of enums
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ChangeFeedProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ChangeFeedProcessorBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedMode.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStartFromBeginningImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStartFromETagAndFeedRangeImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStartFromInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStartFromLegacyContinuationImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStartFromNowImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStartFromPointInTimeImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedState.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStateDeserializer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStateV1.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/fullfidelity/PartitionProcessorFactoryImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/fullfidelity/ServiceItemLeaseV1.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/incremental/PartitionProcessorFactoryImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/incremental/ServiceItemLease.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ChangeFeedMode.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ChangeFeedPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosChangeFeedRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/ChangeFeedProcessorAllVersionsAndDeletesModeCodeSnippet.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/ChangeFeedStateTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ChangeFeedProcessorAllVersionsAndDeletesTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/FullFidelityChangeFeedProcessorTest.java
Due: none

Change AADOAuth2AccessTokenResponseClientRestOperations to aadOAuth2AccessTokenResponseClientRestOperations.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestOperationsConfiguration.java
Due: none

Added a delay when emitting elements repeatWhenEmpty() will consume inside getToken().
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessTokenCache.java
Due: eng/pipelines/link-verification.yml

Added PR link to CHANGELOG.
  sdk/core/azure-core/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

network, add changelog
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add sdk version to network changelog
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add back add-opens
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
Due: none

update changelog/versions
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update changelog/versions (#31112)
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
