Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: AggregateReports
        displayName: Aggregate Reports
        jobs:
        - job: Reporting
          displayName: Generate reports (with build)
          timeoutInMinutes: 180
          variables:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template
  ...

update tests
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/RealtimeSessionConfigurationSerializationTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/RealtimeStandaloneOpenAIDedupSerializationTests.java
Due: eng/pipelines/pullrequest.yml

update date
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Increment package versions for fabric auto-releases
  eng/versioning/version_client.txt
  sdk/fabric/azure-resourcemanager-fabric/CHANGELOG.md
  sdk/fabric/azure-resourcemanager-fabric/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare OTel AutoConfigure release v1.7.0 (#50499)
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increase HTTP2 network fault job timeout for governance scanning
  sdk/cosmos/tests.yml
Due: none

Increment package versions for monitor releases
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/cosmos/azure-cosmos-spark_3/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Report availability strategy diagnostics only when PPAF is enabled
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/PerPartitionAutomaticFailoverE2ETests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsClientContext.java
Due: none

Use OneSettings SDKStats endpoint
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/configuration/OneSettingsStatsbeatConfiguration.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/configuration/StatsbeatConnectionStringTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/configuration/OneSettingsStatsbeatConfiguration.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/configuration/StatsbeatConnectionStringTest.java
Due: eng/pipelines/pullrequest.yml

Use OneSettings for SDKStats routing
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/AzureMonitorExporterBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/configuration/OneSettingsStatsbeatConfiguration.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/statsbeat/StatsbeatModule.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/configuration/StatsbeatConnectionStringTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExporterBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/configuration/OneSettingsStatsbeatConfiguration.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/statsbeat/StatsbeatModule.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/configuration/StatsbeatConnectionStringTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Fix shared executor retention under contention
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/SharedExecutorService.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/SharedExecutorServiceConcurrencyTests.java
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/util/SharedExecutorService.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/SharedExecutorServiceConcurrencyTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Fix SDKStats changelog entries
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Classify SDKStats routing as a feature
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Remove redundant generated model serialization tests
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/PromptAgentDefinitionSerializationTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/ReasoningDedupSerializationTests.java
Due: eng/pipelines/pullrequest.yml

Fix TypeSpec generated documentation formatting
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CodeFileDetails.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Refine Agents polling and telephony coverage
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/AgentsServicePollUtils.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/implementation/AgentsServicePollUtilsTest.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentTelephonyLiveTests.java
Due: eng/pipelines/pullrequest.yml

Fix file upload tests on Windows
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/FileUploadTests.java
Due: eng/pipelines/pullrequest.yml

Fix voice agent CI failures
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/VoiceAgentWebSocketSessionClient.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentTelephonyTests.java
Due: eng/pipelines/pullrequest.yml

Fix platform-specific test races
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentLiveAudioConversationAsyncSampleTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/FileUploadTests.java
Due: eng/pipelines/pullrequest.yml

Stabilize token timeout test
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentWebSocketSessionTests.java
Due: eng/pipelines/pullrequest.yml

Fix file upload stream cleanup
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/FileUploadHelper.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/FileUploadTests.java
Due: eng/pipelines/pullrequest.yml

Fix renamed clients in documentation
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/IndexesSample.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Simplify Agents client builder generation
  sdk/ai/azure-ai-agents/customizations/src/main/java/AgentsCustomizations.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Regenerate OpenAI HTTP pipeline from builder template
  sdk/ai/azure-ai-agents/customizations/src/main/java/AgentsCustomizations.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Add OpenAI client builder implementation comments
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Preserve generated inner client construction
  sdk/ai/azure-ai-agents/customizations/src/main/java/AgentsCustomizations.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Align Agents sources with code generation
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Apply durable Content Safety customizations
  sdk/contentsafety/azure-ai-contentsafety/customization/pom.xml
  sdk/contentsafety/azure-ai-contentsafety/customization/src/main/java/ContentSafetyCustomization.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ContentSafetyImageData.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/DetectProvenanceOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/samples/java/com/azure/ai/contentsafety/generated/AnalyzeImage.java
  sdk/contentsafety/azure-ai-contentsafety/src/test/java/com/azure/ai/contentsafety/generated/AnalyzeImageTests.java
  sdk/contentsafety/azure-ai-contentsafety/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Allow pipeline access to Azure Storage (#50501)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update voice callers for regenerated models
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/VoiceAgentWebSocketSessionAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/VoiceAgentWebSocketSessionClient.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentLiveAudioConversationAsyncSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentLiveFunctionToolSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentReadConversationAudioSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentRealtimeSampleUtils.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentSampleUtils.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentWithToolsSample.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/VoiceAgentDefinitionSerializationTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentConversationsAsyncTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentConversationsTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentCrudAsyncTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentCrudTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentLiveAudioConversationAsyncSampleTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentRealtimeLiveTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentTelephonyLiveTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentTelephonyTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentWebSocketSessionTests.java
Due: eng/pipelines/pullrequest.yml

fix: enhance error message parsing for AzureDeveloperCliCredential to support new azd formats
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Address feedback
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Due: eng/pipelines/pullrequest.yml

test: cover azd authentication error classification
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzureDeveloperCliCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Due: eng/pipelines/pullrequest.yml

Fix IMDS discovery for unresponsive endpoints
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientImdsProbeTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/util/IdentityUtilTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/util/ImdsProbeTestServer.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Address voice client review feedback
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/BetaVoiceAgentWebSocketAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/BetaVoiceAgentWebSocketClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/BetaVoiceAgentWebSocketSessionAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/BetaVoiceAgentWebSocketSessionClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/http/HttpClientHelper.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/ReadmeSamples.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentLiveAudioConversationAsyncSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentLiveFunctionToolSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentLiveTextConversationAsyncSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/voice/VoiceAgentLiveTextConversationSample.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentConversationsAsyncTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentConversationsTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentRealtimeLiveTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/voice/VoiceAgentWebSocketSessionTests.java
  sdk/ai/azure-ai-agents/src/test/resources/websocket-localhost-cert.pem
  sdk/ai/azure-ai-agents/src/test/resources/websocket-localhost-key.pem
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/customizations/src/main/java/ProjectsCustomizations.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/AIProjectClientBuilder.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaTelemetryAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaTelemetryClient.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/BetaTelemetryClientTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Document beta voice WebSocket clients
  sdk/ai/azure-ai-agents/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Align Projects beta client construction
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/customizations/src/main/java/ProjectsCustomizations.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/AIProjectClientBuilder.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaTelemetryAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaTelemetryClient.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/BetaTelemetryClientTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Update azure-resourcemanager-search release date (#50509)
  sdk/search/azure-resourcemanager-search/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
