Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Removed Microsoft-specific headers from `HttpLogOptions`.
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/HttpLogOptions.java
Due: none

Moved `BinaryData` related classes from `implementation.serializer` to the `implementation.util` package.
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/BinaryDataContent.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/BinaryDataContentType.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/BinaryDataHelper.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/ByteArrayContent.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/ByteBufferContent.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/FileContent.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/InputStreamContent.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/IterableOfByteBuffersInputStream.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/ListByteBufferContent.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/SerializableContent.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/SliceInputStream.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/StreamUtil.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/StringContent.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/BinaryData.java
Due: none

removed broken test
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
Due: none

Delete unused opentelemetry-api-log dependency
  eng/versioning/external_dependencies.txt
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
Due: eng/pipelines/mgmt.yml

Fix bugs
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAdministrationAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAdministrationClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/ClassificationPolicyAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/DistributionPolicyAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/ExceptionPolicyAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/LabelSelectorAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/QueueAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/RouterRuleAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/WorkerAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateClassificationPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateDistributionPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateExceptionPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateQueueOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateWorkerOptions.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/ClassificationPolicyLiveTests.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/DistributionPolicyLiveTests.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/JobRouterTestBase.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/RouterJobLiveTests.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/RouterQueueLiveTests.java
Due: none

Deleted CHANGELOG entries for Azure Core.
  sdk/generic-sdk-core/generic-core/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Removed remaining 'azure' mentions from constants and log messages.
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/HttpClientOptions.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/ExponentialBackoff.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/HttpLogDetailLevel.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/policy/UserAgentPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/policy/UserAgentUtil.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/ExpandableStringEnum.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/configuration/Configuration.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/configuration/EnvironmentConfiguration.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/logging/ClientLogger.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/logging/LoggingEventBuilder.java
Due: none

Updated reflect-config.json
  sdk/generic-sdk-core/generic-core/src/main/resources/META-INF.native-image.com.generic.generic-core/reflect-config.json
Due: none

Removed unnecessary 'azure' mentions from README, JavaDocs and POM.
  sdk/generic-sdk-core/generic-core/README.md
  sdk/generic-sdk-core/generic-core/pom.xml
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/annotation/Host.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/exception/DecodeException.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/exception/HttpRequestException.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/HttpClientProvider.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/rest/RestProxy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/ReflectionUtils.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/ReflectionUtilsApi.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/ReflectionUtilsClassic.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/ReflectionUtilsMethodHandle.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/policy/RetryPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/policy/UserAgentPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/policy/UserAgentUtil.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/models/ClientOptions.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/BinaryData.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/configuration/ConfigurationBuilder.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/configuration/ConfigurationSource.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/logging/LogLevel.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/logging/LoggingEventBuilder.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/serializer/JsonSerializerProvider.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/serializer/JsonSerializerProviders.java
Due: eng/pipelines/link-verification.yml

Added missing comma in reflect-config.json
  sdk/generic-sdk-core/generic-core/src/main/resources/META-INF.native-image.com.generic.generic-core/reflect-config.json
Due: none

version and recording changes (#37221)
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Due: none

Cherry-pick Netty
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/aot/azure-aot-graalvm-support-netty/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Due: eng/pipelines/mgmt.yml

Updating Apache Avro Dependencies (#37205)
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Due: eng/pipelines/mgmt.yml

Updating Tomakehurst Dependency (#37206)
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
Due: eng/pipelines/mgmt.yml

Updating Apache Commons Dependency (#37207)
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-test/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
Due: eng/pipelines/mgmt.yml

Upgrade jetty dependencies (#37208)
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/mgmt.yml

[TestProxyDownloader] Add support for "aarch64" (#37137)
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyDownloader.java
Due: none

Updates to azure-core-test (#37140)
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/AzureTestWatcher.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/ThreadDumper.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/TestRunMetrics.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Due: eng/pipelines/mgmt.yml

add tsp location
  sdk/devcenter/azure-developer-devcenter/tsp-location.yaml
Due: none

Remove proxies
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/accesshelpers/ClassificationPolicyConstructorProxy.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/accesshelpers/DistributionPolicyConstructorProxy.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/accesshelpers/ExceptionPolicyConstructorProxy.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/accesshelpers/LabelValueConstructorProxy.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/accesshelpers/RouterJobConstructorProxy.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/accesshelpers/RouterQueueConstructorProxy.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/accesshelpers/RouterWorkerConstructorProxy.java
Due: none

Fix errors
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/QueueAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/WorkerAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateQueueOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateWorkerOptions.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/JobRouterTestBase.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/RouterJobLiveTests.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/RouterQueueLiveTests.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/RouterWorkerLiveTests.java
Due: none

Updating JavaDoc
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/SessionRetryOptionsBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionTokenMismatchRetryPolicy.java
Due: none

Add more tests
  sdk/monitor/azure-monitor-opentelemetry-exporter/assets.json
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExportersEndToEndTest.java
Due: none

Update SessionTokenMismatchRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionTokenMismatchRetryPolicy.java
Due: none

Javadoc
  sdk/core/azure-core-http-httpurlconnection/src/main/java/com/azure/core/http/httpurlconnection/HttpUrlConnectionClientBuilder.java
Due: none

Prepare Core Libraries for October 2023 Hotfix Re-Release
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

adding service bus to pipeline
  sdk/android/azure-samples/build.gradle.kts
  sdk/android/azure-samples/src/androidTest/java/com/azure/android/ServicebusSampleTests.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/SendSessionMessageAsync.java
Due: none

readOnly implemented
  sdk/android/azure-samples/src/androidTest/java/com/azure/android/AppConfigurationSampleTests.java
  sdk/android/azure-samples/src/main/java/com/azure/android/appconfiguration/ReadOnly.java
Due: none

Prepare Core Libraries for October 2023 Hotfix Re-Release
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

ServiceBus Tests Implemented but not tested
  sdk/android/azure-samples/src/androidTest/java/com/azure/android/ServicebusSampleTests.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/PeekMessageAsync.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/ReceiveMessage.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/SendMessageBatch.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/SendSessionMessageAsync.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/ServiceBusSessionProcessor.java
Due: none

Minor errors fixed
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/PeekMessageAsync.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/ReceiveMessage.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/SendMessageBatch.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/SendSessionMessageAsync.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/ServiceBusSessionProcessor.java
Due: none

Revert "[TestProxyDownloader] Add support for "aarch64" (#37137)"
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyDownloader.java
Due: none

Revert "Updates to azure-core-test (#37140)"
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/AzureTestWatcher.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/ThreadDumper.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/TestRunMetrics.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Due: eng/pipelines/mgmt.yml

fixed namespace
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/PeekMessageAsync.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/ReceiveMessage.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/SendMessageBatch.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/SendSessionMessageAsync.java
  sdk/android/azure-samples/src/main/java/com/azure/android/servicebus/ServiceBusSessionProcessor.java
Due: none
