Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  stages:
  - stage: LatestJdk
    displayName: Latest JDK
    jobs:
    - job: RunLatestJdk
      displayName: Run Latest JDK
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

testing junit
  sdk/spring/azure-spring-data-cosmos/pom.xml
Due: none

Renamed end to end timeout APIs
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutValidationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutWithSpeculationTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
Due: none

Reverted hot and control plane path timeout changes
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/HttpTimeoutPolicyTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/WebExceptionRetryPolicy.java
Due: none

Fixed compilation error
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ContainerThroughputControlGroupPropertiesTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlGroupConfigConfigurationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/controller/LocalThroughputControllerTests.java
Due: none

Update Rooms SDK to refer to release package of common (#34926)
  sdk/communication/azure-communication-rooms/pom.xml
Due: none

renamed latency policy
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutValidationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutWithSpeculationTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos/docs/TimeoutAndRetriesConfig.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosEndToEndOperationLatencyPolicyConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosEndToEndOperationLatencyPolicyConfigBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/OperationCancelledException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/speculativeprocessors/SpeculativeProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/speculativeprocessors/ThresholdBasedSpeculation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
Due: eng/pipelines/link-verification.yml

Fixed logging level
  sdk/cosmos/azure-cosmos-tests/src/test/resources/log4j2-test.properties
Due: none

Fixed unit tests
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIllegalTest.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/mapping/event/CosmosEventListenerUnitTests.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Role.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/CosmosAnnotationUnitTest.java
Due: none

Increment package versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixed application properties account host and key
  sdk/spring/azure-spring-data-cosmos/src/test/resources/application.properties
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/cosmos-spring/test-resources.json
Due: none

Increment package versions for cosmos releases (#34931)
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Optimize imports
  sdk/devcenter/azure-developer-devcenter/src/samples/java/com/azure/developer/devcenter/ReadmeSamples.java
Due: none

Run pre-release script
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
  sdk/devcenter/azure-developer-devcenter/README.md
  sdk/devcenter/azure-developer-devcenter/pom.xml
Due: eng/pipelines/link-verification.yml

Update client version in the registry
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Running Prepare-Release for azure-messaging-servicebus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/SharedGalleryImageTests.java
Due: none

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/SharedGalleryImageTests.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
Due: none

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
Due: none

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
Due: none

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/SharedGalleryImageTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Due: none

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/SharedGalleryImageTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/SharedGalleryImageTests.canCreateUpdateGetDeleteGalleryImage.json
Due: none

try to fix tests pipeline
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/common/package-info.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/package-info.java
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/cosmos-spring/test-resources.json
  sdk/spring/tests-cosmos.yml
Due: none

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/DiagnosticSettingsTests.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/MonitorActivityAndMetricsTests.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/ActionGroupsTests.canCRUDActionGroups.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/AlertsTests.canCRUDActivityLogAlerts.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/AlertsTests.canCRUDMetricAlerts.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/AlertsTests.canCRUDMultipleResourceMetricAlerts.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/AutoscaleTests.canCRUDAutoscale.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/DiagnosticSettingsTests.canCRUDDiagnosticSettings.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/DiagnosticSettingsTests.canCRUDDiagnosticSettingsLogsCategoryGroup.json
Due: none

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/DiagnosticSettingsTests.java
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
Due: none

mgmt, local generation for network
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/DiagnosticSettingsTests.canCRUDDiagnosticSettings.json
Due: none

test
  sdk/spring/scripts/sync_for_spring3.py
Due: none

Update CHANGELOG.md
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update CHANGELOG.md (#34936)
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Continuous Dtmf Detection & Send Dtmf implementation - 1. Amend public events messages 2. Adjust events as per the suggestion in internal review 3. Adjust tests
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationEventParserUnitTests.java
Due: none

Use Subscriber implementations with buffering
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/ByteBufAsyncWriteSubscriber.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/ByteBufWriteSubscriber.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponse.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/MockHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/RestProxyTestsWireMockServer.java
Due: none

Use Swagger Transform instead of Code Customization for ListBlobsIncludeItem (#34861)
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/swagger/src/main/java/BlobStorageCustomization.java
Due: eng/pipelines/link-verification.yml

Revert Storage change and use from source Netty to performance test
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponse.java
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadAsyncResponse.java
Due: none

Removed protocol and other unnecessary command line args
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
Due: eng/pipelines/mgmt.yml

Add HTTP Fault Injector Capabilities to Testing
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestUtils.java
Due: none

Passing env variables
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
Due: eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
