Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

update comments
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/factory/AbstractAzureHttpClientBuilderFactory.java
Due: eng/pipelines/link-verification.yml

update pom
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
Due: none

manual change
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/implementation/MetricDefinitionImpl.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/TypeSerializationTests.java
Due: none

recordings
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/ActionGroupsTests.canCRUDActionGroups.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/AlertsTests.canCRUDActivityLogAlerts.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/AlertsTests.canCRUDMetricAlerts.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/AlertsTests.canCRUDMultipleResourceMetricAlerts.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/AutoscaleTests.canCRUDAutoscale.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/DiagnosticSettingsTests.canCRUDDiagnosticSettings.json
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/DiagnosticSettingsTests.canCRUDDiagnosticSettingsForSubscription.json
Due: none

Prepares Jedis redis checkpoint store for release (#32580)
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/EventProcessorClientJedisSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/EventProcessorJedisRedisCheckpointStoreSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStoreSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/ReadmeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/test/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStoreTests.java
  sdk/identity/azure-identity/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

regen with less swagger
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/MetricsClient.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/MonitorClient.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/MonitoringAccountsClient.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/MonitorsClient.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/MonitoringAccountResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/MonitoringAccountResourceProperties.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/OperationAutoGeneratedInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/implementation/MetricDefinitionImpl.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/implementation/MetricsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/implementation/MonitorClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/implementation/MonitoringAccountsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/implementation/MonitorsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/ActionType.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/IngestionSettings.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/Metrics.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/MonitoringAccount.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/MonitoringAccountDefaultIngestionSettings.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/MonitoringAccountMetrics.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/MonitoringAccountResourceForUpdate.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/MonitoringAccountResourceListResult.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/OperationDisplayAutoGenerated.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/OperationListResultAutoGenerated.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/Origin.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/ProvisioningState.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/ResourceAutoGenerated5.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/TrackedResourceAutoGenerated.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/monitor/generated/MetricsListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/monitor/generated/MonitorOperationsListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/monitor/generated/MonitoringAccountsCreateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/monitor/generated/MonitoringAccountsDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/monitor/generated/MonitoringAccountsGetByResourceGroupSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/monitor/generated/MonitoringAccountsListByResourceGroupSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/monitor/generated/MonitoringAccountsListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/monitor/generated/MonitoringAccountsUpdateSamples.java
Due: none

update cl
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

sync codes
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/factory/AbstractAzureHttpClientBuilderFactory.java
Due: eng/pipelines/link-verification.yml

regen with codegen to remove duplicated AutoGenerated resource models
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/ActionGroupResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/ActivityLogAlertResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/DiagnosticSettingsCategoryResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/DiagnosticSettingsResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/LogProfileResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/MetricAlertResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/PrivateEndpointConnectionInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/fluent/models/PrivateLinkResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/AzureResource.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/AzureResourceAutoGenerated.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/ProxyResourceAutoGenerated.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/ResourceAutoGenerated2.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/ResourceAutoGenerated3.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/ResourceAutoGenerated4.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/models/TrackedResource.java
Due: none

remove redundant dependency
  sdk/loadtesting/azure-resourcemanager-loadtesting/pom.xml
Due: none

Making max integrated cache staleness configurable for Spark connector (#32592)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/FilterAnalyzerSpec.scala
Due: eng/pipelines/link-verification.yml

Remove warning logs about client properties while using Kafka password-less function (#32768)
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/factory/AbstractAzureHttpClientBuilderFactory.java
Due: eng/pipelines/link-verification.yml

Remove warning logs about client properties while using Kafka password-less function (#32764)
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/factory/AbstractAzureHttpClientBuilderFactory.java
Due: eng/pipelines/link-verification.yml

Addressed review comments.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/FeedResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Due: none

Improve Error Message when Key Isn't Properly Base64 Encoded (#32726)
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/StorageSharedKeyCredential.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageImplUtils.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/StorageSharedKeyCredentialTest.groovy
Due: none

Updating Jedis sample.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStoreSample.java
Due: none

Clean-up sample.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/EventProcessorClientJedisSample.java
Due: none

Regenerating SDK with new swagger API version
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailAsyncClient.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailClient.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailServiceVersion.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/implementation/EmailsImpl.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/implementation/models/EmailsGetSendStatusHeaders.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/implementation/models/EmailsSendHeaders.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/models/EmailAttachment.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/models/EmailMessage.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/models/EmailRecipients.java
  sdk/communication/azure-communication-email/src/samples/java/com/azure/communication/email/ReadmeSamples.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailAsyncClientTests.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailClientTests.java
  sdk/communication/azure-communication-email/swagger/README.md
Due: eng/pipelines/link-verification.yml

Exporting classes.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/module-info.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/module-info.java
Due: none

Making class final
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStore.java
Due: none

Add missing imports.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/EventProcessorClientJedisSample.java
Due: none

fixes
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
Due: none

Adding overload for BinaryData attachment
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/models/EmailAttachment.java
  sdk/communication/azure-communication-email/src/samples/java/com/azure/communication/email/ReadmeSamples.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailAsyncClientTests.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailClientTests.java
Due: eng/pipelines/link-verification.yml

Prefer ThreadLocalRandom over Random
  sdk/core/azure-core-perf/src/main/java/com/azure/core/perf/core/RestProxyTestBase.java
  sdk/core/azure-core-perf/src/main/java/com/azure/core/perf/core/TestDataFactory.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/MockHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/ResourceNamer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
Due: none

Update Runtime Versions to Latest Available
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-json-gson/pom.xml
  sdk/core/azure-json-reflect/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/identity/azure-identity/pom.xml
Due: eng/pipelines/mgmt.yml

Cherry Pick Azure-SDK automated commit into main branch from Search's November Patch release (#32348)
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prefer ThreadLocalRandom over Random (#32771)
  sdk/core/azure-core-perf/src/main/java/com/azure/core/perf/core/RestProxyTestBase.java
  sdk/core/azure-core-perf/src/main/java/com/azure/core/perf/core/TestDataFactory.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/MockHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/ResourceNamer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
Due: none

Adding a test to assert retry-attempt resets for each retry-cycle for a new connection
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RecoverableReactorConnectionIsolatedTest.java
Due: none

Renaming RecoverableReactorConnection::getConnection() to RecoverableReactorConnection::get()
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RecoverableReactorConnection.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RecoverableReactorConnectionIsolatedTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RecoverableReactorConnectionTest.java
Due: none

Updated External Dependency: commons-net:commons-net | 3.6 -> 3.9.0
  eng/versioning/external_dependencies.txt
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-appservice/pom.xml
Due: eng/pipelines/mgmt.yml

Removing the errorContext RecoverableReactorConnection::ctr argument, it can be derived from new fqdn param
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RecoverableReactorConnection.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RecoverableReactorConnectionIsolatedTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RecoverableReactorConnectionTest.java
Due: none

Add in-depth testing
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/JacksonAdapterTests.java
Due: none

SB stress tests: instrument sender
  .gitignore
  sdk/servicebus/azure-messaging-servicebus-stress/templates/job.yaml
Due: eng/pipelines/mgmt.yml

ignore gitignore
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

Fix typo.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStoreSample.java
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
