Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Reporting
    displayName: Generate reports (with build)
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: templates/steps/install-reporting-tools.yml
      parameters:
        Options: --batch-mode
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

AAD working, Java resource has the access
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.recognizeCustomFormUrlMultiPageLabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.recognizeCustomFormUrlMultiPageUnlabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeCustomFormUrlMultiPageLabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeCustomFormUrlMultiPageUnlabeled[1].json
Due: none

Refactor sparse checkout template: idempotency and no yaml loops
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: eng/pipelines/mgmt.yml

Add logging, re-organize sparse checkout script
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: eng/pipelines/mgmt.yml

Revert "Rollback ServiceBus code change brought in from the cherry-pick commit"
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiver.java
Due: none

correct access now, fixed InvalidImageURL
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.recognizeGermanContentFromUrl[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeGermanContentFromUrl[1].json
Due: none

update core-amqp to 2.0.6
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: none

cosmos spark string operator filter bugfix (#21783)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/FilterAnalyzer.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/FilterAnalyzerSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
Due: none

enable more tests
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.recognizeCustomFormMultiPageLabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.checkRecognizeFormTypeComposedModelWithModelName[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeCustomFormMultiPageLabeled[1].json
Due: none

update the GA date
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Improve javadocs for Form Recognizer (#21789)
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FieldData.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FieldValue.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormContentType.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormElement.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormLine.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormPage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormPageRange.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormReadingOrder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormSelectionMark.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormTable.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormTableCell.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormWord.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/Point.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/RecognizedForm.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
Due: none

address feedbacks
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContent.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentWithSelectionMarks.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentWithSelectionMarksAsync.java
Due: none

Sync eng/common directory with azure-sdk-tools for PR 1627 (#21829)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: eng/pipelines/mgmt.yml

Allowing to bulk delete from Spark connector (#21713)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/Exceptions.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/PointWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/BulkWriterITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/PointWriterITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EWriteITest.scala
Due: eng/pipelines/link-verification.yml

Merge resume predicate into resume download function
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReliableDownloadFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ReliableDownloadFluxTests.java
Due: none

Update EH and SB core dependency to pass revapi errors
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: none

[FR] Added more samples and fixed the wrong file links. (#21800)
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledDataAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/GetBoundingBoxesAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeBusinessCard.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeBusinessCardAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeBusinessCardFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContent.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeCustomFormsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeCustomFormsAsyncWithSelectionMarks.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeIdentityDocuments.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeIdentityDocumentsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeIdentityDocumentsFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeInvoices.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeInvoicesFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceipts.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsFromUrlAsync.java
Due: none

Remove GeoJSON Index Getter APIs from the Public API
  sdk/core/azure-core/src/main/java/com/azure/core/models/GeoBoundingBox.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/GeoPosition.java
Due: none

Update sample readme
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/README.md
Due: eng/pipelines/link-verification.yml

Remove GeoJSON Index Getter APIs from the Public API (#21830)
  sdk/core/azure-core/src/main/java/com/azure/core/models/GeoBoundingBox.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/GeoPosition.java
Due: none

Adding tests for EventHubsOption classes.
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventHubsOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventHubsOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventProcessorOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/test/java/EventProcessorOptionsTest.java
Due: none

Prepare core-amqp 2.0.6 release (#21827)
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Removing jackson-databind.
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
Due: none

Change to 1.8.
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/pom.xml
Due: none

Add Get-ChangeLogEntriesFromContent
  eng/common/scripts/ChangeLog-Operations.ps1
Due: eng/pipelines/mgmt.yml

proper english word
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeBusinessCardFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeBusinessCardFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrlAsync.java
Due: eng/pipelines/link-verification.yml

Azure Monitor - Regenerate from updated swagger (#21826)
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/log/implementation/models/BatchResponse.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/log/implementation/models/Column.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/log/implementation/models/LogQueryResponse.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/log/implementation/models/LogQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/log/implementation/models/QueryResults.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metrics/implementation/MetricsImpl.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorManagementClientImplBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metrics/implementation/models/Metric.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metrics/implementation/models/MetricValue.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metrics/implementation/models/MetricsResponse.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metricsdefinitions/implementation/MetricDefinitionsImpl.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metricsdefinitions/implementation/MetricsDefinitionsClientImplBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metricsdefinitions/implementation/models/MetricDefinitionCollection.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/metricsnamespaces/implementation/models/MetricNamespaceCollection.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/AggregationType.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/ColumnDataType.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LocalizableString.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsAvailability.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsDefinition.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsNamespace.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsNamespaceName.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsUnit.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsValue.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/NamespaceClassification.java
  sdk/monitor/azure-monitor-query/src/main/java/module-info.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/ServerTimeoutSample.java
  sdk/monitor/azure-monitor-query/swagger/README.md
  sdk/monitor/azure-monitor-query/swagger/log_query_swagger.json
Due: eng/pipelines/link-verification.yml

Adding documentation with tests and removing unused parameters.
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventHubsReceiveOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventProcessorOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventHubsReceiveOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventProcessorOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/test/java/EventProcessorOptionsTest.java
Due: none

Update documentation.
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/src/main/java/com/azure/messaging/eventhubs/perf/App.java
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventHubsOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/App.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventHubsOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventProcessorTest.java
Due: none

Implements AutoClosable
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiver.java
Due: none

Retry when connection is not opened
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
Due: none

[FR] After AAD working, and using Java resource endpoint, these tests works now (#21828)
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.recognizeCustomFormMultiPageLabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.recognizeCustomFormUrlMultiPageLabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.recognizeCustomFormUrlMultiPageUnlabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.recognizeGermanContentFromUrl[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.checkRecognizeFormTypeComposedModelWithModelName[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeCustomFormMultiPageLabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeCustomFormUrlMultiPageLabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeCustomFormUrlMultiPageUnlabeled[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeGermanContentFromUrl[1].json
Due: eng/pipelines/link-verification.yml

[FR] Update sample readme (#21831)
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeBusinessCardFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeBusinessCardFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrlAsync.java
Due: eng/pipelines/link-verification.yml

remove system.out.println for test and try to simplify the code (#21817)
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java
Due: none

Retry when connection is not opened - update test cases
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
Due: none

Added API for subQueue
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
Due: eng/pipelines/link-verification.yml

Use azure-core 1.16.0 for azure-core-amqp 2.0.6 hotfix release (#21781)
  sdk/core/azure-core-amqp/pom.xml
Due: none

Update CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update FarmBeats SDK
  sdk/farmbeats/azure-verticals-agrifood-farming/README.md
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/AttachmentsBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/BoundariesBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/CropVarietiesBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/CropsBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/FarmOperationsBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/FarmersBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/FarmsBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/FieldsBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/ImageProcessingBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/OAuthTokensBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/ScenesBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/SeasonalFieldsBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/SeasonsBaseClient.java
  sdk/farmbeats/azure-verticals-agrifood-farming/src/main/java/com/azure/verticals/agrifood/farming/WeatherBaseClient.java
Due: eng/pipelines/link-verification.yml

Added more tests.
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TablesAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/resources/session-records/TablesAsyncClientTest.submitTransactionAsyncAllActions.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/TablesAsyncClientTest.submitTransactionAsyncWithDifferentPartitionKeys.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/TablesAsyncClientTest.submitTransactionAsyncWithFailingAction.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/TablesAsyncClientTest.submitTransactionAsyncWithSameRowKeys.json
Due: none

Added transactional batch samples.
  sdk/tables/azure-data-tables/src/samples/java/com/azure/data/tables/TransactionalBatchOperation.java
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
