Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

add deleted file
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/src/test/java/com/azure/resourcemanager/applicationinsights/generated/ApplicationInsightsComponentProactiveDetectionConfigurationRuleDefinitionsTests.java
Due: none

Add auto-baseline main pipeline config for core (#41835)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/mgmt.yml

restore deleted files
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/test/java/com/azure/resourcemanager/baremetalinfrastructure/generated/AzureBareMetalStorageInstancesGetByResourceGroupWithResponseMockTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/Paths108HwamOauth2ExchangePostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/src/samples/java/com/azure/resourcemanager/deviceprovisioningservices/generated/IotDpsResourceCheckProvisioningServiceNameAvailabilit.java
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/src/samples/java/com/azure/resourcemanager/deviceprovisioningservices/generated/IotDpsResourceCreateOrUpdatePrivateEndpointConnection.java
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/src/samples/java/com/azure/resourcemanager/deviceprovisioningservices/generated/IotDpsResourceDeletePrivateEndpointConnectionSamples.java
  sdk/hardwaresecuritymodules/azure-resourcemanager-hardwaresecuritymodules/src/samples/java/com/azure/resourcemanager/hardwaresecuritymodules/generated/CloudHsmClusterPrivateLinkResourcesListByCloudHsmClusterSamples.java
  sdk/hardwaresecuritymodules/azure-resourcemanager-hardwaresecuritymodules/src/test/java/com/azure/resourcemanager/hardwaresecuritymodules/generated/CloudHsmClusterPrivateEndpointConnectionsCreateWithResponseMockTests.java
  sdk/hardwaresecuritymodules/azure-resourcemanager-hardwaresecuritymodules/src/test/java/com/azure/resourcemanager/hardwaresecuritymodules/generated/CloudHsmClusterPrivateEndpointConnectionsGetWithResponseMockTests.java
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/src/samples/java/com/azure/resourcemanager/informaticadatamanagement/generated/ServerlessRuntimesListByInformaticaOrganizationResourceS.java
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/src/test/java/com/azure/resourcemanager/informaticadatamanagement/generated/OrganizationsGetAllServerlessRuntimesWithResponseMockTests.java
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/src/test/java/com/azure/resourcemanager/informaticadatamanagement/generated/ServerlessRuntimesStartFailedServerlessRuntimeWitMockTests.java
  sdk/managednetworkfabric/azure-resourcemanager-managednetworkfabric/src/samples/java/com/azure/resourcemanager/managednetworkfabric/generated/NetworkToNetworkInterconnectsUpdateNpbStaticRouteBfdAdministrativeState.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/test/java/com/azure/resourcemanager/postgresqlflexibleserver/generated/CheckNameAvailabilityWithLocationsExecuteWithResponseMockTests.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/fluent/models/CheckNameAvailabilityResponseModelInner.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/implementation/CheckNameAvailabilityResponseModelImpl.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/implementation/ProtectedItemOperationStatusClientImpl.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/models/HyperVToAzStackHciEventModelCustomProperties.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/models/HyperVToAzStackHciPlannedFailoverCustomProps.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/models/HyperVToAzStackHciPolicyModelCustomProperties.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/models/ProtectedItemModelPropertiesLastTestFailoverJob.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/models/TestFailoverCleanupWorkflowModelCustomProperties.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/models/VMwareToAzStackHciPlannedFailoverCustomProps.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/main/java/com/azure/resourcemanager/recoveryservicesdatareplication/models/VMwareToAzStackHciPolicyModelCustomProperties.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/samples/java/com/azure/resourcemanager/recoveryservicesdatareplication/generated/ProtectedItemOperationStatusGetSamples.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/samples/java/com/azure/resourcemanager/recoveryservicesdatareplication/generated/ResourceProviderCheckNameAvailabilityS.java
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/src/samples/java/com/azure/resourcemanager/recoveryservicesdatareplication/generated/ResourceProviderDeploymentPreflightSam.java
Due: none

Remove unreleased dependency usages
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: none

even more deleted files
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/CreateProtectionContainerMappingInputPropertiesTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/CreateProtectionIntentProviderSpecificDetailsTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/HyperVReplicaAzurePlannedFailoverProviderInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/InMageAzureV2UpdateReplicationProtectedItemInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/InMageDisableProtectionProviderSpecificInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/InMageRcmFailbackDiscoveredProtectedVmDetailsTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/InMageRcmFailbackPlannedFailoverProviderInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/InMageRcmUpdateReplicationProtectedItemInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/PlannedFailoverProviderSpecificFailoverInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ProtectionContainerMappingProviderSpecificDetailsTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/RecoveryPlanTestFailoverCleanupInputPropertiesTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/RecoveryPlanUnplannedFailoverInputPropertiesTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/RecoveryPointsListByReplicationProtectedItemsMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/RecoveryProximityPlacementGroupCustomDetailsTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/RemoveProtectionContainerMappingInputPropertiesTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationAlertSettingsCreateWithResponseMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationLogicalNetworksGetWithResponseMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationNetworkMappingsGetWithResponseMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationNetworksListByReplicationFabricsMockTests.java
Due: none

pull in openai changes from main
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
Due: none

more deleted files
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationProtectableItemsGetWithResponseMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationProtectionIntentsGetWithResponseMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationProviderSpecificContainerCreationInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationProviderSpecificContainerMappingInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationRecoveryPlansTestFailoverCleanupMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/ReplicationRecoveryPlansUnplannedFailoverMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/StorageClassificationMappingsGetWithResponseMockTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/UpdateApplianceForReplicationProtectedItemInputTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/UpdateProtectionContainerMappingInputPropertiesTests.java
  sdk/recoveryservicessiterecovery/azure-resourcemanager-recoveryservicessiterecovery/src/test/java/com/azure/resourcemanager/recoveryservicessiterecovery/generated/UpdateReplicationProtectedItemInputPropertiesTests.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-workloadssapvirtualinstance/reflect-config.json
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/samples/java/com/azure/resourcemanager/workloadssapvirtualinstance/generated/ResourceProviderSapAvailabilityZoneDetailsSamples.java
Due: none

Crypto test coverage - adding the encryption version parameter to tests that missed it (#41820)
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlockBlobApiTests.java
Due: none

Reduce Spring Monitor API surface (#41833)
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureSpringMonitorAutoConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/OpenTelemetryVersionCheckRunner.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/implementation/DefaultLogConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/implementation/ExecutionEnvSelfDiag.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/implementation/LogbackSelfDiagConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/implementation/OtelSelfDiag.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/implementation/SelfDiagAutoConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/implementation/SelfDiagnostics.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  sdk/spring/spring-cloud-azure-starter-monitor/src/test/java/com/azure/monitor/applicationinsights/spring/SpringContextTest.java
Due: none

checkstyle
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/Utility.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormRecognizerException.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClientBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
Due: none

Moving Speller to Implementation
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/Speller.java
  sdk/search/azure-search-documents/swagger/README.md
Due: eng/pipelines/link-verification.yml

Require minimum stress addons version of 0.3.0
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Due: eng/pipelines/mgmt.yml

addressing all comments
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/BlobClientSideEncryptionOptions.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRange.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedRegionInfo.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptorV2.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilderTests.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRangeTests.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlockBlobApiTests.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/BufferStagingArea.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/BufferStagingAreaTests.java
Due: eng/pipelines/link-verification.yml

unmod openai file
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
Due: none

update HTTP client link
  sdk/ai/azure-ai-inference/README.md
Due: eng/pipelines/link-verification.yml

updating changelog to include correct method name
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Disable sbom generation for forked PR builds
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: eng/pipelines/mgmt.yml

Update publish-1es-artifact.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: eng/pipelines/mgmt.yml

Require minimum stress addons version of 0.3.0 (#41840)
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Due: eng/pipelines/mgmt.yml

adding new test case for adjusted blob range
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRangeTests.java
Due: none

adding test recordings for testAdjustedBlobRange test
  sdk/storage/azure-storage-blob-cryptography/assets.json
Due: none

removing unused import
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/BufferStagingAreaTests.java
Due: none

Update record session
  sdk/resourcemanager/azure-resourcemanager-cosmos/assets.json
Due: none

fix star import, add default implementation
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/FullFidelityChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ChangeFeedProcessorContext.java
Due: none

Fix ci analyze exception
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/DataTransferServiceResourceCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/GraphApiComputeServiceResourceCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/MaterializedViewsBuilderServiceResourceCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/ServiceResourceCreateUpdateProperties.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/SqlDedicatedGatewayServiceResourceCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/cosmos/generated/ServiceCreateSamples.java
Due: none

Fix ci analyze exception
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
Due: none

Check KubernetesClusterAgentPoolImpl.getAgentPoolInner(), add the new properties into the method.
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/implementation/KubernetesClusterAgentPoolImpl.java
Due: none

mgmt, local generation for Azure DNS Private Zones - 2024-06-01 (#41800)
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/assets.json
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/fluent/models/PrivateZoneInner.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/fluent/models/RecordSetInner.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/fluent/models/VirtualNetworkLinkInner.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/fluent/models/VirtualNetworkLinkProperties.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/implementation/PrivateDnsManagementClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/models/ResolutionPolicy.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesGetByResourceGroupSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesListByResourceGroupSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsGetSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsListByTypeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksGetSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksUpdateSamples.java
Due: eng/pipelines/link-verification.yml

Improve the jdbc properties priority
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertiesBeanPostProcessor.java
Due: none

Update changelog
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

commit
  sdk/openai/azure-ai-openai/tsp-location.yaml
Due: none

Improve the jdbc properties BPP priority (#41843)
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertiesBeanPostProcessor.java
Due: eng/pipelines/link-verification.yml

Remove block call for sync methods
  sdk/maps/azure-maps-search/src/main/java/com/azure/maps/search/MapsSearchClient.java
  sdk/maps/azure-maps-search/src/main/java/com/azure/maps/search/MapsSearchClientBuilder.java
Due: none

Sync eng/common directory with azure-sdk-tools for PR 8959 (#41842)
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: eng/pipelines/mgmt.yml
