Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Refactor storage stress to rely on perf base classes (#37715)
  common/perf-test-core/pom.xml
  common/perf-test-core/src/main/java/com/azure/perf/test/core/RepeatingInputStream.java
  common/perf-test-core/src/test/java/com/azure/perf/test/core/RepeatingInputStreamTests.java
  sdk/storage/azure-storage-blob-stress/Dockerfile
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob-stress/scenarios-matrix.yaml
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/App.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobScenarioBase.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobStorageStressRunner.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadToFile.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/builders/BlobScenarioBuilder.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/builders/DownloadScenarioBuilder.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/builders/DownloadToFileScenarioBuilder.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/package-info.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/scenarios/DownloadStressScenario.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/scenarios/DownloadToFileStressScenario.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/scenarios/infra/BlobContainerStressScenario.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/scenarios/infra/BlobStorageStressScenario.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/scenarios/infra/BlobStressScenario.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/OriginalContent.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/TelemetryHelper.java
  sdk/storage/azure-storage-blob-stress/src/main/resources/logback.xml
  sdk/storage/azure-storage-blob-stress/stress-test-resources.bicep
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/CrcInputStream.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/FaultInjectionProbabilities.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/HttpFaultInjectingHttpClient.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/RandomInputStream.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/StorageStressOptions.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/StorageStressScenario.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/StressScenarioBuilder.java
Due: eng/pipelines/mgmt.yml

up
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobStorageStressRunner.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/StorageStressScenario.java
Due: none

use fault injector from proper registry
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
Due: none

a few more fixes
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobStorageStressRunner.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/scenarios/DownloadToFileStressScenario.java
  sdk/storage/azure-storage-blob-stress/src/main/resources/logback.xml
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/HttpFaultInjectingHttpClient.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/StorageStressScenario.java
Due: none

readme
  sdk/storage/azure-storage-blob-stress/README.md
  sdk/storage/azure-storage-blob-stress/src/main/resources/logback.xml
Due: eng/pipelines/link-verification.yml

make tracing work with reactor and fix some nits
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobStorageStressRunner.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/scenarios/DownloadToFileStressScenario.java
  sdk/storage/azure-storage-stress/pom.xml
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/HttpFaultInjectingHttpClient.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/StorageStressScenario.java
Due: none

enable logs
  sdk/storage/azure-storage-blob-stress/src/main/resources/logback.xml
Due: none

adding more scenarios for testing parallel
  sdk/storage/azure-storage-blob-stress/scenarios-matrix.yaml
Due: none

add junit to perf-test-core
  sdk/storage/azure-storage-blob-stress/Dockerfile
Due: none

Adding all download scenarios for BlobClient (#37956)
  sdk/storage/azure-storage-blob-stress/scenarios-matrix.yaml
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/App.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadContent.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadToFile.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenInputStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenSeekableByteChannelRead.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/OriginalContent.java
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
Due: none

changing from java11 build to java21
  sdk/storage/azure-storage-blob-stress/Dockerfile
Due: none

Fix crc calculation, avoid buffering and set limits for fault injector (#38058)
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobScenarioBase.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadContent.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadToFile.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenInputStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenSeekableByteChannelRead.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/OriginalContent.java
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/ContentInfo.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/CrcInputStream.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/CrcOutputStream.java
Due: none

adding different scenarios
  sdk/storage/azure-storage-blob-stress/scenarios-matrix.yaml
Due: none

readme keep workbook in the repo
  sdk/storage/azure-storage-blob-stress/workbook/test-workbook.json
Due: none

nits
  sdk/storage/azure-storage-blob-stress/Dockerfile
  sdk/storage/azure-storage-blob-stress/scenarios-matrix.yaml
Due: none

Storage stress test updates (#38446)
  sdk/storage/azure-storage-blob-stress/Chart.yaml
  sdk/storage/azure-storage-blob-stress/Dockerfile
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob-stress/scenarios-matrix.yaml
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/App.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobScenarioBase.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadContent.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/DownloadToFile.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenInputStream.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/OpenSeekableByteChannelRead.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/ContentMismatchException.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/OriginalContent.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/utils/TelemetryHelper.java
  sdk/storage/azure-storage-blob-stress/src/main/resources/logback.xml
  sdk/storage/azure-storage-blob-stress/stress-test-resources.bicep
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
  sdk/storage/azure-storage-blob-stress/workbook/test-workbook.json
  sdk/storage/azure-storage-stress/pom.xml
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/FaultInjectingHttpPolicy.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/HttpFaultInjectingHttpClient.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/StorageStressOptions.java
Due: none

remove unused file in customization
  sdk/openai/azure-ai-openai/customization/pom.xml
  sdk/openai/azure-ai-openai/customization/src/main/java/ChatCompletionsToolCallCustomizations.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/MultipartFormDataHelper.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/models/FileDetails.java
Due: none

Added spec location verification to batch release
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
Due: eng/pipelines/mgmt.yml

add the missing s character, it should be "FeatureFlags"
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementProperties.java
Due: none

mgmt, local generation for appplatform 2023-12-01
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
Due: none

codegen
  sdk/translation/azure-ai-translator-document/CHANGELOG.md
  sdk/translation/azure-ai-translator-document/README.md
  sdk/translation/azure-ai-translator-document/assets.json
  sdk/translation/azure-ai-translator-document/pom.xml
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/DocumentTranslationAsyncClient.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/DocumentTranslationClient.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/DocumentTranslationClientBuilder.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/DocumentTranslationServiceVersion.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/implementation/DocumentTranslationClientImpl.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/implementation/MultipartFormDataHelper.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/implementation/package-info.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/models/DocumentFileDetails.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/models/DocumentTranslateContent.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/models/GlossaryFileDetails.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/models/package-info.java
  sdk/translation/azure-ai-translator-document/src/main/java/com/azure/ai/translator/document/package-info.java
  sdk/translation/azure-ai-translator-document/src/main/java/module-info.java
  sdk/translation/azure-ai-translator-document/src/main/resources/azure-ai-translator-document.properties
  sdk/translation/azure-ai-translator-document/src/samples/java/com/azure/ai/translator/document/ReadmeSamples.java
  sdk/translation/azure-ai-translator-document/src/test/java/com/azure/ai/translator/document/generated/DocumentTranslationClientTestBase.java
  sdk/translation/azure-ai-translator-document/tsp-location.yaml
Due: eng/pipelines/link-verification.yml

project files
  sdk/translation/ci.yml
  sdk/translation/pom.xml
Due: none

support backend schema (#38134)
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManagementConfiguration.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementProperties.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/Conditions.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/Feature.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/ServerSideFeature.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/ClientSideFeatureManagementPropertiesTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagerTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/ServerSideFeatureManagementPropertiesTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/resources/application-client.yaml
  sdk/spring/spring-cloud-azure-feature-management/src/test/resources/application-server.yaml
Due: none

config
  eng/emitter-package.json
  sdk/translation/azure-ai-translator-document/tsp-location.yaml
Due: eng/pipelines/mgmt.yml

mgmt, local generation for appplatform 2023-12-01
  sdk/resourcemanager/azure-resourcemanager-appplatform/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

sync with 0.13.1
  eng/emitter-package.json
Due: eng/pipelines/mgmt.yml

version
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

version_client.txt
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-authorization/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cdn/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerregistry/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-dns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-msi/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-perf/pom.xml
  sdk/resourcemanager/azure-resourcemanager-privatedns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-redis/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/azure-resourcemanager-servicebus/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: none

readme.md
  sdk/resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/README.md
  sdk/resourcemanager/azure-resourcemanager-appservice/README.md
  sdk/resourcemanager/azure-resourcemanager-authorization/README.md
  sdk/resourcemanager/azure-resourcemanager-cdn/README.md
  sdk/resourcemanager/azure-resourcemanager-compute/README.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/README.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/README.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/README.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/README.md
  sdk/resourcemanager/azure-resourcemanager-dns/README.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/README.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/README.md
  sdk/resourcemanager/azure-resourcemanager-monitor/README.md
  sdk/resourcemanager/azure-resourcemanager-msi/README.md
  sdk/resourcemanager/azure-resourcemanager-network/README.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/README.md
  sdk/resourcemanager/azure-resourcemanager-redis/README.md
  sdk/resourcemanager/azure-resourcemanager-resources/README.md
  sdk/resourcemanager/azure-resourcemanager-samples/README.md
  sdk/resourcemanager/azure-resourcemanager-search/README.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/README.md
  sdk/resourcemanager/azure-resourcemanager-sql/README.md
  sdk/resourcemanager/azure-resourcemanager-storage/README.md
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/README.md
  sdk/resourcemanager/azure-resourcemanager/README.md
Due: eng/pipelines/link-verification.yml

changelog.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-authorization/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cdn/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-msi/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-redis/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-storage/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

single_service_packages.md
  sdk/resourcemanager/docs/SINGLE_SERVICE_PACKAGES.md
Due: eng/pipelines/link-verification.yml

ci
  sdk/translation/ci.yml
  sdk/translation/pom.xml
Due: none

draft
  sdk/openai/azure-ai-openai-assistants/pom.xml
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureAssistantsSyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureAssistantsTest.java
Due: none

Fix metric value due to unit change (#38497)
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/MetricDataMapper.java
Due: eng/pipelines/link-verification.yml

regen with 0.13.1
  eng/emitter-package.json
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClientBuilder.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/AssistantsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/MultipartFormDataHelper.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/FileDetails.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/UploadFileRequest.java
Due: eng/pipelines/mgmt.yml
