Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

Reset sources for azure-storage-file-datalake to the release version 12.26.0.
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-storage-file-datalake for 12.26.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-storage-file-share to the release version 12.29.0.
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-storage-file-share for 12.29.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-storage-internal-avro to the release version 12.18.0.
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-storage-internal-avro for 12.18.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-storage-queue to the release version 12.28.0.
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-storage-queue for 12.28.1 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-resources to the release version 2.53.5.
  sdk/resources/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resources/azure-resourcemanager-resources/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-resources for 2.53.6 patch release.
  eng/versioning/version_client.txt
  sdk/resources/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resources/azure-resourcemanager-resources/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-storage to the release version 2.55.2.
  sdk/storage/azure-resourcemanager-storage/CHANGELOG.md
  sdk/storage/azure-resourcemanager-storage/README.md
  sdk/storage/azure-resourcemanager-storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-storage for 2.55.3 patch release.
  eng/versioning/version_client.txt
  sdk/storage/azure-resourcemanager-storage/CHANGELOG.md
  sdk/storage/azure-resourcemanager-storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-authorization to the release version 2.53.6.
  sdk/authorization/azure-resourcemanager-authorization/CHANGELOG.md
  sdk/authorization/azure-resourcemanager-authorization/README.md
  sdk/authorization/azure-resourcemanager-authorization/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-authorization for 2.53.7 patch release.
  eng/versioning/version_client.txt
  sdk/authorization/azure-resourcemanager-authorization/CHANGELOG.md
  sdk/authorization/azure-resourcemanager-authorization/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-keyvault to the release version 2.54.1.
  sdk/keyvault/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/keyvault/azure-resourcemanager-keyvault/README.md
  sdk/keyvault/azure-resourcemanager-keyvault/pom.xml
  sdk/keyvault/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/fluent/MhsmPrivateEndpointConnectionsClient.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/fluent/PrivateEndpointConnectionsClient.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/MhsmPrivateEndpointConnectionsClientImpl.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/PrivateEndpointConnectionsClientImpl.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/generated/AttributesTests.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/generated/SecretAttributesTests.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/generated/SecretPatchParametersTests.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/generated/SecretPatchPropertiesTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-keyvault for 2.54.2 patch release.
  eng/versioning/version_client.txt
  sdk/keyvault/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/keyvault/azure-resourcemanager-keyvault/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-msi to the release version 2.53.5.
  sdk/msi/azure-resourcemanager-msi/CHANGELOG.md
  sdk/msi/azure-resourcemanager-msi/README.md
  sdk/msi/azure-resourcemanager-msi/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-msi for 2.53.6 patch release.
  eng/versioning/version_client.txt
  sdk/msi/azure-resourcemanager-msi/CHANGELOG.md
  sdk/msi/azure-resourcemanager-msi/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-network to the release version 2.57.0.
  sdk/network/azure-resourcemanager-network/CHANGELOG.md
  sdk/network/azure-resourcemanager-network/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-network for 2.57.1 patch release.
  eng/versioning/version_client.txt
  sdk/network/azure-resourcemanager-network/CHANGELOG.md
  sdk/network/azure-resourcemanager-network/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-compute to the release version 2.56.0.
  sdk/compute/azure-resourcemanager-compute/CHANGELOG.md
  sdk/compute/azure-resourcemanager-compute/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-compute for 2.56.1 patch release.
  eng/versioning/version_client.txt
  sdk/compute/azure-resourcemanager-compute/CHANGELOG.md
  sdk/compute/azure-resourcemanager-compute/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-sql to the release version 2.53.5.
  sdk/sql/azure-resourcemanager-sql/CHANGELOG.md
  sdk/sql/azure-resourcemanager-sql/README.md
  sdk/sql/azure-resourcemanager-sql/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-sql for 2.53.6 patch release.
  eng/versioning/version_client.txt
  sdk/sql/azure-resourcemanager-sql/CHANGELOG.md
  sdk/sql/azure-resourcemanager-sql/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-dns to the release version 2.53.5.
  sdk/dns/azure-resourcemanager-dns/CHANGELOG.md
  sdk/dns/azure-resourcemanager-dns/README.md
  sdk/dns/azure-resourcemanager-dns/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-dns for 2.53.6 patch release.
  eng/versioning/version_client.txt
  sdk/dns/azure-resourcemanager-dns/CHANGELOG.md
  sdk/dns/azure-resourcemanager-dns/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-appservice to the release version 2.54.1.
  sdk/appservice/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/appservice/azure-resourcemanager-appservice/README.md
  sdk/appservice/azure-resourcemanager-appservice/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-appservice for 2.54.2 patch release.
  eng/versioning/version_client.txt
  sdk/appservice/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/appservice/azure-resourcemanager-appservice/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-cosmos to the release version 2.54.0.
  sdk/cosmos/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/cosmos/azure-resourcemanager-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml

Prepare azure-resourcemanager-cosmos for 2.54.1 patch release.
  eng/versioning/version_client.txt
  sdk/cosmos/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/cosmos/azure-resourcemanager-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-resourcemanager-containerservice to the release version 2.57.0.
  sdk/containerservice/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/containerservice/azure-resourcemanager-containerservice/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-containerservice for 2.57.1 patch release.
  eng/versioning/version_client.txt
  sdk/containerservice/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/containerservice/azure-resourcemanager-containerservice/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-eventhubs to the release version 2.53.5.
  sdk/eventhubs/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-resourcemanager-eventhubs/README.md
  sdk/eventhubs/azure-resourcemanager-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-eventhubs for 2.53.6 patch release.
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-resourcemanager-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-monitor for 2.53.6 patch release.
  eng/versioning/version_client.txt
  sdk/monitor/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/monitor/azure-resourcemanager-monitor/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-containerregistry for 2.54.2 patch release.
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/containerregistry/azure-resourcemanager-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-resourcemanager-containerregistry/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-resourcemanager-containerinstance to the release version 2.53.6.
  sdk/containerinstance/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/containerinstance/azure-resourcemanager-containerinstance/README.md
  sdk/containerinstance/azure-resourcemanager-containerinstance/assets.json
  sdk/containerinstance/azure-resourcemanager-containerinstance/pom.xml
  sdk/containerinstance/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerGroupTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-containerinstance for 2.53.7 patch release.
  eng/versioning/version_client.txt
  sdk/containerinstance/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/containerinstance/azure-resourcemanager-containerinstance/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml
