Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml

Fixing build warnings
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/linkedin/DataLoader.java
Due: none

handling cache staleness for transactional batch
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchRequestOptions.java
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

Fix
  eng/pipelines/templates/steps/installation.check.yml
Due: eng/pipelines/mgmt.yml

Add Skip.SetTestPipelineVersion to allow overidiing of use of BuildID for test version (#23968)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Due: eng/pipelines/mgmt.yml

Add change log for 1.21.0-beta.1 (#23974)
  sdk/core/azure-core/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fixing test regression due to not being able to increase max batch size
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/linkedin/DataLoader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholdsTest.java
Due: none

Issue template: Remove verbose flag for dependency tree
  .github/ISSUE_TEMPLATE/bug_report.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update change log on release day
  sdk/core/azure-core/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-analytics-synapse-managedprivateendpoints
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/pom.xml
  sdk/synapse/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml

Fix versioning comment tag
  sdk/core/azure-core/pom.xml
Due: none

Add log line for ShouldPublish in Publish-MavenPackages.ps1
  eng/scripts/Publish-MavenPackages.ps1
Due: eng/pipelines/mgmt.yml

JsonIgnore ClientLogger
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SentimentSkill.java
Due: none

changing todo comment
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
Due: none

Fixed for search test in other cloud 20210902 (#23884)
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchSyncTests.java
  sdk/search/test-resources.json
  sdk/search/tests.yml
Due: none

Remove empty sections in change log
  sdk/core/azure-core/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Clean up unused variables
  eng/pipelines/partner-release.yml
  eng/scripts/Publish-MavenPackages.ps1
Due: eng/pipelines/mgmt.yml

JsonIgnore ClientLogger (#23981)
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SentimentSkill.java
Due: none

Recorded live tests for java sdk
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateAddRemoveHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateAddRemoveHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateJoinHangupScenarioWithConnectionStringAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateJoinHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateJoinHangupScenarioWithTokenCredentialAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreatePlayCancelHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreatePlayCancelHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateAddRemoveHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateAddRemoveHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateJoinHangupScenarioWithConnectionStringClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateJoinHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateJoinHangupScenarioWithTokenCredentialClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreatePlayCancelHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreatePlayCancelHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAddRemoveScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAddRemoveScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAllClientFunctionsForTokenCredentialClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAddRemoveScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAddRemoveScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAllClientFunctionsForConnectionStringClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAllClientFunctionsForTokenCredentialClient[1].json
Due: none

Remove individual task timeouts
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
Due: eng/pipelines/mgmt.yml

Update Rev APi config with azure-core api addition (#23979)
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml

Prepare azure-search-documents for September Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-core
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment version for core releases (#23984)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Updating release date
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Prepare azure-search-documents for September Beta Release (#23983)
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Due: eng/pipelines/link-verification.yml

Update release date (#23971)
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Increment version for synapse releases (#23978)
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/pom.xml
  sdk/synapse/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository
  eng/common/docgeneration/templates/matthews/partials/head.tmpl.partial
Due: eng/pipelines/mgmt.yml

Add 1.21.0-beta.1 version to version_client.txt
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-sdk-template
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/pom.xml
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
  sdk/template/azure-template-perf/pom.xml
  sdk/template/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml
