Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

Include only hand-written code in Jacoco test coverage calculation (#18596)
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Due: none

remove shaded packages from source jar (#18592)
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
Due: none

Starting with new methods
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/RowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
Due: none

correct dumbapp class name
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/multitenant/AADMultipleTenantIT.java
Due: none

Use conditional logic to set TestPipeline to true (#18573)
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/template/ci.yml
Due: eng/pipelines/mgmt.yml

change the application and add picture
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/application-register.png
Due: eng/pipelines/link-verification.yml

nothing changed,just format code
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/README.md
Due: eng/pipelines/link-verification.yml

Enabled 1ES pools for live tests.
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Due: eng/pipelines/mgmt.yml

Tweak Cosmos test matrix.
  sdk/cosmos/tests.yml
Due: none

Tweak tables test matrix.
  sdk/tables/tests.yml
Due: none

Initial commit
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationIdentityAsyncClient.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/implementation/CommunicationIdentityClientImpl.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/implementation/CommunicationIdentityClientImplBuilder.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/implementation/CommunicationIdentityImpl.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/implementation/package-info.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/models/CommunicationIdentityAccessToken.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/models/CommunicationIdentityAccessTokenRequest.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/models/CommunicationIdentityAccessTokenResult.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/models/CommunicationIdentityCreateRequest.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/models/CommunicationIdentityTokenScope.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/models/package-info.java
  sdk/communication/azure-communication-administration/swagger/README.md
Due: eng/pipelines/link-verification.yml

Fix integration test.
  sdk/cosmos/tests.yml
Due: none

mgmt, update lite generator
  eng/mgmt/automation/parameters.py
Due: eng/pipelines/mgmt.yml

Completing administration client APIs
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationIdentityAsyncClient.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationIdentityClient.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationIdentityClientBuilder.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationUserToken.java
  sdk/communication/azure-communication-administration/src/samples/java/com/azure/communication/administration/ReadmeSamples.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityAsyncTests.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityBuilderTests.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityTests.java
Due: none

Rename identity to user
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationIdentityAsyncClient.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/CommunicationIdentityClient.java
Due: none

Update AAD integration tests and B2C integration tests.
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CIT.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/access/token/scopes/AADAccessTokenScopesIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/logout/AADLogoutIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/role/AADRoleIT.java
  sdk/spring/azure-spring-boot-test-selenium-common/src/main/java/com/azure/test/aad/common/SeleniumITHelper.java
Due: none

mgmt, update lite generator (#18605)
  eng/mgmt/automation/parameters.py
Due: eng/pipelines/mgmt.yml

[Automation] External Change
  eng/versioning/version_client.txt
  pom.xml
  sdk/confluent/ci.yml
  sdk/confluent/pom.xml
Due: eng/pipelines/mgmt.yml

add description picture
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/add_permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/add_tokens.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/create_secret.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/grant_admin_consent.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/secret_value.png
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-opentelemetry-exporter-azuremonitor
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/CHANGELOG.md
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
  sdk/monitor/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

add log info
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/multitenant/AADMultipleTenantIT.java
Due: none

Put all environment variables into EnvironmentVariable.java
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/group/count/AADGroupsCountIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/stateful/AADAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/stateless/AADAppRoleStatelessAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server/src/test/java/com/azure/test/aad/resource/server/AADWeiResourceServerIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/Constant.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/EnvironmentVariable.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/aad/AADWebApiITHelper.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/aad/EnvironmentVariables.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/management/Access.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/management/ClientSecretAccess.java
  sdk/spring/azure-spring-boot-test-core/src/test/java/com/azure/spring/test/aad/ropc/AADOauth2ROPCGrantClientIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/ActuatorIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/KeyVaultIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/MultipleKeyVaultsIT.java
Due: none

update default client id for aad webapp IT
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/multitenant/AADMultipleTenantIT.java
Due: none

Increment package version after release of com.azure azure-opentelemetry-exporter-azuremonitor (#18608)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/CHANGELOG.md
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
  sdk/monitor/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-confluent
  eng/versioning/version_client.txt
  sdk/confluent/azure-resourcemanager-confluent/CHANGELOG.md
  sdk/confluent/azure-resourcemanager-confluent/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update README.md
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/README.md
Due: eng/pipelines/link-verification.yml

Put all environment variables into EnvironmentVariable.java (#18609)
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/group/count/AADGroupsCountIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/stateful/AADAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/stateless/AADAppRoleStatelessAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server/src/test/java/com/azure/test/aad/resource/server/AADWeiResourceServerIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/Constant.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/EnvironmentVariable.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/aad/AADWebApiITHelper.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/aad/EnvironmentVariables.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/management/Access.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/management/ClientSecretAccess.java
  sdk/spring/azure-spring-boot-test-core/src/test/java/com/azure/spring/test/aad/ropc/AADOauth2ROPCGrantClientIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/ActuatorIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/KeyVaultIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/MultipleKeyVaultsIT.java
Due: none

sample
  sdk/mysql/azure-resourcemanager-mysql/CHANGELOG.md
  sdk/mysql/azure-resourcemanager-mysql/README.md
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/MySqlManager.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/fluent/ServerSecurityAlertPoliciesClient.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/implementation/DatabasesClientImpl.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/implementation/FirewallRulesClientImpl.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/implementation/ServerAdministratorsClientImpl.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/implementation/ServerImpl.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/implementation/ServerSecurityAlertPoliciesClientImpl.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/implementation/ServerSecurityAlertPoliciesImpl.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/implementation/ServersClientImpl.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/models/Server.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/models/ServerForCreate.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/models/ServerSecurityAlertPolicies.java
  sdk/mysql/azure-resourcemanager-mysql/src/main/java/com/azure/resourcemanager/mysql/models/ServerSecurityAlertPolicyListResult.java
Due: eng/pipelines/link-verification.yml

add change log tools
  eng/mgmt/changelog/pom.xml
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/Main.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/changelog/ChangeLog.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/changelog/DefinitionStageChangeLog.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/AllMethods.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/ClassName.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/MethodName.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/Namespaces.java
Due: eng/pipelines/mgmt.yml

add change log in generation
  eng/mgmt/automation/generate.py
  eng/mgmt/automation/parameters.py
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-confluent (#18610)
  eng/versioning/version_client.txt
  sdk/confluent/azure-resourcemanager-confluent/CHANGELOG.md
  sdk/confluent/azure-resourcemanager-confluent/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update pom.xml
  sdk/spring/pom.xml
Due: none

Update code style.
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CIT.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/utils/AADB2CTestUtils.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
Due: none

Actually adding public APIs for queryChangeFeed
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ChangeFeedQueryImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/ChangeFeedStateV1.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeTransformer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/Paginator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ChangeFeedPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosChangeFeedRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/FeedRange.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java
Due: none

Adding seperate CI for multi region and single master
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SessionNotAvailableRetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/resources/multi-region-testng.xml
  sdk/cosmos/tests.yml
Due: none

post-rebase fixes
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatThreadAsyncClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImpl.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadClientTest.java
Due: none

Fixing merge conflicts
  sdk/eventhubs/azure-messaging-eventhubs/migration-guide.md
Due: eng/pipelines/link-verification.yml
