Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

Updated CHANGELOG.
  sdk/tables/azure-data-tables/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Removed dependency on Azure Storage Common. (#21384)
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/BuilderHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableAzureNamedKeyCredentialPolicy.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableBatch.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableClientBuilder.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableScrubEtagPolicy.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceClientBuilder.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/AzureTableImplBuilder.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/ConnectionSettings.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/ConnectionSettingsFilter.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/CosmosPatchTransformPolicy.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/SasProtocol.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/StorageAuthenticationSettings.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/StorageConnectionString.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/StorageConstants.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/StorageEmulatorConnectionString.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/StorageEndpoint.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/StorageServiceConnectionString.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableUtils.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TablesImpl.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TablesMultipartSerializer.java
  sdk/tables/azure-data-tables/src/main/java/module-info.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TestUtils.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/implementation/AzureTableImplTest.java
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-botservice (#21430)
  eng/versioning/version_client.txt
  sdk/botservice/azure-resourcemanager-botservice/CHANGELOG.md
  sdk/botservice/azure-resourcemanager-botservice/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Updated CHANGELOG with more info on KV Administration.
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fixed broken links in the Tables' Samples README.
  sdk/tables/azure-data-tables/src/samples/README.md
Due: eng/pipelines/link-verification.yml

manual fix
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/CloudServicesUpdateDomainsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineIdentity.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineScaleSetIdentity.java
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-security-keyvault-certificates
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-messaging-servicebus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-keyvault-keys
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-keyvault-secrets
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Scheme does not include ://
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobUrlParts.java
Due: none

Splits are taking longer somehow! So increasing the timeout for QueryValidationTests::splitQueryContinuationToken
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
Due: none

Splits are taking longer somehow! So increasing the timeout for readFeedDocumentsAfterSplit()
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ChangeFeedProcessorTest.java
Due: none

- update change log by adding some description
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

- update change log by adding a new line
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

- update change log
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update py script to support project identifier based on relative path.
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/steps/generate-project-list.yml
  eng/scripts/generate_from_source_pom.py
Due: eng/pipelines/mgmt.yml

use password() method
  sdk/resourcemanager/azure-resourcemanager-authorization/src/test/java/com/azure/resourcemanager/authorization/GroupsTests.java
  sdk/resourcemanager/azure-resourcemanager-authorization/src/test/java/com/azure/resourcemanager/authorization/UsersTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineBootDiagnosticsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineCustomImageOperationsTest.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineExtensionOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineRelatedResourcesDeletionTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetBootDiagnosticsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetEMSILMSIOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetManagedDiskOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/VaultTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/authorization/samples/ManageUsersGroupsAndRoles.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/network/samples/ManageNetworkWatcher.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/storage/samples/ManageStorageAccountNetworkRules.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/ApplicationGatewayTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/AzureResourceManagerTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestLoadBalancer.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestNetworkWatcher.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestVirtualMachineInAvailabilitySet.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestVirtualMachineNics.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestVirtualMachineSsh.java
Due: none

fix test
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineExtensionOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineExtensionOperationsTests.canInstallUninstallCustomExtension.json
Due: none

add tests for certificateInfo
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultCertificateInfoTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java
Due: none

Fixed broken links in the Tables' Samples README. (#21436)
  sdk/tables/azure-data-tables/src/samples/README.md
Due: eng/pipelines/link-verification.yml

Bumped Key Vault versions.
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Due: eng/pipelines/mgmt.yml

Increment version for keyvault releases (#21481)
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix record
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/ApplicationGatewayTests.testAppGatewayBackendHealthCheck.json
Due: none

Increment package version after release of com.azure azure-data-tables
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-data-tables (#21500)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Set default value for ProjectListBak variable.
  eng/pipelines/templates/steps/generate-project-list.yml
  eng/scripts/generate_from_source_pom.py
Due: eng/pipelines/mgmt.yml

Updated Key Vault CHANGELOGs and READMEs for May 2020 beta release. (#21429)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix version mismatch
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-data-gremlin/pom.xml
  sdk/spring-2-3/azure-spring-boot-starter-data-gremlin/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-data-gremlin/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin-web-service/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/pom.xml
  sdk/spring/azure-spring-boot-starter-data-gremlin/README.md
  sdk/spring/azure-spring-boot-starter-data-gremlin/pom.xml
  sdk/spring/azure-spring-data-gremlin/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-keyvault-secrets
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-keyvault-keys
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-keyvault-certificates
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-keyvault-administration
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Make this project azure-spring-boot-starter-data-gremlin use different version in every service directory
  eng/versioning/version_client.txt
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-data-gremlin/pom.xml
  sdk/spring-2-3/azure-spring-boot-starter-data-gremlin/pom.xml
Due: eng/pipelines/mgmt.yml
