Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml

upgrade version
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update changelog date
  sdk/communication/azure-communication-chat/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

upgrade versions (#27012)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Test on discrepency
  eng/pipelines/aggregate-reports.yml
Due: eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt.yml

update codesnippet tooling
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClientBuilder.java
Due: none

Add test on v3
  eng/common/pipelines/templates/steps/credscan.yml
Due: eng/pipelines/mgmt.yml

Fix version, add Javadoc to Builder (#27006)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/CommunicationRelayClientBuilder.java
  sdk/communication/azure-communication-networktraversal/src/samples/java/com/azure/communication/networktraversal/ReadmeSamples.java
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientUsingConnectionString[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientUsingManagedIdentityWithRouteTypeAny[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientUsingManagedIdentity[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientWithoutUserIdUsingConnectionString[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientWithoutUserIdUsingManagedIdentity[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.getRelayConfigWithResponseWithRouteTypeNearest[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientUsingConnectionStringWithRouteTypeNearest[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientUsingConnectionString[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientUsingManagedIdentityWithRouteTypeAny[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientUsingManagedIdentity[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientWithoutUserIdUsingConnectionString[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientWithoutUserIdUsingManagedIdentity[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.getRelayConfigWithResponseWithRouteTypeNearest[1].json
  sdk/communication/pom.xml
Due: eng/pipelines/mgmt.yml

Update credscan.yml
  eng/common/pipelines/templates/steps/credscan.yml
Due: eng/pipelines/mgmt.yml

update codesnippet tooling
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClientBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClientBuilder.java
Due: none

fix changelog
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Introduce baseline
  eng/pipelines/aggregate-reports.yml
Due: eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt.yml

update changelog
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

update date
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

reducing coverage for jococo
  eng/jacoco-test-coverage/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/mgmt.yml

update readme header seq
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Due: eng/pipelines/link-verification.yml

sparse checkout the sdk repo (#27007)
  eng/pipelines/templates/stages/archetype-java-release.yml
Due: eng/pipelines/mgmt.yml

Cosmos DB: Databricks integration CI concurrency fix (#27002)
  sdk/cosmos/azure-cosmos-spark_3_2-12/test-databricks/databricks-jar-install.sh
Due: none

[AppConfig] Prepare AppConfig Feb minor release (#27013)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update chagnelog
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

[Form Recognizer] Fix changelog (#27016)
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update version_client.txt
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Java release on Feb (#27009)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationClientBuilder.java
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/pom.xml
  sdk/monitor/azure-monitor-query/TROUBLESHOOTING.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Updates based on review
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/OutputStreamWriteSubscriber.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/OutputStreamWriteSubscriberTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
Due: eng/pipelines/mgmt.yml

update chagnelog (#27017)
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Updated test to revert to old common behavior for patch release
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/NioBlobInputStreamTest.groovy
Due: none

Increment package version after release of com.azure azure-ai-formrecognizer
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare Patch Release Feb 2022 (#26956)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClientBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClientBuilder.java
  sdk/formrecognizer/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixing regression in TransientIOErrorsRetryingIterator possibly resulting in returning incomplete query results (#26991)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIterator.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorSpec.scala
Due: eng/pipelines/link-verification.yml

update
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
Due: eng/pipelines/mgmt.yml

update to use v2 and update baseline.
  eng/java.gdnbaselines
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/templates/jobs/ci.yml
Due: eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt.yml

Improve RNTBD config in Spark to reduce transient failures under high CPU/memory pressure
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DirectConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHealthChecker.java
Due: none

Fix tests
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/OutputStreamWriteSubscriberTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
Due: none

Creating a testing PR to check the changes
  eng/common/pipelines/templates/steps/credscan.yml
  sdk/communication/azure-communication-networktraversal/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixed spot bugs, azure-client-sdk-parent
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/mgmt.yml

Fixed the prefix of the target branch (#27019)
  eng/common/pipelines/templates/steps/credscan.yml
Due: eng/pipelines/mgmt.yml
