Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Reporting
    displayName: Generate reports (with build)
    timeoutInMinutes: 180
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    pool:
      vmImage: ubuntu-20.04
    steps:
    - template: /eng/pipelines/templates/steps/cache-maven-repository.yml
      parameters:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/patch-release.yml:
  jobs:
  - job: Patching
    displayName: Generate patch (with build)
    timeoutInMinutes: 180
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    pool:
      vmImage: ubuntu-20.04
    steps:
    - template: /eng/pipelines/templates/steps/cache-maven-repository.yml
      parameters:
  ...

unify description to Azure Event Hubs
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/eventhubs/TestAzureEventHubsCommonProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/eventhubs/TestAzureEventHubsConsumerProperties.java
Due: none

unify description to Azure Event Hubs
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureBlobCheckpointStoreConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsPropertiesTestConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureEventHubsResourceManagerAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusPropertiesTestConfiguration.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/eventhubs/EventHubsClientBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/eventhubs/TestAzureEventHubsCommonProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/eventhubs/TestAzureEventHubsConsumerProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/eventhubs/TestAzureEventHubsProperties.java
Due: none

refactor fields, methods names
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureBlobCheckpointStoreConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsClientBuilderConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsConsumerClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsProcessorClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsProducerClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/kafka/AzureEventHubsKafkaAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureEventHubsResourceManagerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/context/AzureGlobalConfigurationEnvironmentPostProcessorTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureBlobCheckpointStoreConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/eventhubs/factory/EventHubClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/config/EventHubsBinderConfiguration.java
Due: none

codegen to generate samples and move to azure-resourcemanager
  sdk/resourcemanager/gulpfile.js
Due: none

refactor fields, methods names
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureEventHubsResourceManagerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsProcessorContainerConfigurationTest.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/provisioning/EventHubsChannelResourceManagerProvisioner.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/provisioning/EventHubsProducerDestination.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/config/EventHubsBinderConfiguration.java
Due: none

Add auto-configuration classes in spring.factories. (#25403)
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
Due: none

merge Spring Cloud Azure Starter README into sdk/spring/README.md
  sdk/spring/README.md
  sdk/spring/Spring-Cloud-Azure-Starter-README.md
Due: eng/pipelines/link-verification.yml

clean sample target folder
  sdk/resourcemanager/gulpfile.js
Due: none

address comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCacheTest.java
Due: none

Use ObjectProvider to get the thread pool executor
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureDefaultTokenCredentialAutoConfiguration.java
Due: none

nit
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCacheTest.java
Due: none

Fix pipeline failures
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureDefaultTokenCredentialAutoConfiguration.java
Due: none

fix NullPointerException in listing VMScaleSets and VMs of VMScaleSet #25231
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineScaleSetImpl.java
Due: none

fix the logic of isValidURL()
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/b2c/AADB2CProperties.java
Due: none

more changes
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GlobalAddressResolver.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCacheTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/GlobalAddressResolverTest.java
Due: none

nit
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
Due: none

Use sanitized message in logs
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/LoggingUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/logging/ClientLoggerTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/logging/LoggingUtilsTests.java
Due: none

remove validation
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/b2c/AADB2CURL.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/properties/AzureServiceBusJmsProperties.java
Due: none

Change azure active directory related property from "azure.activedirectory.*" to "spring.cloud.azure.active-directory.*"
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/AADClientRegistrationRepository.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/webapi/AADResourceServerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/webapi/AADResourceServerProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/webapp/AADWebApplicationConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/b2c/AADB2CConditions.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/b2c/AADB2CProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/condition/aad/ClientRegistrationCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/condition/aad/ResourceServerCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/condition/aad/WebApplicationCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/AADClientRegistrationRepositoryTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/AADOAuth2ClientConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/WebApplicationContextRunnerUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/webapi/AADResourceServerPropertiesTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/webapp/AADAccessTokenGroupRolesExtractionTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverterTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/aad/AADAuthenticationFilterPropertiesTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/aad/AADAuthenticationFilterTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/aad/AADAuthenticationPropertiesTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/aad/ResourceRetrieverTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/condition/aad/ClientRegistrationConditionTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/condition/aad/ResourceServerConditionTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/active/directory/implementation/autoconfigure/condition/aad/WebApplicationConditionTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/resources/aad-backend-oauth2-minimum.properties
Due: none

Reduce the polling interval for standard sessions to 2s (#25404)
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClient.java
Due: eng/pipelines/link-verification.yml

Fix conflict error
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/src/main/java/com/azure/spring/cloud/actuate/autoconfigure/eventhubs/EventHubsHealthConfiguration.java
Due: none

Version bump after azure-cosmos-spark release 4.2.2 (#25425)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

port back auto-configuration for eh kafka and azure cache for redis
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsClientBuilderConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/kafka/AzureEventHubsKafkaAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/AzureRedisAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/AzureRedisProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/cache/AzureRedisAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsClientBuilderConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsConsumerClientConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsKafkaAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsProcessorContainerConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsProducerClientConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsTemplateConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/EventHubsTestUtils.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/factory/AbstractAzureHttpClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/eventhubs/core/producer/DefaultEventHubsNamespaceProducerFactory.java
Due: none

Fix patch bug (#25266)
  eng/scripts/Generate-Patch.ps1
Due: eng/pipelines/mgmt.yml

Increment version for core releases (#25423)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Adding region name in region contacted api
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SessionNotAvailableRetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/TestUtils.java
Due: none

Prefix matrix generation service directory sparse checkout with 'sdk' (#25416)
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Due: eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml
