Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  stages:
  - stage: LatestJdk
    displayName: Latest JDK
    jobs:
    - job: RunLatestJdk
      displayName: Run Latest JDK
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

add add
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatRetentionPolicy.java
Due: none

add +
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/AttachmentType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatAttachment.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationIdentifierModelKind.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/Kind.java
Due: none

Resolving comments
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/HttpTimeoutPolicyTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicyControlPlaneHotPath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicyControlPlaneRead.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicyDefault.java
Due: none

fix
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatThreadItem.java
Due: none

fix
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/converters/RetentionPolicyConverter.java
Due: none

API review code changes for Diagnostics Logging (#34366)
  eng/CredScanSuppression.json
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsLoggerConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsThresholds.java
  sdk/cosmos/azure-cosmos/src/test/resources/client.jks
  sdk/cosmos/azure-cosmos/src/test/resources/server.jks
Due: eng/pipelines/mgmt.yml

Increment package versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Form Recognizer: Enable live tests with native image (#34308)
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/tests.native.yml
Due: none

improve test on connection recovery
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/ClientTests.java
Due: none

add test on RECONNECT when WebPubSubJsonProtocol
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/ClientTests.java
Due: none

fix API not available in java8
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/ClientTests.java
Due: none

Package Deprecation Documentation (#34312)
  doc/deprecation_process.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/AddressValue.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/AddressValue.java
Due: none

Increment package versions for cosmos releases (#34369)
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixing
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/src/main/java/com/azure/spring/cloud/actuator/autoconfigure/implementation/appconfiguration/AppConfigurationConfigHealthConfiguration.java
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-actuator/src/main/java/com/azure/spring/cloud/actuator/implementation/appconfiguration/AppConfigurationConfigHealthIndicator.java
Due: none

Remove transitive module usage
  sdk/core/azure-core/src/main/java/module-info.java
Due: none

PR feedback updates
  sdk/core/azure-json/README.md
  sdk/core/azure-json/src/main/java/com/azure/json/JsonOptions.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonProviders.java
  sdk/core/azure-json/src/main/java/com/azure/json/package-info.java
Due: eng/pipelines/link-verification.yml

Also update azure-core-serializer-json-jackson
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/src/main/java/module-info.java
Due: none

Change initialization of test proxy for multi-threaded scenarios. (#34033)
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestProxyExtensions.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestProxyTestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyPlaybackClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyDownloader.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
Due: eng/pipelines/mgmt.yml

[Form Recognizer] Add misc properties on models (#34363)
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/DocumentModelDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/DocumentModelSummary.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/QuotaDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/ResourceDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/documentanalysis/models/DocumentAnalysisFeature.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/documentanalysis/models/package-info.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/AddressValueHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/CurrencyValueHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentKeyValuePairHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentModelDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentModelSummaryHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentStyleHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/QuotaDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/ResourceDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/AddressValue.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/CurrencyValue.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentAnalysisFeature.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentFieldType.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentKeyValuePair.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentStyle.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/FontStyle.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/FontWeight.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/ParagraphRole.java
Due: eng/pipelines/link-verification.yml

Azure JSON Documentation Updates (#34324)
  sdk/core/azure-json/README.md
  sdk/core/azure-json/src/main/java/com/azure/json/JsonOptions.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonProvider.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonProviders.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonReader.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonSerializable.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonToken.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonWriteContext.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonWriteState.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonWriter.java
  sdk/core/azure-json/src/main/java/com/azure/json/ReadValueCallback.java
  sdk/core/azure-json/src/main/java/com/azure/json/WriteValueCallback.java
  sdk/core/azure-json/src/main/java/com/azure/json/package-info.java
  sdk/core/azure-json/src/samples/README.md
  sdk/core/azure-json/src/samples/java/com/azure/json/AdditionalPropertiesJsonSerializable.java
  sdk/core/azure-json/src/samples/java/com/azure/json/BasicJsonSerializable.java
  sdk/core/azure-json/src/samples/java/com/azure/json/FlattenedPropertiesJsonSerializable.java
  sdk/core/azure-json/src/samples/java/com/azure/json/JsonSerializableSamples.java
  sdk/core/azure-json/src/samples/java/com/azure/json/RequiredPropertiesJsonSerializable.java
  sdk/core/azure-json/src/samples/java/com/azure/json/codesnippets/ComputerMemory.java
  sdk/core/azure-json/src/samples/java/com/azure/json/codesnippets/ComputerProcessor.java
  sdk/core/azure-json/src/samples/java/com/azure/json/codesnippets/ReadingJsonExamples.java
  sdk/core/azure-json/src/samples/java/com/azure/json/codesnippets/VmStatistics.java
  sdk/core/azure-json/src/samples/java/com/azure/json/codesnippets/WritingJsonExamples.java
Due: eng/pipelines/link-verification.yml

apply swagger transform
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentPage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentPageHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentAnnotation.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentAnnotationKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentBarcode.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentFormula.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentFormulaKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentImage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentPage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentPageKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update azure-json README and docs
  sdk/core/azure-json/README.md
  sdk/core/azure-json/src/main/java/com/azure/json/JsonProviders.java
Due: eng/pipelines/link-verification.yml

apply autorest changes
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/AnalyzeResult.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/Document.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentBarcode.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentImage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentKeyValueElement.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentLanguage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentLine.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentPage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentPageKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentParagraph.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentSelectionMark.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentSignatureType.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentSpan.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentStyle.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentTable.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentTableCell.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentTableCellKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentWord.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/FontStyle.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/FontWeight.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentPageHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentBarcode.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentBarcodeKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentFormula.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentImage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentLanguage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentPage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentSignatureType.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentSpan.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentTableCellKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/module-info.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Due: eng/pipelines/link-verification.yml

transform changes
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/AnalyzeResult.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/Document.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentAnnotation.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentBarcode.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentBarcodeKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentFormula.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentImage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentKeyValueElement.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentLanguage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentLine.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentPage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentParagraph.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentSpan.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentStyle.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentTable.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentTableCell.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentWord.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentLanguage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentSpan.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Due: eng/pipelines/link-verification.yml

add helper methods
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentAnnotationHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentBarcodeHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentFormulaHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentImageHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentAnnotation.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentBarcode.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentFormula.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentImage.java
Due: eng/pipelines/link-verification.yml

add checkstyle
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentSignatureType.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentTableCellKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Due: eng/pipelines/link-verification.yml

checkstyle
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
Due: none

Update Core to use Azure Json (#34357)
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonAdapter.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/module-info.java
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionSerializable.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/AsyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ReflectionSerializableTests.java
Due: eng/pipelines/link-verification.yml

Make sure versions are correct
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core/pom.xml
Due: none

Fix CSpell complaint
  sdk/search/test-resources.json
Due: none

Don't install the proxy in CI
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Due: none

Update azure-sdk-build-tools Repository Resource Refs in Yaml files (#34367)
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: eng/pipelines/mgmt.yml

don't set a working directory.
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Due: none

Fix Javadocs and CHANGELOG
  sdk/core/azure-core/CHANGELOG.md
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/link-verification.yml

Update Azure JSON CHANGELOG
  sdk/core/azure-json/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Include Long-Running Tests in Thread Dump
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/ThreadDumper.java
Due: none

fix MI logic.
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
