Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Improving java docs by providing additional info and small usage samples
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
Due: none

Use test registry in npmrc for alpha packages (#35199)
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Due: eng/pipelines/mgmt.yml

update eventhub perf
  sdk/eventhubs/azure-messaging-eventhubs/perf-resources.bicep
  sdk/eventhubs/azure-messaging-eventhubs/perf-tests.yml
  sdk/eventhubs/azure-messaging-eventhubs/perf.yml
Due: none

Moved assertion method into the while condition for better Flux interrupt if there is an error
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
Due: none

STG88 Beta release (#35204)
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Due: eng/pipelines/link-verification.yml

update versions
  sdk/storage/azure-storage-blob/perf-tests.yml
Due: none

Using array instead of lists
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
Due: none

Removed last 2 usages of toList and one style check compliance failure
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
Due: none

Increment package versions for storage releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Ignore HTTP fault injector tests on macOS
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HttpFaultInjectingTests.groovy
Due: eng/pipelines/mgmt.yml

Re-enable usage of HttpResponse.writeBodyTo
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadAsyncResponse.java
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/mgmt.yml

Typo fix in the docs
  sdk/cosmos/README.md
  sdk/cosmos/azure-cosmos-benchmark/README.md
  sdk/cosmos/azure-cosmos-dotnet-benchmark/README.md
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-examples/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos/README.md
Due: eng/pipelines/link-verification.yml

Increment package versions for storage releases (#35208)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

add more
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AbstractiveSummarization.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AbstractiveSummarizationAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
Due: eng/pipelines/link-verification.yml

Replaced Base64 from codec with java.util.Base64
  sdk/batch/azure-compute-batch/pom.xml
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/auth/BatchSharedKeyCredentialsPolicy.java
Due: none

comment out a azure-spring-data-cosmos test
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/converter/MappingCosmosConverterUnitTest.java
Due: none

Increment package versions for databox releases (#35111)
  eng/versioning/version_client.txt
  sdk/databox/azure-resourcemanager-databox/CHANGELOG.md
  sdk/databox/azure-resourcemanager-databox/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

mgmt, local generation for cosmos (Preview)
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Increment package versions for elastic releases (#35113)
  eng/versioning/version_client.txt
  sdk/elastic/azure-resourcemanager-elastic/CHANGELOG.md
  sdk/elastic/azure-resourcemanager-elastic/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

mgmt, local generation for cosmos (Preview)
  sdk/resourcemanager/api-specs.json
Due: none

Updated changelog to describe new import job feature
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Typo fix in the docs (#35210)
  sdk/cosmos/README.md
  sdk/cosmos/azure-cosmos-benchmark/README.md
  sdk/cosmos/azure-cosmos-dotnet-benchmark/README.md
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-examples/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos/README.md
Due: eng/pipelines/link-verification.yml

update compatibility for 3.1.x
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureSpringBootVersionVerifier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/ClassNameResolverPredicate.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/properties/AzureCompatibilityVerifierProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/ClassNameResolverPredicateTest.java
Due: none

update redis
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/redis/AzureRedisAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/redis/AzureRedisAutoConfigurationTests.java
Due: none

fix pom version
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/pom.xml
Due: none

Increment package versions for resourcemanager releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Address NullPointerException in CosmosDataItemSource ctor (#35201)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosItemsDataSource.scala
Due: eng/pipelines/link-verification.yml

update cspell
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

fix pom err
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/pom.xml
Due: none

Sync eng/common directory with azure-sdk-tools for PR 6222 (#35212)
  eng/common/scripts/TypeSpec-Project-Process.ps1
Due: eng/pipelines/mgmt.yml

Fix version tag
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/pom.xml
Due: none
