Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Update StatusCodes.md
  sdk/cosmos/azure-cosmos/docs/StatusCodes.md
Due: eng/pipelines/link-verification.yml

Change to LoggingEventBuilder
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/LoggingEventBuilder.java
Due: none

Shade Guava BloomFilter and its dependencies.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PartitionKeyBasedBloomFilter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RegionBasedSessionTokenRegistry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/annotations/Beta.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/annotations/GwtCompatible.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/annotations/GwtIncompatible.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/annotations/VisibleForTesting.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/errorprone/annotations/CanIgnoreReturnValue.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/AbstractByteHasher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/AbstractCompositeHashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/AbstractHashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/AbstractHasher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/AbstractStreamingHasher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/BloomFilter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/BloomFilterStrategies.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/ChecksumHashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/Funnel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/Funnels.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/HashCode.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/HashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/Hasher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/Hashing.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/ImmutableSupplier.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/LongAddable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/LongAddables.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/LongAdder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/MacHashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/MessageDigestHashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/Murmur3_128HashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/Murmur3_32HashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/PrimitiveSink.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/SipHashFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/hash/Striped64.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/math/DoubleMath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/math/DoubleUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/primitives/Chars.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/primitives/Shorts.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/primitives/SignedBytes.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/primitives/UnsignedBytes.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25/primitives/UnsignedInts.java
Due: none

adding more sleeps to flakey tests that use setAccessPolicy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAsyncApiTests.java
Due: none

removing print statements
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAsyncApiTests.java
Due: none

Update and Fix Tests (#37225)
  sdk/monitor/azure-monitor-opentelemetry-exporter/assets.json
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExportersEndToEndTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorStatsbeatTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/CustomValidationPolicy.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/quickpulse/QuickPulseIntegrationTests.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/quickpulse/QuickPulseTestBase.java
Due: none

Fix Core tests
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/http/JacksonAdapterXmlSerializableTests.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/http/RestProxyXmlSerializableTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyTestServer.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
Due: none

[OpenAI] `AudioTranslationOptions` and `AudioTranscriptionOptions` new `filename` field (#37965)
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/MultipartDataHelper.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/implementation/MultipartDataHelperTest.java
Due: none

Apply suggestions from code review
  sdk/openai/azure-ai-openai/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

more sleeps after setAccessPolicy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasAsyncClientTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAsyncApiTests.java
Due: none

Replace self-closing tags with <p>
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/CreditAccountingStrategy.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/EmissionDrivenCreditAccountingStrategy.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/MessageFlux.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestDrivenCreditAccountingStrategy.java
Due: none

Remove self-closing tags.
  sdk/core/azure-core/src/main/java/com/azure/core/credential/package-info.java
Due: none

Fix tests
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchDocumentConverterTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/TestHelpers.java
Due: none

Doc with explanation of different status codes and error conditions (#37945)
  sdk/cosmos/azure-cosmos/docs/StatusCodes.md
Due: eng/pipelines/link-verification.yml

[Search-Patch-Release] Prepare for Search patch release 11.6.1 for November (#37955)
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchDocumentConverterTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/TestHelpers.java
  sdk/search/azure-search-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

[DocumentIntelligence] Documentations + Samples updates (#37854)
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnBarcodes.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnBarcodesAsync.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnFonts.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnFontsAsync.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnFormulas.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnFormulasAsync.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnHighRes.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnHighResAsync.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnKeyValuePair.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnKeyValuePairAsync.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnLanguages.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnLanguagesAsync.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnQueryFields.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeAddOnQueryFieldsAsync.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeLayoutMarkdownOutput.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/AnalyzeLayoutMarkdownOutputAsync.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/resources/sample-forms/addOns/barcodes.jpg
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/resources/sample-forms/addOns/fonts_and_languages.png
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/resources/sample-forms/addOns/formulas.pdf
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/resources/sample-forms/addOns/highres.png
Due: eng/pipelines/link-verification.yml

Run upgrade version_client.txt for service bus
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: none

Updated api-version and added DNR Changes
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/PhoneNumberAdminClientImpl.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/PhoneNumbersImpl.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/AvailablePhoneNumber.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/Error.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/Paths16Yq815AvailablephonenumbersReservationsReservationidPutRequestbodyContentApplicationJsonSchema.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumbersBrowseRequest.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumbersBrowseResult.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumbersReservation.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumbersReservationPurchaseRequest.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumbersReservations.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumbersStartPurchaseHeaders.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumbersStartPurchaseResponse.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/ReservationStatus.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/PhoneNumberOperationType.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/SyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
Due: eng/pipelines/link-verification.yml

Running prepare release script (#37959)
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for search releases
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Run upgrade version_client.txt for eventhub
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Due: none

Run upgrade version_client.txt and update CHANGELOG.md (#37960)
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for eventhubs releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for servicebus releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Due: eng/pipelines/mgmt.yml

Upgrade versions after released
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

enhance cosmos aad token validation
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/AadAuthorizationTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

Upgrade versions after released (#37976)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

upgrade version for BOM
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Due: eng/pipelines/link-verification.yml

upgrade version for BOM (#37980)
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Due: eng/pipelines/link-verification.yml

Update sdk/boms/azure-sdk-bom/pom.xml
  sdk/boms/azure-sdk-bom/pom.xml
Due: none

Update emitter-package.json
  eng/emitter-package.json
Due: eng/pipelines/mgmt.yml

tsp, update tsp-location of EASM to point to the commit ID which includes client.tsp (#37962)
  sdk/easm/azure-analytics-defender-easm/tsp-location.yaml
Due: none

upgrade version for BOM (#37980) (#37981)
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Due: eng/pipelines/link-verification.yml
