Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

Broaden sdk-release skill trigger phrases
  .github/skills/azsdk-common-sdk-release/SKILL.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Mirror .github/skills after patch conflict
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-generate-sdk-pipeline/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix azure-identity-broker CI: build azure-core from source for PopTokenAuthenticationPolicy
  eng/versioning/version_client.txt
  sdk/identity/azure-identity/pom.xml
  sdk/identity/ci.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Remove redundant same-package import of AccessTokenCache in TokenCacheTests
  sdk/core/azure-core/src/test/java/com/azure/core/credential/TokenCacheTests.java
Due: eng/pipelines/pullrequest.yml

Update azure-identity-perf to use unreleased azure-core 1.59.0-beta.1
  sdk/identity/azure-identity-perf/pom.xml
Due: eng/pipelines/pullrequest.yml

Fix Spotless formatting violations in AccessTokenCache
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AccessTokenCache.java
Due: eng/pipelines/pullrequest.yml

docs: Fix malformed @see usage-note tags in async processor builders
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Fix Checkstyle linting violations in AccessTokenCache and snippets
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AccessTokenCache.java
  sdk/core/azure-core/src/samples/java/com/azure/core/credential/AccessTokenCacheJavadocCodeSnippets.java
Due: eng/pipelines/pullrequest.yml

Fix compilation error: narrow Throwable catch to RuntimeException in retrieveTokenSync
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AccessTokenCache.java
Due: eng/pipelines/pullrequest.yml

Catch Throwable in retrieveTokenSync, wrap non-RuntimeException before rethrowing
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AccessTokenCache.java
Due: eng/pipelines/pullrequest.yml

Fix codesnippet: escape URL slashes in accessTokenCache Javadoc snippet
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AccessTokenCache.java
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/voicelive/azure-ai-voicelive/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 16402
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/scripts/eval/collect-stimuli.ts
  eng/common/scripts/eval/init-eval-git-fixtures.ts
  eng/common/scripts/eval/lib/glob.ts
  eng/common/scripts/eval/test/collect-stimuli.test.ts
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.ts
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update CHANGELOG with new features and bug fixes
  sdk/voicelive/azure-ai-voicelive/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

docs(eventhubs): reword changelog entry for single-event send
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

feat(eventhubs): add single-event send to producer clients
  eng/lintingconfigs/revapi/track2/revapi.json
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubsJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

regen projects
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaDatasetsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaDatasetsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaEvaluationTaxonomiesAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaEvaluationTaxonomiesClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaEvaluatorsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaEvaluatorsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaModelsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaModelsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaSkillsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaSkillsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/DatasetsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/DatasetsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/DeploymentsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/DeploymentsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/BetaDatasetsImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/BetaEvaluationTaxonomiesImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/BetaEvaluatorsImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/BetaModelsImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/BetaSkillsImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/DatasetsImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/DeploymentsImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/OperationLocationPollingStrategy.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/PollingUtils.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/SyncOperationLocationPollingStrategy.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/EvaluatorGenerationJob.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/EvaluatorVersion.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/GenerationWarningType.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/RubricGenerationInputQualityWarning.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/RubricGenerationInputQualityWarningCode.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/RubricGenerationInputQualityWarningSeverity.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/RubricGenerationInputQualityWarningSource.java
  sdk/ai/azure-ai-projects/src/main/resources/META-INF/azure-ai-projects_metadata.json
  sdk/ai/azure-ai-projects/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

regen agents
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/BetaAgentsAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/BetaAgentsClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/ToolboxesAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/ToolboxesClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/AgentsImpl.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/BetaAgentsImpl.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/ToolboxesImpl.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/AgentIdentity.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/AgentIdentityStatus.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/AzureCreateResponseOptions.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/AzureUserSecurityContext.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/OptimizationOptions.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/Tool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/ToolSearchToolboxTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/ToolType.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/ToolboxTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/ToolboxToolType.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/WebIqPreviewTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/WebIqPreviewToolboxTool.java
  sdk/ai/azure-ai-agents/src/main/resources/META-INF/azure-ai-agents_metadata.json
  sdk/ai/azure-ai-agents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

fix compilation
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/IotHubResourcesTestAllRoutesWithResponseMockTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/IotHubResourcesTestRouteWithResponseMockTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/RoutingTwinPropertiesTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/RoutingTwinTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/TestAllRoutesInputTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/TestRouteInputTests.java
Due: eng/pipelines/pullrequest.yml

Push sync-emitter automation branch directly to Azure org
  eng/pipelines/post-publish-emitter.yaml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update the property name
  eng/scripts/Automation-Sdk-GetSDKChanges.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update tsp-location commit to latest azure-rest-api-specs main for failed modules
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/tsp-location.yaml
  sdk/face/azure-ai-vision-face/tsp-location.yaml
  sdk/iothub/azure-resourcemanager-iothub/tsp-location.yaml
  sdk/quota/azure-resourcemanager-quota/tsp-location.yaml
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/tsp-location.yaml
  sdk/security/azure-resourcemanager-security/tsp-location.yaml
  sdk/storage/azure-resourcemanager-storage/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Fix quota tsp-location directory after unified-folder migration
  sdk/quota/azure-resourcemanager-quota/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 16395
  eng/common/pipelines/templates/steps/auth-dev-feed.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Revert tsp-location.yaml commit change for azure-ai-vision-face
  sdk/face/azure-ai-vision-face/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Update Spring Boot and Spring Cloud versions for the Spring compatibility tests. This commit is created by GitHub Action: https://github.com/Azure/spring-cloud-azure-tools/actions/runs/29813598533
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Fix double-join of generated folder paths and add urlopen timeout
  eng/pipelines/scripts/sync_emitter.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

[Automation] Generate SDK based on TypeSpec 0.45.8 DEV (typespec-azure 4990)
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/IotHubResourcesTestAllRoutesWithResponseMockTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/IotHubResourcesTestRouteWithResponseMockTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/RoutingTwinPropertiesTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/RoutingTwinTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/TestAllRoutesInputTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/TestRouteInputTests.java
  sdk/planetarycomputer/azure-analytics-planetarycomputer/src/main/java/com/azure/analytics/planetarycomputer/DataAsyncClient.java
  sdk/planetarycomputer/azure-analytics-planetarycomputer/src/main/java/com/azure/analytics/planetarycomputer/DataClient.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

fixing code review comments
  sdk/storage/azure-storage-queue/customization/src/main/java/QueueStorageCustomizations.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/QueuesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/ListOfSentMessage.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/PeekedMessages.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/ReceivedMessages.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/SignedIdentifiers.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/StorageError.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/StorageErrorException.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/QueueServiceStatistics.java
  sdk/storage/azure-storage-queue/src/main/resources/META-INF/azure-storage-queue_metadata.json
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueTestBase.java
  sdk/storage/azure-storage-queue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/keyvault/azure-resourcemanager-keyvault/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

[Automation] Generate SDK based on TypeSpec 0.45.8
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/IotHubResourcesTestAllRoutesWithResponseMockTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/IotHubResourcesTestRouteWithResponseMockTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/RoutingTwinPropertiesTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/RoutingTwinTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/TestAllRoutesInputTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/generated/TestRouteInputTests.java
  sdk/planetarycomputer/azure-analytics-planetarycomputer/src/main/java/com/azure/analytics/planetarycomputer/DataAsyncClient.java
  sdk/planetarycomputer/azure-analytics-planetarycomputer/src/main/java/com/azure/analytics/planetarycomputer/DataClient.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update tsp-location
  sdk/ai/azure-ai-agents/tsp-location.yaml
  sdk/ai/azure-ai-projects/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml
