Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

Fix NullPointerException in Crypto tests
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
Due: none

address comments
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageableAddressRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageableMemoRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageablePersonRepository.java
Due: none

Reupdate dependencies
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/pom.xml
  sdk/education/azure-resourcemanager-education/pom.xml
Due: none

Change singleton patterns in JacksonAdapter
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/JacksonAdapterTests.java
Due: none

Make tests public
  sdk/spring/spring-cloud-azure-trace-sleuth/src/test/java/com/azure/spring/cloud/trace/sleuth/SleuthHttpPolicyTests.java
Due: none

Enable Cspell in the Pipeline (#30903)
  .vscode/cspell.json
  eng/pipelines/templates/jobs/ci.yml
Due: eng/pipelines/mgmt.yml

add resolveauto to download
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/DownloadTransferValidationOptions.java
Due: none

Fix Spring Tracing Sleuth dependencies
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
Due: none

Edits to cspell.json
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

Remove check for Flux ByteBuffer size when buffering in BinaryData
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/BinaryDataContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FluxByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
Due: none

fix suppression warning
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Due: eng/pipelines/mgmt.yml

Fix deadlocking test
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FluxByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
Due: none

[TA] Added back the extract summary feature (#31509)
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeActionsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeActionsResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/ExtractSummaryActionResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/ExtractSummaryResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/SummarySentencePropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeActionsResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentence.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentenceCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentencesOrder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsActions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/module-info.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarization.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarizationAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionMaxSentenceCountInvalidRangeException[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionSortedByOffset[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionWithNonDefaultSentenceCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionWithSentenceCountLessThanMaxCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionMaxSentenceCountInvalidRangeException[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionSortedByOffset[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionWithNonDefaultSentenceCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionWithSentenceCountLessThanMaxCount[1].json
Due: eng/pipelines/mgmt.yml

Make external_dependency error like it is supposed to.
  eng/versioning/update_versions.py
Due: eng/pipelines/mgmt.yml

Update script to support all OSes
  eng/pipelines/templates/steps/install-latest-jdk.yml
  eng/pipelines/templates/variables/globals.yml
  eng/scripts/Install-Latest-JDK.ps1
Due: eng/pipelines/mgmt.yml

parameters -> arguments in call to PowerShell task
  eng/pipelines/templates/steps/install-latest-jdk.yml
Due: eng/pipelines/mgmt.yml

Updated KV versions in POMs.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Due: eng/pipelines/mgmt.yml

Updated KV CHANGELOGs and READMEs.
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
Due: eng/pipelines/link-verification.yml

Determine JAVA_HOME to set based on JdkFeatureVersion
  eng/scripts/Install-Latest-JDK.ps1
Due: eng/pipelines/mgmt.yml

Updated Attestation version in POM.
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/pom.xml
Due: eng/pipelines/mgmt.yml

Updated Attestation CHANGELOG and README.
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/README.md
Due: eng/pipelines/link-verification.yml

Make external_dependency error like it is supposed to. (#31531)
  eng/versioning/update_versions.py
Due: eng/pipelines/mgmt.yml

networktraversal: updated recording with the latest identity API version
  sdk/communication/azure-communication-networktraversal/src/test/java/com/azure/communication/networktraversal/CommunicationRelayClientTestBase.java
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientUsingConnectionString[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientUsingManagedIdentityWithRouteTypeAny[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientUsingManagedIdentity[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientWithoutUserIdUsingConnectionString[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.createRelayClientWithoutUserIdUsingManagedIdentity[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.getRelayConfigWithResponseWithRouteTypeNearest[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayAsyncTests.getRelayConfigWithResponseWithTtl[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientUsingConnectionStringWithRouteTypeNearest[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientUsingConnectionString[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientUsingManagedIdentityWithRouteTypeAny[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientUsingManagedIdentity[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientWithoutUserIdUsingConnectionString[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.createRelayClientWithoutUserIdUsingManagedIdentity[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.getRelayConfigWithResponseWithRouteTypeNearest[1].json
  sdk/communication/azure-communication-networktraversal/src/test/resources/session-records/CommunicationRelayTests.getRelayConfigWithResponseWithTtl[1].json
Due: none

Updated Monitor version in POMs.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/pom.xml
Due: eng/pipelines/mgmt.yml

Updated Attestation CHANGELOG and README.
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
Due: eng/pipelines/link-verification.yml

update
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
Due: none

Remove Test module-info in AppConfiguration for Plugin Override
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/module-info.java
Due: none

MR Auth: Update to 1.2.7
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/README.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

updated live test and automated live test recording sessions
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientAutomatedLiveTests.createVOIPCallAndAnswerThenHangupAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientLiveTests.createPSTNCallAndHangupTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientLiveTests.createVOIPCallAndHangupTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientLiveTests.startACallWithMultipleTargetsTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationClientLiveTests.createPSTNCallAndHangupTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationClientLiveTests.createVOIPCallAndHangupTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationClientLiveTests.startACallWithMultipleTargetsTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncAutomatedLiveTests.createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncLiveTests.removeAPSTNUserAndAcsUserFromAnOngoingCallTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncLiveTests.removeAPSTNUserFromAnOngoingCallTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncLiveTests.transferACallFromOneUserToAnotherUserTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionLiveTests.removeAPSTNUserAndAcsUserFromAnOngoingCallTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionLiveTests.removeAPSTNUserFromAnOngoingCallTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionLiveTests.transferACallFromOneUserToAnotherUserTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncAutomatedLiveTests.playMediaInACallAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncLiveTests.playMediaInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncLiveTests.recognizeDtmfInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaLiveTests.playMediaInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaLiveTests.recognizeDtmfInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAsyncLiveTests.recordingOperations[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallAndUnmixedAudioTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallUnmixedAudioAffinityTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingLiveTests.recordingOperations[1].json
Due: none

MR Auth: Update to 1.2.7 (#31538)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/README.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

remove star import
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Due: none

fix cosmos query metrics no longer logged
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/properties/AzureCosmosProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosAutoConfigurationTests.java
Due: none

updating getter setter names for retainUncommittedData value
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/DataLakeFileFlushOptions.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileAsyncClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileClientJavaDocSamples.java
Due: none

add transitTimeout check during healthCheck
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHealthChecker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
Due: none

Prepare Attestation patch release for October 2022 (#31530)
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare Key Vault patch release for October 2022 (#31529)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare monitor patch release oct 2022 (#31534)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml
