Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

[BOT RULES] Recovery Service Backup
  .github/fabricbot.json
Due: eng/pipelines/mgmt.yml

Cosmos BulkExecutor: Stopping the flush task to free up the daemon thread
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Due: none

Fix some documentation issues
  log.txt
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/BodyParam.java
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AccessToken.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/HttpResponseException.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddDatePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddHeadersFromContextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/AsyncPollResponse.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/JacksonAdapterSecurityIT.java
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/mgmt.yml

Update tests to check for connect timeout
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientProviderTests.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpAsyncClientProviderTests.java
Due: none

Fix Java 8 test compile issue
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientProviderTests.java
Due: none

[CODEOWNERS] Recovery Service Backup (#31080)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

[BOT RULES] Recovery Service Backup (#31081)
  .github/fabricbot.json
Due: eng/pipelines/mgmt.yml

all implementations
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeActionsResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/ExtractSummaryActionResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/ExtractSummaryResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/SummarySentencePropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeActionsResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentence.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentenceCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentencesOrder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsActions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/module-info.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarization.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarizationAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Due: none

Ensure HttpClientOptions is passed fully to HttpClientBuilders (#31079)
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClientBuilder.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClientProvider.java
  sdk/core/azure-core-http-jdk-httpclient/src/samples/java/com/azure/core/http/jdk/httpclient/JdkHttpClientBuilderJavaDocCodeSnippets.java
  sdk/core/azure-core-http-jdk-httpclient/src/samples/java/com/azure/core/http/jdk/httpclient/ReadmeSamples.java
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/JdkHttpClientBuilderTests.java
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/JdkHttpClientTests.java
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/RestProxyWithHttpProxyJdkHttpClientTests.java
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/RestProxyWithJdkHttpClientTests.java
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientProvider.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientProviderTests.java
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncClientProvider.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpAsyncClientProviderTests.java
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/VertxAsyncHttpClientProvider.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fix integration tests
  log.txt
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/FormParam.java
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/UnexpectedResponseExceptionTypes.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/HttpRequestException.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpAuthorization.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/MatchConditions.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/ProxyOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/RequestConditions.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/CookiePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/ExponentialBackoffOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLogDetailLevel.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelineSyncPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RequestOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/CloudEventDataFormat.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/GeoObjectType.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/MessageContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ExpandableStringEnum.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/HttpClientOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/LongRunningOperationStatus.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollerFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollingContext.java
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/mgmt.yml

use duplicate
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/implementation/VertxHttpAsyncResponse.java
Due: none

Cache unzipped latest Java directory
  eng/pipelines/templates/steps/install-latest-jdk.yml
  eng/scripts/Install-Latest-JDK.ps1
Due: eng/pipelines/mgmt.yml

review
  sdk/core/azure-core-metrics-opentelemetry/src/main/java/com/azure/core/metrics/opentelemetry/OpenTelemetryAttributes.java
  sdk/core/azure-core-metrics-opentelemetry/src/test/java/com/azure/core/metrics/opentelemetry/OpenTelemetryAttributesTests.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/MetricsHelper.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobEventProcessorClientStoreTest.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/MetricsHelperTests.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubsMetricsProvider.java
Due: none

liveTest
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationLiveTestBase.java
Due: none

updated pom file for using correct communication-common version
  sdk/communication/azure-communication-callautomation/pom.xml
Due: none

adding new sample that converts bufferedByte to BinaryData
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BufferedUploadWithKnownLengthExample.java
Due: none

revert all changes
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
Due: none

removing new overload
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobParallelUploadOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobOutputStream.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BufferedUploadWithKnownLengthExample.java
Due: none

remove overloads everywhere
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/UploadUtils.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
Due: none

revert the changes
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/implementation/VertxHttpAsyncResponse.java
Due: none

updating tests to use binary data
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
Due: none

target the newest version of the proxy that contains the record-side fix
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/mgmt.yml

Code review comments
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedTable.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ChangeFeedProcessorBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ChangeFeedPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosChangeFeedRequestOptions.java
Due: eng/pipelines/link-verification.yml

Fixing thread leak due to race condition on bulk completion between BulkWriter and BulkExecutor
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Due: none

Sync eng/common directory with azure-sdk-tools for PR 4169 (#31036)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/mgmt.yml

Remove excludes config in maven-failsafe-plugin
  sdk/spring/azure-spring-data-cosmos-test/pom.xml
Due: none

Add sparse-checkout path and remove unnecessary repository config in each spring project
  sdk/spring/compatibility-tests-job.yml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
Due: none

Test repository for spring-cloud-azure-starter
  sdk/spring/spring-cloud-azure-starter/pom.xml
Due: none

Test repository config for spring-cloud-azure-starter
  sdk/spring/spring-cloud-azure-starter/pom.xml
Due: none

When not dependent on azure-client-sdk-parent, configure spring milestone repo for spring cloud azure starter
  sdk/spring/spring-cloud-azure-starter-active-directory-b2c/pom.xml
  sdk/spring/spring-cloud-azure-starter-actuator/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-servicebus/pom.xml
Due: none

Simplifying full fidelity change feed tests
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/FullFidelityChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/FullFidelityChangeFeedTest.java
Due: none

fix npe
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/DeploymentImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/DeploymentsTests.java
Due: none

session records
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/DeploymentsTests.canBeginCreateAsync.json
Due: none

Update changelog.
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

fix test
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/DeploymentsTests.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/DeploymentsTests.canDeployVirtualNetwork.json
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/DeploymentsTests.canPostDeploymentWhatIfOnResourceGroup.json
Due: none

removing unused imports
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BufferedUploadWithKnownLengthExample.java
Due: none

fix session records
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/DeploymentsTests.canDeployVirtualNetwork.json
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/DeploymentsTests.canPostDeploymentWhatIfOnResourceGroup.json
Due: none
