Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Generate
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: windows-2019
    steps:
    - template: templates/steps/install-reporting-tools.yml
      parameters:
        Options: --batch-mode
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

servicebus core-amqp version upgrade after beta release
  sdk/core/azure-core-amqp/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fix checkstyle issues.
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
Due: none

add redirect policy to httppipeline
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorRedirectPolicy.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/ApplicationInsightsClientImplBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/policy/package-info.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorRedirectPolicyTest.java
Due: none

Stop filtering projects by ci.yml files
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/mgmt.yml

updated test records
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[2].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[3].json
Due: none

Version bump for Cosmos Spark connector (#20798)
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

multi-AD sample (#20807)
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/MultivariateSample.java
Due: none

servicebus core-amqp version upgrade after beta release (#20831)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Retain the excludePackages in package json
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml

Use utf8 charset
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[2].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[3].json
Due: none

Fixing http client spy framework for single argument http send method
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SpyClientUnderTestFactory.java
Due: none

Support multiple subscription configuration options (#20796)
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Due: eng/pipelines/mgmt.yml

fix spotbug issues
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorRedirectPolicy.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorRedirectPolicyTest.java
Due: none

working dir
  eng/pipelines/templates/steps/sparse-checkout-dynamic.yml
Due: eng/pipelines/mgmt.yml

trying again
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
Due: none

Checkstyle suppression and volatile lease id
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
Due: eng/pipelines/mgmt.yml

refactor
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/steps/initialize-environment.yml
  eng/pipelines/templates/steps/sparse-checkout-dynamic.yml
Due: eng/pipelines/mgmt.yml

condition
  eng/pipelines/templates/steps/initialize-environment.yml
Due: eng/pipelines/mgmt.yml

fixed other encode issue
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
Due: none

md
  eng/pipelines/templates/steps/initialize-environment.yml
Due: eng/pipelines/mgmt.yml

Removed line specificatino on checkstyle suppression
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Due: eng/pipelines/mgmt.yml

lease id .map() to .doOnSuccess()
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
Due: none

replace recordings
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[2].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestrestorepathspecialcharacters[3].json
Due: none

paths
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/steps/initialize-test-environment.yml
Due: eng/pipelines/mgmt.yml

Adding type on encryptionMetadata and coverting MicrosoftDataEncryptionException to CosmosException
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncClient.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/samples/java/com/azure/cosmos/EncryptionCodeSnippet.java
  sdk/cosmos/azure-cosmos-encryption/src/samples/java/com/azure/cosmos/Program.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/CosmosEncryptionClientCachesTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/implementation/EncryptionProcessorAndSettingsTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ClientEncryptionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/EncryptionKeyWrapMetadata.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosClientEncryptionKeyTest.java
Due: none

Addressed comments from review
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
Due: none

Stop filtering projects by ci.yml files (#20839)
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/mgmt.yml

correction class name of logger
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncClient.java
Due: none

ShareDirectoryClient root directory support
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRootDirectorySupport0.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRootDirectorySupport1.json
Due: none

changelog
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add error handler for FAIL_NON_SERIALIZED
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
Due: none

Fix retain runs auth.
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
Due: eng/pipelines/mgmt.yml

Emit encoded token as secret.
  eng/common/scripts/Add-RetentionLease.ps1
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools for PR 1558 (#20844)
  eng/common/pipelines/templates/steps/set-default-branch.yml
Due: eng/pipelines/mgmt.yml

BaseKindEnum generator and AggregateContext generator implementation.
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/AggregateContextGenerator.java
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/BaseKindEnumGenerator.java
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/CodeGeneratorTask.java
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/NameFormatter.java
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/ParserGeneratorStringValues.java
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/TypeGenerator.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/java/com/azure/digitaltwins/parser/tests/parsergen/AggregateContextGeneratorTests.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/java/com/azure/digitaltwins/parser/tests/parsergen/BaseKindEnumGeneratorTests.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/java/com/azure/digitaltwins/parser/tests/parsergen/MetamodelDigestTests.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/java/com/azure/digitaltwins/parser/tests/parsergen/NameFormatterTests.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/resources/AggregateContext/AggregateContextFullClass/Expected/AggregateContext.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/resources/BaseKindEnum/BaseKindEnumFull/Expected/DTEntityKind.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/resources/digest.json
Due: none

Update AggregateContextGenerator.java
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/AggregateContextGenerator.java
Due: none

Increment package version after release of com.microsoft.azure azure-servicebus
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Due: eng/pipelines/mgmt.yml

== to .equals()
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
Due: none

Implement MaterialClassCollectionGenerator
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/CodeGeneratorTask.java
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/MaterialTypeNameCollectionGenerator.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/java/com/azure/digitaltwins/parser/tests/parsergen/MaterialTypeNameCollectionGeneratorTests.java
  sdk/modelparser/azure-digitaltwins-parser/src/test/resources/MaterialTypeNameCollection/MaterialTypeNameCollection/Expected/MaterialTypeNameCollection.java
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
