Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Generate
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - task: Maven@3
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

mgmt support locks in azure-resourcemanager-resources (#18016)
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/ResourceManager.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/AuthorizationOperationsClient.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/ManagementLockClient.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/ManagementLocksClient.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/ManagementLockObjectInner.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/AuthorizationOperationsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLockClientBuilder.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLockClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLockImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLocksClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLocksImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/LockLevel.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ManagementLock.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ManagementLockListResult.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ManagementLockOwner.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ManagementLocks.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/LocksTests.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/LocksTests.canCreateLock.json
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/LocksTests.canCreateUpdateLock.json
  sdk/resourcemanager/azure-resourcemanager-samples/samples.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/resources/samples/ManageLocks.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/samples/Utils.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/ResourceSampleTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ResourceSampleTests.testManageLocks.json
  sdk/resourcemanager/azure-resourcemanager/src/main/java/com/azure/resourcemanager/AzureResourceManager.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/AzureResourceManagerTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestUtils.java
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/AzureResourceManagerTests.testManagementLocks.json
Due: eng/pipelines/link-verification.yml

merge data frame config with spark application config
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosItemsDataSource.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTable.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriterBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EConfigResolutionSpec.scala
Due: none

cleanup in the test
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EConfigResolutionSpec.scala
Due: none

update api spec for search
  sdk/resourcemanager/api-specs.json
Due: none

generate code for search
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/AdminKeysClient.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/OperationsClient.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/QueryKeysClient.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/SearchManagementClient.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/ServicesClient.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/models/AdminKeyResultInner.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/models/CheckNameAvailabilityOutputInner.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/models/OperationInner.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/models/QueryKeyInner.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/models/SearchServiceInner.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/models/package-info.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/package-info.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/implementation/AdminKeysClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/implementation/OperationsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/implementation/QueryKeysClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/implementation/SearchManagementClientBuilder.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/implementation/SearchManagementClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/implementation/ServicesClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/AdminKeyKind.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/CheckNameAvailabilityInput.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/HostingMode.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/Identity.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/IdentityType.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/ListQueryKeysResult.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/OperationDisplay.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/OperationListResult.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/ProvisioningState.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/SearchServiceListResult.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/SearchServiceStatus.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/Sku.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/SkuName.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/UnavailableNameReason.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/package-info.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/package-info.java
Due: none

fixed check-style
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EConfigResolutionSpec.scala
Due: none

add pom, changelog and readme
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/README.md
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update spec and regenerate
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/fluent/ServicesClient.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/implementation/ServicesClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/CheckNameAvailabilityOutput.java
Due: none

resolver Conflicts
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
Due: none

Mgmt-Lite: fix swagger to sdk config
  eng/mgmt/automation/swagger_to_sdk_config.json
Due: eng/pipelines/mgmt.yml

remove options that is now as default
  sdk/resourcemanager/gulpfile.js
Due: none

mgmt append introduction for lite packages
  sdk/resourcemanager/README.md
Due: eng/pipelines/link-verification.yml

regen locks
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/ManagementLocksClient.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLocksClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLocksImpl.java
Due: none

set tenantId default value
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
Due: none

mgmt fix docs link
  sdk/resourcemanager/README.md
Due: eng/pipelines/link-verification.yml

code refactor
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
Due: none

Mgmt-Lite: fix swagger to sdk config (#18041)
  eng/mgmt/automation/swagger_to_sdk_config.json
Due: eng/pipelines/mgmt.yml

checkstyle error fix
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/ClientRegistrationInitialization.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/package-info.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerClientConfiguration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOboConfigurationTest.java
Due: none

Serialize and deserialize OAuth2AuthorizedClient with JSON. (#18035)
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
Due: none

mgmt, regen locks (#18046)
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/ManagementLocksClient.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLocksClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLocksImpl.java
  sdk/resourcemanager/gulpfile.js
Due: none

mgmt fix docs link (#18048)
  sdk/resourcemanager/README.md
Due: eng/pipelines/link-verification.yml

fix eventhub samples
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-kafka/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/src/main/resources/application-mi.yaml
Due: eng/pipelines/link-verification.yml

Merge branch 'master' and update AzureJwtBearerTokenAuthenticationConverter.java path
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/src/main/java/com/azure/spring/sample/aad/security/AADOAuth2ResourceServerSecurityConfig.java
Due: none

Add enabled switch for web application and resource server scenario; fix building error
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerClientConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureActiveDirectoryConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerClientConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AzureJwtBearerTokenAuthenticationConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/validator/AzureJwtAudienceValidatorTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/validator/AzureJwtIssuerValidatorTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthzCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AzureActiveDirectoryConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/ResourceRetrieverTest.java
Due: none

test sample event operation
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/src/main/resources/application.yaml
  sdk/spring/azure-spring-starter-storage/src/main/resources/META-INF/spring.provides
Due: eng/pipelines/link-verification.yml

Removing TODOs
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ChangeFeedQueryImpl.java
Due: none

test service bus operation sample
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/src/main/resources/application.yaml
Due: eng/pipelines/link-verification.yml

service bus binder sample
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/src/main/resources/application-mi.yaml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/src/main/resources/application-sp.yaml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/src/main/resources/application.yaml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/src/main/resources/application-mi.yaml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/src/main/resources/application-sp.yaml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/src/main/resources/application.yaml
Due: eng/pipelines/link-verification.yml

service bus multibinder sample
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-multibinders/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-multibinders/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-multibinders/src/main/resources/application.yaml
Due: eng/pipelines/link-verification.yml

Wait 30 seconds after deployment is done.
  sdk/digitaltwins/remove-test-resources-pre.ps1
  sdk/digitaltwins/test-resources-post.ps1
Due: none

fix CosmosContainerTest and add integration test for updating index on startup
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerTest.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/IndexPolicyEntity.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/IndexPolicyUpdateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/IndexPolicyRepository.java
Due: none

basic support for user provided schema in the query path (#18031)
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosBatchWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosItemsDataSource.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosScan.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTable.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriterBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQuerySpec.scala
Due: none

Implementing PR comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

resolving comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Conflict.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosConflictProperties.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosConflictsTest.java
Due: none

add reactive support
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveIndexPolicyUpdateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/IndexPolicyRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveIndexPolicyRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosOperations.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleReactiveCosmosRepository.java
Due: none

Change scheduler for reactor executor (#17842)
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorExecutor.java
Due: none

Refacting Future to Mono
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationTokenCredential.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/TokenRefresher.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationTokenCredentialTests.java
Due: none

Updating BearerToken
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/CommunicationBearerTokenCredential.java
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
