Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-appservice
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-resources
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/confluent/azure-resourcemanager-confluent/pom.xml
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/pom.xml
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/pom.xml
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/pom.xml
  sdk/iothub/azure-resourcemanager-iothub/pom.xml
  sdk/maintenance/azure-resourcemanager-maintenance/pom.xml
  sdk/maps/azure-resourcemanager-maps/pom.xml
  sdk/netapp/azure-resourcemanager-netapp/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-authorization/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cdn/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerregistry/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-dns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-msi/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-privatedns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-redis/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/azure-resourcemanager-servicebus/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-servicebus
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-servicebus/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-keyvault
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-eventhubs
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-monitor
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-storage
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/batch/azure-resourcemanager-batch/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/frontdoor/azure-resourcemanager-frontdoor/pom.xml
  sdk/hdinsight/azure-resourcemanager-hdinsight/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerregistry/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-msi/pom.xml
  sdk/resourcemanager/azure-resourcemanager-redis/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-network
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/hdinsight/azure-resourcemanager-hdinsight/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-privatedns/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-compute
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-cosmos
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-search
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-redis
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-redis/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-redis/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Adding more info to Unknown auth token kind error
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/BarrierRequestHelper.java
Due: none

fix Cosmos IT
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/actuate/autoconfigure/cosmos/CosmosHealthConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/keyvault/KeyVaultEnvironmentPostProcessor.java
Due: none

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-sql
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-msi
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-msi/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-msi/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-dns
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-dns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-cdn
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cdn/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cdn/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Adding more info to Unknown auth token kind error (#24151)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/BarrierRequestHelper.java
Due: none

Increment package version after release of com.azure.resourcemanager azure-resourcemanager
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/resourcemanager/azure-resourcemanager-perf/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom-reactive.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
  sdk/spring/azure-spring-cloud-context/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix and refactor tests, and refine naming
  sdk/spring/azure-spring-boot-test-storage/src/test/java/com/microsoft/azure/test/storage/StorageActuatorIT.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/actuate/storage/StorageBlobHealthIndicator.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/AzureServiceConfigurationBase.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/appconfiguration/AzureAppConfigurationAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureGlobalConfigurationEnvironmentPostProcessor.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureGlobalPropertiesAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzurePropertyAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cosmos/CosmosClientBuilderFactory.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosDataAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhub/AzureEventHubAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhub/AzureEventHubOperationAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhub/AzureEventHubSharedCredentialClientConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/certificates/AzureKeyVaultCertificateAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/secrets/AzureKeyVaultSecretAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/properties/AzureGlobalProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureResourceManagerAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/common/AzureStorageProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/keyvault/KeyVaultEnvironmentPostProcessor.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/appconfiguration/AzureAppConfigurationAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/context/AzureGlobalPropertiesAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosDataAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhub/AzureEventAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhub/AzureEventHubOperationAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureResourceManagerAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-core/src/main/java/com/azure/spring/core/properties/aware/credential/ConnectionStringAware.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/src/test/java/com/azure/spring/servicebus/stream/binder/ServiceBusQueueSessionBinderConfigTest.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/src/test/java/com/azure/spring/servicebus/stream/binder/ServiceBusTopicSessionBinderConfigTest.java
Due: none

Make Context.NONE a Specialized Subclass (#24140)
  sdk/core/azure-core/src/main/java/com/azure/core/util/Context.java
Due: none

Test template package API change
  eng/common/scripts/Detect-Api-Changes.ps1
  sdk/template/azure-sdk-template/src/main/java/com/azure/sdk/template/Hello.java
Due: eng/pipelines/mgmt.yml

Resolving comments
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ItemDeserializer.java
Due: none

Updated release data for chat java from 09/27 to 09/15
  sdk/communication/azure-communication-chat/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fixed Test
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceLocatorTest.java
Due: none

Resolving comments
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
Due: none

Adding overloaded methods for CRUD operations
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
Due: none

Using this. qualifier consisent with rest of the code base
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
Due: none

Updated release data for chat java from 09/27 to 09/15 (#24157)
  sdk/communication/azure-communication-chat/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Restore protocol in load balancer using generated type
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/LoadBalancerOutboundRuleImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/LoadBalancerOutboundRule.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/LoadBalancerTests.java
Due: none

Sync eng/common directory with azure-sdk-tools for PR 2009 (#24111)
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
Due: eng/pipelines/mgmt.yml

include dependency tags
  sdk/core/azure-core-experimental/pom.xml
Due: none

Prepare release 1.1.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/remoterendering/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Addressing the issue of not terminating unconfirmed-sends due to the termination of link with no error (#24141)
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
Due: none

Typo.
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Added evaulate option, Added AlwaysOnFilter, updated to JUnit5
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/entities/Feature.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/feature/filters/AlwaysOnFilter.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/FeatureManagerTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/SpringBootTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/TestConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/PercentageFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TargetingFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TimeWindowFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml

Update external dependency version
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-netty/pom.xml
Due: eng/pipelines/mgmt.yml
