Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  stages:
  - stage: LatestJdk
    displayName: Latest JDK
    jobs:
    - job: RunLatestJdk
      displayName: Run Latest JDK
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

Added a small change to the troubleshooting guides.
  sdk/keyvault/azure-security-keyvault-administration/TROUBLESHOOTING.md
  sdk/keyvault/azure-security-keyvault-certificates/TROUBLESHOOTING.md
  sdk/keyvault/azure-security-keyvault-keys/TROUBLESHOOTING.md
  sdk/keyvault/azure-security-keyvault-secrets/TROUBLESHOOTING.md
Due: eng/pipelines/link-verification.yml

Removed unused imports.
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/SecretPropertiesHelper.java
Due: none

Re-recorded `mergeCertificate()` tests.
  sdk/keyvault/azure-security-keyvault-certificates/assets.json
Due: none

mgmt, local generation for Container Service 2023-10-01
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/implementation/KubernetesClusterAgentPoolImpl.java
Due: none

mgmt, local generation for Container Service 2023-10-01
  sdk/resourcemanager/azure-resourcemanager-containerservice/assets.json
Due: none

Session retry options diagnostic improvement (#36711)
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientConfigDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/SessionRetryOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsClientContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: eng/pipelines/link-verification.yml

Running Prepare-Release for azure-core-amqp 2.8.13
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Running Prepare-Release for azure-core-amqp 2.8.13 (#37556)
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixing bug with mapping optional attributes in annotated queries. Test cases added to prevent regression.
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/convert/MappingCosmosConverter.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedReactiveCosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveRoleRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveRoleRepository.java
Due: none

Addind client-level options for session consistency.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/E2ETestSameContinent.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/SessionConsistencyTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionConsistencyOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionConsistencyOptionsBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClientFactory.java
Due: none

Increment package versions for core releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
Due: eng/pipelines/mgmt.yml

Adding client-level options for session consistency.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/E2ETestSameContinent.java
Due: none

Increment package versions for core releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix the path to the adjusted onboarding readme location
  sdk/core/azure-core-test/RecordingMigrationGuide.md
Due: eng/pipelines/link-verification.yml

Address API view comments
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/annotation/ServiceClient.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/RestProxy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/HttpClientProviders.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/httpurlconnection/HttpUrlConnectionClientProvider.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/RestProxyUtils.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/configuration/Configuration.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/configuration/NoopConfiguration.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/RestProxyTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/HttpClientProvidersTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/HttpClientTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/RestProxyImplTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/models/HttpBinHeaders.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/models/HttpBinJSON.java
  sdk/generic-sdk-core/generic-core/src/test/resources/upload.txt
Due: none

adding med file test scenario
  sdk/storage/azure-storage-blob-stress/scenarios-matrix.yaml
Due: none

Increment package versions for core releases (#37561)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools for PR 7255 (#37545)
  eng/common/testproxy/onboarding/README.md
  sdk/core/azure-core-test/RecordingMigrationGuide.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

lease async tests
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/LeaseAsyncApiTests.java
Due: none

Increment package versions for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for appconfiguration releases (#37565)
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixed `HttpBinJSON.toJson()`
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/models/HttpBinJSON.java
Due: none

updates
  sdk/communication/azure-communication-jobrouter/README.md
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/converters/RouterValueAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/RouterValue.java
  sdk/communication/azure-communication-jobrouter/src/samples/java/com.azure.communication.jobrouter/ClassificationPolicyCrud.md
  sdk/communication/azure-communication-jobrouter/src/samples/java/com.azure.communication.jobrouter/ExceptionPolicyExample.java
  sdk/communication/azure-communication-jobrouter/src/samples/java/com.azure.communication.jobrouter/RouterClientJavadocCodeSnippets.java
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
Due: eng/pipelines/link-verification.yml

STG91 GA Release 2023-11-08
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

removing empty logs
  sdk/storage/azure-storage-blob/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

x-ms-file-request-intent and tests (#37477)
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
Due: none

partial page blob tests
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAsyncApiTests.java
Due: none

STG91 GA Release 2023-11-08 (#37568)
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Adding check for null address in recipient fields
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailAsyncClient.java
Due: none

Updating CHANGELOG
  sdk/communication/azure-communication-email/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Added back functionality in HttpClientTestsServer and fixed most tests in HttpClientTests.
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/ByteBufferContent.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/HttpClientTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/HttpClientTestsServer.java
Due: none

adding release dates for changefeed and blob nio
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Hook up DiagnosticTelemetryPipelineListener in AzureMonitorExporterBuilder
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExporterBuilder.java
Due: none

update spring-reference.yml
  sdk/spring/spring-reference.yml
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
