Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  stages:
  - stage: LatestJdk
    displayName: Latest JDK
    jobs:
    - job: RunLatestJdk
      displayName: Run Latest JDK
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

mgmt, local generation for containerservice
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/README.md
Due: eng/pipelines/link-verification.yml

update according to comments
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/ApplicationGatewayImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/WebApplicationFirewallPolicyImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/WebApplicationFirewallPolicyTests.java
Due: none

Refactorings.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemTest.java
Due: none

Redesign and refactoring after pr discussion
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutWithAvailabilityTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/AvailabilityStrategy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosEndToEndOperationLatencyPolicyConfigBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DefaultAvailabilityStrategy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ThresholdBasedAvailabilityStrategy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/speculativeprocessors/SpeculativeProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/speculativeprocessors/ThresholdBasedSpeculation.java
Due: none

Abhishesingh/dtmf actions live test (#35496)
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAutomatedLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncAutomatedLiveTests.dtmfActionsInACallAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/continuousRecognitionAndSendDtmfInACallAutomatedTest
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/dtmfActionsInACallAutomatedTest
Due: none

Fixing Test for Sql test.
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createRuleResponse[1].json
Due: none

Fix SQL test for sync
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationClientIntegrationTest.createRuleResponse.json
Due: none

Make getting topic, subscription, session names easier.
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusAdministrationClientImplIntegrationTests.java
Due: none

Replace explicit usage of client secret with DefaultAzureCredential.
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
Due: none

Use Record playback for token credential. and fix misnamed subscriptions
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientIntegrationTest.java
Due: none

Update recordings.
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.azureIdentityCredentials[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createQueueAuthorizationRules[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createQueueExistingName[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createQueueWithForwarding[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createQueue[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createSubscriptionExistingName[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createSubscriptionWithForwarding[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createSubscription[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.createTopicWithResponse[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.deleteQueue[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.deleteSubscription[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.deleteTopic[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getNamespace[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getQueueDoesNotExist[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getQueueExistsFalse[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getQueueExists[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getQueueRuntimeProperties[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getQueue[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getRule[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getSubscriptionDoesNotExist[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getSubscriptionExistsFalse[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getSubscriptionExists[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getSubscriptionRuntimeProperties[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getSubscription[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getTopicDoesNotExist[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getTopicExistsFalse[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getTopicExists[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getTopicRuntimeProperties[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getTopic[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.listQueues[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.listRules[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.listSubscriptions[1].json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.listTopics[1].json
Due: none

wire up exclude region list for other retry policies
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ExcludeRegionTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
Due: none

Remove old recordings. (Ones with no class name.)
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/azureIdentityCredentials.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createQueue.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createQueueAuthorizationRules.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createQueueExistingName.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createQueueWithForwarding.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createSubscription.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createSubscriptionExistingName.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createSubscriptionWithForwarding.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createTopicWithResponse.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/deleteQueue.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/deleteSubscription.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/deleteTopic.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getNamespace.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getQueue.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getQueueDoesNotExist.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getQueueExists.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getQueueExistsFalse.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getQueueRuntimeProperties.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getRule.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getSubscription.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getSubscriptionDoesNotExist.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getSubscriptionExists.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getSubscriptionExistsFalse.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getSubscriptionRuntimeProperties.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getTopic.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getTopicDoesNotExist.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getTopicExists.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getTopicExistsFalse.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getTopicRuntimeProperties.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/listQueues.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/listRules.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/listSubscriptions.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/listTopics.json
Due: none

Remove extra usages of new RetryPolicy()
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusAdministrationClientImplIntegrationTests.java
Due: none

Preliminary changes.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/MetadataRequestConnectionErrorHandler.java
Due: none

Fixing tests.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/SessionRetryOptionsTests.java
Due: none

Updates to reliability
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/implementation/VertxRequestWriteSubscriber.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/VertxAsyncHttpClientTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
Due: none

remove convenience API for creating snapshot
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/CreateSnapshot.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/CreateSnapshotAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ListSnapshots.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ListSnapshotsAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
Due: none

Update azure-sdk-build-tools Repository Resource Refs in Yaml files (#35206)
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: eng/pipelines/mgmt.yml

update
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/TestProxyMigrationGuide.md
Due: eng/pipelines/link-verification.yml

Review feedback
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAdministrationAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAdministrationClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/options/ListClassificationPoliciesOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/options/ListDistributionPoliciesOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/options/ListExceptionPoliciesOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/options/ListJobsOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/options/ListQueuesOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/options/ListWorkersOptions.java
Due: none

mgmt, local generation for containerservice
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

managed rules
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/ApplicationGatewayImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/WebApplicationFirewallPolicyImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/KnownManagedRuleSet.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/WebApplicationFirewallPolicy.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/ApplicationGatewayTests.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/WebApplicationFirewallPolicyTests.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/resources/session-records/WebApplicationFirewallPolicyTests.canCrudWafPolicy.json
Due: none

return immutable list
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/WebApplicationFirewallPolicyImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/WebApplicationFirewallPolicy.java
Due: none

update according to comments
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/ApplicationGatewayImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/WebApplicationFirewallPolicyImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/KnownWebApplicationGatewayManagedRuleSet.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/WebApplicationFirewallPolicy.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/ApplicationGatewayTests.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/WebApplicationFirewallPolicyTests.java
Due: none

mgmt, local generation for containerservice
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/java/com/azure/resourcemanager/containerservice/KubernetesClustersTests.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClusterUpdateTests.testKubernetesClusterUpdate.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.canAutoScaleKubernetesCluster.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.canCRUDKubernetesCluster.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.canCreateClusterWithSpotVM.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.canListKubeConfigWithFormat.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.canListOrchestrators.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.testBeginCreateAgentPool.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.testFipsEnabled.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.testKubernetesClusterAzureRbac.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/KubernetesClusterTests.testManageKubernetesCluster.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/KubernetesClusterTests.testManageKubernetesClusterWithAdvancedNetworking.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/AzureResourceManagerTests.testKubernetesCluster.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/KubernetesAadTests.testKubernetesClusterAadIntegration.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/KubernetesCniTests.testKubernetesClusterCni.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/KubernetesEncryptionTests.canCreateClusterWithDiskEncryption.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/PrivateLinkTests.testPrivateEndpointAKS.json
Due: none

mgmt, local generation for containerservice
  sdk/resourcemanager/azure-resourcemanager-containerservice/README.md
Due: eng/pipelines/link-verification.yml

[Automation] External Change
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

[Automation] Generate Fluent Lite from help#package-2023-06-01
  sdk/selfhelp/azure-resourcemanager-selfhelp/CHANGELOG.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/README.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/SAMPLE.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/pom.xml
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/SelfHelpManager.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/implementation/DiagnosticsClientImpl.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/implementation/HelpRPImpl.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/samples/java/com/azure/resourcemanager/selfhelp/generated/DiagnosticsCheckNameAvailabilitySamples.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/samples/java/com/azure/resourcemanager/selfhelp/generated/DiagnosticsCreateSamples.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/samples/java/com/azure/resourcemanager/selfhelp/generated/DiagnosticsGetSamples.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/samples/java/com/azure/resourcemanager/selfhelp/generated/DiscoverySolutionListSamples.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/samples/java/com/azure/resourcemanager/selfhelp/generated/OperationsListSamples.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/test/java/com/azure/resourcemanager/selfhelp/generated/DiagnosticsCreateMockTests.java
Due: eng/pipelines/link-verification.yml

api-specs.json
  sdk/resourcemanager/api-specs.json
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
