Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Fix ConnectionOption breaks.
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
Due: none

remove change in version_client
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Fixing issues with merge and resolving PR comments.
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
Due: none

more cg testing
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/mgmt.yml

Fixing syntax
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
Due: none

Use no custom header APIs when header type isn't used (#40482)
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageImplUtils.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/specialized/ShareLeaseAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
Due: none

Use reference to azure-rest-api-spec PR
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
Due: none

update javadocs based on comments.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionOptions.java
Due: none

PAT Removal from pipeline generation yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/mgmt.yml

Small change to code customization
  sdk/communication/azure-communication-jobrouter/customization/src/main/java/JobRouterSdkCustomization.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAdministrationClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClientBuilder.java
Due: none

Modifying some sanitizers
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/src/test/java/com/azure/ai/translation/document/DocumentTranslationClientTestBase.java
Due: eng/pipelines/link-verification.yml

Sync eng/common directory with azure-sdk-tools for PR 8370 (#40486)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: eng/pipelines/mgmt.yml

Update logic for extractByteBuffer to handle proper byte extraction for upload operations (#40451)
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobApiTests.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/UploadUtils.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileApiTest.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
Due: none

code refactor
  sdk/openai/azure-ai-openai-assistants/assets.json
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsClientTestBase.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureVectorStoreAsyncTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureVectorStoreSyncTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/VectorStoreAsyncTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/VectorStoreSyncTests.java
Due: none

[OpenAI-Assistant] Added vector store feature (#40467)
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai-assistants/assets.json
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/AssistantsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/models/CreateVectorStoreFileRequest.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiResponseFormatOption.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiToolChoiceOption.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/UpdateFileSearchToolResourceOptions.java
  sdk/openai/azure-ai-openai-assistants/src/main/resources/META-INF/azure-ai-openai-assistants_apiview_properties.json
  sdk/openai/azure-ai-openai-assistants/src/samples/java/com/azure/ai/openai/assistants/VectorStoreSample.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsClientTestBase.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureVectorStoreAsyncTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureVectorStoreSyncTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/VectorStoreAsyncTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/implementation/AssistantApiFormatSerializerTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/implementation/AssistantApiToolChoiceSerializerTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/implementation/CreateFileSearchToolResourceOptionsSerializerTests.java
  sdk/openai/azure-ai-openai-assistants/src/test/resources/20210203_alphabet_10K.pdf
  sdk/openai/azure-ai-openai-assistants/src/test/resources/20220924_aapl_10k.pdf
  sdk/openai/azure-ai-openai-assistants/src/test/resources/20231231_brk_10k.pdf
  sdk/openai/azure-ai-openai-assistants/tsp-location.yaml
Due: eng/pipelines/link-verification.yml

use the main repo's SHA
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/models/CreateVectorStoreFileRequest.java
  sdk/openai/azure-ai-openai-assistants/tsp-location.yaml
Due: none

Adding tests.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/PartitionLevelCircuitBreakerTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalPartitionEndpointManagerForCircuitBreaker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

fixed the typo
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/FunctionName.java
Due: none

bump target version of the test proxy (#40485)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/mgmt.yml

update samples
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/Azure-AAD-Authentication-With-Jedis.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AuthenticateWithTokenCache.java
Due: eng/pipelines/link-verification.yml

update to DAC
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/AadCredentialTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
Due: none

fix tests yml
  sdk/appconfiguration/tests.yml
Due: none

Add workaround and tests for long properties
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobScheduleStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolResourceStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTaskStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/FileProperties.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/FileTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/PoolTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/TaskTests.java
Due: none

Add changelog description for deserialization fix
  sdk/batch/azure-compute-batch/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Changed placement of TODOs
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobScheduleStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolResourceStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTaskStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/FileProperties.java
Due: none

Regenerate SDK
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobScheduleStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobStatistics.java
Due: none

update test setup
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/test-resources.json
Due: none

update test base
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
Due: none

Removed empty list creation for empty query param values.
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/UrlBuilder.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTestsServer.java
Due: none

Update sdk/spring/spring-cloud-azure-feature-management/README.md
  sdk/spring/spring-cloud-azure-feature-management/README.md
Due: eng/pipelines/link-verification.yml

Also encoded query param names.
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParser.java
Due: none

updat endpointvalue
  sdk/appconfiguration/test-resources.json
Due: none
