Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Generate
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: windows-2019
    steps:
    - template: templates/steps/install-reporting-tools.yml
      parameters:
        Options: --batch-mode
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

1. update version to 2.0.0-beta.1 2. make context load config only for the first time
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/microsoft/azure/spring/cloud/config/AppConfigurationPropertySourceLocator.java
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration/pom.xml
Due: eng/pipelines/mgmt.yml

Update docs
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
Due: eng/pipelines/link-verification.yml

remove pfx and update credcheck
  sdk/resourcemanager/azure-resourcemanager-authorization/src/test/resources/myTest.pfx
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/ComputeSampleTests.testCreateVirtualMachineUsingSpecializedDiskFromVhd.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/ManagedDiskOperationsTests.canOperateOnEmptyManagedDisk.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/RegistryTaskTests.getBuildSourceUploadUrlFromRegistryAndRegistries.json
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/test/resources/session-records/RegistryTaskTests.getLogSasUrl.json
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/ApplicationGatewayTests.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/resources/myTest.pfx
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/AppServiceSampleLiveOnlyTests.testManageLinuxWebAppWithContainerRegistry.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testCreateVirtualMachineUsingCustomImageFromVHD.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testCreateVirtualMachineUsingSpecializedDiskFromSnapshot.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testCreateVirtualMachineUsingSpecializedDiskFromVhd.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/testManageBatchAccount.json
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/ApplicationGatewayTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestVirtualMachineCustomData.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestVirtualMachineSsh.java
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/myTest.pfx
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/myTest2.pfx
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/AzureResourceManagerTests.testDeployments.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/VirtualNetworkGatewayTests.testVirtualNetworkGatewayPointToSite.json
  sdk/resourcemanager/credcheck.js
Due: none

Add beginConversion using pollerFlux.
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClientBuilder.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/models/ConversionOptions.java
Due: none

redesign after arch
  sdk/communication/azure-communication-administration/swagger/README.md
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatClientBuilder.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsAsyncClient.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsClient.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsClientBuilder.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/SmsImpl.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SendMessageRequest.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SendSmsResponse.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SmsSendHeaders.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SmsSendNextHeaders.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SmsSendNextResponse.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SmsSendResponse.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/package-info.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/models/SendSmsOptions.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/models/package-info.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/package-info.java
  sdk/communication/azure-communication-sms/src/samples/java/com/azure/communication/sms/samples/quickstart/ReadmeSamples.java
  sdk/communication/azure-communication-sms/swagger/README.md
Due: eng/pipelines/link-verification.yml

Add a pollerFlux for beginSession.
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/models/ConversionOptions.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/models/SessionCreationOptions.java
Due: none

SyncPoller for sessions.
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClient.java
Due: none

add dependency to continue using JUnit 4 for Spring Boot 2.4 (#18921)
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
Due: none

fix @EnableAuditing can't work with Java module (#18928)
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/module-info.java
Due: none

Support sub directory for artifact location
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/mgmt.yml

Package property file is not created for track1 and management pacakges.
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/mgmt.yml

Fix as per review comment to avoid artifact sub path
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/mgmt.yml

Fix property name case
  eng/common/scripts/Save-Package-Properties.ps1
Due: eng/pipelines/mgmt.yml

Fix as per review comments
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/mgmt.yml

Use Config File param value as is
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/mgmt.yml

Change to make path joineasily readable
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/mgmt.yml

add challenge parsing tests.
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/AccessTokenCache.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/BearerTokenAuthenticationChallengePolicy.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/http/policy/AuthenticationChallengeTest.java
Due: none

update tests
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AuthenticationChallenge.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/http/policy/AuthenticationChallengeTest.java
Due: none

update package info files
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/credential/AccessTokenCache.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/credential/package-info.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/BearerTokenAuthenticationChallengePolicy.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/credential/SimpleTokenCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationPolicy.java
Due: none

Alternative approach to make sync mapPage lazy
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedByIteratorBase.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedIterableTest.java
Due: none

Update Javadoc for set and get claims APIs in TRC.
  sdk/core/azure-core/src/main/java/com/azure/core/credential/TokenRequestContext.java
Due: none

update
  sdk/core/azure-core/src/main/java/com/azure/core/credential/TokenRequestContext.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AuthenticationChallenge.java
Due: none

update
  sdk/core/azure-core/src/main/java/com/azure/core/credential/SimpleTokenCache.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Due: none

opens to com.azure.core
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/module-info.java
Due: none

Adding broadcast tests
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosClientCacheSpec.scala
Due: none

Updated cosmos emulator yml script to remove the existing installation, install latest version and run emulator with latest version
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Due: eng/pipelines/mgmt.yml

Added default emulator start arguments if none provided
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Due: eng/pipelines/mgmt.yml

Updated default start params
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Due: eng/pipelines/mgmt.yml

Updated default start params in PS script
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Due: eng/pipelines/mgmt.yml

Remove non-poller client methods.
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClient.java
Due: none

added listDeleted and restore
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClient.java
Due: none

Add test resources.
  sdk/mixedreality/TestResources/testBox.fbx
  sdk/mixedreality/ci.yml
  sdk/mixedreality/test-resources-post.ps1
  sdk/mixedreality/test-resources.json
  sdk/mixedreality/tests.yml
Due: none

Replacing unique clients
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTable.scala
Due: none

Accessors
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientConfiguration.scala
Due: none

Fix Javadocs.
  sdk/core/azure-core/src/main/java/com/azure/core/credential/TokenRequestContext.java
Due: none

update
  sdk/core/azure-core/src/main/java/com/azure/core/credential/TokenRequestContext.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Due: none

Sync eng/common directory with azure-sdk-tools for PR 1364 (#18959)
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Due: eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
