Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

Add integration tests for REST and messaging exporters
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/main/java/com/azure/opentelemetry/exporter/azuremonitor/AzureMonitorExporter.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/main/java/com/azure/opentelemetry/exporter/azuremonitor/AzureMonitorExporterBuilder.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/test/java/com/azure/opentelemetry/exporter/azuremonitor/AppConfigurationExporterIntegrationTest.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/test/java/com/azure/opentelemetry/exporter/azuremonitor/AzureMonitorExporterTestBase.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/test/java/com/azure/opentelemetry/exporter/azuremonitor/EventHubsExporterIntegrationTest.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/test/java/com/azure/opentelemetry/exporter/azuremonitor/InMemoryCheckpointStore.java
Due: eng/pipelines/mgmt.yml

Add recordings files
  sdk/quantum/azure-quantum-jobs/src/main/resources/session-records/JobsClientTest.jobLifecycleTest[1].json
  sdk/quantum/azure-quantum-jobs/src/main/resources/session-records/JobsClientTest.listTest[1].json
  sdk/quantum/azure-quantum-jobs/src/main/resources/session-records/ProviderClientTest.getStatusTest[1].json
  sdk/quantum/azure-quantum-jobs/src/main/resources/session-records/QuotasClientTest.listTest[1].json
  sdk/quantum/azure-quantum-jobs/src/main/resources/session-records/StorageClientTest.sasUriTest[1].json
  sdk/quantum/azure-quantum-jobs/src/test/java/com/azure/quantum/jobs/JobsClientTest.java
  sdk/quantum/azure-quantum-jobs/src/test/java/com/azure/quantum/jobs/QuotasClientTest.java
  sdk/quantum/azure-quantum-jobs/src/test/java/com/azure/quantum/jobs/StorageClientTest.java
Due: none

Updates RetryUtil to use RetrySpec. Adds log information on expiration. (#18027)
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpRetryOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpRetryPolicy.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AzureTokenManagerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/AmqpRetryOptionsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/ExponentialAmqpRetryPolicyTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSenderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSessionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilTest.java
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSession.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSessionTest.java
Due: eng/pipelines/mgmt.yml

Fix yaml parameter name
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: eng/pipelines/mgmt.yml

Changed jackson annotation for blobhttpheaders
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobHttpHeaders.java
  sdk/storage/azure-storage-blob/swagger/src/main/java/com/azure/storage/blob/customization/BlobStorageCustomization.java
Due: none

Fixed buffer position issue
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureSeekableByteChannel.java
Due: none

change setData accessibility from public to package level
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/CloudEvent.java
Due: none

Adjust readme and sample
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/ProcessSystemEvents.java
Due: eng/pipelines/link-verification.yml

the encrypted payload must be Url encoded and without the padding in order to reuse current parsing implementation which adds extra logic on how "=" is treated.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/sastokens/SasTokenImpl.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/sastokens/SasTokenTests.java
Due: none

add handling for Sas Token type in the CosmosClient implementation.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AuthorizationTokenType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/BarrierRequestHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/sastokens/SasTokenAuthorizationHelper.java
Due: none

Remove dependency on com.azure.core.serializer.json.jackson
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridDeserializer.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/module-info.java
Due: none

Fix live test pipeline for Metrics Advisor (#18816)
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/ReadmeSamples.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AlertAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyAlertAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyAlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyDimensionValuesAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyDimensionValuesTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentDetectedAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentDetectedTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentForAlertAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentForAlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentRootCauseAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentRootCauseTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedAsyncClientTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedClientTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedIngestionOperationAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedIngestionOperationTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DetectionConfigurationAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DetectionConfigurationTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/FeedbackAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/FeedbackTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricEnrichedSeriesDataAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricEnrichedSeriesDataTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsSeriesAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsSeriesTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/NotificationHookAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/NotificationHookTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/TestUtils.java
  sdk/metricsadvisor/tests.yml
Due: eng/pipelines/link-verification.yml

Update CODEOWNERS (#18887)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

Update live test yaml to use cloud and matrix configuration (#18840)
  eng/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/anomalydetector/azure-ai-anomalydetector/tests.yml
  sdk/appconfiguration/tests.yml
  sdk/batch/tests.yml
  sdk/communication/tests.yml
  sdk/core/tests.yml
  sdk/cosmos/integration-matrix.json
  sdk/cosmos/platform-matrix.json
  sdk/cosmos/tests.yml
  sdk/digitaltwins/tests.yml
  sdk/eventgrid/tests.yml
  sdk/eventhubs/tests.yml
  sdk/formrecognizer/tests.yml
  sdk/identity/tests.yml
  sdk/keyvault/tests.yml
  sdk/metricsadvisor/tests.yml
  sdk/schemaregistry/tests.yml
  sdk/search/tests.yml
  sdk/servicebus/tests.yml
  sdk/spring/tests.yml
  sdk/storage/microsoft-azure-storage-blob/tests.yml
  sdk/storage/tests.yml
  sdk/tables/platform-matrix.1.11.json
  sdk/tables/platform-matrix.1.8.json
  sdk/tables/tests.yml
  sdk/template/tests.yml
  sdk/textanalytics/tests.yml
Due: eng/pipelines/mgmt.yml

Update script path to common api create script
  eng/pipelines/templates/steps/create-apireview.yml
  eng/scripts/Create-APIReview.ps1
Due: eng/pipelines/mgmt.yml

Put the regex in get-packageInfoFromPackageFile
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml

Replace or suppress deprecated API calls
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterable.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterableBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedResponseBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ExpandableStringEnum.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/AdditionalPropertiesDeserializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/AdditionalPropertiesSerializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/FlatteningDeserializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/FlatteningSerializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedFluxBaseJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableBaseJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/IterableStreamJavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLogOptionsTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedFluxTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/CoreUtilsTests.java
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: none

Generated off swagger
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/DataLakeStorageClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/FileSystemsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/PathsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/BlobHierarchyListSegment.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/BlobItemInternal.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/BlobPrefix.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/BlobPropertiesInternal.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/FileSystemListBlobHierarchySegmentHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/FileSystemsListBlobHierarchySegmentResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/ListBlobsHierarchySegmentResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/ListBlobsIncludeItem.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/ListBlobsShowOnly.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathDeleteHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathUndeleteHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathsUndeleteResponse.java
  sdk/storage/azure-storage-file-datalake/swagger/README.md
Due: eng/pipelines/link-verification.yml

Fix DateTime bug
  eng/common/scripts/Prepare-Release.ps1
Due: eng/pipelines/mgmt.yml

Use a helper function to normalize the package name for readme
  eng/common/scripts/common.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1353
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

Add PrepareRelease Script
  eng/common/scripts/Prepare-Release.ps1
Due: eng/pipelines/mgmt.yml

Update Package-Properties.ps1
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/mgmt.yml

Update Collect-ChangeLog Script
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Collect-Unreleased.ps1
Due: eng/pipelines/mgmt.yml

Update Collect-ChangeLog.ps1 and Collect-Unreleased.ps1
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Collect-Unreleased.ps1
Due: eng/pipelines/mgmt.yml

Update GeneralReleaseNotesParser.ps1 script
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Collect-Unreleased.ps1
  eng/common/scripts/GeneralReleaseNotesParser.ps1
Due: eng/pipelines/mgmt.yml

Change GeneralReleaseNotesParser logic
  eng/common/scripts/GeneralReleaseNotesParser copy.ps1
  eng/common/scripts/GeneralReleaseNotesParser.ps1
Due: eng/pipelines/mgmt.yml

Change GeneralReleaseNotesParser.ps1 logic
  eng/common/scripts/GeneralReleaseNotesParser.ps1
Due: eng/pipelines/mgmt.yml

Remoce GeneralReleaseNotesParsercopy
  eng/common/scripts/GeneralReleaseNotesParser copy.ps1
Due: eng/pipelines/mgmt.yml

Update collect changelog and generalreleasenotes parser logic
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/GeneralReleaseNotesParser.ps1
Due: eng/pipelines/mgmt.yml

Refine CollectChangelog Logic
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/GeneralReleaseNotesLogic.ps1
Due: eng/pipelines/mgmt.yml

Add logic for filtering collected changelog
  eng/common/scripts/GeneralReleaseNotesLogic.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
Due: eng/pipelines/mgmt.yml

Add Filter-ReleaseHighlights function
  eng/common/scripts/GeneralReleaseNotesLogic.ps1
Due: eng/pipelines/mgmt.yml

Delete GeneralReleaseNotesLogic.ps1
  eng/common/scripts/GeneralReleaseNotesLogic.ps1
Due: eng/pipelines/mgmt.yml

Update General ReleasNotes Logic
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/GeneralReleaseNotesLogic.ps1
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1303
  eng/common/scripts/Collect-ChangeLogs.ps1
Due: eng/pipelines/mgmt.yml

Fix DateTime bug (#18912)
  eng/common/scripts/Prepare-Release.ps1
Due: eng/pipelines/mgmt.yml

Try to fix datalake restore tests (#18905)
  sdk/storage/test-resources.json
Due: none

incremental change
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptionAsyncCosmosClient.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptionCosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionSettings.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionUtils.java
Due: none

Update other Core SDKs
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/LinkHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/samples/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderJavaDocCodeSnippets.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/InterceptorManagerTests.java
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracerTest.java
Due: none
