Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: AggregateReports
        displayName: Aggregate Reports
        jobs:
        - job: Reporting
          displayName: Generate reports (with build)
          timeoutInMinutes: 180
          variables:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template
  ...

Increment package versions for template releases
  eng/versioning/version_client.txt
  sdk/template/azure-sdk-template-three/pom.xml
  sdk/template/azure-sdk-template-two/pom.xml
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
  sdk/template/azure-template-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Merge 5.24 CHANGELOG
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fix link to azure-spring-data-cosmos CHANGELOG
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Sync eng/common directory with azure-sdk-tools for PR 13267 (#47499)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reverted the change of removing the service directory when calling set-test-pipeline-version.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix bugs about `token-credential-bean-name` property (#47470)
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusMessagingAutoConfigurationTests.java
Due: eng/pipelines/link-verification.yml

update version client
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

config to hide internal types
  sdk/translation/azure-ai-translation-text/customization/src/main/java/TextTranslationCustomization.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/TextTranslationAsyncClient.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/TextTranslationClient.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/implementation/models/InputTextItem.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/implementation/models/TranslateBody.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/implementation/models/TranslationResult.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/implementation/models/TransliterateBody.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/implementation/models/TransliterateResult.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/implementation/models/package-info.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/models/DetectedLanguage.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/models/InputTextItem.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/models/TranslatedTextItem.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/models/TranslationText.java
  sdk/translation/azure-ai-translation-text/src/main/java/module-info.java
  sdk/translation/azure-ai-translation-text/src/main/resources/META-INF/azure-ai-translation-text_apiview_properties.json
  sdk/translation/azure-ai-translation-text/src/main/resources/META-INF/azure-ai-translation-text_metadata.json
  sdk/translation/azure-ai-translation-text/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Increment package versions for template releases
  eng/versioning/version_client.txt
  sdk/template/azure-sdk-template-three/CHANGELOG.md
  sdk/template/azure-sdk-template-three/pom.xml
  sdk/template/azure-sdk-template-two/CHANGELOG.md
  sdk/template/azure-sdk-template-two/pom.xml
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
  sdk/template/azure-template-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

clean up TextTranslationClientBuilder
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/TextTranslationClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Enhance verification steps in Sample14_CopyAnalyzer to ensure accurate validation of source and copied analyzers
  sdk/contentunderstanding/azure-ai-contentunderstanding/src/test/java/com/azure/ai/contentunderstanding/generated/Sample14_CopyAnalyzer.java
Due: eng/pipelines/pullrequest.yml

test(redis): disable public network access update test
  sdk/redis/azure-resourcemanager-redis/src/test/java/com/azure/resourcemanager/redis/RedisCacheOperationsTests.java
Due: eng/pipelines/pullrequest.yml

Merge 5.24 CHANGELOG (#47497)
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

LogGroupStart should have local build output (#47506)
  eng/common/scripts/logging.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

fix
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
Due: none

Update Spring Boot and Spring Cloud versions for the Spring compatibility tests. (#47486)
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Cosmos release 2025-12-09 (#47495)
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix async tests
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/http/HttpClientHelper.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/http/OpenAiRequestUrlBuilder.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/implementation/http/HttpClientHelperTests.java
Due: eng/pipelines/pullrequest.yml

Made pipeline work for template-v2 projects (#47476)
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Enabled set test pipeline version for template-v2 projects
  eng/pipelines/patch-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Enabled set test pipeline version for template-v2 projects (#47509)
  eng/pipelines/patch-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Query api view artifact by package info
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
