Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Generate
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: windows-2019
    steps:
    - template: templates/steps/install-reporting-tools.yml
      parameters:
        Options: --batch-mode
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

addressing code style CI issues
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/PointWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/BulkWriterSpec.scala
Due: none

addressed CI pom version check issue
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/pom.xml
Due: none

modify sample, readme and changelog
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/controller/RoleController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/templates/index.html
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Add spring-boot-starter-parent into ROOT_POMS, then we do not need to update external_dependencies.txt manually anymore.
  eng/versioning/external_dependencies.txt
  sdk/spring/scripts/update_spring_managed_external_dependencies.py
Due: eng/pipelines/mgmt.yml

fix checkstyle error
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2UserService.java
Due: none

Run command "python .\sdk\spring\scripts\update_spring_managed_external_dependencies.py".
  sdk/spring/scripts/spring_managed_external_dependencies.txt
Due: none

remove unused annotation and fix error in comments
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-multi-account/src/main/java/com/azure/spring/sample/cosmos/multi/database/multiple/account/PrimaryDatasourceConfiguration.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/resource/result-in-cosmos-database1.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/resource/result-in-cosmos-database2.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/src/main/java/com/azure/spring/sample/cosmos/multi/database/MultiDatabaseApplication.java
Due: none

remove redundancy examples and update README.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/multidatasource/MultiDatasourceApplication.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/multidatasource/PrimaryDatasourceConfiguration.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/multidatasource/SecondaryDatasourceConfiguration.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/multidatasource/primary/database1/User.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/multidatasource/primary/database1/UserRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/multidatasource/secondary/database3/Book.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/multidatasource/secondary/database3/BookRepository.java
Due: eng/pipelines/link-verification.yml

Add docs about how to upgrade spring-boot's version.
  sdk/spring/scripts/update_spring_managed_external_dependencies.py
Due: none

Async point write and hugely increase perf for point write (#19781)
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/AsyncItemWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/ItemsDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/PointWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/PointWriterSpec.scala
Due: eng/pipelines/mgmt.yml

modify repo name
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/resource/result-in-cosmos-database1.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/resource/result-in-cosmos-database2.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/src/main/java/com/azure/spring/sample/cosmos/multi/database/MultiDatabaseApplication.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/src/main/java/com/azure/spring/sample/cosmos/multi/database/repository1/User1Repository.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/src/main/java/com/azure/spring/sample/cosmos/multi/database/repository2/User2Repository.java
Due: none

add code owner for /sdk/appconfiguration/spring-cloud-azure-*/ refer to https://github.com/Azure/azure-sdk-for-java/pull/19714
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

fix error embedme
  sdk/cosmos/azure-spring-data-cosmos/README.md
Due: eng/pipelines/link-verification.yml

fix error reported by pipeline
  sdk/cosmos/azure-spring-data-cosmos/README.md
Due: eng/pipelines/link-verification.yml

- hotfix release 1.2.9 - we have just released 1.2.8 with spring-boot 2.4 which should be released with in 2.x.x versions, app configuration with 1.x.x versions work with spring-boot 3.x version
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management/pom.xml
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/README.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

add entry for 1.2.8
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

repair partition selection
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/src/main/java/com/azure/spring/eventhub/stream/binder/EventHubMessageChannelBinder.java
  sdk/spring/azure-spring-integration-core/src/main/java/com/azure/spring/integration/core/AzureHeaders.java
  sdk/spring/azure-spring-integration-core/src/main/java/com/azure/spring/integration/core/api/reactor/DefaultMessageHandler.java
  sdk/spring/azure-spring-integration-eventhubs/src/main/java/com/azure/spring/integration/eventhub/converter/EventHubMessageConverter.java
  sdk/spring/azure-spring-integration-eventhubs/src/test/java/com/azure/spring/integration/eventhub/converter/EventHubMessageConverterTest.java
Due: none

Increment package version after release of com.azure azure-identity (#19783)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Separate config for timestamp
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosTableSchemaInfererSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQuerySpec.scala
Due: none

System properties includes timestamp
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosTableSchemaInfererSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQuerySpec.scala
Due: none

fix broken links in readme
  sdk/communication/azure-communication-chat/README.md
Due: eng/pipelines/link-verification.yml

FR: 3.0.6 post release changes
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Use new customization APIs
  sdk/search/azure-search-documents/swagger/src/main/java/SearchServiceCustomizations.java
Due: none

Checked in code to some branch directly
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/mgmt.yml

Miss steps
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/mgmt.yml

make few changes to git-push yaml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1477
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Due: eng/pipelines/mgmt.yml

Pass -T Flag when Running Playback Tests From Source in CI (#19633)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: eng/pipelines/mgmt.yml

Updated azure-cosmos and azure-spring-data-cosmos release versions
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add New CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

Add distribution tracing text in README.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-messaging-servicebus (#19784)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

remove /en-us
  sdk/eventgrid/azure-messaging-eventgrid/README.md
Due: eng/pipelines/link-verification.yml

Update sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Use the specific branch to check in the code
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1477
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/mgmt.yml

Update EventGrid version to 4.0.0 (#19733)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
