Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

Prepare azure-mixedreality-remoterendering for 1.1.33 patch release.
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-mixedreality-authentication to the release version 1.2.27.
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/README.md
  sdk/mixedreality/azure-mixedreality-authentication/assets.json
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/JsonWebToken.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/MixedRealityStsAsyncClient.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/MixedRealityStsClientBuilder.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/implementation/MixedRealityStsRestClientImpl.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/implementation/MixedRealityStsRestClientImplBuilder.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/implementation/models/GetTokenHeaders.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/implementation/models/GetTokenResponse.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/implementation/models/StsTokenResponseMessage.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/implementation/models/TokenRequestOptions.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/module-info.java
  sdk/mixedreality/azure-mixedreality-authentication/src/test/java/com/azure/mixedreality/authentication/MixedRealityStsClientTestBase.java
  sdk/mixedreality/azure-mixedreality-authentication/src/test/resources/session-records/MixedRealityStsAsyncClientTests.getTokenWithResponse[1].json
  sdk/mixedreality/azure-mixedreality-authentication/src/test/resources/session-records/MixedRealityStsAsyncClientTests.getToken[1].json
  sdk/mixedreality/azure-mixedreality-authentication/src/test/resources/session-records/MixedRealityStsClientTests.getTokenWithResponse[1].json
  sdk/mixedreality/azure-mixedreality-authentication/src/test/resources/session-records/MixedRealityStsClientTests.getToken[1].json
  sdk/mixedreality/azure-mixedreality-authentication/swagger/autorest.md
  sdk/mixedreality/azure-mixedreality-authentication/swagger/update.ps1
Due: eng/pipelines/link-verification.yml

Prepare azure-mixedreality-authentication for 1.2.28 patch release.
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-communication-chat for 1.5.5 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-data-schemaregistry to the release version 1.4.9.
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClient.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryClient.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryClientBuilder.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/AzureSchemaRegistryImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/AzureSchemaRegistryImplBuilder.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemaGroupsOperationsImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemaRegistryHelper.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/Error.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/ErrorDetail.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/ErrorException.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaFormatImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaGroups.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaId.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaVersions.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetByIdHeaders.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetByIdResponse.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetSchemaVersionHeaders.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetSchemaVersionResponse.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasQueryIdByContentHeaders.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasQueryIdByContentResponse.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasRegisterHeaders.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasRegisterResponse.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/package-info.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/package-info.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/models/SchemaProperties.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/module-info.java
  sdk/schemaregistry/azure-data-schemaregistry/src/samples/java/com/azure/data/schemaregistry/SchemaRegistryClientJavaDocCodeSnippets.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClientCustomTests.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClientJsonTests.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClientPlaybackTests.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClientTests.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryClientBuilderTest.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryClientTests.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  sdk/schemaregistry/azure-data-schemaregistry/swagger/README.md
Due: eng/pipelines/link-verification.yml

Prepare azure-data-schemaregistry for 1.4.10 patch release.
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-communication-jobrouter for 1.1.8 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
  sdk/communication/azure-communication-jobrouter/customization/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-security-confidentialledger to the release version 1.0.23.
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/confidentialledger/azure-security-confidentialledger/assets.json
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
  sdk/confidentialledger/azure-security-confidentialledger/src/samples/java/com/azure/security/confidentialledger/PostLedgerEntrySample.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgeCertificateClientTestBase.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerClientTestBase.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerEnvironment.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/GetConsortiumMembersTests.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/LedgerEntriesTest.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/UserTests.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/certificate/generated/ConfidentialLedgerCertificateClientTestBase.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/certificate/generated/GetLedgerIdentityTests.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/GetConsortiumMembersTests.testGetConsortiumMembersTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/GetEnclaveQuotesTests.testGetEnclaveQuotes.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/LedgerEntriesTest.testGetCollectionIdsTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/LedgerEntriesTest.testPostLedgerEntryTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/UserTests.testGetUserTests.json
  sdk/confidentialledger/azure-security-confidentialledger/test-resources-pre.ps1
  sdk/confidentialledger/azure-security-confidentialledger/test-resources.json
  sdk/confidentialledger/azure-security-confidentialledger/tests.yml
Due: eng/pipelines/link-verification.yml

Prepare azure-security-confidentialledger for 1.0.24 patch release.
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-messaging-webpubsub to the release version 1.3.0.
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/README.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/TestUtils.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/TokenGenerationTest.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClientTests.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/WebPubSubServiceClientTests.java
Due: eng/pipelines/link-verification.yml

Prepare azure-messaging-webpubsub for 1.3.1 patch release.
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-monitor-ingestion to the release version 1.2.4.
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionAsyncClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/Batcher.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/IngestionUsingDataCollectionRulesClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/Utils.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/module-info.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogData.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionAsyncClientTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionClientBuilderTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionClientConcurrencyTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionClientTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionTestBase.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/implementation/ConcurrencyLimitingSpliteratorTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/implementation/UtilsTest.java
Due: eng/pipelines/link-verification.yml

Prepare azure-monitor-ingestion for 1.2.5 patch release.
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-ingestion-perf/pom.xml
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-data-tables to the release version 12.4.4.
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/BuilderHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableAsyncClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceAsyncClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableUtils.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientBuilderTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTestBase.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientBuilderTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTestBase.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TestUtils.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/implementation/AzureTableImplTest.java
Due: eng/pipelines/link-verification.yml

Prepare azure-data-tables for 12.4.5 patch release.
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-communication-messages for 1.0.7 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-messages/CHANGELOG.md
  sdk/communication/azure-communication-messages/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-security-keyvault-keys to the release version 4.8.7.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/assets.json
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyServiceVersion.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyServiceVersion.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/implementation/CryptographyUtils.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/LifetimeActionsType.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyRotationPolicyAction.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Prepare azure-security-keyvault-keys for 4.8.8 patch release.
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-identity-extensions to the release version 1.1.19.
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/identity/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/README.md
  sdk/identity/azure-identity-extensions/pom.xml
Due: eng/pipelines/link-verification.yml

Prepare azure-identity-extensions for 1.1.20 patch release.
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-communication-sms for 1.1.28 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-monitor-query for 1.5.2 patch release.
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-messaging-eventhubs for 5.18.8 patch release.
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-communication-email for 1.0.17 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-data-appconfiguration to the release version 1.7.0.
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationClientCredentials.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationCredentialsPolicy.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingDeserializationHelper.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingHelper.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingSerializationHelper.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/CreateSnapshotUtilClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/SyncToken.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/SyncTokenPolicy.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/Utility.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/ConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/FeatureFlagConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SecretReferenceConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SettingSelector.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SnapshotSelector.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/FeatureFlagSettingUnitTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/SecretReferenceConfigurationSettingUnitTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/SettingSelectorTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/TestHelper.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/implementation/ConfigurationCredentialPolicyTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingDeserializerTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingSerializerTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/implementation/SyncTokenPolicyTest.java
Due: eng/pipelines/link-verification.yml

Prepare azure-data-appconfiguration for 1.7.1 patch release.
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

We have both release branch and patch release prepare branch created successfully
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

Updated list of libraries to patch in patch-release.yml
  eng/pipelines/patch-release.yml
Due: eng/pipelines/mgmt.yml

Reset sources for azure-ai-contentsafety to the release version 1.0.6.
  sdk/contentsafety/azure-ai-contentsafety/CHANGELOG.md
  sdk/contentsafety/azure-ai-contentsafety/README.md
  sdk/contentsafety/azure-ai-contentsafety/pom.xml
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistAsyncClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistClientBuilder.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyAsyncClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyClientBuilder.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/BlocklistClientImpl.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/ContentSafetyClientImpl.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/JsonMergePatchHelper.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AddOrUpdateTextBlocklistItemsOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AddOrUpdateTextBlocklistItemsResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageOutputType.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextOutputType.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ContentSafetyImageData.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ImageCategoriesAnalysis.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ImageCategory.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/RemoveTextBlocklistItemsOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklist.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklistItem.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklistMatch.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextCategoriesAnalysis.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextCategory.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/module-info.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/resources/META-INF/azure-ai-contentsafety_apiview_properties.json
  sdk/contentsafety/azure-ai-contentsafety/src/test/java/com/azure/ai/contentsafety/generated/ContentSafetyClientTestBase.java
  sdk/contentsafety/azure-ai-contentsafety/tsp-location.yaml
Due: eng/pipelines/link-verification.yml

Prepare azure-ai-contentsafety for 1.0.7 patch release.
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/contentsafety/azure-ai-contentsafety/CHANGELOG.md
  sdk/contentsafety/azure-ai-contentsafety/pom.xml
  sdk/fabric/azure-resourcemanager-fabric/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-developer-devcenter for 1.0.4 patch release.
  eng/versioning/version_client.txt
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
  sdk/devcenter/azure-developer-devcenter/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
