Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Generate
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
  ...

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

Review comment
  sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java
Due: none

some javadocs
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClient.java
Due: none

Review comment
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
Due: none

feat(adt): Add helper models for digital twins, update serialization logic
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsClientBuilder.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serialization/BasicDigitalTwin.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serialization/DigitalTwinMetadata.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serialization/WritableProperty.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serializer/DigitalTwinsStringSerializer.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/AsyncSample.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/CustomDigitalTwin.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/SyncSample.java
Due: none

update API surface for relationship APIs
  sdk/digitaltwins/azure-digitaltwins-core/API design.md
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serialization/BasicDigitalTwin.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serialization/DigitalTwinsResponse.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serialization/DigitalTwinsResponseHeaders.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/AsyncSample.java
Due: none

Added unit test
  sdk/core/azure-core/src/test/java/com/azure/core/util/ClientOptionsTest.java
Due: none

Exclude non azure-client-sdk-parent children POMs
  eng/pipelines/aggregate-reports.yml
  eng/scripts/Generate-Client-Aggregate-Pom.ps1
Due: eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt.yml

Anomaly detector codegen (#14472)
  eng/.docsettings.yml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/anomalydetector/azure-ai-anomalydetector/CHANGELOG.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorAsyncClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorClientBuilder.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/implementation/AnomalyDetectorClientImpl.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/implementation/package-info.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AnomalyDetectorErrorCodes.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ApiError.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ApiErrorException.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ChangePointDetectRequest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ChangePointDetectResponse.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/EntireDetectResponse.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/Granularity.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/LastDetectResponse.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/Point.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/Request.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/package-info.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/package-info.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/module-info.java
  sdk/anomalydetector/azure-ai-anomalydetector/swagger/README.md
  sdk/anomalydetector/ci.yml
  sdk/anomalydetector/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/mgmt.yml

Added more unit test
  sdk/core/azure-core/src/test/java/com/azure/core/util/HeaderTest.java
Due: none

Codegen from updated swagger
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorAsyncClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/implementation/AnomalyDetectorClientImpl.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AnomalyDetectorError.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AnomalyDetectorErrorException.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ChangePointDetectRequest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/DetectRequest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/TimeGranularity.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/TimeSeriesPoint.java
Due: none

Add parent to generated POM
  eng/scripts/Generate-Client-Aggregate-Pom.ps1
Due: eng/pipelines/mgmt.yml

code regen after merging from master
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorAsyncClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorClient.java
Due: none

Updating unit test
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/HeaderTest.java
Due: none

Fix tests and pom
  eng/.docsettings.yml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherImplTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/resources/session-records/publishCloudEventsImpl.json
  sdk/eventgrid/azure-messaging-eventgrid/src/test/resources/session-records/publishCustomEventsImpl.json
  sdk/eventgrid/azure-messaging-eventgrid/src/test/resources/session-records/publishEventGridEventsImpl.json
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
  sdk/eventgrid/pom.xml
Due: eng/pipelines/mgmt.yml

checkstyle issues
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeSentimentAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
Due: none

Interface changes in eventhubs
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
Due: none

Skip generating README and CHANGELOG artifacts
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt.yml

update delete and update APIs
  sdk/digitaltwins/azure-digitaltwins-core/API design.md
Due: none

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/926
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/link-replacement.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/mgmt.yml

Move DigitalTwinsResponse and DigitalTwinsResponseHeaders to util package
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/util/DigitalTwinsResponse.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/util/DigitalTwinsResponseHeaders.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/AsyncSample.java
Due: none

more updates
  sdk/digitaltwins/azure-digitaltwins-core/API design.md
Due: none

fix broken link (#14427)
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
Due: none

Spring live testing - add variables tests.yml (#12285)
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/microsoft/azure/test/aad/approle/AADAppRoleStatelessAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/microsoft/azure/test/aad/group/AADAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/microsoft/azure/test/oauth/OAuthUtils.java
  sdk/spring/tests.yml
Due: none

Generated from b9c06c4ea0f48bbe80323fa1f239a8602f3d5c26
  sdk/redis/mgmt-v2018_03_01/pom.xml
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/NotificationListResponse.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/Operation.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/PatchSchedules.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/RedisAccessKeys.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/RedisFirewallRule.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/RedisForceRebootResponse.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/RedisLinkedServerWithProperties.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/RedisPatchSchedule.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/RedisResource.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/ScheduleEntry.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/Sku.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/CacheManager.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/FirewallRulesImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/LinkedServersImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/NotificationListResponseImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/OperationImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/OperationsImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/PatchSchedulesImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/PatchSchedulesInner.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/RedisAccessKeysImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/RedisFirewallRuleImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/RedisForceRebootResponseImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/RedisImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/RedisLinkedServerWithPropertiesImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/RedisPatchScheduleImpl.java
  sdk/redis/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/redis/v2018_03_01/implementation/RedisResourceImpl.java
Due: none

Generated from 1c73b8155e8ab0ff373bfe759f8660b77551863c
  sdk/search/mgmt-v2015_02_28/pom.xml
Due: none

refer to reviewer' comment and update
  sdk/spring/scripts/artifact_id_pair.py
  sdk/spring/scripts/replace_util.py
  sdk/spring/scripts/version_update_item.py
  sdk/spring/tests.yml
Due: none

Sync eng/common directory with azure-sdk-tools repository for Tools PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Due: eng/pipelines/mgmt.yml

Fix review feedback
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/receivesettle/async/MessageReceiverAsyncApp.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/receivesettle/async/MessageReceiverAsyncWorker.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/receivesettle/async/OrderAsyncService.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/receivesettle/sync/MessageReceiverSyncApp.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/receivesettle/sync/MessageReceiverSyncWorker.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/receivesettle/sync/OrderSyncService.java
Due: none

throw illegal argument exception when casting
  sdk/resourcemanager/azure-resourcemanager-eventhubs/src/main/java/com/azure/resourcemanager/eventhubs/implementation/EventHubDisasterRecoveryPairingImpl.java
  sdk/resourcemanager/azure-resourcemanager-eventhubs/src/main/java/com/azure/resourcemanager/eventhubs/implementation/EventHubImpl.java
Due: none

Sync eng/common directory with azure-sdk-tools repository for Tools PR 915 (#14477)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Due: eng/pipelines/mgmt.yml

For azure-spring-boot-samples, use 'current' instead of 'dependency'
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-stateless/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmosdb/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-data-gremlin/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-appconfiguration-conversion-sample-complete/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-appconfiguration-conversion-sample-initial/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-appconfiguration-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-cache-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-eventhubs-binder-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-eventhubs-integration-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-eventhubs-kafka-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-eventhubs-multibinders-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-eventhubs-operation-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-feature-management-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-feature-management-web-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-messaging-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-servicebus-integration-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-servicebus-operation-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-servicebus-queue-binder-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-servicebus-queue-multibinders-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-servicebus-topic-binder-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-storage-queue-integration-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-storage-queue-operation-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-storage-resource-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin-web-service/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/pom.xml
Due: none

Use update_versions.py to update version.
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-stateless/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmosdb/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-data-gremlin/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-appconfiguration-conversion-sample-complete/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-appconfiguration-conversion-sample-initial/pom.xml
Due: none

For azure-spring-boot-sample, change all 'dependency' version tag to 'current'.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob/pom.xml
Due: none

Run update_versions.py to update version.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob/pom.xml
Due: none

Resolve netty version conflicts
  eng/versioning/external_dependencies.txt
  sdk/spring/azure-spring-boot-starter-servicebus-jms/pom.xml
Due: eng/pipelines/mgmt.yml

Add changelog
  sdk/resourcemanager/azure-resourcemanager-appplatform/CHANGELOG.md
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt.yml: any file but: sdk
