Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

Remove try-finally pattern on tests
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/FileTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/PoolTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/TaskTests.java
Due: eng/pipelines/pullrequest.yml

[Automation] Generate SDK based on TypeSpec 0.37.4 DEV
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/transcription/azure-ai-speech-transcription/src/main/java/com/azure/ai/speech/transcription/implementation/TranscriptionClientImpl.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix versioning powershell script to exclude checks for versions specified via variables
  eng/versioning/pom_file_version_scanner.ps1
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Removing unused external dependencies
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/pom.xml
Due: eng/pipelines/mgmt.yml

Update ci.yml
  sdk/cosmos/ci.yml
Due: none

react to comments
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosUtils.java
Due: none

Update pom.xml
  sdk/cosmos/azure-cosmos-spark_3/pom.xml
Due: none

Fixing scala 2.13 incompatibilities
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/CosmosCatalogBase.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/CosmosClientMetrics.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/PointWriter.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingReadManyIterator.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/catalog/CosmosCatalogCosmosSDKClient.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/CosmosPartitionPlannerITest.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/FilterAnalyzerSpec.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/SparkE2EBulkWriteITest.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/TestUtils.scala
Due: none

Update pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/pom.xml
Due: none

Fix Unsafe Deserialization (#47594)
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosUtils.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorTest.java
Due: eng/pipelines/link-verification.yml

update changelog
  sdk/transcription/azure-ai-speech-transcription/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Attempt to resolve transcription failures during From Source
  sdk/transcription/azure-ai-speech-transcription/assets.json
  sdk/transcription/azure-ai-speech-transcription/src/test/java/com/azure/ai/speech/transcription/TranscriptionAsyncClientTest.java
  sdk/transcription/azure-ai-speech-transcription/src/test/java/com/azure/ai/speech/transcription/TranscriptionClientTest.java
  sdk/transcription/azure-ai-speech-transcription/src/test/java/com/azure/ai/speech/transcription/TranscriptionClientTestBase.java
  sdk/transcription/azure-ai-speech-transcription/src/test/resources/sample.wav
Due: eng/pipelines/pullrequest.yml

update changelog (#47626)
  sdk/transcription/azure-ai-speech-transcription/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

re-run ci
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobApiTests.java
Due: eng/pipelines/pullrequest.yml

Try sequential test running
  sdk/transcription/azure-ai-speech-transcription/pom.xml
Due: eng/pipelines/pullrequest.yml

changing tid to tenantId
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BlobSasImplUtil.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/KeyInfo.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/UserDelegationKey.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ShareSasImplUtil.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/KeyInfo.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/UserDelegationKey.java
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/QueueSasImplUtil.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/KeyInfo.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/UserDelegationKey.java
  sdk/storage/azure-storage-queue/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Fixing CI tests or spark 3.5 to use Java 17
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Test out a longer timeout for Transcription tests
  sdk/transcription/azure-ai-speech-transcription/pom.xml
Due: eng/pipelines/pullrequest.yml

Test out different JUnit parallelization configurations
  sdk/transcription/azure-ai-speech-transcription/pom.xml
Due: eng/pipelines/pullrequest.yml

Test out removing retries for Transcription tests
  sdk/transcription/azure-ai-speech-transcription/src/test/java/com/azure/ai/speech/transcription/TranscriptionClientTestBase.java
Due: eng/pipelines/pullrequest.yml

Adding `x-ms-cosmos-hub-region-processing-only` header.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestHeaders.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/perPartitionAutomaticFailover/GlobalPartitionEndpointManagerForPerPartitionAutomaticFailover.java
Due: none

Updated the network policy
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Added linked doc
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Used permissive policy
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

fix(containerinstance): update test comment and remove outdated reference
  sdk/containerinstance/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerGroupTest.java
Due: eng/pipelines/pullrequest.yml

``` feat(redis): support disabling authentication through access keys
  sdk/redis/azure-resourcemanager-redis/CHANGELOG.md
  sdk/redis/azure-resourcemanager-redis/src/main/java/com/azure/resourcemanager/redis/models/RedisCache.java
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Apply suggestion from @XiaofeiCao
  sdk/redis/azure-resourcemanager-redis/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

feat(resourcemanager): update RedisCache access key authentication description
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

chore(containerinstance): update assets tag
  sdk/containerinstance/azure-resourcemanager-containerinstance/assets.json
Due: eng/pipelines/pullrequest.yml

refactor(tests): remove unused storage manager from container instance tests
  sdk/containerinstance/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerGroupTest.java
  sdk/containerinstance/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerInstanceManagementTest.java
Due: eng/pipelines/pullrequest.yml

refactor(ContainerGroupTest): remove unused imports
  sdk/containerinstance/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerGroupTest.java
Due: eng/pipelines/pullrequest.yml

Update sdk/containerinstance/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerGroupTest.java
  sdk/containerinstance/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerGroupTest.java
Due: eng/pipelines/pullrequest.yml

Fixing illegal access error when using Java 17
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/pom.xml
Due: none

Making --add-opens conditional on Java version
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/pom.xml
Due: none

Update spark.yml
  sdk/cosmos/spark.yml
Due: none
