Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Reporting
    displayName: Generate reports (with build)
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: templates/steps/install-reporting-tools.yml
      parameters:
        Options: --batch-mode
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

remove perf module
  sdk/appconfiguration/pom.xml
Due: none

Update order of resources in the support.md
  SUPPORT.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

PR feedback
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobInputStream.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/StorageInputStream.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileInputStream.java
Due: none

Merge test cases
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/StringSerializerUnitTests.java
Due: none

changelog and all test passed
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Due: eng/pipelines/link-verification.yml

Adding usnit test for policyFormatVersion deserialization
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/EncryptionKeyWrapMetadata.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/models/ClientEncryptionPolicyTest.java
Due: none

this isn't necessary.
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-perf/memory-stress-scenarios.ps1
Due: eng/pipelines/mgmt.yml

Update dependency versions
  sdk/modelparser/azure-digitaltwins-parser/pom.xml
Due: none

Revert "this isn't necessary."
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-perf/memory-stress-scenarios.ps1
Due: eng/pipelines/mgmt.yml

this isn't necessary
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
Due: eng/pipelines/mgmt.yml

upgrade version
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

resolving comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ClientEncryptionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/EncryptionKeyWrapMetadata.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
Due: none

update CHANGELOG
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

moving to root
  sdk/cosmos/ci.spark.databricks.yml
  sdk/cosmos/ci.spark.yml
Due: none

add assertion to make sure we don't regress "at least one operation completed".
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
Due: eng/pipelines/mgmt.yml

version
  sdk/cosmos/ci.spark.databricks.yml
Due: none

Removing endpoint and access key EVs for ACS SDK
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityClientTestBase.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersIntegrationTestBase.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsTestBase.java
Due: none

Use closeAsync
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AsyncAutoCloseable.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RequestResponseChannelTest.java
Due: none

[Appconfig] 1.1.12 May release prepare (#21643)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

ADT: Bug fix: serialization issue with strings which starts with a numeric value. (#21623)
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serializer/DigitalTwinsStringSerializer.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/StringSerializerUnitTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/TwinAsyncTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/TwinTestBase.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/TwinTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.createOrReplaceTwinFailsWhenIfNoneMatchStar[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.createOrReplaceTwinSucceedsWhenNoIfNoneHeader[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.deleteTwinFailsWhenETagDoesNotMatch[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.deleteTwinSucceedsWhenETagMatches[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.digitalTwinLifecycle[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.digitalTwinWithNumericStringProperty[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.patchTwinFailsWhenETagDoesNotMatch[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.patchTwinSucceedsWhenETagMatches[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.twinNotExistThrowsNotFoundException[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.createOrReplaceTwinFailsWhenIfNoneMatchStar[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.createOrReplaceTwinSucceedsWhenNoIfNoneHeader[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.deleteTwinFailsWhenETagDoesNotMatch[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.deleteTwinSucceedsWhenETagMatches[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.digitalTwinLifecycle[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.digitalTwinWithNumericStringProperty[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.patchTwinFailsWhenETagDoesNotMatch[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.patchTwinSucceedsWhenETagMatches[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.twinNotExistThrowsNotFoundException[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/test-assets/FloorModelPayload.json
Due: eng/pipelines/link-verification.yml

Use closeAsync(String message)
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiver.java
Due: none

parameters
  sdk/cosmos/ci.spark.databricks.yml
Due: none

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-iothub (#21632)
  eng/versioning/version_client.txt
  sdk/iothub/azure-resourcemanager-iothub/CHANGELOG.md
  sdk/iothub/azure-resourcemanager-iothub/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Change timeoutSource to allowsLongOperation
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
Due: none

[Storage] Stress tests in pipeline? (#21030)
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
  sdk/storage/azure-storage-perf/memory-stress-scenarios.ps1
  sdk/storage/tests.yml
Due: eng/pipelines/mgmt.yml

updating links in read me
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/README.md
Due: eng/pipelines/link-verification.yml

Updated to latest version of blob swagger, ability to generated off autorest v4.0.28
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AzureBlobStorageImplBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobImmutabilityPolicyMode.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobItemPropertiesInternal.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsDeleteImmutabilityPolicyHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsDeleteImmutabilityPolicyResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsDownloadHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsGetPropertiesHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsSetImmutabilityPolicyHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsSetImmutabilityPolicyResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsSetLegalHoldHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsSetLegalHoldResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/ContainersGetPropertiesHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobContainerEncryptionScope.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobContainerItemProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobErrorCode.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobHttpHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobServiceProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/CpkInfo.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ListBlobsIncludeItem.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/swagger/pom.xml
  sdk/storage/azure-storage-blob/swagger/src/main/java/com/azure/storage/blob/customization/BlobStorageCustomization.java
Due: eng/pipelines/link-verification.yml

updating changelog
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

StringIndexType in Changelog
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Decrease min coverage for phonenumbers due to blocked tests
  sdk/communication/azure-communication-phonenumbers/pom.xml
Due: none

Sync eng/common directory with azure-sdk-tools for PR 1585 (#21639)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: eng/pipelines/mgmt.yml

updating links
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/README.md
Due: eng/pipelines/link-verification.yml

generated with old version instead
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobContainerEncryptionScope.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobHttpHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobServiceProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/CpkInfo.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/swagger/pom.xml
  sdk/storage/azure-storage-blob/swagger/src/main/java/com/azure/storage/blob/customization/BlobStorageCustomization.java
Due: none

Updates to RequestContent and move OkHttp to using RequestContent#writeTo
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/GoodLoggingCheck.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/package-info.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpRequest.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/ArrayContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/ByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/PublisherByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/RequestContent.java
Due: eng/pipelines/mgmt.yml

added one more null
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
Due: none

nothing changed, just format code
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultCertificates.java
Due: none

Fix issue#16466 Implement an Event Hubs Shared Access Key Credential 202105190926 by LiHong
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientBuilderTest.java
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
