Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

WIP
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CodeInterpreterTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/McpTool.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/ComparisonFilterSerializationTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/FileSearchToolSerializationTests.java
Due: eng/pipelines/pullrequest.yml

Simplified PR
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CodeInterpreterTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/ComparisonFilter.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/FileSearchTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/McpTool.java
Due: eng/pipelines/pullrequest.yml

CI fixes
  sdk/ai/azure-ai-agents/checkstyle-suppressions.xml
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/FileSearchTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/PromptAgentDefinition.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/FileSearchToolSerializationTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/PromptAgentDefinitionSerializationTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/ReasoningDedupSerializationTests.java
Due: eng/pipelines/pullrequest.yml

Rolling back things
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/ComparisonFilter.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/FileSearchTool.java
Due: eng/pipelines/pullrequest.yml

Final cleanup
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CodeInterpreterTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/FileSearchTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/McpTool.java
Due: eng/pipelines/pullrequest.yml

Final cleanup 2
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CodeInterpreterTool.java
Due: eng/pipelines/pullrequest.yml

[Automation] Generate SDK based on TypeSpec 0.43.0 DEV
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/cdn/azure-resourcemanager-cdn/src/main/java/com/azure/resourcemanager/cdn/models/MetricsResponseSeriesItem.java
  sdk/cdn/azure-resourcemanager-cdn/src/main/java/com/azure/resourcemanager/cdn/models/MetricsResponseSeriesItemDatum.java
  sdk/cdn/azure-resourcemanager-cdn/src/main/java/com/azure/resourcemanager/cdn/models/WafMetricsResponseSeriesItem.java
  sdk/cdn/azure-resourcemanager-cdn/src/main/java/com/azure/resourcemanager/cdn/models/WafMetricsResponseSeriesItemDatum.java
  sdk/cdn/azure-resourcemanager-cdn/src/main/resources/META-INF/azure-resourcemanager-cdn_metadata.json
  sdk/contentunderstanding/azure-ai-contentunderstanding/src/main/java/com/azure/ai/contentunderstanding/ContentUnderstandingAsyncClient.java
  sdk/contentunderstanding/azure-ai-contentunderstanding/src/main/java/com/azure/ai/contentunderstanding/ContentUnderstandingClient.java
  sdk/contentunderstanding/azure-ai-contentunderstanding/src/main/java/com/azure/ai/contentunderstanding/implementation/ContentUnderstandingClientImpl.java
  sdk/contentunderstanding/azure-ai-contentunderstanding/src/main/java/com/azure/ai/contentunderstanding/implementation/models/AnalyzeRequest.java
  sdk/contentunderstanding/azure-ai-contentunderstanding/src/main/java/com/azure/ai/contentunderstanding/implementation/models/GrantCopyAuthorizationRequest.java
  sdk/contentunderstanding/azure-ai-contentunderstanding/src/main/resources/META-INF/azure-ai-contentunderstanding_metadata.json
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestAdministrationAsyncClient.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestAdministrationClient.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/LoadTestAdministrationClientImpl.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/models/CloneTestRequest.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/resources/META-INF/azure-developer-loadtesting_metadata.json
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/MessageDeltaContent.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/RunStepDeltaCodeInterpreterOutput.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AzureSemanticEouDetection.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AzureSemanticEouDetectionEn.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AzureSemanticEouDetectionMultilingual.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AzureVoice.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ClientEvent.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/EouDetection.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/EouDetectionModel.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/EouDetectionModel1.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/InterimResponseConfigBase.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ResponseStatusDetails.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionResponseItem.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionUpdate.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/TurnDetection.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/VoiceLiveContentPart.java
  sdk/voicelive/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/VoiceLiveToolDefinition.java
  sdk/voicelive/azure-ai-voicelive/src/main/resources/META-INF/azure-ai-voicelive_metadata.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Final AI pass
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CodeInterpreterTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/FileSearchTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/McpTool.java
Due: eng/pipelines/pullrequest.yml

Moved files to avoid using reserved word for name
  sdk/ai/.skills/cspell.yaml
  sdk/ai/.skills/dup-classes/SKILL.md
  sdk/ai/.workflow_docs/codegen/SKILL.md
  sdk/ai/.workflow_docs/cspell.yaml
  sdk/ai/.workflow_docs/dedup-openai/SKILL.md
  sdk/ai/.workflow_docs/dup-classes/SKILL.md
  sdk/ai/.workflow_docs/github/SKILL.md
  sdk/ai/.workflow_docs/release-notes/SKILL.md
  sdk/ai/.workflow_docs/run-tests/SKILL.md
  sdk/ai/.workflow_docs/search-m2/SKILL.md
  sdk/ai/.workflow_docs/test-proxy/SKILL.md
  sdk/ai/.workflow_docs/tsp-naming-collision/SKILL.md
  sdk/ai/.workflow_docs/tsp-type-override/SKILL.md
  sdk/ai/.workflow_docs/union-type-wrappers/SKILL.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Copilot feedback and more unit tests
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CodeInterpreterTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/McpTool.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/CodeInterpreterToolSerializationTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/models/McpToolSerializationTests.java
Due: eng/pipelines/pullrequest.yml

README snippet fix
  sdk/ai/azure-ai-agents/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Skill update
  sdk/ai/.workflow_docs/union-type-wrappers/SKILL.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

More word exceptions
  sdk/ai/.workflow_docs/cspell.yaml
Due: eng/pipelines/pullrequest.yml

Changelog updates
  sdk/ai/azure-ai-agents/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

add new case 1.5 Verify Swagger and TypeSpec Code Generation fails
  doc/dev/sdk-generation-pipeline-troubleshooting.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

test update
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/recurrence/RecurrenceValidator.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/recurrence/RecurrenceEvaluatorDSTTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/recurrence/RecurrenceValidatorDSTTest.java
Due: none

update the teamsphone call changes
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnectionAsync.java
Due: eng/pipelines/pullrequest.yml

remove local config file
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
Due: eng/pipelines/pullrequest.yml

revert linting extensions to beta2
  sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 14463
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

add sanitizer for skoid
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
Due: eng/pipelines/pullrequest.yml

Use both NPM_CONFIG_USERCONFIG and NPM_CONFIG_REGISTRY to give the pipeline more flexibility (#48384)
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

remove comments with old code
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/CrcInputStream.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/CrcOutputStream.java
Due: eng/pipelines/pullrequest.yml

add logging for errors
  sdk/storage/azure-storage-file-datalake-stress/src/main/java/com/azure/storage/file/datalake/stress/DataLakeScenarioBase.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/CrcInputStream.java
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/CrcOutputStream.java
Due: eng/pipelines/pullrequest.yml

initial draft
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/builders/AbstractTelemetryBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/builders/AbstractTelemetryBuilderTest.java
Due: eng/pipelines/pullrequest.yml

Address remaining PR review comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/inference/InferenceService.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/SemanticRerankScore.java
Due: none

Push uncommitted improvements to 4 classes
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/inference/InferenceServiceTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/SemanticRerankResult.java
Due: none

Update CHANGELOG for semantic reranking feature
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Sync eng/common directory with azure-sdk-tools for PR 14253 (#48271)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 14420
  eng/common/pipelines/templates/jobs/benchmark-job.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

implementation for other APIs
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobParallelUploadOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlockBlobWriteBehavior.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobContentValidationPerfTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobContentValidationUploadTests.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/StorageContentValidationPolicy.java
Due: eng/pipelines/pullrequest.yml

fix syntax error
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/builders/AbstractTelemetryBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/builders/AbstractTelemetryBuilderTest.java
Due: eng/pipelines/pullrequest.yml
