Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml

Updated latest service versions
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Due: eng/pipelines/link-verification.yml

Updated changelogs
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Feature/storage/stg82 release (#28643)
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestListPathsExpiryAndCreation.json
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Due: eng/pipelines/link-verification.yml

Update msal4j to 1.12.0
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
Due: eng/pipelines/mgmt.yml

Fixed pipeline failures
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/microsoft-azure-storage-blob/README.md
Due: eng/pipelines/link-verification.yml

Move anonymous class to static nested class
  sdk/identity/azure-identity/src/test/java/com/azure/identity/util/TestUtils.java
Due: none

update CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

fix wrong version
  eng/jacoco-test-coverage/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
Due: eng/pipelines/mgmt.yml

fix bom version not updated
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
Due: none

modify spring changelog date
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add index for changelog
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-trace-sleuth/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add index for changelog (#28679)
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-trace-sleuth/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

refactor ServiceBusTemplate
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/graph/AadGraphClientTest.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/DefaultServiceBusNamespaceProducerFactory.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusProducer.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusProducerFactory.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusTemplate.java
  sdk/spring/spring-messaging-azure-servicebus/src/test/java/com/azure/spring/messaging/servicebus/core/DefaultServiceBusNamespaceProducerFactoryTests.java
  sdk/spring/spring-messaging-azure-servicebus/src/test/java/com/azure/spring/messaging/servicebus/core/ServiceBusTemplateSendTests.java
Due: none

fix thread interrupted exception reset flag
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/graph/AadGraphClient.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapi/AadOboOAuth2AuthorizedClientProvider.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/graph/AadGraphClientTest.java
Due: none

fix thread interrupted exception reset flag
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/graph/AadGraphClientTest.java
Due: none

fix the resource close issue.
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/DefaultServiceBusNamespaceProducerFactory.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusProducer.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusProducerFactory.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusTemplate.java
  sdk/spring/spring-messaging-azure-servicebus/src/test/java/com/azure/spring/messaging/servicebus/core/DefaultServiceBusNamespaceProducerFactoryTests.java
  sdk/spring/spring-messaging-azure-servicebus/src/test/java/com/azure/spring/messaging/servicebus/core/ServiceBusTemplateSendTests.java
Due: none

Address Annie review comments
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/CosmosDBLiveContainerMigration.scala
Due: none

Databricks live container migration sample (#28252)
  eng/.docsettings.yml
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/CosmosDBLiveContainerMigration.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/CosmosDBLiveContainerMigrationValidation.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/media/attach-cluster.jpg
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/media/checkpoint.jpg
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/media/import-notebooks.jpg
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/media/jar.jpg
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/media/run-notebook.jpg
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/media/spark-cluster.jpg
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/media/streaming.jpg
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/media/validation.jpg
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/README.md
Due: eng/pipelines/link-verification.yml

Changed azure-core-test to minor version release
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/e2e/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Made "Delete if exists file system that was already deleted" @PlaybackOnly
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
Due: none

Update FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
Due: none

Sync stack: Hack download to file. (#28630)
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponse.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyFileWriteSubscriber.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/Utility.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponse.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/StreamResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ChunkedDownloadUtils.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
Due: eng/pipelines/mgmt.yml

Update sdk/storage/microsoft-azure-storage-blob/README.md
  sdk/storage/microsoft-azure-storage-blob/README.md
Due: eng/pipelines/link-verification.yml

Prototype ServiceVersionTrait
  sdk/core/azure-core/src/main/java/com/azure/core/client/traits/ServiceVersionTrait.java
Due: none

Update Groovy reflection usage
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageSpec.groovy
Due: none

fix changefeed versions.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update changefeed pom and readme
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Include azure-core-amqp
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Made "Delete if exists file system that was already deleted" @Playbac… (#28692)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Removed an extra schedule deletion call from list paths
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
Due: none

Minor CHANGELOG cleanups
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-http-netty/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add FHIR
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeHealthcareEntitiesResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesResult.java
Due: none
