Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Reporting
    displayName: Generate reports (with build)
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: templates/steps/install-reporting-tools.yml
      parameters:
        Options: --batch-mode
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

Remove oauth2-resource-server dependency since aad-b2c-starter has included it.
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
Due: eng/pipelines/link-verification.yml

minor format change
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

* Modify integration tests.
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/groupid/role/AADGroupIdRoleIT.java
Due: none

minor change to readme
  sdk/resourcemanager/README.md
Due: eng/pipelines/link-verification.yml

* Modify java doc.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
Due: none

Support client credential flow for spring aad b2c starter (#20695)
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/pom.xml
  sdk/spring/azure-spring-boot-starter/src/main/resources/aad.enable.config
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CIT.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADTrustedIssuerRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CConditions.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2COAuth2ClientConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CURL.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AuthorizationClientProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAuthorizationRequestResolverTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CConstants.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CLogoutSuccessHandlerTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CURLTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CUserPrincipalTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AbstractAADB2COAuth2ClientTestConfiguration.java
Due: none

Handling Groups by Group ID or Name. (#20691)
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/controller/RoleController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/groupid/role/AADGroupIdRoleIT.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/GraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADTokenClaim.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADAccessTokenGroupRolesExtractionTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebAppConfigurationTest.java
Due: eng/pipelines/link-verification.yml

Add client credentials flow doc (#20764)
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/src/main/java/com/azure/spring/sample/eventhubs/binder/EventProducerController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/src/main/java/com/azure/spring/sample/eventhubs/multibinders/EventProducerController.java
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/add-graph-permissions.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/add-webapia-permission.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/add-webapib-permission-to-webapia.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/b2c-webapp-webapi-overall.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/configure-app-roles.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/expose-web-api-b-approle.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/source-file/b2c-webapp-webapi-overall.drawio
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/autoconfigure/b2c/ResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/autoconfigure/b2c/ResourceServerController.java
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/autoconfigure/b2c/WebappAccessResourceConfiguration.java
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/autoconfigure/b2c/WebappAccessResourceController.java
Due: eng/pipelines/link-verification.yml

Optimization aad b2c configuration condition
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CConditions.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2COAuth2ClientConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfiguration.java
Due: none

try this.
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Due: none

flaky tests.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/implementation/util/StorageBlockingSinkTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
Due: none

flaky tests.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
Due: none

Updated cosmos changelogs to have title headers as H2
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

fix maven :/
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Due: none

Bump up phone number version to hot fix; modify dependency for common to 1.0.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

[Storage] Fix flaky tests. (#21092)
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/implementation/util/StorageBlockingSinkTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
Due: none

Missed a change
  sdk/communication/azure-communication-phonenumbers/pom.xml
Due: none

how about this?
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Due: none

Fix dependency namespace for Common
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/mgmt.yml

Updated cosmos changelogs to have title headers as H2 (#21093)
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

bump spock.
  eng/versioning/external_dependencies.txt
  sdk/parents/azure-arm-parent/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Due: eng/pipelines/mgmt.yml

queues work
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
Due: none

remove useless pom module
  pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/src/main/java/com/azure/data/appconfiguration/perf/ListConfigurationSettingsTest.java
Due: eng/pipelines/mgmt.yml

add autogen suppression
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasksDetails.java
Due: eng/pipelines/mgmt.yml

Tidy up dependency
  eng/versioning/external_dependencies.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update the pom file
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Due: none

blobs.
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/PageBlobAPITestgetblobnameandbuildclient[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/PageBlobAPITestgetblobnameandbuildclient[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/PageBlobAPITestgetblobnameandbuildclient[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/PageBlobAPITestgetblobnameandbuildclient[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/PageBlobAPITestgetblobnameandbuildclient[4].json
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
Due: none

batch.
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
Due: none

this should do... for the most part..
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/NioBlobInputStreamTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
Due: none

and this must be different....
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
Due: none

the level of cohesion is too d** low.
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
Due: none

this is better.
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
Due: none

Clean up the exports
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/module-info.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryClientsTestBase.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/TestUtils.java
Due: none

clean up imports
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/TestUtils.java
Due: none

update appconfig version to latest
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
Due: none

update
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/BearerTokenAuthenticationChallengePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationChallengePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessTokenCache.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Due: none

this should do better.
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
Due: none

track 1 spock.
  eng/versioning/external_dependencies.txt
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Due: eng/pipelines/mgmt.yml

missing recordings.
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestgetblobnameandbuildclient[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestgetblobnameandbuildclient[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestgetblobnameandbuildclient[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestgetblobnameandbuildclient[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestgetblobnameandbuildclient[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTesturlparser[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTesturlparser[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTesturlparser[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTesturlparser[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTesturlparser[4].json
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
