Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

Add common header name mapping
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
Due: none

Remove pre and post run steps
  eng/common/pipelines/templates/jobs/perf.yml
  eng/pipelines/templates/jobs/perf.yml
Due: eng/pipelines/mgmt.yml

nits
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkAsyncHttpResponse.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClient.java
Due: none

remove short name
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientJavaDocCodeSnippets.java
Due: none

update
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/DefaultSyncPoller.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/SyncOverAsyncPoller.java
Due: none

Increment package versions for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-search-documents September 2022 Beta Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Altered the implementation of `mapThrowableToIllegalArgumentExceptionWhenTableNamePresent` so that it only checks if the table name is the suffix of the endpoint.
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableUtils.java
Due: none

getters/setters
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystem.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemConfig.java
Due: none

Adding debug logging statements
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailTestBase.java
Due: none

Move SearchAudience to match GA changes
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/Utility.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchAudience.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/ReadmeSamples.java
Due: none

upgrade version
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

checkstyle
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemConfig.java
Due: none

Update codeowners
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

Added recordings for added tests and corrected 'URI' to 'Uri'
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTest.java
  sdk/tables/azure-data-tables/target/test-classes/session-records/TableServiceAsyncClientTest.serviceAsyncClientCreateTableFailsWithIllegalArgumentExceptionIfTableNameInUri.json
  sdk/tables/azure-data-tables/target/test-classes/session-records/TableServiceClientTest.serviceClientDeleteTableFailsWithIllegalArgumentExceptionIfTableNameInUri.json
Due: none

Update sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableUtils.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableUtils.java
Due: none

Update documentation in sdk/communication/azure-communication-callautomation (#30785)
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callautomation/swagger/README.md
Due: eng/pipelines/link-verification.yml

Added recordings for added tests and corrected 'URI' to 'Uri'
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTest.java
  sdk/tables/azure-data-tables/target/test-classes/session-records/TableServiceAsyncClientTest.serviceAsyncClientDeleteTableFailsWithIllegalArgumentExceptionIfTableNameInUri.json
  sdk/tables/azure-data-tables/target/test-classes/session-records/TableServiceClientTest.serviceClientCreateTableFailsWithIllegalArgumentExceptionIfTableNameInUri.json
Due: none

Fix linting
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Due: eng/pipelines/mgmt.yml

don't run live test
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
Due: none

Update codeowners (#30813)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

remove the test first will be add it later
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
Due: none

revert the tests.yml file
  sdk/textanalytics/tests.yml
Due: none

change synchronization lock for creating new file systems
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
Due: none

remove unused import
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
Due: none

remove json file
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/ConfigurationClientBuilderTest.notShareDefaultHttpPipeline[1].json
Due: none

[TA] Regenerate HealthcareEntityCategory based on the latest comit (#30757)
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareEntityCategory.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/ClientSideValidationUnitTests.java
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Due: eng/pipelines/link-verification.yml

Adding log statement
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailTestBase.java
Due: none

[AppConfig] Not sharing the same default http pipeline instance between AppConfig clients + Prepare Sep Release (#30593)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

updating log statements
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailTestBase.java
Due: none

Prepare azure-search-documents September 2022 Beta Release (#30811)
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/Utility.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchAudience.java
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/ReadmeSamples.java
  sdk/search/azure-search-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Adding okhttp to pom.xml
  sdk/communication/azure-communication-email/pom.xml
Due: none

Increment package versions for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment versions for monitor releases (#30783)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/tools/azure-sdk-build-tool/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml
