Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}
      TimeoutInMinutes: 90
      ExcludePaths:
      - eng/versioning/external_dependencies.txt
      - eng/versioning/version_client.txt
  ...

Reducing log noise level for metrics
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsE2ETest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/Log4jDebugLoggingRegistryFactory.java
Due: none

STG99 versioning changes
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
Due: eng/pipelines/pullrequest.yml

fixing formatting errors
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
Due: eng/pipelines/pullrequest.yml

updating service version for QueueServiceVersion
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Due: eng/pipelines/pullrequest.yml

Remove unused setter on CreateOrUpdateReservationOptions
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/CreateOrUpdateReservationOptions.java
Due: eng/pipelines/pullrequest.yml

Put back unintentional removal of UseNode.
  eng/pipelines/templates/jobs/ci.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Move UseNode back to same location
  eng/pipelines/templates/jobs/ci.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Refactoring ClientMetricsTest to have more robust state management when a test times out
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/AAD-Auth.md
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
Due: eng/pipelines/link-verification.yml

Update pom.xml
  sdk/healthinsights/azure-health-insights-radiologyinsights/pom.xml
Due: eng/pipelines/pullrequest.yml

Update cspell.json
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

updaet version
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsServiceVersion.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/AzureDigitalTwinsAPIImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/AzureDigitalTwinsAPIImplBuilder.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DeleteJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DigitalTwinModelsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DigitalTwinsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/ImportJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJob.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobCollection.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobStatus.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobsAddHeaders.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobsAddOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobsGetByIdOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobsListOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJob.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobCollection.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsAddOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsCancelOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsDeleteOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsGetByIdOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsListOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/Status.java
  sdk/digitaltwins/azure-digitaltwins-core/swagger/autorest.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Adding logs to flaky test ClientMetricsTest.readAllItemsWithDetailMetricsWithExplicitPageSize
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FlakyTestRetryAnalyzer.java
Due: none

STG99 versioning changes (#45262)
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Due: eng/pipelines/pullrequest.yml

Adding default enablement of hedging.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutValidationTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
Due: none

Addressing review comments.
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update changelog and README
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

update version
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsServiceVersion.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/resources/DTDL/DigitalTwins/BuildingTwin.json
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/resources/DTDL/DigitalTwins/FloorTwin.json
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/resources/DTDL/DigitalTwins/RoomTwin.json
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Enabled Per-Partition Circuit Breaker to kick in for requests part of availability strategy. (#45244)
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/PerPartitionCircuitBreakerE2ETests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/perPartitionCircuitBreaker/GlobalPartitionEndpointManagerForPerPartitionCircuitBreaker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/Fetcher.java
Due: eng/pipelines/link-verification.yml

Add samples
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/AsyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/ReadmeSamples.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Test robustness improvements
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/BatchTestBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosAsyncClientTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCacheTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Due: none

Fix version on changelog
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Remove unused imports from samples
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/CreateOrUpdateReservationOptions.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/AsyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/ReadmeSamples.java
Due: eng/pipelines/pullrequest.yml

Disable verify readmes (#45250)
  eng/pipelines/templates/jobs/build-validate-pom.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Add comment to complicated code
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10521 (#45200)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix unit tests & build issues
  .vscode/cspell.json
  sdk/ai/azure-ai-agents-persistent/assets.json
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/RunsAsyncClient.java
  sdk/ai/azure-ai-agents-persistent/src/test/java/com/azure/ai/agents/persistent/ClientTestBase.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Wiring effective e2e policy cfg for diagnostics visibility.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutWithAvailabilityTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/docs/TimeoutAndRetriesConfig.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
Due: eng/pipelines/link-verification.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 10587
  eng/common/mcp/azure-sdk-mcp.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Updated CHANGELOG.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Clean up
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutValidationTests.java
Due: none

Clean up
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

update asset.json
  sdk/digitaltwins/azure-digitaltwins-core/assets.json
Due: eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
