Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

mgmt, support AKS listOrchestrators
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/implementation/KubernetesClustersImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/ContainerServiceResourceTypes.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/KubernetesClusters.java
Due: eng/pipelines/link-verification.yml

update warning log
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverter.java
Due: none

initial impl for deep delete
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachine.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/PublicIpAddressImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/PublicIpAddress.java
Due: none

[Automation] Generate Fluent Lite from #
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Review and then update code with Rujun together
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/obo/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/aad/AADWebApiITHelper.java
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOBOOAuth2AuthorizedClientProvider.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebApplicationConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/condition/aad/ClientRegistrationCondition.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/condition/aad/ResourceServerCondition.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/condition/aad/WebApplicationCondition.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/WebApplicationContextRunnerUtils.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/condition/aad/AbstractCondition.java
Due: eng/pipelines/link-verification.yml

remove unused import
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebApplicationConfiguration.java
Due: none

it testcases for aad webapp and webapi in one app
  sdk/spring/azure-spring-boot-test-aad-obo/pom.xml
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/selenium/AADWebAppAndWebApiInOneAppIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-selenium-common/src/main/java/com/azure/test/aad/common/AbstractAADSeleniumITHelper.java
Due: none

CodeGen from PR 15150 in Azure/azure-rest-api-specs Jx azuredatalake swagger correction (#15150)
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/CHANGELOG.md
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/README.md
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/pom.xml
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/DataLakeAnalyticsManager.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/fluent/models/ComputePolicyInner.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/fluent/models/DataLakeAnalyticsAccountBasicInner.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/fluent/models/DataLakeAnalyticsAccountInner.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/fluent/models/DataLakeStoreAccountInformationInner.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/fluent/models/FirewallRuleInner.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/fluent/models/StorageAccountInformationInner.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/fluent/models/StorageContainerInner.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/implementation/DataLakeAnalyticsAccountImpl.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/models/DataLakeAnalyticsAccount.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/models/DataLakeAnalyticsAccountProperties.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/models/HiveMetastore.java
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/src/main/java/com/azure/resourcemanager/datalakeanalytics/models/VirtualNetworkRule.java
Due: eng/pipelines/link-verification.yml

update jacoco
  eng/jacoco-test-coverage/pom.xml
Due: eng/pipelines/mgmt.yml

Sort lines and update ITs.
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/selenium/AADWebAppAndWebApiInOneAppIT.java
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/obo/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-selenium-common/src/main/java/com/azure/test/aad/common/AbstractAADSeleniumITHelper.java
Due: eng/pipelines/link-verification.yml

update ci.yaml
  sdk/spring/ci.yml
Due: none

update
  sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAppRoleAuthenticationFilterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfigurationTest.java
Due: none

update
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
Due: none

Integrating cosmos diagnostics with open telemetry tracer (#22202)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosPagedFluxOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/FeedResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DefaultDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentProducer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
Due: none

cosmos spark 4.2.1-beta.1
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

update
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppClientRegistrationRepository.java
Due: none

fix length check.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Due: none

fix test.
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Due: none

merge main and add playback test for AAD authentication
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorTraceExporterTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/MonitorExporterClientTestBase.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/resources/session-records/testExportRequestDataWithAuthentication.json
Due: none

[EH Perf improvement] Translate Reactor's no-backpressure to prefetch in amqp Flow (#22819)
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessorTest.java
Due: none

Adding request time line check in test case
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Due: none

pr feedback.
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Due: none

Regenerate EG AcsChatMessage model classes (#22686)
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageEditedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageEditedInThreadEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageReceivedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageReceivedInThreadEventData.java
Due: none

Update sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
Due: eng/pipelines/link-verification.yml

Update sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
Due: none

expose idleChannelTimerResolution
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DirectConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ConnectionConfigTest.java
Due: none

Fixed a bunch of autorest options
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationClientBuilder.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/MetadataConfigurationAsyncClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/MetadataConfigurationClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/PolicyAsyncClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/PolicyClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/AttestationClientImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/AttestationClientImplBuilder.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/AttestationsImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/MetadataConfigurationsImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/PoliciesImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/PolicyCertificatesImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/SigningCertificatesImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestationType.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/package-info.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/package-info.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/models/package-info.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/package-info.java
  sdk/attestation/azure-security-attestation/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Rename Options to Context
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpRequestLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpRequestLoggingContext.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpResponseLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpResponseLoggingContext.java
Due: none
