Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: AggregateReports
        displayName: Aggregate Reports
        jobs:
        - job: Reporting
          displayName: Generate reports (with build)
          timeoutInMinutes: 180
          variables:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template
  ...

Reset sources for azure-ai-vision-imageanalysis to the release version 1.0.6.
  sdk/vision/azure-ai-vision-imageanalysis/README.md
  sdk/vision/azure-ai-vision-imageanalysis/checkstyle-suppressions.xml
  sdk/vision/azure-ai-vision-imageanalysis/customization/pom.xml
  sdk/vision/azure-ai-vision-imageanalysis/customization/src/main/java/ImageAnalysisCustomization.java
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
  sdk/vision/azure-ai-vision-imageanalysis/spotbugs-exclude.xml
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisAsyncClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClientBuilder.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/implementation/ImageAnalysisClientImpl.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/resources/META-INF/azure-ai-vision-imageanalysis_metadata.json
  sdk/vision/azure-ai-vision-imageanalysis/src/test/java/com/azure/ai/vision/imageanalysis/README.md
  sdk/vision/azure-ai-vision-imageanalysis/src/test/java/com/azure/ai/vision/imageanalysis/generated/ImageAnalysisClientTestBase.java
  sdk/vision/azure-ai-vision-imageanalysis/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-ai-vision-imageanalysis for 1.0.7 patch release.
  eng/versioning/version_client.txt
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-chat to the release version 1.6.4.
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/checkstyle-suppressions.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-chat/spotbugs-exclude.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-chat for 1.6.5 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-common to the release version 1.4.4.
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-common/checkstyle-suppressions.xml
  sdk/communication/azure-communication-common/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-common for 1.4.5 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-email to the release version 1.1.1.
  sdk/communication/azure-communication-email/pom.xml
Due: eng/pipelines/pullrequest.yml

Prepare azure-communication-email for 1.1.2 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-identity to the release version 1.6.9.
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/checkstyle-suppressions.xml
  sdk/communication/azure-communication-identity/ci.yml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-identity/spotbugs-exclude.xml
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/CommunicationIdentityClientBuilder.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/CommunicationIdentitiesImpl.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/converters/package-info.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/models/CommunicationError.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/models/CommunicationErrorResponse.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/models/CommunicationIdentity.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/models/CommunicationIdentityAccessToken.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/models/CommunicationIdentityAccessTokenRequest.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/models/CommunicationIdentityAccessTokenResult.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/implementation/models/CommunicationIdentityCreateRequest.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/models/CommunicationTokenScope.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/models/GetTokenForTeamsUserOptions.java
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityBuilderUnitTests.java
  sdk/communication/azure-communication-identity/swagger/README.md
  sdk/communication/azure-communication-identity/swagger/src/main/java/TeamsUserExchangeTokenRequestCustomization.java
  sdk/communication/azure-communication-identity/tests.yml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-identity for 1.6.10 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-jobrouter for 1.1.18 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
  sdk/communication/azure-communication-jobrouter/customization/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-messages for 1.1.9 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-messages/CHANGELOG.md
  sdk/communication/azure-communication-messages/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-phonenumbers to the release version 1.4.2.
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/phone-numbers-livetest-matrix.json
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/PhoneNumbersImpl.java
  sdk/communication/azure-communication-phonenumbers/swagger/README-siprouting.md
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-phonenumbers for 1.4.3 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-sms for 1.1.38 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-rooms to the release version 1.2.5.
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-rooms/checkstyle-suppressions.xml
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-rooms/spotbugs-exclude.xml
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/AzureCommunicationRoomServiceImplBuilder.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/ParticipantsImpl.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/RoomsImpl.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/CommunicationError.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/CommunicationErrorResponse.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/CreateRoomRequest.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/ParticipantProperties.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/ParticipantRole.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/ParticipantsCollection.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/RoomModel.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/RoomParticipant.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/RoomsCollection.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/UpdateParticipantsRequest.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/UpdateRoomRequest.java
  sdk/communication/azure-communication-rooms/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-rooms for 1.2.6 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-containers-containerregistry for 1.2.22 patch release.
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-data-appconfiguration to the release version 1.9.0.
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/AzureAppConfigurationImpl.java
  sdk/appconfiguration/azure-data-appconfiguration/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-data-appconfiguration for 1.9.1 patch release.
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-data-schemaregistry to the release version 1.5.9.
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/spotbugs-exclude.xml
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemaGroupsOperationsImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/Error.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/ErrorDetail.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaFormat.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaGroups.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaId.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaVersions.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetByIdHeaders.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetSchemaVersionHeaders.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasQueryIdByContentHeaders.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasRegisterHeaders.java
  sdk/schemaregistry/azure-data-schemaregistry/src/samples/README.md
  sdk/schemaregistry/azure-data-schemaregistry/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-data-schemaregistry for 1.5.10 patch release.
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-data-schemaregistry-apacheavro to the release version 1.1.30.
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/samples/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-data-schemaregistry-apacheavro for 1.1.31 patch release.
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-data-schemaregistry-jsonschema to the release version 1.0.6.
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/README.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/checkstyle-suppressions.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/spotbugs-exclude.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/SchemaRegistryJsonSchemaSerializerBuilder.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/samples/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-data-schemaregistry-jsonschema for 1.0.7 patch release.
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-data-tables for 12.5.9 patch release.
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-developer-devcenter to the release version 1.0.13.
  sdk/devcenter/azure-developer-devcenter/README.md
  sdk/devcenter/azure-developer-devcenter/assets.json
  sdk/devcenter/azure-developer-devcenter/checkstyle-suppressions.xml
  sdk/devcenter/azure-developer-devcenter/pom.xml
  sdk/devcenter/azure-developer-devcenter/spotbugs-exclude.xml
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/DeploymentEnvironmentsAsyncClient.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/DeploymentEnvironmentsClient.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/DevBoxesAsyncClient.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/DevBoxesClient.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/implementation/DeploymentEnvironmentsClientImpl.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/implementation/DevBoxesClientImpl.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/models/DevCenterOperationDetails.java
  sdk/devcenter/azure-developer-devcenter/src/main/resources/META-INF/azure-developer-devcenter_metadata.json
  sdk/devcenter/azure-developer-devcenter/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-developer-devcenter for 1.0.14 patch release.
  eng/versioning/version_client.txt
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
  sdk/devcenter/azure-developer-devcenter/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-developer-loadtesting for 1.0.28 patch release.
  eng/versioning/version_client.txt
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-digitaltwins-core to the release version 1.5.4.
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/checkstyle-suppressions.xml
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/spotbugs-exclude.xml
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/TestHelper.java
  sdk/digitaltwins/azure-digitaltwins-core/swagger/autorest.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-digitaltwins-core for 1.5.5 patch release.
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-health-insights-radiologyinsights to the release version 1.1.5.
  sdk/healthinsights/azure-health-insights-radiologyinsights/README.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/checkstyle-suppressions.xml
  sdk/healthinsights/azure-health-insights-radiologyinsights/pom.xml
  sdk/healthinsights/azure-health-insights-radiologyinsights/spotbugs-exclude.xml
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/implementation/RadiologyInsightsClientImpl.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ScoringAndAssessmentInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/resources/META-INF/azure-health-insights-radiologyinsights_metadata.json
  sdk/healthinsights/azure-health-insights-radiologyinsights/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-health-insights-radiologyinsights for 1.1.6 patch release.
  eng/versioning/version_client.txt
  sdk/healthinsights/azure-health-insights-radiologyinsights/CHANGELOG.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
