Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

More Swagger configuration updates
  sdk/deviceupdate/azure-iot-deviceupdate/swagger/README.md
  sdk/digitaltwins/azure-digitaltwins-core/swagger/autorest.md
  sdk/maps/azure-maps-render/swagger/README.md
  sdk/maps/azure-maps-route/swagger/README.md
  sdk/maps/azure-maps-search/swagger/readme.md
  sdk/maps/azure-maps-timezone/swagger/README.md
  sdk/maps/azure-maps-traffic/swagger/README.md
  sdk/maps/azure-maps-weather/swagger/README.md
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-queue/swagger/README.md
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/swagger/README.md
Due: eng/pipelines/link-verification.yml

More Swagger configuration updates, few more regenerations
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/package-info.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/SecretClientImpl.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/Attributes.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretBundle.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretItem.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretListResult.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretAttributes.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretBundle.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretItem.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestRunClient.java
  sdk/loadtesting/azure-developer-loadtesting/swagger/autorest.md
  sdk/search/azure-search-documents/swagger/README.md
Due: eng/pipelines/link-verification.yml

Removing blocking from FileAsyncApiTests file (#42922)
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
Due: none

Additional Swagger configuration updates
  sdk/monitor/azure-monitor-ingestion/swagger/README.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/README.md
  sdk/monitor/azure-monitor-query/swagger/README.md
  sdk/purview/azure-analytics-purview-administration/swagger/README.md
  sdk/purview/azure-analytics-purview-scanning/swagger/README.md
  sdk/purview/azure-analytics-purview-sharing/swagger/README.md
  sdk/purview/azure-analytics-purview-workflow/swagger/README.md
  sdk/webpubsub/azure-messaging-webpubsub/swagger/README.md
Due: eng/pipelines/link-verification.yml

Hard-coding codes as the file is not accessible
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosExceptionUtils.java
Due: none

Prepare azure-core for patch release
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Hard-coding codes as the file is not accessible
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/exception/CosmosExceptionUtilsTest.java
Due: none

Finalize migration
  sdk/purview/azure-analytics-purview-scanning/swagger/README.md
  sdk/template/azure-sdk-template/swagger/README.md
  sdk/translation/azure-ai-documenttranslator/src/main/java/com/azure/ai/documenttranslator/BatchDocumentTranslationAsyncClient.java
  sdk/translation/azure-ai-documenttranslator/src/main/java/com/azure/ai/documenttranslator/BatchDocumentTranslationClient.java
  sdk/translation/azure-ai-documenttranslator/src/main/java/com/azure/ai/documenttranslator/BatchDocumentTranslationClientBuilder.java
  sdk/translation/azure-ai-documenttranslator/src/main/java/com/azure/ai/documenttranslator/BatchDocumentTranslationServiceVersion.java
  sdk/translation/azure-ai-documenttranslator/src/main/java/com/azure/ai/documenttranslator/implementation/BatchDocumentTranslationClientImpl.java
  sdk/translation/azure-ai-documenttranslator/src/main/java/com/azure/ai/documenttranslator/implementation/DocumentTranslationsImpl.java
  sdk/translation/azure-ai-documenttranslator/src/main/java/com/azure/ai/documenttranslator/implementation/package-info.java
  sdk/translation/azure-ai-documenttranslator/src/main/java/com/azure/ai/documenttranslator/package-info.java
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/swagger/README.md
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/implementation/WebPubSubsImpl.java
  sdk/webpubsub/azure-messaging-webpubsub/swagger/README.md
Due: eng/pipelines/link-verification.yml

fixing documentation errors
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/FileSmbProperties.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/FilePosixPropertiesHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/FileSmbPropertiesHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareDirectoryInfoHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareDirectoryPropertiesHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareFileInfoHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareFilePropertiesHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/FilePosixProperties.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareDirectoryInfo.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareDirectoryProperties.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileInfo.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileProperties.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareDirectoryCreateOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareDirectorySetPropertiesOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileCopyOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileCreateOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileSetPropertiesOptions.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
Due: none

Enable capture of test-proxy-error.logs (#43285)
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.versions.tests.yml
Due: eng/pipelines/mgmt.yml

use otlp exporter in test scope for tracing samples
  sdk/ai/azure-ai-inference/pom.xml
Due: none

Update AppConfiguration
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/ConfigurationSnapshot.java
  sdk/appconfiguration/azure-data-appconfiguration/swagger/README.md
  sdk/appconfiguration/azure-data-appconfiguration/swagger/src/main/java/AppConfigCustomization.java
Due: eng/pipelines/link-verification.yml

Update Attestation
  sdk/attestation/azure-security-attestation/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Update Container Registry
  sdk/containerregistry/azure-containers-containerregistry/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Update Device Update
  sdk/deviceupdate/azure-iot-deviceupdate/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update Digital Twins
  sdk/digitaltwins/azure-digitaltwins-core/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Update Event Grid
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Due: eng/pipelines/link-verification.yml

addressing linting report
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareDirectoryPropertiesHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareFileInfoHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareFilePropertiesHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileProperties.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileCreateHardLinkOptions.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
Due: none

Update Form Recognizer
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update Load Testing
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestRunClient.java
  sdk/loadtesting/azure-developer-loadtesting/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Update Metrics Advisor
  sdk/metricsadvisor/azure-ai-metricsadvisor/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update Mixed Reality
  sdk/mixedreality/azure-mixedreality-authentication/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

using deprecated HttpHeaders.getValue(String) in FilePosixProperties to prevent having to move it to the com.azure.storage.file.share package
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/FilePosixProperties.java
Due: none

Update Monitor
  sdk/monitor/azure-monitor-ingestion/swagger/README.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/swagger/README.md
  sdk/monitor/azure-monitor-query/swagger/README.md
Due: eng/pipelines/link-verification.yml

address spellcheck and module access
  .vscode/cspell.json
  sdk/ai/azure-ai-inference/pom.xml
Due: eng/pipelines/mgmt.yml

Resolve Confidential Ledger issues
  sdk/confidentialledger/azure-security-confidentialledger/checkstyle-suppressions.xml
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
  sdk/confidentialledger/azure-security-confidentialledger/spotbugs-exclude.xml
  sdk/confidentialledger/azure-security-confidentialledger/src/main/java/module-info.java
Due: none

Update Personalizer
  sdk/personalizer/azure-ai-personalizer/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update Remote Rendering
  sdk/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/implementation/MixedRealityRemoteRenderingImplBuilder.java
  sdk/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/implementation/RemoteRenderingsImpl.java
  sdk/remoterendering/azure-mixedreality-remoterendering/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Update Schema Registry
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemaGroupsOperationsImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/Error.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/ErrorDetail.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaGroups.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaId.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaVersions.java
  sdk/schemaregistry/azure-data-schemaregistry/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update Search
  sdk/search/azure-search-documents/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update Service Bus
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/EntitiesImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/NamespacesImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/RulesImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/ServiceBusManagementClientImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/SubscriptionsImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/AuthorizationRuleImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/NamespacePropertiesEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleActionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SqlFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/NamespaceProperties.java
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
  sdk/servicebus/azure-messaging-servicebus/swagger/src/main/java/AdministrationClientCustomization.java
Due: eng/pipelines/link-verification.yml

Update Tables
  sdk/tables/azure-data-tables/swagger/README.md
Due: eng/pipelines/link-verification.yml
