Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template
  ...

Update KeyVault CODEOWNERS (#47092)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Updating assets.json for azure-monitor-query-metrics
  sdk/monitor/azure-monitor-query-metrics/assets.json
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Removing Live Tests for azure-monitor-query (#47065)
  sdk/monitor/azure-monitor-query/tests.yml
  sdk/monitor/tests.yml
Due: eng/pipelines/pullrequest.yml

Changing monitor app-config dependency to current to pull new changes
  sdk/monitor/azure-monitor-query-metrics/assets.json
  sdk/monitor/azure-monitor-query-metrics/pom.xml
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/pom.xml
Due: eng/pipelines/pullrequest.yml

Changing monitor app-config dependencies
  sdk/monitor/azure-monitor-query-metrics/pom.xml
  sdk/monitor/azure-monitor-query/pom.xml
Due: eng/pipelines/pullrequest.yml

updating assets.json
  sdk/monitor/azure-monitor-query-metrics/assets.json
  sdk/monitor/azure-monitor-query/assets.json
Due: eng/pipelines/pullrequest.yml

working version 1
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/VoiceLiveAsyncClient.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/VoiceLiveClientBuilder.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/VoiceLiveSession.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ClientEventSessionUpdate.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionUpdate.java
  sdk/ai/azure-ai-voicelive/src/main/java/module-info.java
  sdk/ai/azure-ai-voicelive/src/samples/java/com/azure/ai/voicelive/BasicVoiceLiveSample.java
  sdk/ai/azure-ai-voicelive/src/samples/java/com/azure/ai/voicelive/VoiceAssistantSample.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/VoiceLiveAsyncClientTest.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/VoiceLiveIntegrationTest.java
Due: eng/pipelines/pullrequest.yml

module-info.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/main/java/module-info.java
Due: eng/pipelines/pullrequest.yml

remove error generated tests
  sdk/keyvault/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/generated/AttributesTests.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/generated/SecretAttributesTests.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/generated/SecretPatchParametersTests.java
  sdk/keyvault/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/generated/SecretPatchPropertiesTests.java
Due: eng/pipelines/pullrequest.yml

Enables EndpointValidation
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
Due: none

Update Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
Due: none

Increment package versions for cognitiveservices releases (#47103)
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for appcontainers releases (#47104)
  eng/versioning/version_client.txt
  sdk/appcontainers/azure-resourcemanager-appcontainers/CHANGELOG.md
  sdk/appcontainers/azure-resourcemanager-appcontainers/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fixing test failures
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClientTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
Due: none

[Batch] Update CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

[Batch] Update CODEOWNERS (#46923)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

changeToUseChangeFeedToFetchPkRanges (#46810)
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/InCompleteRoutingMapRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/caches/RxPartitionKeyRangeCacheTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/AddressResolverTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/query/FeedResponseBuilder.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/routing/InMemoryCollectionRoutingMapTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/routing/RoutingMapProviderHelperTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedPkrTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/InCompleteRoutingMapException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/caches/InCompleteRoutingMapRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/caches/RxPartitionKeyRangeCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentProducer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/Paginator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/CollectionRoutingMap.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/InMemoryCollectionRoutingMap.java
Due: eng/pipelines/link-verification.yml

Scala 2.13 skeleton
  .vscode/cspell.json
  eng/.docsettings.yml
  eng/pipelines/aggregate-reports.yml
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-5/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/CONTRIBUTING.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/scalastyle_config.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/src/main/resources/azure-cosmos-spark.properties
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/src/test/resources/META-INF/services/com.azure.cosmos.spark.CosmosClientBuilderInterceptor
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/src/test/resources/META-INF/services/com.azure.cosmos.spark.CosmosClientInterceptor
  sdk/cosmos/azure-cosmos-spark_3-5_2-13/src/test/resources/META-INF/services/com.azure.cosmos.spark.WriteOnRetryCommitInterceptor
  sdk/cosmos/azure-cosmos-spark_3/pom.xml
  sdk/cosmos/ci.yml
  sdk/cosmos/pom.xml
  sdk/cosmos/spark.databricks.yml
  sdk/cosmos/spark.yml
Due: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

modify test metadata refresh logic, logging for debugging
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/BarrierRequestTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
Due: none

Removed cosmos matrix filter for running from sources tests
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosClientBuilderTest.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Passed matrix filters as it is
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

working version
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/VoiceLiveSession.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AzureVoice.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/JsonReaderHelper.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/MessageContentPart.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/MessageItem.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionResponseItem.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionUpdate.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/ToolChoice.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/TurnDetection.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/VoiceLiveContentPart.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/VoiceLiveToolDefinition.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/VoiceProvider.java
  sdk/ai/azure-ai-voicelive/src/samples/java/com/azure/ai/voicelive/VoiceAssistantSample.java
Due: eng/pipelines/pullrequest.yml

Fixed spark auth samples style sheet url
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
Due: none

update
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/VoiceLiveSession.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/AudioInputTranscriptionOptionsModel.java
  sdk/ai/azure-ai-voicelive/src/samples/java/com/azure/ai/voicelive/VoiceAssistantSample.java
Due: eng/pipelines/pullrequest.yml

deleted KnowledgeAgentTests, added clientbuilder files, removed mention of classes used by KBTests that were deleted by swagger
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/knowledgebases/SearchKnowledgeBaseAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/knowledgebases/SearchKnowledgeBaseClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/knowledgebases/SearchKnowledgeBaseClientBuilder.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/KnowledgeAgentTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/KnowledgeBaseTests.java
Due: eng/pipelines/pullrequest.yml

update code quality
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/VoiceLiveSession.java
  sdk/ai/azure-ai-voicelive/src/samples/java/com/azure/ai/voicelive/VoiceAssistantSample.java
Due: eng/pipelines/pullrequest.yml

update codeowner
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update code style
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/VoiceLiveSession.java
  sdk/ai/azure-ai-voicelive/src/samples/java/com/azure/ai/voicelive/VoiceAssistantSample.java
  sdk/ai/azure-ai-voicelive/src/test/java/com/azure/ai/voicelive/VoiceLiveIntegrationTest.java
Due: eng/pipelines/pullrequest.yml

Updated Stainless Library Version
  eng/versioning/external_dependencies.txt
  sdk/ai/azure-ai-projects/pom.xml
  sdk/openai/azure-ai-openai-stainless/pom.xml
  sdk/openai/azure-ai-openai-stainless/src/samples/java/com/azure/ai/openai/stainless/FunctionCallingAsyncSample.java
  sdk/openai/azure-ai-openai-stainless/src/samples/java/com/azure/ai/openai/stainless/FunctionCallingSample.java
  sdk/openai/azure-ai-openai-stainless/src/test/java/com/azure/ai/openai/stainless/OpenAIOkHttpClientTestBase.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update readme
  sdk/ai/azure-ai-voicelive/README.md
  sdk/ai/azure-ai-voicelive/src/samples/java/com/azure/ai/voicelive/VoiceAssistantSample.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

update dependecies
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/ai/azure-ai-voicelive/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update sdk version
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

remove redundant event id
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionUpdateConversationItemDeleted.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionUpdateConversationItemRetrieved.java
  sdk/ai/azure-ai-voicelive/src/main/java/com/azure/ai/voicelive/models/SessionUpdateConversationItemTruncated.java
Due: eng/pipelines/pullrequest.yml

live testing based updates
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/customtokenproxy/CustomTokenProxyConfiguration.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/customtokenproxy/CustomTokenProxyHttpClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/customtokenproxy/CustomTokenProxyHttpResponse.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/IdentitySslUtil.java
Due: eng/pipelines/pullrequest.yml

fix and prepare release
  sdk/resourcemanager/azure-resourcemanager-test/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

java8 compatible
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
Due: eng/pipelines/pullrequest.yml

Removed cosmos matrix filter for running from sources tests (#47113)
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosClientBuilderTest.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/azure-resourcemanager-test/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-test/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
