Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

restart MessageReceiver when requester is null (#21697)
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessorClient.java
Due: none

Fix ServiceBus/core-amqp retry problem (#21515 replacement) (#21688)
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AsyncAutoCloseable.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RequestResponseChannelTest.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiver.java
Due: none

Update core-amqp and servicebus version
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix title and description
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/pom.xml
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/src/main/java/com/azure/media/videoanalyzer/edge/models/package-info.java
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/swagger/README.md
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/README.md
Due: eng/pipelines/link-verification.yml

revert management readme
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/README.md
Due: eng/pipelines/link-verification.yml

change log release date
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

remove the unused package name from readme.
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/swagger/README.md
Due: eng/pipelines/link-verification.yml

[AVA]fix title and description (#21737)
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/pom.xml
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/src/main/java/com/azure/media/videoanalyzer/edge/models/package-info.java
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/swagger/README.md
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update release date to 2021-05-24.
  sdk/boms/azure-spring-boot-bom/CHANGELOG.md
  sdk/boms/azure-spring-cloud-dependencies/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/spring/azure-identity-spring/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-storage/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-context/CHANGELOG.md
  sdk/spring/azure-spring-cloud-messaging/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-cache/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-storage/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-test/CHANGELOG.md
  sdk/spring/azure-spring-cloud-telemetry/CHANGELOG.md
  sdk/spring/azure-spring-integration-core/CHANGELOG.md
  sdk/spring/azure-spring-integration-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-integration-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-integration-storage-queue/CHANGELOG.md
  sdk/spring/azure-spring-integration-test/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

[Automation] External Change
  eng/versioning/version_client.txt
  pom.xml
  sdk/recoveryservicesbackup/ci.yml
  sdk/recoveryservicesbackup/pom.xml
Due: eng/pipelines/mgmt.yml

add new property to configure destination and subscription
  sdk/spring/azure-spring-boot-test-servicebus-jms/src/test/java/com/azure/spring/sample/servicebus/jms/Receiver.java
  sdk/spring/azure-spring-boot-test-servicebus-jms/src/test/resources/application-premium.properties
  sdk/spring/azure-spring-boot-test-servicebus-jms/src/test/resources/application.properties
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/jms/AzureServiceBusJMSProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/jms/NonPremiumServiceBusJMSAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/jms/PremiumServiceBusJMSAutoConfigurationTest.java
Due: none

sample regen
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/CHANGELOG.md
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/README.md
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/pom.xml
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/VideoAnalyzerManager.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/fluent/models/package-info.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/fluent/package-info.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/implementation/package-info.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/models/package-info.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/package-info.java
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-cognitiveservices
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

remove unused imports
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/jms/NonPremiumServiceBusJMSAutoConfigurationTest.java
Due: none

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-cognitiveservices (#21741)
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix getAlias error
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/CertificateListResult.java
Due: none

issue#16465 Implement a Service Bus Shared Access Key Credential 202105241146 by LiHong
  sdk/identity/azure-identity/src/main/java/module-info.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
Due: none

Fixed issue#16466 Implement an Event Hubs Shared Access Key Credential 202105241156 by LiHong
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientBuilderTest.java
Due: none

Fixed issue#16465 Implement a Service Bus Shared Access Key Credential 202105241200 by LiHong
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusClientBuilderTest.java
Due: none

Remove jackson dependency configuration
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/pom.xml
  sdk/spring-2-3/azure-spring-cloud-stream-binder-eventhubs/pom.xml
  sdk/spring-2-3/azure-spring-cloud-stream-binder-servicebus-core/pom.xml
  sdk/spring-2-3/azure-spring-cloud-test-eventhubs/pom.xml
  sdk/spring-2-3/azure-spring-integration-test/pom.xml
Due: none

remove AVA
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/CHANGELOG.md
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/README.md
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/pom.xml
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/VideoAnalyzerManager.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/fluent/models/package-info.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/fluent/package-info.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/implementation/package-info.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/models/package-info.java
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/src/main/java/com/azure/resourcemanager/videoanalyzer/package-info.java
Due: eng/pipelines/link-verification.yml

Update CHANGELOG.md
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-recoveryservicesbackup
  eng/versioning/version_client.txt
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix build error
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/CertificateListResult.java
Due: none

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-recoveryservicesbackup (#21743)
  eng/versioning/version_client.txt
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

regen
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/pom.xml
Due: none

Thoroughly modify the test to see if it is an error caused by the code
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTempTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTrustManagerTempTest.java
Due: none

fix
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/pom.xml
Due: none

skip addedToInterface
  sdk/videoanalyzer/azure-resourcemanager-videoanalyzer/pom.xml
Due: none

Revert "Add class and test case for implement an Event Hubs Connection String Parser (#21015)"
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConnectionStringProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConnectionStringPropertiesTest.java
Due: none

udpate test
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/jms/NonPremiumServiceBusJMSAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/jms/PremiumServiceBusJMSAutoConfigurationTest.java
Due: none

Fix get alias error (#21746)
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/CertificateListResult.java
Due: none

make sample compatable with spring boot 2.4.x
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-mediaservices/pom.xml
Due: none

mgmt, upgrade codegen
  eng/mgmt/automation/parameters.py
Due: eng/pipelines/mgmt.yml

enum for azure authority host
  sdk/core/azure-core/src/main/java/com/azure/core/util/AzureAuthorityHost.java
Due: none
