Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: AggregateReports
        displayName: Aggregate Reports
        jobs:
        - job: Reporting
          displayName: Generate reports (with build)
          timeoutInMinutes: 180
          variables:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template
  ...

Prepare azure-resourcemanager-containerinstance for 2.53.10 patch release.
  eng/versioning/version_client.txt
  sdk/containerinstance/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/containerinstance/azure-resourcemanager-containerinstance/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-privatedns for 2.53.8 patch release.
  eng/versioning/version_client.txt
  sdk/privatedns/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/privatedns/azure-resourcemanager-privatedns/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-redis for 2.53.8 patch release.
  eng/versioning/version_client.txt
  sdk/redis/azure-resourcemanager-redis/CHANGELOG.md
  sdk/redis/azure-resourcemanager-redis/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-trafficmanager for 2.53.8 patch release.
  eng/versioning/version_client.txt
  sdk/trafficmanager/azure-resourcemanager-trafficmanager/CHANGELOG.md
  sdk/trafficmanager/azure-resourcemanager-trafficmanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-servicebus for 2.53.8 patch release.
  eng/versioning/version_client.txt
  sdk/servicebus/azure-resourcemanager-servicebus/CHANGELOG.md
  sdk/servicebus/azure-resourcemanager-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-cdn for 2.53.8 patch release.
  eng/versioning/version_client.txt
  sdk/cdn/azure-resourcemanager-cdn/CHANGELOG.md
  sdk/cdn/azure-resourcemanager-cdn/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-resourcemanager-search for 2.54.7 patch release.
  eng/versioning/version_client.txt
  sdk/search/azure-resourcemanager-search/CHANGELOG.md
  sdk/search/azure-resourcemanager-search/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Updated GetAllAzComClientArtifactsFromMaven to read from version_client.txt instead Maven Central
  eng/scripts/bomhelpers.ps1
  eng/scripts/patchhelpers.ps1
  eng/scripts/syncversionclient.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Added check on the generated patch artifact list
  eng/scripts/Generate-Patches-For-Automatic-Releases.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update SDK release instructions link
  .github/copilot-instructions.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Clean up checkstyle suppressions for io.opentelemetry* imports
  sdk/core/azure-core-metrics-opentelemetry/checkstyle-suppressions.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/checkstyle-suppressions.xml
  sdk/core/azure-core-tracing-opentelemetry/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/checkstyle-suppressions.xml
Due: eng/pipelines/pullrequest.yml

none
  eng/scripts/Generate-Patches-For-Automatic-Releases.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Updated list of libraries to patch in patch-release.yml
  eng/pipelines/patch-release.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-ai-contentsafety to the release version 1.0.17.
  sdk/contentsafety/azure-ai-contentsafety/CHANGELOG.md
  sdk/contentsafety/azure-ai-contentsafety/README.md
  sdk/contentsafety/azure-ai-contentsafety/checkstyle-suppressions.xml
  sdk/contentsafety/azure-ai-contentsafety/pom.xml
  sdk/contentsafety/azure-ai-contentsafety/spotbugs-exclude.xml
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistAsyncClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistClientBuilder.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyAsyncClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyClientBuilder.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/BlocklistClientImpl.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/ContentSafetyClientImpl.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/JsonMergePatchHelper.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AddOrUpdateTextBlocklistItemsOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AddOrUpdateTextBlocklistItemsResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageOutputType.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextOutputType.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ContentSafetyImageData.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ImageCategoriesAnalysis.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ImageCategory.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/RemoveTextBlocklistItemsOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklist.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklistItem.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklistMatch.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextCategoriesAnalysis.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextCategory.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/module-info.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/resources/META-INF/azure-ai-contentsafety_apiview_properties.json
  sdk/contentsafety/azure-ai-contentsafety/src/main/resources/META-INF/azure-ai-contentsafety_metadata.json
  sdk/contentsafety/azure-ai-contentsafety/src/test/java/com/azure/ai/contentsafety/ContentSafetyClientTestBase.java
  sdk/contentsafety/azure-ai-contentsafety/src/test/java/com/azure/ai/contentsafety/generated/ContentSafetyClientTestBase.java
  sdk/contentsafety/azure-ai-contentsafety/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-ai-contentsafety for 1.0.18 patch release.
  eng/versioning/version_client.txt
  sdk/contentsafety/azure-ai-contentsafety/CHANGELOG.md
  sdk/contentsafety/azure-ai-contentsafety/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-ai-documentintelligence for 1.0.8 patch release.
  eng/versioning/version_client.txt
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-ai-metricsadvisor for 1.2.13 patch release.
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-ai-textanalytics for 5.5.13 patch release.
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-ai-translation-document to the release version 1.0.7.
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/checkstyle-suppressions.xml
  sdk/translation/azure-ai-translation-document/pom.xml
  sdk/translation/azure-ai-translation-document/spotbugs-exclude.xml
  sdk/translation/azure-ai-translation-document/src/main/java/com/azure/ai/translation/document/SingleDocumentTranslationAsyncClient.java
  sdk/translation/azure-ai-translation-document/src/main/java/com/azure/ai/translation/document/SingleDocumentTranslationClient.java
  sdk/translation/azure-ai-translation-document/src/main/java/com/azure/ai/translation/document/implementation/DocumentTranslationClientImpl.java
  sdk/translation/azure-ai-translation-document/src/main/java/com/azure/ai/translation/document/implementation/SingleDocumentTranslationClientImpl.java
  sdk/translation/azure-ai-translation-document/src/main/resources/META-INF/azure-ai-translation-document_apiview_properties.json
  sdk/translation/azure-ai-translation-document/src/main/resources/META-INF/azure-ai-translation-document_metadata.json
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/CancelACurrentlyProcessingOrQueuedTranslation.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsAListOfBatchRequestsSubmittedAndTheStatusForEachRequest.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsAListOfSupportedDocumentFormats.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsTheStatusForABatchDocumentTranslationRequest.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsTheStatusForAllDocumentsInABatchDocumentTranslationRequest.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsTheStatusOfASingleDocumentInABatchTranslationRequest.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/SubmitADocumentTranslationRequestToTheDocumentTranslationService.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/TranslateASingleDocument.java
  sdk/translation/azure-ai-translation-document/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-ai-translation-document for 1.0.8 patch release.
  eng/versioning/version_client.txt
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Prepare azure-ai-translation-text for 1.1.9 patch release.
  eng/versioning/version_client.txt
  sdk/translation/azure-ai-translation-text/CHANGELOG.md
  sdk/translation/azure-ai-translation-text/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-ai-vision-imageanalysis to the release version 1.0.7.
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/README.md
  sdk/vision/azure-ai-vision-imageanalysis/checkstyle-suppressions.xml
  sdk/vision/azure-ai-vision-imageanalysis/customization/pom.xml
  sdk/vision/azure-ai-vision-imageanalysis/customization/src/main/java/ImageAnalysisCustomization.java
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
  sdk/vision/azure-ai-vision-imageanalysis/spotbugs-exclude.xml
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisAsyncClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClientBuilder.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/implementation/ImageAnalysisClientImpl.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/resources/META-INF/azure-ai-vision-imageanalysis_metadata.json
  sdk/vision/azure-ai-vision-imageanalysis/src/test/java/com/azure/ai/vision/imageanalysis/README.md
  sdk/vision/azure-ai-vision-imageanalysis/src/test/java/com/azure/ai/vision/imageanalysis/generated/ImageAnalysisClientTestBase.java
  sdk/vision/azure-ai-vision-imageanalysis/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-ai-vision-imageanalysis for 1.0.8 patch release.
  eng/versioning/version_client.txt
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-callautomation to the release version 1.6.1.
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-callautomation for 1.6.2 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-chat to the release version 1.6.5.
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/checkstyle-suppressions.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-chat/spotbugs-exclude.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Prepare azure-communication-chat for 1.6.6 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Reset sources for azure-communication-common to the release version 1.4.5.
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-common/checkstyle-suppressions.xml
  sdk/communication/azure-communication-common/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
