Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Prepare azure-communication-chat for 1.3.12 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-data-appconfiguration for 1.4.9 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-monitor-query for 1.2.5 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-ai-textanalytics to the release version 5.3.2.
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/assets.json
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Due: eng/pipelines/link-verification.yml

Prepare azure-ai-textanalytics for 5.3.3 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-iot-deviceupdate to the release version 1.0.10.
  sdk/deviceupdate/azure-iot-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/azure-iot-deviceupdate/README.md
  sdk/deviceupdate/azure-iot-deviceupdate/assets.json
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/java/com/azure/iot/deviceupdate/DeviceManagementClientTests.java
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/java/com/azure/iot/deviceupdate/DeviceUpdateClientTests.java
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetBestUpdatesForGroup.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetBestUpdatesForGroupNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetDeploymentsForGroupNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetDeviceClasses.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetDeviceClassesNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetDeviceNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetGroup.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetGroupNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testGetGroups.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceManagementClientTests.testListDevices.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetFiles.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetFilesNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetNames.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetNamesNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetProviders.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetUpdate.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetUpdateNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetVersions.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testGetVersionsNotFound.json
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/resources/session-records/DeviceUpdateClientTests.testImportUpdates.json
Due: eng/pipelines/link-verification.yml

Prepare azure-iot-deviceupdate for 1.0.11 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/deviceupdate/azure-iot-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-ai-metricsadvisor for 1.1.18 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-developer-loadtesting to the release version 1.0.5.
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/README.md
  sdk/loadtesting/azure-developer-loadtesting/assets.json
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestingClientTestBase.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.beginUploadTestFileAdditionalFiles.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.beginUploadTestFileTestScript.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.createOrUpdateAppComponents.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.createOrUpdateServerMetricsConfig.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.createOrUpdateTest.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.deleteTest.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.deleteTestFile.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.getAppComponents.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.getServerMetricsConfig.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.getTest.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.getTestFile.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.listTestFiles.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestAdministrationTests.listTests.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.beginTestRun.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.createOrUpdateAppComponents.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.createOrUpdateServerMetricsConfig.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.deleteTestRun.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.getAppComponents.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.getServerMetricsConfig.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.getTestRun.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.getTestRunFile.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.listMetricDefinitions.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.listMetricNamespaces.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.listMetrics.json
  sdk/loadtesting/azure-developer-loadtesting/src/test/resources/session-records/LoadTestRunTests.listTestRuns.json
Due: eng/pipelines/link-verification.yml

Prepare azure-developer-loadtesting for 1.0.6 patch release.
  eng/versioning/version_client.txt
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-containers-containerregistry for 1.2.1 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-messaging-webpubsub to the release version 1.2.7.
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/README.md
  sdk/webpubsub/azure-messaging-webpubsub/assets.json
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/TestUtils.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/TokenGenerationTest.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClientTests.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/WebPubSubServiceClientTests.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[1].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[2].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[3].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[4].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[5].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[6].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[7].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.assertClientNotNull.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testAadCredential.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testBroadcastBytes.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testBroadcastString.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testBroadcastStringWithFilter.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testCheckPermission.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testRemoveConnectionFromAllGroup.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testRemoveNonExistentUserFromGroup.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testRemoveNonExistentUserFromHub.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendMessageToGroup.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToAllJson.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToConnectionBytes.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToConnectionJson.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToConnectionString.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToConnectionStringWithFilter.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToUserBytes.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToUserString.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToUserStringWithFilter.json
Due: eng/pipelines/link-verification.yml

Prepare azure-messaging-webpubsub for 1.2.8 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-mixedreality-authentication to the release version 1.2.16.
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/README.md
  sdk/mixedreality/azure-mixedreality-authentication/assets.json
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/MixedRealityStsAsyncClient.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/com/azure/mixedreality/authentication/MixedRealityStsClientBuilder.java
  sdk/mixedreality/azure-mixedreality-authentication/src/test/java/com/azure/mixedreality/authentication/MixedRealityStsClientTestBase.java
  sdk/mixedreality/azure-mixedreality-authentication/src/test/resources/session-records/MixedRealityStsAsyncClientTests.getTokenWithResponse[1].json
  sdk/mixedreality/azure-mixedreality-authentication/src/test/resources/session-records/MixedRealityStsAsyncClientTests.getToken[1].json
  sdk/mixedreality/azure-mixedreality-authentication/src/test/resources/session-records/MixedRealityStsClientTests.getTokenWithResponse[1].json
  sdk/mixedreality/azure-mixedreality-authentication/src/test/resources/session-records/MixedRealityStsClientTests.getToken[1].json
Due: eng/pipelines/link-verification.yml

Prepare azure-mixedreality-authentication for 1.2.17 patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-communication-common to the release version 1.2.11.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/MicrosoftBotIdentifier.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationIdentifierTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Updated dependencies in libraries and READMEs via version_client.txt
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-sms/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/containerregistry/azure-containers-containerregistry/README.md
  sdk/deviceupdate/azure-iot-deviceupdate/README.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/loadtesting/azure-developer-loadtesting/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/mixedreality/azure-mixedreality-authentication/README.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/remoterendering/azure-mixedreality-remoterendering/README.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/webpubsub/azure-messaging-webpubsub/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

upgrade versions for callautomation
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
Due: eng/pipelines/mgmt.yml

upgrade versions for Identity-extensions
  eng/pipelines/patch-release.yml
Due: eng/pipelines/mgmt.yml

Reset changes to the patch version.
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/identity/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
Due: eng/pipelines/link-verification.yml

upgrade versions for Identity-extensions 2
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-extensions/pom.xml
Due: eng/pipelines/mgmt.yml

Update Changelogs
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/identity/azure-identity-extensions/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update access control clients' Javadocs.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultAccessControlAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultAccessControlClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClientBuilder.java
Due: none

Update backup clients' Javadocs.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultBackupAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultBackupClientJavaDocCodeSnippets.java
Due: none

Update settings clients' Javadocs.
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultSettingsAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultSettingsClientJavaDocCodeSnippets.java
Due: eng/pipelines/link-verification.yml

Updated package-info.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/package-info.java
Due: none

Added some final corrections.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsClient.java
Due: none

Make SocketClient stateless.
  sdk/core/azure-core-http-httpurlconnection/src/main/java/com/azure/core/http/httpurlconnection/HttpUrlConnectionAsyncClient.java
  sdk/core/azure-core-http-httpurlconnection/src/main/java/com/azure/core/http/httpurlconnection/SocketClient.java
Due: none

Revert Checkstyle changes for Search
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Due: eng/pipelines/mgmt.yml

Minor changes to SocketClient
  sdk/core/azure-core-http-httpurlconnection/src/main/java/com/azure/core/http/httpurlconnection/SocketClient.java
Due: none

JsonArray nit code style changes
  sdk/core/azure-json/src/main/java/com/azure/json/JsonArray.java
Due: none

JsonBoolean missed nit code style changes
  sdk/core/azure-json/src/main/java/com/azure/json/JsonBoolean.java
Due: none

JsonElement nit code style changes
  sdk/core/azure-json/src/main/java/com/azure/json/JsonElement.java
Due: none

JsonNumber nit code style changes
  sdk/core/azure-json/src/main/java/com/azure/json/JsonNumber.java
Due: none
