Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

Test out NIO
  sdk/storage/azure-storage-blob-nio/assets.json
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTests.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureSeekableByteChannelTests.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/BlobNioTestBase.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/NioBlobInputStreamTests.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/NioBlobOutputStreamTests.java
Due: none

draft
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
Due: eng/pipelines/link-verification.yml

add rerun pipeline (#43012)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: eng/pipelines/mgmt.yml

use jacksondatabind
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIServerSentEvents.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
Due: none

added max_completion_tokens support
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionStreamOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsageCompletionTokensDetails.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsagePromptTokensDetails.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ContentFilterCompletionTextSpan.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ContentFilterCompletionTextSpanResult.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
Due: none

Apply autorest customization for IpAddressToLocationResult model
  sdk/maps/azure-maps-geolocation/src/main/java/com/azure/maps/geolocation/models/IpAddressToLocationResult.java
  sdk/maps/azure-maps-geolocation/swagger/src/main/java/GeoLocationCustomization.java
Due: none

update and add tests
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventSenderBuffered.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/util/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
Due: none

added stream_options and include_usage support
  eng/versioning/external_dependencies.txt
  sdk/openai/azure-ai-openai/pom.xml
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
Due: eng/pipelines/mgmt.yml

undo unintentional changes
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventSenderBuffered.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/util/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

final changes
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/Filter.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/utils/FormattedDuration.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filteringTest/FilterTest.java
Due: none

fix tests
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
Due: none

Increment package versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Adding the parsing for the streaming data
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AudioData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AudioMetadata.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaKind.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/OutStreamingData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StopAudio.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StreamingData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StreamingDataFactory.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StreamingDataKind.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StreamingDataParser.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionMetadata.java
Due: none

lint
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
Due: none

[Automation] Generate Fluent Lite from TypeSpec connectedcache
  sdk/connectedcache/azure-resourcemanager-connectedcache/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

[Automation] External Change
  eng/versioning/version_client.txt
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/SAMPLE.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/pom.xml
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/java/com/azure/resourcemanager/healthdataaiservices/implementation/HealthDataAIServicesClientImpl.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesCreateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesDeleteSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesGetByResourceGroupSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesListByResourceGroupSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesListSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesUpdateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/OperationsListSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsCreateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsDeleteSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsGetSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsListByDeidServiceSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateLinksListByDeidServiceSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

[Automation] Generate Fluent Lite from TypeSpec healthdataaiservices
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/README.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/pom.xml
Due: eng/pipelines/link-verification.yml

Fixed the changelog entry did not contain any of the recommended sections.
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

[Automation] Generate Fluent Lite from TypeSpec healthdataaiservices (#43043)
  eng/versioning/version_client.txt
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/README.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/SAMPLE.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/pom.xml
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/java/com/azure/resourcemanager/healthdataaiservices/implementation/HealthDataAIServicesClientImpl.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesCreateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesDeleteSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesGetByResourceGroupSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesListByResourceGroupSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesListSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesUpdateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/OperationsListSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsCreateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsDeleteSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsGetSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsListByDeidServiceSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateLinksListByDeidServiceSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for connectedcache releases
  eng/versioning/version_client.txt
  sdk/connectedcache/azure-resourcemanager-connectedcache/CHANGELOG.md
  sdk/connectedcache/azure-resourcemanager-connectedcache/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for healthdataaiservices releases
  eng/versioning/version_client.txt
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for connectedcache releases (#43044)
  eng/versioning/version_client.txt
  sdk/connectedcache/azure-resourcemanager-connectedcache/CHANGELOG.md
  sdk/connectedcache/azure-resourcemanager-connectedcache/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for healthdataaiservices releases (#43045)
  eng/versioning/version_client.txt
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Change EventHubsTemplate to not use block() for async
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/core/EventHubsTemplate.java
  sdk/spring/spring-messaging-azure-eventhubs/src/test/java/com/azure/spring/messaging/eventhubs/core/EventHubsTemplateTests.java
Due: none

Use a common value
  sdk/spring/spring-messaging-azure-eventhubs/src/test/java/com/azure/spring/messaging/eventhubs/core/EventHubsTemplateTests.java
Due: none

eng, bump azure-autorest-customization 1.0.0-beta.9
  eng/versioning/external_dependencies.txt
  sdk/parents/azure-code-customization-parent/pom.xml
Due: eng/pipelines/mgmt.yml

[Automation] External Change
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

[Automation] Generate Fluent Lite from TypeSpec devopsinfrastructure
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/CHANGELOG.md
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/README.md
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/pom.xml
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/fluent/DevOpsInfrastructureClient.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/implementation/DevOpsInfrastructureClientBuilder.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/implementation/DevOpsInfrastructureClientImpl.java
Due: eng/pipelines/link-verification.yml

Increment package versions for networkcloud releases
  eng/versioning/version_client.txt
  sdk/networkcloud/azure-resourcemanager-networkcloud/CHANGELOG.md
  sdk/networkcloud/azure-resourcemanager-networkcloud/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for networkcloud releases (#43051)
  eng/versioning/version_client.txt
  sdk/networkcloud/azure-resourcemanager-networkcloud/CHANGELOG.md
  sdk/networkcloud/azure-resourcemanager-networkcloud/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update CHANGELOG.md
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
