Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Using link that actually currently exists
  sdk/openai/azure-ai-openai-assistants/README.md
Due: eng/pipelines/link-verification.yml

simplified setting of the dates
  sdk/healthinsights/azure-health-insights-radiologyinsights/README.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleCriticalResultInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleCriticalResultInferenceSync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/test/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsClientTestBase.java
Due: eng/pipelines/link-verification.yml

Fix newConnectionOnRetriableError test
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AmqpChannelProcessorTest.java
Due: none

Spring monitor 1.0.0-beta.3
  sdk/spring/spring-cloud-azure-starter-monitor/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-monitor/README.md
Due: eng/pipelines/link-verification.yml

Refactoring tests.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConsistencyTests2.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConsistencyTestsBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ISessionContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RegionScopedSessionContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionContainer.java
Due: none

update readme and changelog (#38660)
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai-assistants/README.md
  sdk/openai/azure-ai-openai-assistants/src/samples/java/com/azure/ai/openai/assistants/FunctionToolCallSample.java
  sdk/openai/azure-ai-openai-assistants/src/samples/java/com/azure/ai/openai/assistants/ReadmeSamples.java
Due: eng/pipelines/link-verification.yml

Spring monitor 1.0.0-beta.3 (#38604)
  sdk/spring/spring-cloud-azure-starter-monitor/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-monitor/README.md
Due: eng/pipelines/link-verification.yml

upgrade identity version after it released
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai-assistants/pom.xml
Due: eng/pipelines/link-verification.yml

External Dependency Update: com.puppycrawl.tools:checkstyle:9.3 -> 10.13
  eng/code-quality-reports/pom.xml
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/mgmt.yml

Adding sticky session sample
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/ConsistentSessionId.java
Due: none

Revert "External Dependency Update:"
  eng/code-quality-reports/pom.xml
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/mgmt.yml

Fix newConnectionOnRetriableError test (#38663)
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AmqpChannelProcessorTest.java
Due: none

Split BinaryData specific tests in HttpClientTests by BinaryData type
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
Due: none

Fixing the test failure for the mute participant
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncUnitTests.java
Due: none

Search Adding Sticky SessionId Sample (#38666)
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/ConsistentSessionId.java
Due: none

remove azure assistants is not supported
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai-assistants/README.md
Due: eng/pipelines/link-verification.yml

Remove user from CODEOWNERS who is no longer part of Azure
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

fixing the test failures
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncUnitTests.java
Due: none

fixing test failures in the call connection unit tests for the mute participant
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionUnitTests.java
Due: none

Use assertingclient and add autorest version use
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestAdministrationAsyncTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestAdministrationTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunAsyncTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestingClientTestBase.java
  sdk/loadtesting/azure-developer-loadtesting/swagger/README.md
Due: eng/pipelines/link-verification.yml

Remove user from CODEOWNERS who is no longer part of Azure (#38668)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

manually edit customization
  sdk/openai/azure-ai-openai-assistants/assets.json
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClientBuilder.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/AssistantsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/Util.java
Due: none

Store regionId to regionName mappings.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConsistencyTests2.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConsistencyTestsBase.java
Due: none

Store regionId to regionName mappings.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/RegionNameToRegionIdMap.java
Due: none

Split BinaryData specific tests in HttpClientTests by BinaryData type (#38667)
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
Due: none

rename util class name to OpenAIUtils
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClientBuilder.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/OpenAIUtils.java
Due: none

regene to pass the typespec generation
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClientBuilder.java
Due: none

always populate readmany filtering property if readmany filtering is enabled
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReaderWithReadMany.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITestBase.scala
Due: none

refactor and update changelog
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
Due: eng/pipelines/link-verification.yml

fix
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
Due: none

Adjusting javadoc improvement PR based on feedback
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/models/LogsUploadOptions.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/package-info.java
Due: none

regenerate code from updated swagger
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/OperatorInformationRequest.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/OperatorDetails.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/OperatorInformation.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/OperatorNumberType.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
Due: eng/pipelines/link-verification.yml

Adding champion scenarios to package info
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/package-info.java
Due: none

fix javadoc - missing @param
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersClient.java
Due: none

Fixed NPE when using a local client.
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClient.java
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Due: none

test ci
  eng/versioning/version_client.txt
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
Due: eng/pipelines/mgmt.yml

Update pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Due: none

added sample
  sdk/communication/azure-communication-messages/src/samples/java/com/azure/communication/messages/NotificationMessageSample.java
Due: none
