Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

improve reconnect logic
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
Due: none

retry on send message
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
Due: none

add group test
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/GroupTests.java
Due: none

@DoNotRecord(skipInPlayback = true)
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/ClientTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/GroupTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/SendMessageTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/TestBase.java
Due: none

support sendEvent
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/MessageDecoder.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/SendEventMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/SendEventOptions.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/ServerDataMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/ServerMessageEvent.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/StoppedEvent.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/EventTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/GroupMessageTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/MainTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/TestBase.java
Due: none

refactor
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/Main.java
Due: none

sequenceAck task
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/SequenceAckMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/Main.java
Due: none

fix some checkstyle
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubClientBuilder.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/exception/SendMessageFailedException.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/MessageDecoder.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/MessageEncoder.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/EventTests.java
Due: none

package-info
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/exception/package-info.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/package-info.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/package-info.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/package-info.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/protocol/package-info.java
Due: none

javadoc
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubClientBuilder.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubClientCredential.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/exception/SendMessageFailedException.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/AckMessageError.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/ConnectedEvent.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/DisconnectedEvent.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/DisconnectedMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/GroupDataMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/GroupMessageEvent.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/SendEventOptions.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/SendToGroupOptions.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/ServerDataMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/ServerMessageEvent.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/StoppedEvent.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/WebPubSubDataType.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/WebPubSubMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/WebPubSubResult.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/protocol/WebPubSubJsonProtocol.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/protocol/WebPubSubJsonReliableProtocol.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/protocol/WebPubSubProtocol.java
Due: none

spotbugs
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/exception/SendMessageFailedException.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/JoinGroupMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/LeaveGroupMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/LoggingUtils.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/SendEventMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/SendToGroupMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/SequenceAckMessage.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/WebPubSubMessageAck.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/models/AckMessageError.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/ClientTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/EventTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/GroupMessageTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/GroupTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/Main.java
Due: none

versioning
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Due: eng/pipelines/mgmt.yml

module-info
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/module-info.java
Due: none

ci
  sdk/webpubsub/ci.yml
Due: none

basic doc
  sdk/webpubsub/azure-messaging-webpubsub-client/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub-client/README.md
Due: eng/pipelines/link-verification.yml

fix versioning problems in pom
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Due: none

skip spelling
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

fix test module-info
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/module-info.java
Due: none

Updating swagger location
  sdk/communication/azure-communication-callautomation/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update version_client.txt
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

mgmt, loadtesting, prepare 1.0.0 (#33207)
  eng/versioning/version_client.txt
  sdk/loadtesting/azure-resourcemanager-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-resourcemanager-loadtesting/README.md
  sdk/loadtesting/azure-resourcemanager-loadtesting/SAMPLE.md
  sdk/loadtesting/azure-resourcemanager-loadtesting/pom.xml
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/main/java/com/azure/resourcemanager/loadtesting/LoadTestManager.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/main/java/com/azure/resourcemanager/loadtesting/implementation/LoadTestsClientImpl.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/main/java/com/azure/resourcemanager/loadtesting/models/ActionType.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/main/java/com/azure/resourcemanager/loadtesting/models/ManagedServiceIdentityType.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/main/java/com/azure/resourcemanager/loadtesting/models/Origin.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/main/java/com/azure/resourcemanager/loadtesting/models/ResourceState.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/main/java/com/azure/resourcemanager/loadtesting/models/Type.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/LoadTestsDeleteSamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/LoadTestsGetByResourceGroupSamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/LoadTestsListByResourceGroupSamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/LoadTestsListOutboundNetworkDependenciesEndpointsSamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/LoadTestsListSamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/LoadTestsUpdateSamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/OperationsListSamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/QuotasCheckAvailabilitySamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/QuotasGetSamples.java
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/samples/java/com/azure/resourcemanager/loadtesting/generated/QuotasListSamples.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Initial DRAFT for public API review
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsLogger.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsLoggerConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientMetricsDiagnosticsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryDiagnosticsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryMetrics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientTelemetryConfig.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosClientBuilderTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsE2ETest.java
Due: none

remove kafka info from headers
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/support/converter/EventHubsMessageConverter.java
  sdk/spring/spring-messaging-azure-eventhubs/src/test/java/com/azure/spring/messaging/eventhubs/support/converter/EventHubsMessageConverterTests.java
Due: none

fix wrong javadocs of withSsh
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachine.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineScaleSet.java
Due: eng/pipelines/link-verification.yml

test the azure-identity ua
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/IdentityUserAgentTests.java
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/factory/credential/AbstractAzureCredentialBuilderFactory.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/AzureSpringIdentifier.java
Due: none

removing exclusion of autorest code from coverage report
  sdk/communication/azure-communication-identity/pom.xml
Due: none

Update DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
Due: none

Adding comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsLogger.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsLoggerConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
Due: none

Iterate on comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientTelemetryConfig.java
Due: none

improving changelog
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Use custom SerializerAdapter to handle ManagementError
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/exception/ManagementError.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/exception/ManagementErrorDeserializer.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/serializer/ManagementErrorDeserializer.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/serializer/ManagementSerializerAdapter.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/serializer/SerializerFactory.java
Due: none

move scripts to common
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/common.ps1
Due: eng/pipelines/mgmt.yml

add reference to common script
  eng/common/scripts/Cadl-Project-Generate.ps1
Due: eng/pipelines/mgmt.yml

address feedback
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Due: eng/pipelines/mgmt.yml

updates to make scripts more generic
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Due: eng/pipelines/mgmt.yml

update copy paste issue with emitter path
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/common.ps1
Due: eng/pipelines/mgmt.yml

couple tweaks to relative path updates
  eng/common/scripts/Cadl-Project-Sync.ps1
Due: eng/pipelines/mgmt.yml

Added Asserting Clients
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTestBase.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTestBase.java
Due: none

Fully remove use Core Managements use of ObjectMapper based JacksonAdapter constructor
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/exception/ManagementError.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
Due: none
