Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

add sample code
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/controller/RoleController.java
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/Constants.java
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/aad/CustomWebServerSecurityConfig.java
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/aad/JsonMapper.java
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/aad/SampleController.java
Due: eng/pipelines/link-verification.yml

Removed POM for azure-spring-boot-sample-keyvault-certificates, as it should not exist in this branch and was breaking the CI pipeline.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/pom.xml
Due: none

* Add a client credential flow implementation to the WebAPI.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerClientConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthorizationClientProperties.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerOboConfigurationTest.java
Due: none

resolve conversation.
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/conditional/access/webapi/a/ConditionalAccessPolicyTestWebApiA.java
  sdk/spring/azure-spring-boot-test-aad-resource-server/src/test/java/com/azure/test/aad/conditional/access/webapi/b/ConditionalAccessPolicyTestWebApiB.java
  sdk/spring/azure-spring-boot-test-aad/README.md
  sdk/spring/azure-spring-boot-test-aad/docs/image-application-name.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-add-MFA.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-add-application.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-add-user.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-button.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-enable.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-home.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-new-policy.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiA-add-grant-admin-consent.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiA-add-permissions.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiA-add-scope.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiA-select-myapis.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiB-add-scope.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapp-add-grant-admin-consent.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapp-add-permissions.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapp-select-myapis.png
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/conditional/access/AADConditionalAccessIT.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/EnvironmentVariable.java
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-security-keyvault-keys
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-security-keyvault-certificates
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

upgrade to spring boot 2.4.x
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/src/test/java/com/azure/spring/eventhub/stream/binder/EventHubBinderHealthIndicatorTest.java
  sdk/spring/azure-spring-integration-eventhubs/src/main/java/com/azure/spring/integration/eventhub/factory/DefaultEventHubClientFactoryInspector.java
Due: none

Increment package version after release of com.azure azure-security-keyvault-secrets
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Remove the default key expression and update code comment
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/src/main/java/com/azure/spring/eventhub/stream/binder/EventHubMessageChannelBinder.java
  sdk/spring/azure-spring-integration-core/src/main/java/com/azure/spring/integration/core/api/reactor/DefaultMessageHandler.java
Due: none

customDnsConfigurations
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/PrivateEndpointImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/PrivateEndpoint.java
Due: none

rename method for resource id
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/PrivateEndpointImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/PrivateEndpoint.java
Due: none

Make README.md look better.
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Due: eng/pipelines/link-verification.yml

Prepare Monitor exporter for release
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Due: eng/pipelines/link-verification.yml

Increase package extension names char limit to 30
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml
Due: eng/pipelines/mgmt.yml

Delete headers that can not set in service bus Track 2 library.
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverter.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageHeaders.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverterTest.java
Due: none

Increment version for appconfiguration releases (#19715)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management/pom.xml
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-appconfiguration-conversion-sample-complete/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-appconfiguration-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/feature-management-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/feature-management-web-sample/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

bug fix, 400 if this is not set
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/implementation/VirtualNetworkLinkImpl.java
Due: none

Increment package version after release of com.azure azure-security-keyvault-jca (#19638)
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

User util method to remove duplicated code.
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverter.java
Due: none

Add aad b2c resource server sample (#19511)
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-add-application-roles.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-configuration-application-roles.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-consent-application-permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-final-configuration.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-selected-application.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/src/main/java/com/azure/spring/sample/aad/b2c/AzureADB2CResourceServerSampleApplication.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/src/main/java/com/azure/spring/sample/aad/b2c/controller/WebController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/src/main/java/com/azure/spring/sample/aad/b2c/security/WebSecurityConfiguration.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/src/main/resources/application.yml
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADIssuerJWSKeySelector.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
Due: eng/pipelines/link-verification.yml

add entry notes
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

update entry notes
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

private dns zone group, update tests
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/PrivateDnsZoneGroupImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/PrivateDnsZoneGroupsImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/PrivateEndpointImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/PrivateDnsZoneGroup.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/PrivateDnsZoneGroups.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/PrivateEndpoint.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/PrivateLinkTests.java
Due: none

add Integration test for conditional access (#19642)
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/conditional/access/webapi/a/ConditionalAccessPolicyTestWebApiA.java
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/obo/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server/src/test/java/com/azure/test/aad/conditional/access/webapi/b/ConditionalAccessPolicyTestWebApiB.java
  sdk/spring/azure-spring-boot-test-aad/README.md
  sdk/spring/azure-spring-boot-test-aad/docs/image-application-name.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-add-MFA.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-add-application.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-add-user.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-button.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-enable.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-flow.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-home.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-conditional-access-new-policy.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiA-add-grant-admin-consent.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiA-add-permissions.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiA-add-scope.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiA-select-myapis.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapiB-add-scope.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapp-add-grant-admin-consent.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapp-add-permissions.png
  sdk/spring/azure-spring-boot-test-aad/docs/image-webapp-select-myapis.png
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/conditional/access/AADConditionalAccessIT.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/AppRunner.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/EnvironmentVariable.java
Due: eng/pipelines/link-verification.yml

spring-cloud-azure-appconfiguration-* hotfix release 1.2.9 (#19786)
  .github/CODEOWNERS
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management/pom.xml
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/README.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

* Restore original file
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerClientConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthorizationClientProperties.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerClientConfigurationTest.java
Due: none

Revert "* Add a client credential flow implementation to the WebAPI."
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerOboConfiguration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerClientConfigurationTest.java
Due: none

Restore file
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerOboConfiguration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerOboConfigurationTest.java
Due: none

* Update Unit test class name
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerClientConfiguration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2AuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerClientConfigurationTest.java
Due: none

UNS investigation into the 410+408 exception
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/BackoffRetryUtility.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clientTelemetry/AzureVMMetadata.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clientTelemetry/ClientTelemetry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/GoneAndRetryPolicyWithSpyClientTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/RxDocumentClientUnderTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SpyClientUnderTestFactory.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
Due: none

Update Template Jacoco Code Coverage and Java-fy README (#19802)
  eng/.docsettings.yml
  sdk/template/azure-sdk-template/README.md
  sdk/template/azure-sdk-template/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

resolving comments
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/CosmosEncryptionAsyncClient.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionSettings.java
  sdk/cosmos/azure-cosmos-encryption/src/samples/java/com/azure/cosmos/EncryptionCodeSnippet.java
  sdk/cosmos/azure-cosmos-encryption/src/samples/java/com/azure/cosmos/Program.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/CosmosEncryptionClientCachesTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/EncryptionCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/implementation/EncryptionProcessorAndSettingsTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ClientEncryptionIncludedPath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ClientEncryptionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientEncryptionKeyProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientEncryptionKeyResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerTest.java
Due: none

Increment version for keyvault releases (#19809)
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

adding beta annotation to SqlQuerySpec
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/SqlQuerySpec.java
Due: none

Fixed spring-cloud-azure-appconfiguration-config version in bannedDependencies section of spring-cloud-azure-appconfiguration-config-web.
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config-web/pom.xml
Due: none

Updated `spring-boot-starter-parent` version from `2.4.0` to `2.4.3` in `azure-spring-boot-sample-active-directory-b2c-resource-server`.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/pom.xml
Due: none

Updated azure-cosmos and azure-spring-data-cosmos release versions (#19791)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment version for eventhubs releases (#19800)
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare Monitor exporter for release (#19812)
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Due: eng/pipelines/link-verification.yml
