Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

Update Configuration.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
Due: none

Port the transcription and audio streaming changes form main and recorded the live tests.
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndGetCallRecordingTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndStartRecordingWithCallConnectionIdTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndUnmixedAudioTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallUnmixedAudioAffinityTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyCancelAddParticipant.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerWithCustomContextThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndConnectCallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndMediaStreamingTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndRejectAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndTranscriptionTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/dtmfActionsInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/holdUnholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/interruptAudioAndAnnounceToholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMediaInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWhenParticipantOnHoldTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaTest.json
Due: eng/pipelines/pullrequest.yml

Update external_dependencies.txt
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/mgmt.yml

switch based on version
  sdk/cosmos/azure-cosmos-spark_3_2-12/test-databricks/databricks-jar-install.sh
Due: none

fix
  sdk/cosmos/azure-cosmos-spark_3_2-12/test-databricks/databricks-jar-install.sh
Due: none

updating string encoding docs, test resource file upload
  sdk/healthdataaiservices/azure-health-deidentification/README.md
  sdk/healthdataaiservices/test-resources-post.ps1
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

doc
  sdk/healthdataaiservices/azure-health-deidentification/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

STG99 Beta Release (#45943)
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for storage releases (#45950)
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fixing Code review NITs
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientConfiguration.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
Due: none

Update Powershell Credential Auth Script (#45851)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/PowerShellUtil.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

update TypeSpec commit
  sdk/healthdataaiservices/azure-health-deidentification/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Add client.address mapping for events/logs
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/LogDataMapper.java
Due: eng/pipelines/pullrequest.yml

update tests
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OSBrokerCredential.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
Due: eng/pipelines/pullrequest.yml

updating changelogs, readmes, and poms
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Adding direct dependency for commons-lang3 where apache avro is present
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

adding missed dependency updates to blob changelog
  sdk/storage/azure-storage-blob/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Updates to not change cosmos libraries
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
Due: none

STG98 GA Release 2025-07-15 (#46027)
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

apply spotless
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OSBrokerCredential.java
Due: eng/pipelines/pullrequest.yml

Adding direct dependency for commons-lang3 where apache avro is present (#46028)
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Simplify versioning scripts (#45850)
  .github/CODEOWNERS
  .github/CODEOWNERS_baseline_errors.txt
  .vscode/cspell.json
  CONTRIBUTING.md
  eng/automation/utils.py
  eng/pipelines/code-quality-reports.yml
  eng/pipelines/pullrequest.yml
  eng/pipelines/scripts/Set-Dev-Versioning.ps1
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/steps/build-and-test.yml
  eng/pipelines/templates/steps/initialize-test-environment.yml
  eng/scripts/Generate-Patch.ps1
  eng/scripts/Generate-Patches-For-Automatic-Releases.ps1
  eng/scripts/Language-Settings.ps1
  eng/scripts/Verify-Required-Maven-Artifacts.ps1
  eng/scripts/bomhelpers.ps1
  eng/versioning/external_dependencies.txt
  eng/versioning/find_unused_dependencies.py
  eng/versioning/pom_file_version_scanner.ps1
  eng/versioning/set_versions.py
  eng/versioning/update_versions.py
  eng/versioning/version_client.txt
  eng/versioning/version_data.txt
  eng/versioning/version_java_files.txt
  sdk/openai/Clone-And-Build.ps1
  sdk/openai/openai-build.yml
  sdk/resourcemanager/docs/HOW_TO_ADD_LIVE_TESTS.md
  sdk/storage/CONTRIBUTING.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

changing just storage CONTRIBUTING.md
  sdk/storage/CONTRIBUTING.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

changing just storage CONTRIBUTING.md (#46030)
  sdk/storage/CONTRIBUTING.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Update ACS Email Java SDK with Poller rehydration by operation ID (#45898)
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-email/assets.json
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailAsyncClient.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailClient.java
  sdk/communication/azure-communication-email/src/samples/java/com/azure/communication/email/ReadmeSamples.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailAsyncClientTests.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailClientTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

pushing out release date by 1
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

updating string encoding docs, test resource file upload (#46024)
  sdk/healthdataaiservices/azure-health-deidentification/README.md
  sdk/healthdataaiservices/azure-health-deidentification/tsp-location.yaml
  sdk/healthdataaiservices/test-resources-post.ps1
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

try this
  sdk/cosmos/azure-cosmos-spark_3_2-12/test-databricks/databricks-jar-install.sh
Due: none

add test module
  sdk/automanage/pom.xml
Due: eng/pipelines/pullrequest.yml

add module for standbypool as well
  sdk/standbypool/pom.xml
Due: eng/pipelines/pullrequest.yml

Increment package versions for playwright releases
  eng/versioning/version_client.txt
  sdk/playwright/azure-resourcemanager-playwright/CHANGELOG.md
  sdk/playwright/azure-resourcemanager-playwright/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for playwright releases (#46034)
  eng/versioning/version_client.txt
  sdk/playwright/azure-resourcemanager-playwright/CHANGELOG.md
  sdk/playwright/azure-resourcemanager-playwright/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

put it back
  sdk/cosmos/azure-cosmos-spark_3_2-12/test-databricks/databricks-jar-install.sh
Due: none

eng, pin tsp-client to 0.25.0
  eng/automation/generation.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml
