Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}
      TimeoutInMinutes: 90
      ExcludePaths:
      - eng/versioning/external_dependencies.txt
      - eng/versioning/version_client.txt
  ...

Prepare May 2025 release for azure-messaging-eventhubs (#45375)
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Version bump for azure-cosmos v4.70.0 release (#45376)
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update duration APIs'
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsCallEndedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/src/main/java/EventGridCustomization.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

addressing review comments
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/QueueProperties.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAsyncApiTests.java
Due: eng/pipelines/pullrequest.yml

update rest api spec property name
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsCallEndedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/tsp-location.yaml
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsCallEndedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
  sdk/eventgrid/azure-messaging-eventgrid/swagger/src/main/java/EventGridCustomization.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

update assets.json
  sdk/digitaltwins/azure-digitaltwins-core/assets.json
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/QuerySpecification.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/QueryAsyncTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/QueryTests.java
  sdk/digitaltwins/azure-digitaltwins-core/swagger/Update-Codegeneration.ps1
  sdk/digitaltwins/azure-digitaltwins-core/swagger/autorest.md
  sdk/digitaltwins/azure-digitaltwins-core/swagger/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/swagger/src/main/java/DigitalTwinsCustomization.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

update with merge commit sha
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/tsp-location.yaml
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10657 (#45378)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update assets.json
  sdk/digitaltwins/azure-digitaltwins-core/assets.json
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DeleteJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/ImportJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/QuerySpecification.java
Due: eng/pipelines/pullrequest.yml

Increment package versions for cosmos releases (#45380)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

add javadoc
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DeleteJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/ImportJobsImpl.java
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 10681
  eng/common/mcp/azure-sdk-mcp.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for eventhubs releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

run autorest which removes java doc
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DeleteJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/ImportJobsImpl.java
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md (#45381)
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add java doc
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DeleteJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/ImportJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/QueryTests.java
  sdk/digitaltwins/azure-digitaltwins-core/swagger/Update-Codegeneration.ps1
Due: eng/pipelines/pullrequest.yml

Search May 2025 Preview
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchServiceVersion.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/agents/SearchKnowledgeAgentAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/agents/SearchKnowledgeAgentClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/agents/SearchKnowledgeAgentClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/FieldBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SimpleField.java
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/KnowledgeAgentTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchTestBase.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/DataSourceTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/IndexManagementTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/SkillsetManagementTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/SynonymMapManagementTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Search May 2025 Preview
  sdk/tables/azure-data-tables/src/samples/java/com/azure/data/tables/TableHelloWorld.java
Due: eng/pipelines/pullrequest.yml

Cspell Updates
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Search May 2025 Preview
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/KnowledgeAgentsImpl.java
Due: eng/pipelines/pullrequest.yml

Revapi updates
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for eventhubs releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for search releases
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

suppression
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Remove test scope form azure identity dependency declaration
  sdk/healthinsights/azure-health-insights-radiologyinsights/pom.xml
Due: eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
