Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  stages:
  - stage: LatestJdk
    displayName: Latest JDK
    jobs:
    - job: RunLatestJdk
      displayName: Run Latest JDK
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

add opn location default redaction + noop for matcher in record mode
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
Due: none

add apikey default redaction
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
Due: none

add note for matcher noop
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
Due: none

checkstyle
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
Due: none

Add http clients to test proxy (#33939)
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyPlaybackClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
Due: none

silly style
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
Due: none

[Cosmos] Tests and changes for subpartitioning (#32501)
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternalHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKeyBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKind.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosMultiHashTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

delete local swagger file
  sdk/metricsadvisor/azure-ai-metricsadvisor/swagger/metricsadvisor_1.20200903_openapi.v2.json
Due: none

Test Proxy minor updates (#33943)
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
Due: none

change signature
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobSeekableByteChannelReadResult.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.groovy
Due: none

Increment package versions for purview releases
  eng/versioning/version_client.txt
  sdk/purview/azure-analytics-purview-sharing/CHANGELOG.md
  sdk/purview/azure-analytics-purview-sharing/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Pull in initial changes
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAsyncClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/models/TpmAttestationResult.java
  sdk/attestation/azure-security-attestation/src/samples/java/com/azure/security/attestation/AttestationSamples.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationTest.java
Due: eng/pipelines/link-verification.yml

throws declaration
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
Due: none

Javadocs
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobSeekableByteChannelReadResult.java
Due: none

Adding rest of examples
  sdk/translation/azure-ai-texttranslator/README.md
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/BreakSentence.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/DictionaryExamples.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/DictionaryLookup.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/GetLanguages.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/GetLanguagesAcceptLanguage.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/GetLanguagesScope.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/ReadmeSamples.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/Translate.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateAlignments.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateCustom.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateDetection.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateDictionary.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateMultipleSources.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateMultipleTargets.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateNoTranslate.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateProfanity.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateSenteceLength.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateTextType.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/TranslateWithTransliteration.java
  sdk/translation/azure-ai-texttranslator/src/samples/java/com/azure/ai/texttranslator/Transliterate.java
Due: eng/pipelines/link-verification.yml

client method for getting write channel blockblob (#33947)
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobSeekableByteChannelWriteMode.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobSeekableByteChannelWriteOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlockBlobWriteBehavior.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlockBlobWriteBehaviorTests.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[7].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[8].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsE2EChannelRead[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsE2EChannelRead[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[2].json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileSeekableByteChannelWriteOptions.java
Due: none

fix test
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.groovy
Due: none

lint errors fixes
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallRecordingAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/ExternalStorageInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStorageTypeInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/BlobStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/ExternalStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecordingStorageType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Due: eng/pipelines/link-verification.yml

lint errors fixes
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecordingStorageType.java
Due: none

Running prepare release script.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update changelog.
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

ACS CallAutomation CallRecording BYOS changes (#33940)
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallRecordingAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AddParticipantRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/BlobStorageInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/ExternalStorageInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/PlaySourceInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/PlaySourceTypeInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStorageTypeInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/SsmlSource.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartCallRecordingRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/BlobStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/ExternalStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecordingStorageType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update changelog
  sdk/attestation/azure-security-attestation/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

adding changelog updates
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Increment package versions for purview releases (#33950)
  eng/versioning/version_client.txt
  sdk/purview/azure-analytics-purview-sharing/CHANGELOG.md
  sdk/purview/azure-analytics-purview-sharing/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

adding changelog updates (#33954)
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

data retention policy
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImplBuilder.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/BasedOnThreadCreationDateRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadProperties.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/PolicyType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/RetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatThreadItem.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatThreadOptions.java
  sdk/communication/azure-communication-chat/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosTracerTest.java
Due: none

Adding tests, docs, and samples
  sdk/containerregistry/azure-containers-containerregistry/README.md
  sdk/containerregistry/azure-containers-containerregistry/TROUBLESHOOTING.md
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/ConstructorAccessors.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/UtilsImpl.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/DownloadManifestResult.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/UploadBlobResult.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/specialized/ContainerRegistryBlobAsyncClient.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/specialized/ContainerRegistryBlobClient.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/DockerV2ManifestList.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/DownloadImage.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/DownloadImageAsync.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/ReadmeSamples.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/UploadImage.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/UploadImageAsync.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryBlobClientIntegrationTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryBlobClientTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/resources/session-records/ContainerRegistryBlobClientIntegrationTests.canUploadDockerManifestWithTagAsync[1].json
  sdk/containerregistry/azure-containers-containerregistry/src/test/resources/session-records/ContainerRegistryBlobClientIntegrationTests.canUploadDockerManifestWithTag[1].json
  sdk/containerregistry/azure-containers-containerregistry/src/test/resources/session-records/ContainerRegistryBlobClientIntegrationTests.downloadManifestDifferentType[1].json
  sdk/containerregistry/azure-containers-containerregistry/src/test/resources/session-records/ContainerRegistryBlobClientIntegrationTests.downloadManifestIncompatibleType[1].json
  sdk/containerregistry/azure-containers-containerregistry/src/test/resources/session-records/ContainerRegistryBlobClientIntegrationTests.downloadManifest[1].json
Due: eng/pipelines/link-verification.yml

CosmosTracerTest finished
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncDatabase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncScripts.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncUser.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosPagedFluxOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ReadFeedExceptionHandlingTest.java
Due: none

refactor de/serialization and tests
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingDeserializationHelper.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingSerializationHelper.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/Utility.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/FeatureFlagConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SecretReferenceConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingDeserializerTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingSerializerTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/ConfigurationAsyncClientTest.addExistingSetting[1].json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/ConfigurationClientTest.addExistingSetting[1].json
Due: none

Fix Cognitive Search Javadocs in the Latest JDK Versions
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchIndexingBufferedAsyncSender.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchIndexingBufferedSender.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/FieldBuilderOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/IndexDocumentsBatch.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/IndexingParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexAction.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexBatchBase.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexBatchException.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexDocumentsOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/RangeFacetResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchAudience.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/ValueFacetResult.java
  sdk/search/azure-search-documents/swagger/src/main/java/SearchServiceCustomizations.java
Due: none

Validate Cognitive Search Code Generation in CI
  eng/scripts/Invoke-Codegeneration.ps1
  sdk/search/azure-search-documents/swagger/Update-Codegeneration.ps1
Due: eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
