Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

Update redis samples and documentation. (#32769)
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/module-info.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/module-info.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/EventProcessorClientJedisSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStoreSample.java
Due: none

changelog
  sdk/resourcemanager/azure-resourcemanager-authorization/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
Due: eng/pipelines/link-verification.yml

SB stress tests: instrument sender (#32776)
  .gitignore
  .vscode/cspell.json
  sdk/servicebus/azure-messaging-servicebus-stress/templates/job.yaml
Due: eng/pipelines/mgmt.yml

Sync eng/common directory with azure-sdk-tools for PR 5027 (#32773)
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Updated External Dependency: (#32774)
  eng/versioning/external_dependencies.txt
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-appservice/pom.xml
Due: eng/pipelines/mgmt.yml

Allow tracer with client metrics
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
Due: none

update according to comments
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceClient.java
Due: none

Enabling RecoverableReactorConnection to support any type extending from ReactorConnection.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RecoverableReactorConnection.java
Due: none

Updating RecoverableReactorConnection*Tests to adapt new generic param of RecoverableReactorConnection. Integrating new connection recovery to Event Hubs (todo: enable 3 time-based EHProducer tests)
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RecoverableReactorConnectionIsolatedTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RecoverableReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
Due: none

Update eng/mgmt/automation/generate_data.py
  eng/mgmt/automation/generate_data.py
Due: eng/pipelines/mgmt.yml

Fix existing bug on generate client token using Aad token
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/implementation/WebPubSubUtil.java
Due: none

Add test
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/TokenGenerationTest.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGenerationFromAadCredential.json
Due: none

fix session records
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/SqlSampleTests.testManageSqlDatabasesAcrossDifferentDataCenters.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/SqlSampleTests.testManageSqlVirtualNetworkRules.json
Due: none

Fix checkstyle error
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceClient.java
Due: none

update CHANGELOG
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fix spotbugs error
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceClientBuilder.java
Due: none

config in builder
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubClientBuilder.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubJsonProtocol.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubJsonReliableProtocol.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubProtocol.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/LoggingUtils.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/ClientTests.java
Due: none

update tests
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/TokenGenerationTest.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[1].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[2].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[3].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[4].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[5].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[6].json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/TokenGenerationTest.testTokenGeneration[7].json
Due: none

Update according to comments
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/implementation/WebPubSubUtil.java
Due: none

init
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/enums/AuthProperty.java
  sdk/spring/ci.yml
  sdk/spring/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureJedisConnection.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureJedisConnectionFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureJedisPasswordlessConnectionConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureRedisCredentialSupplier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/RedisUrlSyntaxException.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureJedisPasswordlessAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/passwordless/AzurePasswordlessProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/passwordless/AzureRedisPasswordlessProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/redis/AzureJedisClientConfig.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/redis/AzureJedisFactory.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/redis/AzureJedisPool.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/redis/package-info.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/redis/AzureJedisPoolTest.java
  sdk/spring/spring-cloud-azure-starter-redis/pom.xml
Due: eng/pipelines/mgmt.yml

fixing cspell spelling errors in spring packages
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

fix checkstyle
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureJedisConnectionFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureJedisPasswordlessConnectionConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureRedisCredentialSupplier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/RedisUrlSyntaxException.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/package-info.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureJedisPasswordlessAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/passwordless/AzurePasswordlessProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/redis/AzureJedisClientConfig.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/redis/AzureJedisFactory.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/redis/AzureJedisPool.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/redis/package-info.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/redis/AzureJedisPoolTest.java
Due: eng/pipelines/mgmt.yml

update name
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/redis/passwordless/jedis/AzureJedisPasswordlessConnectionConfigurationTest.java
Due: none

fixing cspell spelling errors in spring packages
  .vscode/cspell.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureGlobalConfigurationEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/kafka/KafkaPropertiesBeanPostProcessor.java
Due: eng/pipelines/mgmt.yml

Update AMQP Core
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fix versions
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
Due: eng/pipelines/mgmt.yml

Removing myself from CODEOWNERS since I no longer work on Azure Search (#32752)
  .github/CODEOWNERS
  .github/fabricbot.json
Due: eng/pipelines/mgmt.yml

Defer Accessing Environment for SystemRoot
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
Due: none

Remove AtomicReference
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
Due: none

TraceProvider constructor inadvertently disables tracing when isClientMetricsEnabled is true
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/TracerProviderTest.java
Due: none

Remove a Few CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

Remove a Few CODEOWNERS (#32785)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

Add invalid and unauthorized tests to update capabilities
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.beginUpdatePhoneNumberCapabilitiesInvalidPhoneNumber[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.beginUpdatePhoneNumberCapabilitiesUnauthorizedPhoneNumber[1].json
Due: none

Revert "Migrate eng/common (except job-matrix) to Ubuntu 22.04 (#5005)" for perf.yml (#32788)
  eng/common/pipelines/templates/jobs/perf.yml
Due: eng/pipelines/mgmt.yml

Minor change
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
Due: none

ShortForMigrateFrom
  sdk/communication/azure-communication-phonenumbers/phone-numbers-livetest-matrix.json
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
