Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template
  ...

add default os brower broker credential
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/IdentityUtil.java
Due: eng/pipelines/pullrequest.yml

updating recordings
  sdk/monitor/azure-monitor-query/assets.json
Due: eng/pipelines/pullrequest.yml

Parallelize Swagger validation
  eng/pipelines/templates/jobs/ci.yml
  eng/scripts/Compare-CurrentToCodegeneration.ps1
  eng/scripts/Invoke-Codegeneration.ps1
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchAlias.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update readme to use stable spec
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

fleshing out tests
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/contentValidation/BlobMessageEncoderUploadTests.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/StorageContentValidationPolicy.java
Due: eng/pipelines/pullrequest.yml

Finalize Swagger update script changes
  eng/scripts/Compare-CurrentToCodegeneration.ps1
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchAlias.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

First TypeSpec update
  eng/scripts/Compare-CurrentToCodegeneration.ps1
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Finalize TypeSpec update script
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/AgentEvaluation.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Small script update
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update CODEOWNERS (#45893)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Updating test recordings
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsAsyncCientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsClientTest.java
Due: eng/pipelines/pullrequest.yml

Update Storage V2 with latest codegen version
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/AppendBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/BlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/BlockBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/ContainerClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/PageBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/StorageServiceClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/BlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/ContainersImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/ServicesImpl.java
  sdk/storage-v2/azure-storage-blob/swagger/src/main/java/StorageCustomization.java
  sdk/storage-v2/azure-storage-blob/swagger/storage-v2-autorest.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

regen
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/CHANGELOG.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/SAMPLE.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/fluent/OrganizationsClient.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/implementation/OrganizationResourceImpl.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/implementation/OrganizationsClientImpl.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResource.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResourceUpdate.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResourceUpdateProperties.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/resources/META-INF/azure-resourcemanager-mongodbatlas_apiview_properties.json
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/resources/META-INF/azure-resourcemanager-mongodbatlas_metadata.json
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsUpdateSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationsListMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsCreateOrUpdateMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsGetByResourceGroupWithResponseMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListByResourceGroupMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

fallback logic
  eng/automation/generate_data.py
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

log
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update Storage V2 with latest codegen version (#45895)
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/AppendBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/BlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/BlockBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/ContainerClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/PageBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/StorageServiceClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/BlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/ContainersImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/ServicesImpl.java
  sdk/storage-v2/azure-storage-blob/swagger/src/main/java/StorageCustomization.java
  sdk/storage-v2/azure-storage-blob/swagger/storage-v2-autorest.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

disable_customization
  eng/automation/generate_data.py
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

update assets
  sdk/resourcemanager/azure-resourcemanager-containerservice/assets.json
Due: eng/pipelines/pullrequest.yml

disable_customization by modify the tspconfig.yaml
  eng/automation/generate_utils.py
  eng/automation/utils.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update Java SDK with operation ID rehydration
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-email/assets.json
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailAsyncClient.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailClient.java
  sdk/communication/azure-communication-email/src/samples/java/com/azure/communication/email/ReadmeSamples.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailAsyncClientTests.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailClientTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

handle case where read handlers are added to a closed channel
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4EagerConsumeChannelHandler.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4InitiateOneReadHandler.java
Due: eng/pipelines/pullrequest.yml

Update version in client txt
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

[AutoPR azure-resourcemanager-mongodbatlas]-generated-from-SDK Generation - Java-4991063 (#45767)
  eng/versioning/version_client.txt
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/CHANGELOG.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/README.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/SAMPLE.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/pom.xml
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/fluent/OrganizationsClient.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/implementation/MongoDBAtlasManagementClientImpl.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/implementation/OrganizationResourceImpl.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/implementation/OrganizationsClientImpl.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResource.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResourceUpdate.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResourceUpdateProperties.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/resources/META-INF/azure-resourcemanager-mongodbatlas_apiview_properties.json
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/resources/META-INF/azure-resourcemanager-mongodbatlas_metadata.json
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OperationsListSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsCreateOrUpdateSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsDeleteSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsGetByResourceGroupSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListByResourceGroupSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsUpdateSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/ManagedServiceIdentityTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/MarketplaceDetailsTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OfferDetailsTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationDisplayTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationInnerTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationListResultTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationsListMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationPropertiesTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationResourceInnerTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationResourceListResultTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsCreateOrUpdateMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsGetByResourceGroupWithResponseMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListByResourceGroupMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/PartnerPropertiesTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/UserAssignedIdentityTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/UserDetailsTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for lambdatesthyperexecute releases
  eng/versioning/version_client.txt
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/CHANGELOG.md
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

remove synchronized
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4ConnectionPool.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4ProgressAndTimeoutHandler.java
Due: eng/pipelines/pullrequest.yml

removing datalake changes
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/DataLakeStorageError.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileApiTest.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAsyncApiTests.java
Due: eng/pipelines/pullrequest.yml

apply ALPN only on new connections
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/NettyHttpClient.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4AlpnHandler.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4Utility.java
Due: eng/pipelines/pullrequest.yml

Merge scripts together
  eng/pipelines/templates/jobs/ci.yml
  eng/scripts/Compare-CurrentToCodegeneration.ps1
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Uncomment cleanup code
  eng/scripts/Compare-CurrentToCodegeneration.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for lambdatesthyperexecute releases (#45899)
  eng/versioning/version_client.txt
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/CHANGELOG.md
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Partial PR feedback
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpPipeline.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpRedirectPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/OAuthBearerTokenAuthenticationPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/client/JdkHttpClient.java
  sdk/clientcore/core/src/main/java12/io/clientcore/core/implementation/http/client/JdkHttpClient.java
Due: eng/pipelines/pullrequest.yml

Update README descriptions
  sdk/communication/azure-communication-phonenumbers/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

cleanup pwsh command
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Due: eng/pipelines/pullrequest.yml

add pwsh util
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/PowershellUtil.java
Due: eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
