Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  stages:
  - stage: LatestJdk
    displayName: Latest JDK
    jobs:
    - job: RunLatestJdk
      displayName: Run Latest JDK
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

update
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Due: none

Set loglevel environment variables to prevent timeout.
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Due: none

Fix map
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Due: none

updating swagger link (#34364)
  sdk/storage/azure-storage-file-share/swagger/README.md
Due: eng/pipelines/link-verification.yml

Don't install the proxy in CI (#34373)
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Due: none

Fixed live tests for cancelCertificateOperation() and re-recorded tests.
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.cancelCertificateOperation[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateClientTest.cancelCertificateOperation[1].json
Due: none

Fixing test cases
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/models/SqlQuerySpecWithEncryption.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
Due: none

Add some tests
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestUtilsTests.java
Due: none

Fix azure-core-experimental CHANGELOG
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
Due: eng/pipelines/link-verification.yml

Fix azure-core-experimental CHANGELOG (#34377)
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
Due: eng/pipelines/link-verification.yml

adding test case and example
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ServiceLevelTimeoutExample.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
Due: none

update changelog
  sdk/storage/azure-storage-common/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

updating docs
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ServiceLevelTimeoutExample.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/ServiceTimeoutPolicy.java
Due: none

cspell error fix
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ServiceLevelTimeoutExample.java
Due: none

remove p tag
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/ServiceTimeoutPolicy.java
Due: none

added missing copyright
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ServiceLevelTimeoutExample.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/ServiceTimeoutPolicy.java
Due: none

Delete unused implementation
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/AccessPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/SignedIdentifierInner.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/SignedIdentifiersWrapper.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/Slide.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/Slideshow.java
Due: none

Remove unreleased dependencies
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/monitor/azure-monitor-ingestion/pom.xml
Due: eng/pipelines/mgmt.yml

update readme
  sdk/maps/azure-maps-elevation/README.md
Due: eng/pipelines/link-verification.yml

Fixed tests.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/ProactiveOpenConnectionsProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConnectionStateListener.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ProactiveConnectionManagementTest.java
Due: none

Added benchmarking changes.
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
Due: none

Fixed faulty merge.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
Due: none

Fixed build errors.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
Due: none

Fixed build errors.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCacheTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/GlobalAddressResolverTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/IOpenConnectionsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressResolver.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressSelector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GlobalAddressResolver.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/IAddressResolver.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/IStoreClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ServerStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/OpenConnectionOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/ProactiveOpenConnectionsProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/OpenConnectionAggressivenessHint.java
Due: none

Benchmarking fixes.
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
Due: none

Benchmarking fixes.
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
Due: none

fix pl
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

fix pl
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

Update Elevation Readme For Deprecation (#34287)
  sdk/maps/azure-maps-elevation/README.md
Due: eng/pipelines/link-verification.yml

Benchmarking fixes.
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncReadBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncWriteBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
Due: none

tsp draft, anomalydetector with examples
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/CreateAndTrainMultivariateModel.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/DeleteMultivariateModel.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/DetectMultivariateBatchAnomaly.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/DetectMultivariateLastAnomaly.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/DetectUnivariateLastPoint.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/GetAMultivariateModel.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/GetMultivariateBatchDetectionResult.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/ListMultivariateModels.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/UnivariateDetectEntireSeries.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/generated/UnivariateDetectionOfAChangePoint.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/CreateAndTrainMultivariateModelTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/DeleteMultivariateModelTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/DetectMultivariateBatchAnomalyTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/DetectMultivariateLastAnomalyTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/DetectUnivariateLastPointTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/GetAMultivariateModelTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/GetMultivariateBatchDetectionResultTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/ListMultivariateModelsTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/UnivariateDetectEntireSeriesTests.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/UnivariateDetectionOfAChangePointTests.java
Due: none

use constant
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
Due: none

sync version
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Due: none

draft implementation with samples
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingSnapshotHelper.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/ConfigurationSettingSnapshot.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SettingSelector.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/CreateSnapshot.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/CreateSnapshotAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ListSnapshots.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ListSnapshotsAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
Due: none

Fixing tests.
  sdk/cosmos/tests.yml
  sdk/spring/cosmos-integration-matrix.json
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
