Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

Storage - Patch Release Mergeback (#47932)
  eng/versioning/version_client.txt
  sdk/ai/azure-ai-projects/pom.xml
  sdk/appplatform/azure-resourcemanager-appplatform/pom.xml
  sdk/batch/azure-compute-batch/pom.xml
  sdk/compute/azure-resourcemanager-compute/pom.xml
  sdk/containerinstance/azure-resourcemanager-containerinstance/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/documentintelligence/azure-ai-documentintelligence/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-resourcemanager-storage/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/tools/azure-openrewrite/pom.xml
  sdk/translation/azure-ai-translation-document/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for transcription releases (#47924)
  eng/versioning/version_client.txt
  sdk/transcription/azure-ai-speech-transcription/CHANGELOG.md
  sdk/transcription/azure-ai-speech-transcription/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Clean up.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicyForGatewayV2.java
Due: none

Clean up.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
Due: none

Clean up.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicyForGatewayV2.java
Due: none

FixFewTests-part2 (#47933)
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutValidationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/AggregateQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/BackPressureCrossPartitionTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/BackPressureTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ContainerCreateDeleteWithSameNameTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/DistinctQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/FeedRangeQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/GroupByQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/MultiOrderByQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/OffsetLimitQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/OrderbyDocumentQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ParallelDocumentQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedDocumentsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedStoredProceduresTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedTriggersTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedUdfsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/SinglePartitionDocumentQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/SinglePartitionReadFeedDocumentsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/StoredProcedureQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TopQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TriggerQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TriggerUpsertReplaceTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/UserDefinedFunctionQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/UserDefinedFunctionUpsertReplaceTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/VeryLargeDocumentQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/ChangeFeedProcessorMigrationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/FullFidelityChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

Update sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
Due: none

Update sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnDirectTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnDirectTests.java
Due: none

fix
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/FullFidelityChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

change
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ClientRetryPolicyE2ETests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

Remove mssql-jdbc dependency and update assertj-core
  eng/versioning/external_dependencies.txt
  sdk/clientcore/optional-dependency-tests/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/modelsrepository/azure-iot-modelsrepository/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Refactoring the ConsistencyWriter Adding global nregion glsn to diagnostics Test changes
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriterTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/StoreResultDiagnosticsSerializerTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResultDiagnostics.java
Due: none

Remove test-jar dependency with copied code (#47917)
  eng/versioning/external_dependencies.txt
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/BatchIntegrationTestBase.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/recording/InterceptorManager.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/recording/NetworkCallRecord.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/recording/RecordedData.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/recording/TestDelayProvider.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/recording/TestMode.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/recording/TestResourceNamer.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/recording/TestResourceNamerFactory.java
Due: eng/pipelines/mgmt.yml

Update typespec commit hash
  sdk/batch/azure-compute-batch/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[VoiceLive]Release 1.0.0-beta.4
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

remove from version_client
  eng/versioning/version_client.txt
  sdk/agrifood/azure-resourcemanager-agrifood/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Remove mssql-jdbc dependency and update assertj-core (#47945)
  eng/versioning/external_dependencies.txt
  sdk/clientcore/optional-dependency-tests/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/modelsrepository/azure-iot-modelsrepository/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Revise CHANGELOG for clarity and bug fixes
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

[VoiceLive]Release 1.0.0-beta.4 (#47946)
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Fix GraalVM native image compatibility for AzureIdentityEnvVars
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Increment package versions for ai releases
  eng/versioning/version_client.txt
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
  sdk/ai/azure-ai-voicelive/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Change PRLabel from %Azure Quantum to %Quantum
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Remove commented Device Provisioning Service owners
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

use 1.0.1 as version
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-resourcemanager-mixedreality/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Add test about connectionDetails bean
  sdk/spring/spring-cloud-azure-docker-compose/src/test/java/com/azure/spring/cloud/docker/compose/implementation/service/connection/bus/ServiceBusDockerComposeConnectionDetailsFactoryTests.java
  sdk/spring/spring-cloud-azure-docker-compose/src/test/java/com/azure/spring/cloud/docker/compose/implementation/service/connection/hubs/EventHubsDockerComposeConnectionDetailsFactoryTests.java
  sdk/spring/spring-cloud-azure-testcontainers/src/test/java/com/azure/spring/cloud/testcontainers/implementation/service/connection/bus/ServiceBusContainerConnectionDetailsFactoryTests.java
  sdk/spring/spring-cloud-azure-testcontainers/src/test/java/com/azure/spring/cloud/testcontainers/implementation/service/connection/hubs/EventHubsContainerConnectionDetailsFactoryTests.java
Due: none

Update wrong data type (#47937)
  sdk/spring/azure-spring-data-cosmos/README.md
Due: eng/pipelines/link-verification.yml

Update test name
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsAutoConfigurationTests.java
Due: none

Update CHANGELOG.md
  sdk/mixedreality/azure-resourcemanager-mixedreality/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

[ContentUnderstanding] Update SDK to latest TypeSpec commit
  sdk/contentunderstanding/azure-ai-contentunderstanding/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml
