Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

Sync eng/common directory with azure-sdk-tools for PR 3790 (#31582)
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: eng/pipelines/mgmt.yml

Adding sample for buffered producer
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishEventsBufferedProducer.java
Due: none

Add sample to CHANGELOG.
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/README.md
Due: eng/pipelines/link-verification.yml

Disable eager header reading
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SwaggerMethodParser.java
Due: none

add comments and update test-resources
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/jdbc/mysql/PasswordlessMySQLIT.java
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/common/test-resources.json
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/jdbc/mysql/test-resources.json
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
  sdk/spring/tests.yml
Due: none

Fix bad code
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SwaggerMethodParser.java
Due: none

Add test to download all blobs in container
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/ListBlobsTest.java
Due: none

Update Spring Boot and Spring Cloud versions for the compatibility test. This commit is created by GitHub Action: https://github.com/Azure/spring-cloud-azure-tools/actions/runs/3293887537
  sdk/spring/spring-cloud-azure-supported-spring.json
Due: none

Added function objects to JacksonJsonReader
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonFactory.java
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonReader.java
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JsonFactory.java
Due: none

refactor
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Due: none

added tests
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SessionTest.java
Due: none

Fixing configure method on JacksonJsonWriter
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonWriter.java
Due: none

reformat
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
Due: none

Update spring-cloud-azure-supported-spring.json
  sdk/spring/spring-cloud-azure-supported-spring.json
Due: none

Remove redundant cast and fix configure call on JacksonJsonWriter
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonWriter.java
Due: none

support packageFolder in output.json
  eng/mgmt/automation/generate_data.py
Due: eng/pipelines/mgmt.yml

Fix pipeline failure by adding java doc.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cOidcLoginConfigurer.java
Due: none

Set parallelism
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
Due: eng/pipelines/mgmt.yml

reverting pom.xml
  sdk/core/azure-json-reflect/pom.xml
Due: none

loadtestservice, fix ci.yml
  sdk/loadtestservice/ci.yml
Due: none

creating ci fiel
  sdk/core/azure-json-reflect/ci.yml
Due: none

creating version overrides file
  sdk/core/azure-json-reflect/version-overrides-matrix.json
Due: none

Modified readme and changelog
  sdk/core/azure-json-reflect/CHANGELOG.md
  sdk/core/azure-json-reflect/README.md
Due: eng/pipelines/link-verification.yml

Modified readme
  sdk/core/azure-json-reflect/README.md
  sdk/core/azure-json-reflect/test.bat
Due: eng/pipelines/link-verification.yml

Play around with IO count
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
Due: eng/pipelines/mgmt.yml

CI should be ready to go, renamed support matrix
  sdk/core/azure-json-reflect/azure-json-reflect-version-support-martix.json
  sdk/core/azure-json-reflect/ci.yml
  sdk/core/azure-json-reflect/version-overrides-matrix.json
Due: none

Changed Key Concepts to Key concepts
  sdk/core/azure-json-reflect/README.md
Due: eng/pipelines/link-verification.yml

Fix pipeline failure by removing "public".
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cAutoConfigurationTests.java
Due: none

.
  sdk/core/azure-json-reflect/azure-json-reflect-version-support-martix.json
  sdk/core/azure-json-reflect/ci.yml
Due: none

fixed formatting of file
  sdk/core/azure-json-reflect/ci.yml
Due: none

add another missed failed regression test
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilderTest.java
Due: none

Update CHANGELOG.md and comments
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderConsumeErrorIT.java
Due: eng/pipelines/link-verification.yml

only test sb
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/appconfiguration/AppConfigurationIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/cosmos/CosmosIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/cosmos/User.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/cosmos/springdata/SpringDataCosmosIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/cosmos/springdata/UserRepository.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/EventHubsIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderBatchModeIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderConsumeErrorIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderManualModeIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderProduceErrorIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderRecordModeIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderSyncModeIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/jdbc/mysql/PasswordlessMySQLIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/keyvault/secret/KeyVaultSecretIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/keyvault/secret/KeyVaultSecretPropertySourceIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/storage/blob/StorageBlobIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/storage/fileshare/StorageFileShareIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/storage/queue/StorageQueueIT.java
  sdk/spring/tests.yml
Due: none

Fix pipeline failure by updating revapi.json.
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml

[TA] Disable regression tests (#31650)
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilderTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Due: eng/pipelines/mgmt.yml

Add a new item in CHANGELOG.md.
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Adding static block changes on JacksonJsonWriter
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonFactory.java
  sdk/core/azure-json-reflect/src/main/java/com/azure/json/reflect/JacksonJsonWriter.java
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
