Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

update description
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
Due: none

remove azure-xml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
Due: none

further test fixes
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/test/java/com/azure/messaging/eventgrid/namespaces/EventGridAsyncClientTests.java
  sdk/eventgrid/test-resources.json
Due: none

Fixing CI pipeline.
  sdk/cosmos/azure-cosmos/src/main/java/module-info.java
Due: none

update location
  sdk/eventgrid/tests.yml
Due: none

Adjusting version_data.txt and cognitiverservices pom.xml to account for removal of azure-authentication-msi-token-provider and ms-azure-cognitiveservices-textanaytics
  eng/versioning/version_data.txt
  sdk/cognitiveservices/pom.xml
Due: eng/pipelines/mgmt.yml

update location again
  sdk/eventgrid/tests.yml
Due: none

Fixing CI pipeline.
  sdk/cognitiveservices/pom.xml
Due: none

Adjusting version_data.txt and cognitiverservices pom.xml to account for removal of azure-authentication-msi-token-provider and ms-azure-cognitiveservices-textanaytics (#40644)
  eng/versioning/version_data.txt
  sdk/cognitiveservices/pom.xml
Due: eng/pipelines/mgmt.yml

address feedback
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/Azure-AAD-Authentication-With-Jedis.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HellloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/Azure-AAD-Authentication-With-Redisson.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HandleReauthentication.java
Due: eng/pipelines/link-verification.yml

changelog
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add send test
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/test/java/com/azure/messaging/eventgrid/namespaces/EventGridAsyncClientTests.java
Due: none

Remove scheduled enqueued time when forwarding received message (#40642)
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessage.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceivedMessageTest.java
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-ai-translation-document
  eng/versioning/version_client.txt
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixing CI pipeline.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
Due: none

Fixing CI pipeline.
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/SyncBenchmark.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientUnderTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ProactiveOpenConnectionsProcessorTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/circuitBreaker/ConsecutiveExceptionBasedCircuitBreaker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/circuitBreaker/GlobalPartitionEndpointManagerForCircuitBreaker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
Due: none

Fixing CI pipeline.
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/SyncBenchmark.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
Due: none

update test setup
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTestBase.java
Due: none

update tests.yml
  sdk/keyvault/tests.yml
Due: none

Fix test failure by adding "@ConditionalOnAnyProperty" on AzureStorageBlobResourceAutoConfiguration.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/AzureStorageBlobResourceAutoConfiguration.java
Due: none

Update CHANGELOG.md.
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fix pipeline failure by updating cspell.json.
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

Fix pipeline failure by updating spring-cloud-azure-testcontainers/pom.xml.
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
Due: none

Update README.md.
  sdk/spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Update AzureCosmosAutoConfigurationTests.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/properties/AzureCosmosProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfigurationTests.java
Due: none

Fix error in spring-cloud-azure-testcontainers/pom.xml.
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
Due: none

Add empty README.md for spring-cloud-azure-testcontainers to make pipeline pass.
  sdk/spring/spring-cloud-azure-testcontainers/README.md
Due: eng/pipelines/link-verification.yml

Update tests in AzureCosmosAutoConfigurationTests.
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfigurationTests.java
Due: none

Add CHANGELOG.md for spring-cloud-azure-testcontainers to fix pipeline failure.
  sdk/spring/spring-cloud-azure-testcontainers/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Updated `KeyVaultClient` to use the correct URI.
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/KeyVaultClient.java
Due: none

Added logging statements to `AccessTokenUtil.getLoginUri()`.
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/AccessTokenUtil.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/HttpUtil.java
Due: none

Changed request used to get a login URI.
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/AccessTokenUtil.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/HttpUtil.java
Due: none

try shell=True
  eng/mgmt/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml

[Automation] External Change
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/tsp-location.yaml
Due: none

Improve the logic of cosmos related condition. And add related tests.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfigurationCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosConnectionDetailsCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataAutoConfigurationCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfigurationConditionTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosConnectionDetailsConditionTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/CustomAzureCosmosConnectionDetails.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataAutoConfigurationConditionTests.java
Due: none

Change "TEST_BEAN_NAME" to final.
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfigurationConditionTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosConnectionDetailsConditionTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataAutoConfigurationConditionTests.java
Due: none
