Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}
      TimeoutInMinutes: 90
      ExcludePaths:
      - sdk/batch/microsoft-azure-batch/
      - sdk/boms/
      - sdk/cosmos/
      - sdk/e2e/
  ...

updates for http-okhttp3 changes
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor-test/src/main/java/module-info.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/client/JdkHttpClientBuilderIT.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/client/SimpleBasicAuthHttpProxyServer.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/implementation/client/JdkHttpClientIT.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/implementation/client/JdkHttpClientTestsIT.java
  sdk/clientcore/core/checkstyle-suppressions.xml
  sdk/clientcore/core/pom.xml
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/RequestOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/utils/PercentEscaper.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/utils/UriEscapers.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/utils/PercentEscaperTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/utils/UriEscaperTests.java
  sdk/clientcore/http-okhttp3/pom.xml
  sdk/clientcore/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/DeadlockTests.java
  sdk/clientcore/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/OkHttpHttpClientBuilderTests.java
  sdk/clientcore/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/OkHttpHttpClientHttpClientTests.java
  sdk/clientcore/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/OkHttpHttpClientTests.java
Due: eng/pipelines/pullrequest.yml

add package-info
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/client/package-info.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/package-info.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/implementation/client/package-info.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/serializers/package-info.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/shared/package-info.java
Due: eng/pipelines/pullrequest.yml

add testing changes
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/models/package-info.java
  sdk/clientcore/annotation-processor-test/src/main/java/module-info.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/models/FooListResult.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/implementation/client/JdkHttpClientIT.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/shared/HttpClientTests.java
  sdk/clientcore/annotation-processor-test/src/test/resources/keystore.jks
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/TemplateInput.java
  sdk/clientcore/core/pom.xml
  sdk/clientcore/core/src/main/java/module-info.java
  sdk/clientcore/http-okhttp3/pom.xml
  sdk/clientcore/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/DeadlockTests.java
Due: eng/pipelines/pullrequest.yml

Update to `Completions` and `ChatCompletions` `usage` field requiredness (#44767)
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/Completions.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Fix request options and setting body content
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientImpl.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor/pom.xml
  sdk/clientcore/annotation-processor/spotbugs-exclude.xml
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/AnnotationProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/HttpRequestContext.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/TemplateInput.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/BodyContentTypeProcessorTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/ServiceInterfaceGenerationTest.java
Due: eng/pipelines/pullrequest.yml

Updates to Core Migration PR
  sdk/tools/azure-openrewrite/src/main/java/com/azure/openrewrite/core/http/HttpRequestCustomRecipe.java
  sdk/tools/azure-openrewrite/src/main/resources/META-INF/rewrite/migrationRecipes/core/azure.core.http.yml
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample21/v2/RequestOptionsUse.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample24/v1/RequestOptionsUse.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample24/v2/RequestOptionsUse.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample3/v1/HttpGetWithQueryParamsExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample3/v2/HttpGetWithQueryParamsExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample4/v1/HttpResponseBodyExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample4/v2/HttpResponseBodyExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample5/v1/HttpPutExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample5/v2/HttpPutExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample7/v2/HttpPatchExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample8/v2/HttpCustomHeadersExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample9/v1/HttpPostFormDataExample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-core/sample9/v2/HttpPostFormDataExample.java
Due: eng/pipelines/pullrequest.yml

Increment package versions for batch releases (#44780)
  eng/versioning/version_client.txt
  sdk/batch/azure-compute-batch/CHANGELOG.md
  sdk/batch/azure-compute-batch/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update revapi
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Use PackageInfo ArtifactName instead of Name when fetching Namespaces (#44772)
  eng/scripts/Language-Settings.ps1
  eng/scripts/Save-Package-Namespaces-Property.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Add Vanilla Netty to client core (#44302)
  .vscode/cspell.json
  eng/.docsettings.yml
  eng/versioning/external_dependencies.txt
  sdk/clientcore/http-netty/CHANGELOG.md
  sdk/clientcore/http-netty/README.md
  sdk/clientcore/http-netty/checkstyle-suppressions.xml
  sdk/clientcore/http-netty/pom.xml
  sdk/clientcore/http-netty/spotbugs-exclude.xml
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/NettyHttpClient.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/NettyHttpClientBuilder.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/NettyHttpClientProvider.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/implementation/NettyHttpResponse.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/implementation/package-info.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/package-info.java
  sdk/clientcore/http-netty/src/main/java/module-info.java
  sdk/clientcore/http-netty/src/main/resources/META-INF/services/io.clientcore.core.http.client.HttpClientProvider
  sdk/clientcore/http-netty/src/test/resources/upload.txt
  sdk/clientcore/optional-dependency-tests/pom.xml
  sdk/clientcore/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

adding tests for filerequestintentheader
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAsyncApiTests.java
Due: eng/pipelines/pullrequest.yml

updates with disabled tests
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/models/HttpBinJSON.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/shared/HttpClientTests.java
  sdk/clientcore/annotation-processor-test/src/test/resources/upload.txt
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/models/binarydata/BinaryDataJavaDocCodeSnippet.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/utils/union/codesnippets/UnionJavaDocCodeSnippets.java
Due: eng/pipelines/pullrequest.yml

Fixed Spotless issues.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/FakeCredentialsForTests.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/models/EncryptionAlgorithm.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyAttestationHelper.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/KeyVaultKeysModelsUtils.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyAttestation.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientManagedHsmTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTestBase.java
Due: eng/pipelines/pullrequest.yml

Removed unnecessary null check in KeyVaultKeysModelsUtils
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/KeyVaultKeysModelsUtils.java
Due: eng/pipelines/pullrequest.yml

Updated builders to pass the right arguments to UserAgentPolicy
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultAdministrationClientTestBase.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Updated test recordings
  sdk/keyvault/azure-security-keyvault-administration/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/assets.json
  sdk/keyvault/azure-security-keyvault-keys/assets.json
  sdk/keyvault/azure-security-keyvault-secrets/assets.json
Due: eng/pipelines/pullrequest.yml

updates with disabled tests
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/models/HttpBinJSON.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/http/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/shared/HttpClientTests.java
  sdk/clientcore/annotation-processor-test/src/test/resources/upload.txt
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/TemplateInput.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
Due: eng/pipelines/pullrequest.yml

prepare for 1.0.0-beta.16 release
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Update AzureAppConfigDataLoader.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataLoader.java
Due: none

address feedback + code refactor
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-v2/src/main/java/com/azure/v2/identity/AuthorizationCodeCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/v2/identity/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/v2/identity/DeviceCodeCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/v2/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/v2/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/v2/identity/implementation/client/MsalAuthenticationAccountCache.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/v2/identity/implementation/models/DevToolsClientOptions.java
  sdk/identity/azure-identity-v2/src/main/java/module-info.java
  sdk/identity/azure-identity-v2/src/test/java/com/azure/v2/identity/ClientCertificateCredentialTest.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update the *Compare-CurrentToCodegeneration scripts to work in the PR pipeline
  eng/pipelines/templates/jobs/ci.yml
  eng/scripts/Compare-CurrentToCodegeneration.ps1
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Actually return a return value if everything succeeds
  eng/scripts/Compare-CurrentToCodegeneration.ps1
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Single quote the $(PRServiceDirectories) variable
  eng/pipelines/templates/jobs/ci.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Removed incoming call live test and reverted resources back to main.
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndUnmixedAudioTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallUnmixedAudioAffinityTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyCancelAddParticipant.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerWithCustomContextThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndConnectCallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndMediaStreamingTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndRejectAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndTranscriptionTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/dtmfActionsInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/holdUnholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/interruptAudioAndAnnounceToholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMediaInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWhenParticipantOnHoldTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaTest.json
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10129 (#44793)
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

updates tests and samples based on the v0.37.0
  sdk/openai/azure-ai-openai/pom.xml
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/AudioTranscriptionsAsyncExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/AudioTranscriptionsExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/AzureApiKeyCredentialSample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/AzureEntraIdExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/CompletionsAsyncExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/CompletionsConversationAsyncExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/CompletionsConversationExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/CompletionsExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/CompletionsStreamingAsyncExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/CompletionsStreamingCancellationAsyncExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/CompletionsStreamingCancellationExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/CompletionsStreamingExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/EmbeddingsAsyncExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/EmbeddingsExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/FunctionCallingAsyncExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/FunctionCallingExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/ImageGenerationSample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/StructuredOutputsAsyncExample.java
  sdk/openai/azure-ai-openai/src/sample/java/com.azure.openai.samples/StructuredOutputsExample.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientAsyncTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTestBase.java
Due: eng/pipelines/pullrequest.yml

these will be reverted before merge
  sdk/ai/azure-ai-inference/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
Due: eng/pipelines/pullrequest.yml

adding new header to sanitizer
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
Due: eng/pipelines/pullrequest.yml

Update AzureCliCredentialBuilder doc (#44779)
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredentialBuilder.java
Due: eng/pipelines/pullrequest.yml

Updated client builders for keys and secrets.
  sdk/keyvault/azure-security-keyvault-keys-v2/src/main/java/com/azure/v2/security/keyvault/keys/KeyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-secrets-v2/src/main/java/com/azure/v2/security/keyvault/secrets/SecretClientBuilder.java
Due: eng/pipelines/pullrequest.yml

Updated KeyClient, KeyVaultKeyIdentifier, and KeyVaultCredentialPolicy for keys
  sdk/keyvault/azure-security-keyvault-keys-v2/src/main/java/com/azure/v2/security/keyvault/keys/KeyClient.java
  sdk/keyvault/azure-security-keyvault-keys-v2/src/main/java/com/azure/v2/security/keyvault/keys/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-keys-v2/src/main/java/com/azure/v2/security/keyvault/keys/models/KeyVaultKeyIdentifier.java
Due: eng/pipelines/pullrequest.yml

adding token intent to share clients to fix test issue
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobApiTests.java
Due: eng/pipelines/pullrequest.yml

Add option to create self contained test resources post script (#44742)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/cognitiveservices/ms-azure-cs-autosuggest, sdk/cognitiveservices/ms-azure-cs-computervision, sdk/cognitiveservices/ms-azure-cs-contentmoderator, sdk/cognitiveservices/ms-azure-cs-customimagesearch, sdk/cognitiveservices/ms-azure-cs-customsearch, sdk/cognitiveservices/ms-azure-cs-customvision-prediction, sdk/cognitiveservices/ms-azure-cs-customvision-training, sdk/cognitiveservices/ms-azure-cs-entitysearch, sdk/cognitiveservices/ms-azure-cs-faceapi, sdk/cognitiveservices/ms-azure-cs-imagesearch, sdk/cognitiveservices/ms-azure-cs-luis-authoring, sdk/cognitiveservices/ms-azure-cs-luis-runtime, sdk/cognitiveservices/ms-azure-cs-newssearch, sdk/cognitiveservices/ms-azure-cs-qnamaker, sdk/cognitiveservices/ms-azure-cs-spellcheck, sdk/cognitiveservices/ms-azure-cs-videosearch, sdk/cognitiveservices/ms-azure-cs-visualsearch, sdk/cognitiveservices/ms-azure-cs-websearch, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
