Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml

mgmt, add simple test for consumption
  sdk/consumption/azure-resourcemanager-consumption/pom.xml
  sdk/consumption/azure-resourcemanager-consumption/src/test/java/com/azure/resourcemanager/consumption/ConsumptionTests.java
Due: none

javadoc changes as comment
  sdk/spring/spring-cloud-azure-actuator/src/main/java/com/azure/spring/cloud/actuate/storage/StorageBlobHealthIndicator.java
  sdk/spring/spring-cloud-azure-actuator/src/main/java/com/azure/spring/cloud/actuate/storage/StorageQueueHealthIndicator.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureEventHubsResourceManagerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureServiceBusResourceManagerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureServiceResourceManagerConfigurationBase.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureStorageQueueResourceManagerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/cloud/resourcemanager/connectionstring/AbstractArmConnectionStringProvider.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/cloud/resourcemanager/connectionstring/EventHubsArmConnectionStringProvider.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/cloud/resourcemanager/connectionstring/ServiceBusArmConnectionStringProvider.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/cloud/resourcemanager/connectionstring/StorageQueueArmConnectionStringProvider.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/cloud/resourcemanager/provisioner/eventhubs/DefaultEventHubsProvisioner.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/cloud/resourcemanager/provisioner/servicebus/DefaultServiceBusProvisioner.java
Due: none

javadoc changes as comment
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureStorageQueueResourceManagerAutoConfiguration.java
Due: none

Cosmos Spark Catalog: Fixing deserialization issue preventing view definitions to survive cluster restarts (#25908)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ViewDefinition.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ViewDefinitionEnvelopSerializer.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogITest.scala
Due: none

Cosmos Spark connector - some minor config changes to optimize bulk scenarios
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DirectConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
Due: none

core-management, add Region.SWEDEN_CENTRAL (#25813)
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/Region.java
Due: eng/pipelines/link-verification.yml

Add search/README.md to known content section (#25904)
  eng/.docsettings.yml
Due: eng/pipelines/mgmt.yml

Add the missing Javadoc of the aadb2c package.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/filter/AADAppRoleStatelessAuthenticationFilter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/filter/AADAuthenticationFilter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AADHandleConditionalAccessFilter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AADB2CAuthorizationRequestResolver.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AADB2CLogoutSuccessHandler.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/AADB2CPropertiesConfiguration.java
Due: none

Update servicebus jms testcases
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/AbstractServiceBusJmsAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/NonPremiumServiceBusJmsAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/PremiumServiceBusJmsAutoConfigurationTest.java
Due: none

Add the missing Javadoc of the aadb2c package.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AADB2CLogoutSuccessHandler.java
Due: none

change batch flush batch interval
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchRequestResponseConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Due: none

delete dependency:mockito-core 4.0.0 to void deprecated method 'createInvocation' blocking the pipeline. (#25852)
  sdk/identity/azure-identity/pom.xml
Due: none

configur mvn
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml

suppress message
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml

mgmt core, support AzureEnvironment.fromAzureResourceManagerEndpoint
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/AzureEnvironment.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/metadata/Metadata.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/metadata/MetadataAuthentication.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/metadata/MetadataSuffixes.java
  sdk/core/azure-core-management/src/main/java/module-info.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/AzureEnvironmentTests.java
Due: eng/pipelines/link-verification.yml

fix spotbugs
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/AzureEnvironment.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/metadata/Metadata.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/metadata/MetadataAuthentication.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/metadata/MetadataSuffixes.java
Due: none

Add the missing Javadoc of the spring-integration-azure-core package.
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/endpoint/AbstractInboundChannelAdapter.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/handler/DefaultMessageHandler.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/instrumentation/DefaultInstrumentation.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/instrumentation/DefaultInstrumentationManager.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/instrumentation/InstrumentationSendCallback.java
Due: none

fix wrong input
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: eng/pipelines/mgmt.yml

add java doc for spring-messaging-azure-storage-queue
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/DefaultStorageQueueClientFactory.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/StorageQueueClientFactory.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/StorageQueueRuntimeException.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/StorageQueueTemplate.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/support/StorageQueueHelper.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/module-info.java
Due: none

Add the missing Javadoc of the spring-integration-azure-eventhubs package.
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/endpoint/AbstractInboundChannelAdapter.java
  sdk/spring/spring-integration-azure-eventhubs/src/main/java/com/azure/spring/integration/eventhubs/inbound/EventHubsInboundChannelAdapter.java
  sdk/spring/spring-integration-azure-eventhubs/src/main/java/com/azure/spring/integration/eventhubs/inbound/health/EventHusProcessorInstrumentation.java
Due: none

Cosmos Spark connector - minor config changes to optimize bulk scenarios (#25914)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DirectConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
Due: none

Add the missing Javadoc of the spring-integration-azure-servicebus and spring-integration-azure-storage-queue package.
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/handler/DefaultMessageHandler.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/instrumentation/InstrumentationSendCallback.java
  sdk/spring/spring-integration-azure-eventhubs/src/main/java/com/azure/spring/integration/eventhubs/inbound/EventHubsInboundChannelAdapter.java
  sdk/spring/spring-integration-azure-eventhubs/src/main/java/com/azure/spring/integration/eventhubs/inbound/health/EventHusProcessorInstrumentation.java
  sdk/spring/spring-integration-azure-servicebus/src/main/java/com/azure/spring/integration/servicebus/inbound/ServiceBusInboundChannelAdapter.java
  sdk/spring/spring-integration-azure-storage-queue/src/main/java/com/azure/spring/integration/storage/queue/inbound/StorageQueueMessageSource.java
Due: none

Iterating on the flush interval change
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchRequestResponseConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Due: none

Update BatchRequestResponseConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchRequestResponseConstants.java
Due: none

[BUG] AzureStorageBlobProtocolResolver.getResources throws if target container doesn't exist. #25916
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/AzureStorageBlobProtocolResolver.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/AzureStorageFileProtocolResolver.java
Due: none

Update cosmos data testcases
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosDataAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosDataAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosRepositoriesAutoConfigurationTests.java
Due: none

Release of azure-cosmos-spark_3-1_2-12_4-5-0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Added support for capturing CosmosException diagnostics on Cosmos Repository and Reactive Cosmos Repository APIs (#25898)
  .github/CODEOWNERS
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplatePartitionIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplatePartitionIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ContactRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/common/CosmosUtils.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosExceptionUtils.java
Due: eng/pipelines/mgmt.yml

shut down service executor
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

ChangeMaxMicroBatchInterval (#25917)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchRequestResponseConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Due: none

Doc updates
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Due: eng/pipelines/link-verification.yml

Increment version for storage releases (#25882)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update CODEOWNERS (#25941)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

Updated and recorded permissions test
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerSasIdentifierAndPermissions.json
Due: none

CodeGen from PR 16937 in Azure/azure-rest-api-specs Add version 2018-04-02 into IMDS Swagger (#16937)
  sdk/imds/azure-imds-imds/CHANGELOG.md
  sdk/imds/azure-imds-imds/README.md
  sdk/imds/azure-imds-imds/pom.xml
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/IdentityAsyncClient.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/IdentityClient.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/InstanceMetadataClientBuilder.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/InstanceMetadataClientServiceVersion.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/InstancesAsyncClient.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/InstancesClient.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/implementation/IdentitiesImpl.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/implementation/InstanceMetadataClientImpl.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/implementation/InstancesImpl.java
  sdk/imds/azure-imds-imds/src/main/java/com/azure/imds/imds/package-info.java
  sdk/imds/azure-imds-imds/src/main/java/module-info.java
  sdk/imds/azure-imds-imds/src/samples/java/com/azure/imds/imds/ReadmeSamples.java
  sdk/imds/azure-imds-imds/src/samples/java/com/azure/imds/imds/generated/GetIdentityInfoForTheVM.java
  sdk/imds/azure-imds-imds/src/samples/java/com/azure/imds/imds/generated/GetIdentityTokenForTheVM.java
  sdk/imds/azure-imds-imds/src/samples/java/com/azure/imds/imds/generated/GetInstanceMetadataForTheVM.java
  sdk/imds/azure-imds-imds/src/test/java/com/azure/imds/imds/ClientTests.java
  sdk/imds/azure-imds-imds/swagger/README_SPEC.md
Due: eng/pipelines/link-verification.yml

Reverted error code name
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobErrorCode.java
Due: none

Increment package version after release of com.azure azure-sdk-template
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/pom.xml
  sdk/resourcemanagerhybrid/pom.xml
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
  sdk/template/azure-template-perf/pom.xml
  sdk/template/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml
