Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml

updating changelog
  eng/versioning/version_client.txt
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/CHANGELOG.md
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

updating readme
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/README.md
Due: eng/pipelines/link-verification.yml

fix spring messaging modules ut skipped
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
Due: none

add autoconfiguration for AzureStorageResourcePatternResolver
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/storage/StorageAutoConfiguration.java
Due: none

refactor code
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEventLoop.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEventLoopEpoll.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEventLoopNIO.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEventLoopNativeDetector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
Due: none

refactor
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEventLoopNativeDetector.java
Due: none

refactor code
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEventLoopNativeDetector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdLoop.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdLoopEpoll.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdLoopNIO.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdLoopNativeDetector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
Due: none

Add slice query support in string based cosmos query (#25011)
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQuery.java
Due: none

webpubsub, update changelog
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

update readme
  sdk/webpubsub/azure-messaging-webpubsub/README.md
Due: eng/pipelines/link-verification.yml

fix comments
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/converter/AzureHttpProxyOptionsConverter.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/factory/AbstractAzureAmqpClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/factory/AbstractAzureHttpClientBuilderFactory.java
Due: none

prepare webpubsub beta.5 release (#25033)
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/README.md
Due: eng/pipelines/link-verification.yml

update changelog and readme
  sdk/spring/azure-spring-boot-starter-servicebus-jms/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-messaging-webpubsub
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add Some GraalVM Features for SDK
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/graalvm/features/AzureCoreFeature.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/graalvm/features/StorageFileShareFeature.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/graalvm/features/StorageQueueFeature.java
Due: none

update link
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
Due: eng/pipelines/link-verification.yml

Some configurations for Spring Native
  sdk/spring/azure-spring-boot-starter-storage/src/main/resources/META-INF/native-image/resource-config.json
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/native-image/native-image.properties
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/native-image/reflect-config.json
  sdk/spring/azure-spring-cloud-starter-eventhubs/src/main/resources/META-INF/native-image/native-image.properties
  sdk/spring/azure-spring-cloud-starter-eventhubs/src/main/resources/META-INF/native-image/reflect-config.json
Due: none

add topic-client-id in application.properties
  sdk/spring/azure-spring-boot-test-servicebus-jms/src/test/resources/application-premium.properties
  sdk/spring/azure-spring-boot-test-servicebus-jms/src/test/resources/application.properties
Due: none

fix checkStyle
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/storage/StorageAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/storage/resource/BlobStorageResource.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/storage/resource/FileStorageResource.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/storage/resource/AzureBlobStorageTests.java
Due: none

disable tests for custom teams endpoint in int
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityAsyncTests.java
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityClientTestBase.java
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityTests.java
Due: none

disable tests for custom teams endpoint in int (#25036)
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityAsyncTests.java
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityClientTestBase.java
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityTests.java
Due: none

add unit tests and separate incoming call context from answercalloptions
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/AnswerCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/AnswerCallOptions.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerResponseMocker.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerUnitTests.java
Due: none

fix answer api unit tests
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerUnitTests.java
Due: none

remove unneeded param from answer api
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
Due: none

fix style cop issues
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/AnswerCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/AnswerCallOptions.java
Due: none

Fixed spacing
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/feature/filters/TargetingFilter.java
Due: none

Updating so the App Configuration Spring Library can use Feature Branches as part of move to 4.0.0
  sdk/appconfiguration/ci.yml
Due: none

answer call apis in Java sdk (#24997)
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/AnswerCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/AnswerCallOptions.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerResponseMocker.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerUnitTests.java
Due: none

update to latest swagger
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/AddParticipantRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/AddParticipantWithCallLocatorRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/AnswerCallRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelParticipantMediaOperationRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelParticipantMediaOperationWithCallLocatorRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/MuteParticipantRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/StartCallRecordingWithCallLocatorRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/TransferCallRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/UnmuteParticipantRequest.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionUnitTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Due: eng/pipelines/link-verification.yml

update to latest swagger
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/TransferCallResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/TransferCallResultEvent.java
Due: none

Updated recording
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasAllPermissionsSuccess.json
Due: none

Review comments
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryHttpPolicy.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracer.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/ContextJavaDocCodeSnippets.java
Due: eng/pipelines/link-verification.yml

Add variable to update mvn setting
  eng/pipelines/docindex.yml
Due: eng/pipelines/mgmt.yml

Fix bug in GetExistingPackageVersions
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml

Address feedback
  eng/pipelines/docindex.yml
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml

Fix bug in GetExistingPackageVersions (#24910)
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-sdk-template
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/pom.xml
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
  sdk/template/azure-template-perf/pom.xml
  sdk/template/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

persistent endpoint
  sdk/textanalytics/tests.yml
Due: none
