Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

added service connection
  sdk/cosmos/kafka.yml
Due: none

typespec sync
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionsAsyncClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionsClient.java
Due: none

Update CodeownersLinter for net6 to net8 update (#41896)
  eng/common/pipelines/codeowners-linter.yml
Due: eng/pipelines/mgmt.yml

don't checkout main branch at beginning
  eng/pipelines/patch-release-prepare.yml
  eng/scripts/Generate-Patches-For-Automatic-Releases.ps1
Due: eng/pipelines/mgmt.yml

Updated list of libraries to patch in patch-release.yml
  eng/pipelines/patch-release.yml
Due: eng/pipelines/mgmt.yml

handling reactive IOException
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
Due: none

Reset sources for azure-identity-extensions to the release version 1.1.19.
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/identity/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/README.md
  sdk/identity/azure-identity-extensions/pom.xml
Due: eng/pipelines/link-verification.yml

Prepare azure-identity-extensions for 1.1.20 patch release.
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Patch release preparation 20240917
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/identity/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
Due: eng/pipelines/link-verification.yml

add base branch name
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

testing main
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorITest.java
Due: none

use git-push-changes.yml
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

remove local parameters
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

push the release branch to the repo
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

nits
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
  sdk/eventhubs/tests.yml
Due: none

review: shutdown and resume on error
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
Due: none

we need the condition to be set on populateScanPaths step. if we don't, and there are previous failures in the analyze pipeline, we won't properly invoke verify readmes.
  eng/common/pipelines/templates/steps/verify-readmes.yml
Due: eng/pipelines/mgmt.yml

adding checkstyle suppression. also adding retry logic to continue download from last offset
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
Due: eng/pipelines/mgmt.yml

remove setup from core experimental
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AccessTokenCache.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AccessTokenCacheInfo.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AuthenticationChallenge.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/package-info.java
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-broker/src/test/java/com/azure/identity/broker/shr/resources/AuthorizationChallengeParser.java
  sdk/identity/azure-identity-broker/src/test/java/com/azure/identity/broker/shr/resources/PopTokenAuthenticationPolicy.java
Due: none

push the release branch only
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

skip commit
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

hard code to use `azure-sdk-for-java.git`
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

remove base branch name
  eng/pipelines/patch-release-prepare.yml
Due: eng/pipelines/mgmt.yml

Prepare azure-communication-chat for 1.5.5 patch release.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-messaging-eventgrid to the release version 4.24.0.
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherAsyncClient.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherClient.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMemberAddedToThreadWithUserEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMemberRemovedFromThreadWithUserEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatThreadMemberProperties.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/StorageLifecyclePolicyCompletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/module-info.java
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/DeserializeEventsFromString.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/ArmDeprecatedMethodsTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/DeserializationTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/implementation/models/ContosoItemReceivedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/implementation/models/ContosoItemSentEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/implementation/models/DroneShippingInfo.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/implementation/models/RocketShippingInfo.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/implementation/models/ShippingInfo.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Due: eng/pipelines/link-verification.yml

Prepare azure-messaging-eventgrid for 4.24.1 patch release.
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-monitor-ingestion to the release version 1.2.4.
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionAsyncClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/Batcher.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/IngestionUsingDataCollectionRulesClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/Utils.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/module-info.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogData.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionAsyncClientTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionClientBuilderTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionClientConcurrencyTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionClientTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionTestBase.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/implementation/ConcurrencyLimitingSpliteratorTest.java
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/implementation/UtilsTest.java
Due: eng/pipelines/link-verification.yml

Prepare azure-monitor-ingestion for 1.2.5 patch release.
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-ingestion-perf/pom.xml
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-security-keyvault-keys to the release version 4.8.7.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/assets.json
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyServiceVersion.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyServiceVersion.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/implementation/CryptographyUtils.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/LifetimeActionsType.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyRotationPolicyAction.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Prepare azure-security-keyvault-keys for 4.8.8 patch release.
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-security-keyvault-certificates to the release version 4.6.6.
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateServiceVersion.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTestBase.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/FakeCredentialsForTests.java
  sdk/keyvault/azure-security-keyvault-certificates/swagger/autorest.md
Due: eng/pipelines/link-verification.yml

Prepare azure-security-keyvault-certificates for 4.6.7 patch release.
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-messaging-eventgrid-namespaces to the release version 1.0.1.
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/README.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/implementation/EventGridReceiverClientImpl.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/implementation/EventGridSenderClientImpl.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/package-info.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/resources/META-INF/azure-messaging-eventgrid-namespaces_apiview_properties.json
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/tsp-location.yaml
Due: eng/pipelines/link-verification.yml

Prepare azure-messaging-eventgrid-namespaces for 1.0.2 patch release.
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Prepare azure-ai-contentsafety for 1.0.7 patch release.
  eng/versioning/version_client.txt
  sdk/contentsafety/azure-ai-contentsafety/CHANGELOG.md
  sdk/contentsafety/azure-ai-contentsafety/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset sources for azure-ai-contentsafety to the release version 1.0.6.
  sdk/contentsafety/azure-ai-contentsafety/CHANGELOG.md
  sdk/contentsafety/azure-ai-contentsafety/README.md
  sdk/contentsafety/azure-ai-contentsafety/pom.xml
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistAsyncClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistClientBuilder.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyAsyncClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyClient.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyClientBuilder.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/BlocklistClientImpl.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/ContentSafetyClientImpl.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/implementation/JsonMergePatchHelper.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AddOrUpdateTextBlocklistItemsOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AddOrUpdateTextBlocklistItemsResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageOutputType.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeImageResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextOutputType.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/AnalyzeTextResult.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ContentSafetyImageData.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ImageCategoriesAnalysis.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/ImageCategory.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/RemoveTextBlocklistItemsOptions.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklist.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklistItem.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextBlocklistMatch.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextCategoriesAnalysis.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/models/TextCategory.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/module-info.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/resources/META-INF/azure-ai-contentsafety_apiview_properties.json
  sdk/contentsafety/azure-ai-contentsafety/src/test/java/com/azure/ai/contentsafety/generated/ContentSafetyClientTestBase.java
  sdk/contentsafety/azure-ai-contentsafety/tsp-location.yaml
Due: eng/pipelines/link-verification.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
