Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

Delete unused .gitignore.
  sdk/keyvault/azure-security-keyvault-jca/.gitignore
Due: none

azure-cosmos hotfix release 4.63.3 - avoiding possible CF hang (#41774)
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update version_client.txt
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Update pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
Due: none

Increment package versions for qumulo releases
  eng/versioning/version_client.txt
  sdk/qumulo/azure-resourcemanager-qumulo/CHANGELOG.md
  sdk/qumulo/azure-resourcemanager-qumulo/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

[Automation] External Change
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Update pom.xml
  sdk/avs/azure-resourcemanager-avs/pom.xml
Due: none

Increment package versions for qumulo releases (#41787)
  eng/versioning/version_client.txt
  sdk/qumulo/azure-resourcemanager-qumulo/CHANGELOG.md
  sdk/qumulo/azure-resourcemanager-qumulo/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Revert "Remove --no-module-directories (#41777)"
  sdk/parents/azure-data-sdk-parent/pom.xml
Due: none

Reverted javadoc change to unblock release
  sdk/parents/azure-data-sdk-parent/pom.xml
Due: none

Add VpnSites and VpnSite support in NetworkManager.
  sdk/resourcemanager/azure-resourcemanager-network/assets.json
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/VpnSiteImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/VpnSiteLinkImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/VpnSite.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/VpnSiteLink.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/VpnSiteTests.java
Due: none

Reverted the azure-cosmos version in azure-cosmos-encryption and azure-cosmos-test
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
Due: none

Updated release versions for encryption and test
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

azure-cosmos release 2024-09-10
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

azure-cosmos release 2024-09-10 (#41792)
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add dispose to ChannelCacheWrapper
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ChannelCacheWrapper.java
Due: none

Increment package versions for avs releases
  eng/versioning/version_client.txt
  sdk/avs/azure-resourcemanager-avs/CHANGELOG.md
  sdk/avs/azure-resourcemanager-avs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix comments by reviewers
  eng/versioning/version_client.txt
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsAsyncClient.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsClient.java
Due: eng/pipelines/mgmt.yml

Increment package versions for avs releases (#41794)
  eng/versioning/version_client.txt
  sdk/avs/azure-resourcemanager-avs/CHANGELOG.md
  sdk/avs/azure-resourcemanager-avs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update spring-reference.yml
  sdk/spring/spring-reference.yml
Due: none

mgmt, local generation for Azure DNS Private Zones - 2024-06-01
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/assets.json
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/fluent/models/PrivateZoneInner.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/fluent/models/RecordSetInner.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/fluent/models/VirtualNetworkLinkInner.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/fluent/models/VirtualNetworkLinkProperties.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/implementation/PrivateDnsManagementClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/models/ResolutionPolicy.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesGetByResourceGroupSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesListByResourceGroupSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/PrivateZonesUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsGetSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsListByTypeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/RecordSetsUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksGetSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/privatedns/generated/VirtualNetworkLinksUpdateSamples.java
Due: eng/pipelines/link-verification.yml

update spring-reference.yml (#41799)
  sdk/spring/spring-reference.yml
Due: none

fix checkstyle
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/credential/PopTokenAuthenticationPolicy.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/credential/PopTokenRequestContext.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
Due: none

fix spotbugs
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/credential/PopTokenRequestContext.java
Due: none

Increment package versions for cosmos releases (#41795)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

add tests for complete(options) and completeWithResponse APIs
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsAsyncClientTest.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsClientTestBase.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsSyncClientTest.java
Due: none

more sync tests
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsSyncClientTest.java
Due: none

Add dispose to ChannelCacheWrapper (#41793)
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ChannelCacheWrapper.java
Due: none

Add SHR Pop Support (#41554)
  eng/versioning/version_client.txt
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/credential/PopTokenAuthenticationPolicy.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/credential/PopTokenRequestContext.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/credential/package-info.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AccessTokenCache.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AccessTokenCacheInfo.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AuthorizationChallengeParser.java
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/implementation/AuthorizationChallengeParserTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/credential/TokenRequestContext.java
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/module-info.java
Due: eng/pipelines/mgmt.yml

Optimize JsonSerializable and log fixes
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Index.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Integers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Longs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressResolver.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/OpenConnectionAndInitCachesRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/QuorumReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdDurableEndpointMetrics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeEpkImpl.java
Due: none

Prepare azure-json for September 2024 release
  eng/versioning/version_client.txt
  sdk/identity/azure-identity/pom.xml
  sdk/serialization/azure-json-gson/pom.xml
  sdk/serialization/azure-json-reflect/pom.xml
  sdk/serialization/azure-json/CHANGELOG.md
  sdk/serialization/azure-json/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update README version
  sdk/serialization/azure-json/README.md
Due: eng/pipelines/link-verification.yml

add stream response test
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsClientTestBase.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsSyncClientTest.java
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
