Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

Change conditional logic for constructing non-Azure OpenAI clients
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClientBuilder.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/NonAzureOpenAIClientImpl.java
Due: none

Use `getEndpoint()` in API call implementations
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/NonAzureOpenAIClientImpl.java
Due: none

Add unit tests for the endpoint configuration option of the client builder
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientBuilderTest.java
Due: none

Fix capitalization in javadoc
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/NonAzureOpenAIClientImpl.java
Due: none

regenerate load testing and kv
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/models/RoleDefinition.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestAdministrationAsyncClient.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestAdministrationClient.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestAdministrationClientBuilder.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestRunAsyncClient.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestRunClient.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestRunClientBuilder.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/LoadTestAdministrationsImpl.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/LoadTestRunsImpl.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/LoadTestingClientImpl.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestAdministrationTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestingClientTestBase.java
Due: none

fix retry config
  sdk/identity/azure-identity/src/test/java/LiveManagedIdentityTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/RetryExtension.java
  sdk/identity/ci.yml
Due: none

Spark Release 4.35.0 (#43121)
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/FullFidelityChangeFeedTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

fix spotless
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/RetryExtension.java
Due: none

revert kv changes
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/models/RoleDefinition.java
Due: none

fix badRequestException when using serverless database account type
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosExceptionsHelper.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorITest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2ConnectionConfig.java
Due: none

not release storage patches
  eng/pipelines/patch-release.yml
Due: eng/pipelines/mgmt.yml

update changelog
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add TODO in yaml
  sdk/identity/ci.yml
Due: none

porting and incorporating more stuff
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulse.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollector.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataFetcher.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataSender.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulsePingSender.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/ErrorTracker.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/FilteringConfiguration.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataFetcherTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseIntegrationTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulsePingSenderTests.java
Due: none

updating tests to use List<String> instead of List<int[]>, also updating changelog
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/policy/MockPartialResponsePolicy.java
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
Due: eng/pipelines/link-verification.yml

Increment package versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for keyvault releases (#43127)
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

updating changelog and async tests
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
Due: eng/pipelines/link-verification.yml

version_client.txt
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Increment package versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Updated code generation and Java customizations file again.
  sdk/keyvault/azure-security-keyvault-certificates/TempTypeSpecFiles/Security.KeyVault.Certificates/client.tsp
  sdk/keyvault/azure-security-keyvault-certificates/swagger/src/main/java/CertificatesCustomizations.java
Due: none

pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-authorization/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cdn/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerregistry/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-dns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-msi/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-perf/pom.xml
  sdk/resourcemanager/azure-resourcemanager-privatedns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-redis/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/azure-resourcemanager-servicebus/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: none

readme.md
  sdk/resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/README.md
  sdk/resourcemanager/azure-resourcemanager-appservice/README.md
  sdk/resourcemanager/azure-resourcemanager-authorization/README.md
  sdk/resourcemanager/azure-resourcemanager-cdn/README.md
  sdk/resourcemanager/azure-resourcemanager-compute/README.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/README.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/README.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/README.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/README.md
  sdk/resourcemanager/azure-resourcemanager-dns/README.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/README.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/README.md
  sdk/resourcemanager/azure-resourcemanager-monitor/README.md
  sdk/resourcemanager/azure-resourcemanager-msi/README.md
  sdk/resourcemanager/azure-resourcemanager-network/README.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/README.md
  sdk/resourcemanager/azure-resourcemanager-redis/README.md
  sdk/resourcemanager/azure-resourcemanager-resources/README.md
  sdk/resourcemanager/azure-resourcemanager-samples/README.md
  sdk/resourcemanager/azure-resourcemanager-search/README.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/README.md
  sdk/resourcemanager/azure-resourcemanager-sql/README.md
  sdk/resourcemanager/azure-resourcemanager-storage/README.md
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/README.md
  sdk/resourcemanager/azure-resourcemanager/README.md
Due: eng/pipelines/link-verification.yml

single_packages.md
  sdk/resourcemanager/docs/SINGLE_SERVICE_PACKAGES.md
Due: eng/pipelines/link-verification.yml

changelog.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-authorization/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cdn/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-msi/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-redis/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-storage/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

adding missed assertion for ranges array
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
Due: none

Fix compatibility for Spring Boot 3.4.x (#43098)
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureSpringBootVersionVerifier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/properties/AzureCompatibilityVerifierProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AbstractKafkaPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/KafkaBinderConfigurationPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/KafkaPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/kafka/AzureEventHubsKafkaConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AzureKafkaOAuth2BinderConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/util/TestCompatibilityUtils.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/core/handler/DefaultMessageHandler.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/core/implementation/instrumentation/InstrumentationSendCallback.java
  sdk/spring/spring-integration-azure-core/src/test/java/com/azure/spring/integration/core/handler/DefaultMessageHandlerTests.java
Due: none

add module if possible regardless of failure
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml

Enable ITs using custom token credential
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/ApplicationConfiguration.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/jdbc/mysql/PasswordlessMySQLIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/keyvault/secret/KeyVaultSecretPropertySourceIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/servicebus/binder/ServiceBusMultiBindersIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/servicebus/jms/ServiceBusJmsPasswordlessIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/resources/application.yml
Due: none

fix changelog
  eng/automation/generate.py
Due: eng/pipelines/mgmt.yml

enhance logging
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml

sdk automation, add module if possible, regardless of failure (#43133)
  eng/automation/generate.py
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml

Enable ITs using custom token credential
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/EventHubsClientConfiguration.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderBatchModeIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderConsumeErrorIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderManualModeIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderProduceErrorIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderRecordModeIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/eventhubs/binder/EventHubsBinderSyncModeIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/servicebus/binder/ServiceBusClientConfiguration.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/servicebus/binder/ServiceBusMultiBindersIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/servicebus/binder/ServiceBusSingleBinderIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/resources/application-keyvault-secret-property-source.yml
  sdk/spring/tests.yml
Due: none

Disabled MySQL IT and shared configuration for multiple binders
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/jdbc/mysql/PasswordlessMySQLIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/resources/application-servicebus-binder-multi.yml
  sdk/spring/tests.yml
Due: none

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
