Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1

Updating the SDK dependencies for azure-communication-sms
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
Due: eng/pipelines/link-verification.yml

using expand() for deleteWithResponse
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
Due: none

Updated missing READMEs.
  sdk/attestation/azure-security-attestation/README.md
  sdk/communication/azure-communication-sms/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/containerregistry/azure-containers-containerregistry/README.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/mixedreality/azure-mixedreality-authentication/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
Due: eng/pipelines/link-verification.yml

Reset changes to the patch version.
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/identity/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
Due: eng/pipelines/link-verification.yml

Updating the SDK dependencies for azure-identity-extensions
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Reset changes to the patch version.
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
Due: eng/pipelines/link-verification.yml

Updating the SDK dependencies for azure-developer-loadtesting
  eng/versioning/version_client.txt
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/README.md
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Undo perf test changes for Azure Container Registry 1.0.13
  sdk/containerregistry/azure-containers-containerregistry-perf/src/main/java/com/azure/containers/containerregistry/perf/App.java
  sdk/containerregistry/azure-containers-containerregistry-perf/src/main/java/com/azure/containers/containerregistry/perf/DownloadBlobTests.java
  sdk/containerregistry/azure-containers-containerregistry-perf/src/main/java/com/azure/containers/containerregistry/perf/UploadBlobTests.java
  sdk/containerregistry/azure-containers-containerregistry-perf/src/main/java/com/azure/containers/containerregistry/perf/core/ServiceTest.java
Due: none

Fixed cspell issue.
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

Added Schema Registry Apache Avro to the cspell ignore list.
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml

Update vm prefix (#36059)
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/statsbeat/AzureMetadataService.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/statsbeat/RpAttachType.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/statsbeat/StatsbeatModule.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/statsbeat/AttachStatsbeatTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/statsbeat/AzureMetadataServiceTest.java
  sdk/monitor/azure-monitor-spring-native-test/pom.xml
  sdk/monitor/azure-monitor-spring-native/src/main/java/com/azure/monitor/applicationinsights/spring/AzureTelemetryActivation.java
  sdk/monitor/azure-monitor-spring-native/src/main/java/com/azure/monitor/applicationinsights/spring/AzureTelemetryActivationConfig.java
  sdk/monitor/azure-monitor-spring-native/src/main/java/com/azure/monitor/applicationinsights/spring/AzureTelemetryAutoConfig.java
  sdk/monitor/azure-monitor-spring-native/src/main/java/com/azure/monitor/applicationinsights/spring/AzureTelemetryConfig.java
  sdk/monitor/azure-monitor-spring-native/src/main/java/com/azure/monitor/applicationinsights/spring/JvmMetricsPostProcessor.java
Due: none

Resovling review comments
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ShouldRetryValidator.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/WebExceptionRetryPolicyTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/WebExceptionRetryPolicy.java
Due: none

Fixed build issues for Monitor Spring Native Test.
  sdk/monitor/azure-monitor-spring-native-test/pom.xml
Due: none

Fixed Javadoc issues for Mixer Reality Remote Rendering and ACS Phone Numbers.
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/SipRoutingAsyncClient.java
  sdk/remoterendering/azure-mixedreality-remoterendering/README.md
Due: eng/pipelines/link-verification.yml

Fixed RevApi issues.
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml

Fixed RevApi issues. (#36098)
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml

Update pom.xml
  sdk/batch/azure-resourcemanager-batch/pom.xml
Due: none

fix test
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/ApplicationGatewayTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestApplicationGateway.java
Due: none

update cleanup
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/core/ServiceBatchTest.java
Due: none

Modified to back to the original FunctionDefinition
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/FunctionDefinition.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/FunctionCallSample.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
Due: none

Updated release versions to 4.48.1 for azure-cosmos and 4.21.0 for spark connector
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package versions for batch releases
  eng/versioning/version_client.txt
  sdk/batch/azure-resourcemanager-batch/CHANGELOG.md
  sdk/batch/azure-resourcemanager-batch/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fixed Javadoc issues.
  sdk/monitor/azure-monitor-ingestion/README.md
Due: eng/pipelines/link-verification.yml

Fixed CheckStyle issues.
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Due: eng/pipelines/mgmt.yml

fix failed tests
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
Due: none

disable testAppGatewaysPublicUrlPathBased
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/ApplicationGatewayTests.java
Due: none

rename back StorageAccountType
  sdk/resourcemanager/api-specs.json
Due: none

Increment package versions for batch releases (#36100)
  eng/versioning/version_client.txt
  sdk/batch/azure-resourcemanager-batch/CHANGELOG.md
  sdk/batch/azure-resourcemanager-batch/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Added missing libraries to release YAML file.
  eng/pipelines/patch-release.yml
Due: eng/pipelines/mgmt.yml

Update RoomsTestBase.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsTestBase.java
Due: none

fix
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
Due: none

update test
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/DesignPreviewSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/AzureResourceManagerTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestCosmosDB.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestTemplate.java
Due: none

fix skipInPlayback
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/AppPlatformLiveOnlyTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/CdnSampleLiveOnlyTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/ContainerRegistryTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/GraphRbacTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/NetworkWatcherSampleLiveOnlyTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/TrafficManagerSampleTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/DocsTest.java
Due: none

temp skip
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/AzureResourceManagerTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/PrivateLinkTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/VirtualMachineEncryptionTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/VirtualNetworkGatewayTests.java
Due: none
