Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

spotless
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyImpl.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/serializer/HttpResponseBodyDecoder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/models/geo/GeoObject.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4HttpProxyHandler.java
Due: eng/pipelines/pullrequest.yml

up
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/LengthValidatingInputStream.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyImplTests.java
Due: eng/pipelines/pullrequest.yml

Update TypeSpec commit hash
  sdk/batch/azure-compute-batch/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Updated POMs
  sdk/keyvault-v2/azure-security-keyvault-administration/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-keys/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-secrets/pom.xml
Due: eng/pipelines/pullrequest.yml

Applied some APIView feedback to Keys
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/cryptography/models/DecryptParameters.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/cryptography/models/EncryptParameters.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/CreateEcKeyOptions.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/CreateKeyOptions.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/CreateOctKeyOptions.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/CreateRsaKeyOptions.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/DeletedKey.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/ImportKeyOptions.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/JsonWebKey.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/KeyExportEncryptionAlgorithm.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/KeyProperties.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/KeyReleasePolicy.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/KeyRotationLifetimeAction.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/KeyRotationPolicy.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/KeyVaultKey.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/com/azure/v2/security/keyvault/keys/models/ReleaseKeyOptions.java
  sdk/keyvault-v2/azure-security-keyvault-keys/src/main/java/module-info.java
Due: eng/pipelines/pullrequest.yml

Updated code customizations
  sdk/keyvault-v2/azure-security-keyvault-administration/customizations/Update-Codegeneration-disabled.ps1
  sdk/keyvault-v2/azure-security-keyvault-administration/customizations/autorest.md
  sdk/keyvault-v2/azure-security-keyvault-administration/customizations/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-administration/customizations/src/main/java/AdministrationCustomizations.java
  sdk/keyvault-v2/azure-security-keyvault-certificates/customizations/autorest.md
  sdk/keyvault-v2/azure-security-keyvault-certificates/customizations/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-certificates/customizations/src/main/java/CertificatesCustomizations.java
  sdk/keyvault-v2/azure-security-keyvault-keys/customizations/autorest.md
  sdk/keyvault-v2/azure-security-keyvault-keys/customizations/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-keys/customizations/src/main/java/KeysCustomizations.java
  sdk/keyvault-v2/azure-security-keyvault-secrets/customizations/autorest.md
  sdk/keyvault-v2/azure-security-keyvault-secrets/customizations/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-secrets/customizations/src/main/java/SecretsCustomizations.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Add LRO method and test for deleteJobSchedule
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/lro/JobScheduleDeletePoller.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
Due: eng/pipelines/pullrequest.yml

Generation from autorest
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatServiceVersion.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImplBuilder.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/ChatThreadsImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatParticipant.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadProperties.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/CreateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatThreadOptions.java
  sdk/communication/azure-communication-chat/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

spotless
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/StringFormattedExceptionCheck.java
  eng/code-quality-reports/src/test/resources/com/azure/tools/checkstyle/checks/ExceptionLoggingChecks/LogNewExceptionCheckTestData.java
  eng/code-quality-reports/src/test/resources/com/azure/tools/checkstyle/checks/ExceptionLoggingChecks/StringFormattedExceptionCheckTestData.java
  eng/code-quality-reports/src/test/resources/com/azure/tools/checkstyle/checks/ExceptionLoggingChecks/ThrowCreatedExceptionCheckTestData.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyImplTests.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Add policies to git
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/NoneRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/RetentionPolicyKind.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ThreadCreationDateRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatThreadProperties.java
Due: eng/pipelines/pullrequest.yml

clean up
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ExceptionCreatedButNotThrownCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/RawExceptionThrowCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/StringFormattedExceptionMessageCheck.java
  eng/code-quality-reports/src/main/resources/checkstyle/clientcore-checkstyle.xml
  eng/code-quality-reports/src/test/java/com/azure/tools/checkstyle/checks/ExceptionCreatedButNotThrownCheckTest.java
  eng/code-quality-reports/src/test/java/com/azure/tools/checkstyle/checks/RawExceptionThrowCheckTest.java
  eng/code-quality-reports/src/test/java/com/azure/tools/checkstyle/checks/StringFormattedExceptionMessageCheckTest.java
  sdk/clientcore/annotation-processor/checkstyle-suppressions.xml
  sdk/clientcore/core/checkstyle-suppressions.xml
  sdk/clientcore/http-netty4/checkstyle-suppressions.xml
  sdk/core-v2/azure-core-test/checkstyle-suppressions.xml
  sdk/keyvault-v2/azure-security-keyvault-administration/checkstyle-suppressions.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

date
  sdk/planetarycomputer/azure-resourcemanager-planetarycomputer/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-fluxconfigurations/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Update README.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-fluxconfigurations/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Update pom.xml
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-fluxconfigurations/pom.xml
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/azure-resourcemanager-containerregistry/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

fix ci analyze exception
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

fix record session
  sdk/resourcemanager/azure-resourcemanager-containerregistry/assets.json
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10286 (#45434)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

[Automation] External Change
  eng/automation/api-specs.yaml
  eng/versioning/version_client.txt
  sdk/kubernetesconfiguration/ci.yml
  sdk/kubernetesconfiguration/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for cognitiveservices releases
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

add suffix
  eng/automation/generate.py
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update eng/automation/generate_utils.py
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update pom.xml
  sdk/healthinsights/azure-health-insights-radiologyinsights/pom.xml
Due: eng/pipelines/pullrequest.yml

Update README.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

mgmt Swagger generation, add `suffix` config to api-specs.yaml if present, when generating for the first-time (#45441)
  eng/automation/generate.py
  eng/automation/generate_utils.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Storage Error Codes for Copies (#45394)
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/StorageError.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryPolicy.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/policy/RequestRetryPolicyTest.java
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/StorageError.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Fixing TestRunTests without TestProfileRun
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestingClientTestBase.java
Due: eng/pipelines/pullrequest.yml

Fixing TestRunAsyncTests
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunAsyncTests.java
Due: eng/pipelines/pullrequest.yml

Increment package versions for cognitiveservices releases (#45440)
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

[Automation] Generate SDK based on TypeSpec 0.30.4
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/containerorchestratorruntime/azure-resourcemanager-containerorchestratorruntime/src/test/java/com/azure/resourcemanager/containerorchestratorruntime/generated/LoadBalancersDeleteByResourceGroupWithResponsMockTests.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/AuthorizeCopyOfDocumentClassifier.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/AuthorizeCopyOfDocumentModel.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/BuildDocumentClassifier.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/BuildDocumentModel.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/ComposeDocumentModel.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/CopyDocumentClassifierTo.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/CopyDocumentModelTo.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/DeleteAnalyzeBatchDocumentsResult.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/DeleteAnalyzeResult.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/DeleteDocumentClassifier.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/DeleteDocumentModel.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetAnalyzeBatchDocumentsResult.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetAnalyzeDocumentResultFigure.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetAnalyzeDocumentResultPDF.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetCustomDocumentModel.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetDocumentClassifier.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetDocumentClassifiers.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetDocumentModels.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetOperation.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetOperations.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetPrebuiltDocumentModel.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/GetResourceDetails.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/ListAnalyzeBatchDocumentsResults.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/resources/META-INF/azure-messaging-eventgrid_metadata.json
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/CancelACurrentlyProcessingOrQueuedTranslation.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsAListOfBatchRequestsSubmittedAndTheStatusForEachRequest.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsAListOfSupportedDocumentFormats.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsTheStatusForABatchDocumentTranslationRequest.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsTheStatusForAllDocumentsInABatchDocumentTranslationRequest.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/ReturnsTheStatusOfASingleDocumentInABatchTranslationRequest.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/SubmitADocumentTranslationRequestToTheDocumentTranslationService.java
  sdk/translation/azure-ai-translation-document/src/samples/java/com/azure/ai/translation/document/generated/TranslateASingleDocument.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/samples/java/com/azure/resourcemanager/workloadssapvirtualinstance/generated/SapVirtualInstancesGetAvailabilityZoneDetailsSamples.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/test/java/com/azure/resourcemanager/workloadssapvirtualinstance/generated/SapVirtualInstancesGetAvailabilityZoneDetailsWitMockTests.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/test/java/com/azure/resourcemanager/workloadssapvirtualinstance/generated/SapVirtualInstancesGetDiskConfigurationsWithRespMockTests.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/test/java/com/azure/resourcemanager/workloadssapvirtualinstance/generated/SapVirtualInstancesGetSapSupportedSkuWithResponsMockTests.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/test/java/com/azure/resourcemanager/workloadssapvirtualinstance/generated/SapVirtualInstancesGetSizingRecommendationsWithRMockTests.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Begin migrating all customizations to 'customizeAst'
  sdk/documentintelligence/azure-ai-documentintelligence/customization/src/main/java/DocumentIntelligenceCustomizations.java
Due: eng/pipelines/pullrequest.yml

Made all tests running, HelloWorld and ReadMe Samples updated
  sdk/loadtesting/azure-developer-loadtesting/README.md
  sdk/loadtesting/azure-developer-loadtesting/assets.json
  sdk/loadtesting/azure-developer-loadtesting/src/samples/java/com/azure/developer/loadtesting/HelloWorld.java
  sdk/loadtesting/azure-developer-loadtesting/src/samples/java/com/azure/developer/loadtesting/ReadmeSamples.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunAsyncTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestingClientTestBase.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Update RegionalRoutingContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/RegionalRoutingContext.java
Due: none
