Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}
      TimeoutInMinutes: 90
      ExcludePaths:
      - sdk/batch/microsoft-azure-batch/
      - sdk/boms/
      - sdk/cosmos/
      - sdk/e2e/
  ...

readme.md
  sdk/resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/README.md
  sdk/resourcemanager/azure-resourcemanager-appservice/README.md
  sdk/resourcemanager/azure-resourcemanager-authorization/README.md
  sdk/resourcemanager/azure-resourcemanager-cdn/README.md
  sdk/resourcemanager/azure-resourcemanager-compute/README.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/README.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/README.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/README.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/README.md
  sdk/resourcemanager/azure-resourcemanager-dns/README.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/README.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/README.md
  sdk/resourcemanager/azure-resourcemanager-monitor/README.md
  sdk/resourcemanager/azure-resourcemanager-msi/README.md
  sdk/resourcemanager/azure-resourcemanager-network/README.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/README.md
  sdk/resourcemanager/azure-resourcemanager-redis/README.md
  sdk/resourcemanager/azure-resourcemanager-resources/README.md
  sdk/resourcemanager/azure-resourcemanager-samples/README.md
  sdk/resourcemanager/azure-resourcemanager-search/README.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/README.md
  sdk/resourcemanager/azure-resourcemanager-sql/README.md
  sdk/resourcemanager/azure-resourcemanager-storage/README.md
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/README.md
  sdk/resourcemanager/azure-resourcemanager/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

changelog.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-authorization/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cdn/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-msi/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-redis/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-storage/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

single_service_packages.md
  sdk/resourcemanager/docs/SINGLE_SERVICE_PACKAGES.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Bugfixes - Custom ObjectMapper bean does not work for received messages (#44799)
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/messaging/AzureMessagingListenerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/messaging/AzureMessagingListenerAutoConfigurationTests.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusTemplate.java
  sdk/spring/spring-messaging-azure/src/main/java/com/azure/spring/messaging/implementation/annotation/AzureListenerAnnotationBeanPostProcessorAdapter.java
Due: eng/pipelines/link-verification.yml

Increase monitor version to fix build errors
  eng/versioning/version_client.txt
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Enable annotation @EnableAzureMessaging automatically
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/messaging/AzureMessagingListenerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/messaging/AzureMessagingListenerAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfigurationTests.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/core/EventHubsTemplate.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/core/annotation/EventHubsListenerAnnotationBeanPostProcessor.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/core/annotation/ServiceBusListenerAnnotationBeanPostProcessor.java
Due: eng/pipelines/link-verification.yml

Sync - auto enable azure messaging annotation (#44823)
  eng/versioning/version_client.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/messaging/AzureMessagingListenerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/messaging/AzureMessagingListenerAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/core/EventHubsTemplate.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/core/annotation/EventHubsListenerAnnotationBeanPostProcessor.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/core/annotation/ServiceBusListenerAnnotationBeanPostProcessor.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update cspell
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

[Automation] Generate SDK based on TypeSpec 0.28.0 DEV
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisAsyncClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClient.java
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Added test for UserSecurityContext
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/AzureCompanionClientTests.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTestBase.java
Due: eng/pipelines/pullrequest.yml

Update Readme link (#44810)
  sdk/spring/spring-cloud-azure-starter-monitor/README.md
Due: eng/pipelines/link-verification.yml

Restored BYOD test
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/AzureCompanionAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/mappers/AssistantContentVisitor.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/mappers/AzureChatMapper.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/mappers/ChatMessageVisitor.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/mappers/UserContentVisitor.java
  sdk/openai/azure-ai-openai/src/main/java/module-info.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/AzureCompanionAsyncClientTests.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/AzureCompanionClientTests.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/openai/tests/OpenAIOkHttpClientTestBase.java
Due: eng/pipelines/pullrequest.yml

OpenAIClientBuilderTest class added and tests for build client
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientBuilderTest.java
Due: eng/pipelines/pullrequest.yml

[Automation] Generate SDK based on TypeSpec 0.28.0 DEV
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix recursing logging
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/AzureMonitorLogRecordExporter.java
Due: eng/pipelines/pullrequest.yml

March 2025 Bom Release
  sdk/boms/azure-sdk-bom/pom.xml
Due: none

March 2025 Bom Release (#44827)
  sdk/boms/azure-sdk-bom/pom.xml
Due: none

March 2025 Bom Release
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/pom.xml
Due: eng/pipelines/link-verification.yml

prepare bom release 1.2.33 (#44829)
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/pom.xml
Due: eng/pipelines/link-verification.yml

Added convenience layer for Certificates (docs pending).
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/CertificateClient.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/CertificateClientBuilder.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/CertificateIssuerHelper.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/CertificateOperationHelper.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/CertificatePolicyHelper.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/CertificatePropertiesHelper.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/CertificatesUtils.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/DeletedCertificateHelper.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/IdMetadata.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/IssuerPropertiesHelper.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/KeyVaultCertificateWithPolicyHelper.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/CertificateContentType.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/CertificateIssuer.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/CertificateOperation.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/CertificatePolicy.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/CertificatePolicyAction.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/CertificateProperties.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/DeletedCertificate.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/ImportCertificateOptions.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/IssuerProperties.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/KeyVaultCertificate.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/KeyVaultCertificateIdentifier.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/KeyVaultCertificateWithPolicy.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/LifetimeAction.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/MergeCertificateOptions.java
  sdk/keyvault/azure-security-keyvault-certificates-v2/src/main/java/com/azure/v2/security/keyvault/certificates/models/WellKnownIssuerNames.java
Due: eng/pipelines/pullrequest.yml

add otel sdk update to changelog (#44739)
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Increment package versions for monitor releases (#44741)
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

update spring-reference.yml (#44752)
  sdk/spring/spring-reference.yml
Due: none

Adding `service_tier` for request and response `ChatCompletions` (#44719)
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ServiceTier.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ServiceTierOptions.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Disable the unstable testcase (#44728)
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/template/AzureAuthenticationTemplateTest.java
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10096 (#44757)
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
  eng/scripts/Language-Settings.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Removed obsolete specc-gen-sdk pipeline template (#44758)
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix: serialization and deserialization of `ChatRequestMessage` subclasses (#44674)
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestAssistantMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestDeveloperMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestSystemMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestToolMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestUserMessage.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/models/ChatRequestMessageUnitTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Add support for multipleQueryParams in annotation-processor (#44762)
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientImpl.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/PagingOperationTests.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/AnnotationProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/HttpRequestContext.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/HttpRequestInitializerTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/PathBuilderTest.java
  sdk/clientcore/core/pom.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CoreUtils.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/CoreUtilsTests.java
Due: eng/pipelines/pullrequest.yml

Increment package versions for eventgrid/azure-resourcemanager-eventgrid releases (#44766)
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Increment package versions for tables releases (#44721) (#44769)
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

release azure-cosmos 4.68.0 (#44761)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/cognitiveservices/ms-azure-cs-autosuggest, sdk/cognitiveservices/ms-azure-cs-computervision, sdk/cognitiveservices/ms-azure-cs-contentmoderator, sdk/cognitiveservices/ms-azure-cs-customimagesearch, sdk/cognitiveservices/ms-azure-cs-customsearch, sdk/cognitiveservices/ms-azure-cs-customvision-prediction, sdk/cognitiveservices/ms-azure-cs-customvision-training, sdk/cognitiveservices/ms-azure-cs-entitysearch, sdk/cognitiveservices/ms-azure-cs-faceapi, sdk/cognitiveservices/ms-azure-cs-imagesearch, sdk/cognitiveservices/ms-azure-cs-luis-authoring, sdk/cognitiveservices/ms-azure-cs-luis-runtime, sdk/cognitiveservices/ms-azure-cs-newssearch, sdk/cognitiveservices/ms-azure-cs-qnamaker, sdk/cognitiveservices/ms-azure-cs-spellcheck, sdk/cognitiveservices/ms-azure-cs-videosearch, sdk/cognitiveservices/ms-azure-cs-visualsearch, sdk/cognitiveservices/ms-azure-cs-websearch, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
