Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk

Adding option for enforcing "custom query" to be used against the Cosmos endpoint (#21692)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/models/CosmosParameterizedQuery.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/FilterAnalyzer.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScan.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/FilterAnalyzerSpec.scala
Due: eng/pipelines/link-verification.yml

Changed KV cryptography tests to avoid using a hardcoded security provider.
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java
Due: none

Updated tests to print out all available providers in case no suitable provider is found.
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java
Due: none

Fix issue#16127 Change Track 2 SB sendMessages() API for messages are being sent at a slow pace 2021005210912
  sdk/servicebus/azure-messaging-servicebus/src/main/java/module-info.java
Due: none

make the project directory name the same with artfact id
  sdk/spring-2-3/azure-spring-boot-samples/azure-appconfiguration-convert-sample-initial/CHANGELOG.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-appconfiguration-convert-sample-initial/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-appconfiguration-convert-sample-initial/pom.xml
  sdk/spring-2-3/azure-spring-boot-samples/azure-appconfiguration-convert-sample-initial/src/main/java/sample/convert/ConvertSampleApplication.java
  sdk/spring-2-3/azure-spring-boot-samples/azure-appconfiguration-convert-sample-initial/src/main/java/sample/convert/User.java
  sdk/spring-2-3/azure-spring-boot-samples/azure-appconfiguration-convert-sample-initial/src/main/java/sample/convert/UserRepository.java
  sdk/spring-2-3/azure-spring-boot-samples/azure-appconfiguration-convert-sample-initial/src/main/resources/application.properties
  sdk/spring-2-3/azure-spring-boot-samples/feature-management-sample/README.md
  sdk/spring-2-3/azure-spring-boot-samples/feature-management-web-sample/README.md
  sdk/spring-2-3/azure-spring-boot-samples/spring-cloud-azure-appconfiguration-convert-sample-complete/CHANGELOG.md
  sdk/spring-2-3/azure-spring-boot-samples/spring-cloud-azure-appconfiguration-convert-sample-complete/README.md
  sdk/spring-2-3/azure-spring-boot-samples/spring-cloud-azure-appconfiguration-convert-sample-complete/pom.xml
  sdk/spring-2-3/azure-spring-boot-samples/spring-cloud-azure-appconfiguration-convert-sample-complete/src/main/java/sample/convert/ConvertSampleApplication.java
  sdk/spring-2-3/azure-spring-boot-samples/spring-cloud-azure-appconfiguration-convert-sample-complete/src/main/java/sample/convert/User.java
  sdk/spring-2-3/azure-spring-boot-samples/spring-cloud-azure-appconfiguration-convert-sample-complete/src/main/java/sample/convert/UserRepository.java
  sdk/spring-2-3/azure-spring-boot-samples/spring-cloud-azure-appconfiguration-convert-sample-complete/src/main/resources/bootstrap.properties
  sdk/spring-2-3/pom.xml
Due: eng/pipelines/link-verification.yml

Commented failing tests.
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java
Due: none

Fix ci exception for issue#16465 Implement a Service Bus Shared Access Key Credential 202105210918 by LiHong
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusClientBuilderTest.java
Due: none

Add changelog and readme for azure-spring-boot-bom
  sdk/boms/azure-spring-boot-bom/CHANGELOG.md
  sdk/boms/azure-spring-boot-bom/README.md
Due: eng/pipelines/link-verification.yml

Commented unused imports.
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java
Due: none

Add retry without timeout
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
Due: none

code
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/KubeEnvironmentsClient.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/KubeEnvironmentInner.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/KubeEnvironmentsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/AppLogsConfiguration.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/ArcConfiguration.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/ExtendedLocation.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/FrontEndConfiguration.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/FrontEndServiceType.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/KubeEnvironmentCollection.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/KubeEnvironmentPatchResource.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/KubeEnvironmentProvisioningState.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/LogAnalyticsConfiguration.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/StorageType.java
Due: none

Changed KV cryptography tests to avoid using a hardcoded security provider. (#21703)
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java
Due: none

Fix pipeline failure: broken link.
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring/azure-spring-boot-starter-storage/README.md
  sdk/spring/azure-spring-boot-starter/README.md
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/azure-spring-cloud-context/README.md
  sdk/spring/azure-spring-cloud-starter-cache/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/README.md
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/README.md
  sdk/spring/azure-spring-cloud-storage/README.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-eventhubs/README.md
  sdk/spring/azure-spring-integration-servicebus/README.md
  sdk/spring/azure-spring-integration-storage-queue/README.md
  sdk/spring/azure-spring-starter-storage/README.md
Due: eng/pipelines/link-verification.yml

mgmt core, bug fix in ManagementErrorDeserializer (#21647)
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/serializer/ManagementErrorDeserializer.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/exception/ManagementExceptionTests.java
Due: eng/pipelines/link-verification.yml

Grammar improvements (#21204)
  sdk/storage/azure-storage-blob/README.md
Due: eng/pipelines/link-verification.yml

fix broken links issue
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-cloud-foundry-service-sample/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter-stateless/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-cosmos/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-data-gremlin/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-mediaservices/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/README.md
  sdk/spring-2-3/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/README.md
  sdk/spring-2-3/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring-2-3/azure-spring-boot-starter-active-directory/README.md
  sdk/spring-2-3/azure-spring-boot-starter-cosmos/README.md
  sdk/spring-2-3/azure-spring-boot-starter-data-gremlin/README.md
  sdk/spring-2-3/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring-2-3/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring-2-3/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring-2-3/azure-spring-boot-starter-storage/README.md
  sdk/spring-2-3/azure-spring-boot-starter/README.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-media-videoanalyzer-edge
  eng/versioning/version_client.txt
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/CHANGELOG.md
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

modify alias defaultValue.
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/AuthClientTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultClientTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultJcaProviderTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyManagerTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java
  sdk/keyvault/test-resources.json
Due: none

fix code smell
  sdk/spring-2-3/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring-2-3/azure-spring-boot-starter-active-directory/README.md
  sdk/spring-2-3/azure-spring-boot-starter-cosmos/README.md
  sdk/spring-2-3/azure-spring-boot-starter-data-gremlin/README.md
  sdk/spring-2-3/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring-2-3/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring-2-3/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring-2-3/azure-spring-boot-starter-storage/README.md
  sdk/spring-2-3/azure-spring-boot-starter/README.md
Due: eng/pipelines/link-verification.yml

fix code smell
  sdk/spring-2-3/azure-spring-boot-starter-active-directory/README.md
  sdk/spring-2-3/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring-2-3/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
Due: eng/pipelines/link-verification.yml

Add retry without timeout
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
Due: none

mgmt, resourcegraph, example in readme (#21676)
  sdk/resourcegraph/azure-resourcemanager-resourcegraph/README.md
  sdk/resourcegraph/azure-resourcemanager-resourcegraph/src/test/java/com/azure/resourcemanager/resourcegraph/ResourceGraphTests.java
Due: eng/pipelines/link-verification.yml

fix version entry issue
  sdk/spring-2-3/azure-identity-spring/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Fix pipeline failure: broken link.
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
Due: eng/pipelines/link-verification.yml

mgmt, key vault audit log
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/storage/samples/ManageStorageAccountCustomerManagedKey.java
Due: none

Fix pipeline failure: broken link. (#21705)
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring/azure-spring-boot-starter-storage/README.md
  sdk/spring/azure-spring-boot-starter/README.md
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/azure-spring-cloud-context/README.md
  sdk/spring/azure-spring-cloud-starter-cache/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/README.md
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/README.md
  sdk/spring/azure-spring-cloud-storage/README.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-eventhubs/README.md
  sdk/spring/azure-spring-integration-servicebus/README.md
  sdk/spring/azure-spring-integration-storage-queue/README.md
  sdk/spring/azure-spring-starter-storage/README.md
Due: eng/pipelines/link-verification.yml

mgmt, key vault audit log (#21707)
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/storage/samples/ManageStorageAccountCustomerManagedKey.java
Due: none

Modify the verification when inserting a certificate
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultCertificatesTest.java
Due: none

restart MessageReceiver when requester is null (#21697)
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessorClient.java
Due: none

add module-info to jca (#21426)
  eng/versioning/external_dependencies.txt
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/src/main/module-info.java
Due: eng/pipelines/mgmt.yml

* Modify pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom-reactive.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusTopicAutoConfigurationTest.java
Due: none

try to find pipeline error
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java
Due: none

upgrade to the latest version of spring boot 2.2.x(2.2.13.RELEASE)
  sdk/spring-2-3/scripts/replace_util.py
Due: none

Add 'final' to classes according to apiview. https://apiview.dev/Assemblies/Review/0df8ed98ea3749c39b85aa3d442764c1#com.azure.security.keyvault.jca
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultJcaProvider.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyManager.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyManagerFactory.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameter.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultTrustManager.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultTrustManagerFactory.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultTrustManagerFactoryProvider.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/UriUtil.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/CertificateBundle.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/CertificateItem.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/CertificateListResult.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/CertificatePolicy.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/KeyProperties.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/OAuthToken.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/model/SecretBundle.java
Due: none

Set azure-security-keyvault-jca's versoin to 1.0.0-beta.7 https://apiview.dev/Assemblies/Review/0df8ed98ea3749c39b85aa3d442764c1#com.azure.security.keyvault.jca
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/scripts/Update-DevOps-Release-WorkItem/Update-DevOps-Release-WorkItems-For-KeyVaultJCA.ps1
  sdk/spring/spring-reference.yml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml
