Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml

Update README version references
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Due: eng/pipelines/link-verification.yml

Enable batch release for Core and Identity
  sdk/core/ci.yml
  sdk/identity/ci.yml
Due: none

update version
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-search-documents
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Retry and redirect policies
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/DefaultRedirectStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/LoggingKeys.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
Due: none

Convert http logs into structured ones
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
Due: none

fix try count in tests
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/LoggingKeys.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
Due: none

nits
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/DefaultRedirectStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
Due: none

fix logging output in Spring tests
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultSecretUserAgentTests.java
Due: none

clean up keys
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/DefaultRedirectStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/LoggingKeys.java
Due: none

review and log level fixes
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/DefaultRedirectStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/LoggingKeys.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/logging/ClientLoggerTests.java
Due: none

Review comments
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/LoggingKeys.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultSecretUserAgentTests.java
Due: none

more spring tests
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/AppConfigurationUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultCertificateUserAgentTests.java
Due: none

spring tests
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultSecretUserAgentTests.java
Due: none

Generate sources, javadocs and pom file required for Maven release (#29257)
  .github/CODEOWNERS
  eng/versioning/version_client.txt
  sdk/tools/azure-sdk-archetype/pom.xml
  sdk/tools/azure-sdk-build-tool/pom.xml
Due: eng/pipelines/mgmt.yml

Increment version for search releases (#29283)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fix Large BinaryData from file. (#29279)
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
Due: none

Update ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
Due: none

azure-search-documents Release Branch Patch Mergeback
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add missing version tag
  eng/versioning/version_client.txt
  sdk/tools/azure-sdk-archetype/CHANGELOG.md
  sdk/tools/azure-sdk-archetype/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Initial commit
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
  sdk/communication/azure-communication-jobrouter/README.md
  sdk/communication/azure-communication-jobrouter/src/pom.xml
  sdk/communication/azure-communication-jobrouter/swagger/README.md
Due: eng/pipelines/link-verification.yml

More changes
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/module-info.java
  sdk/communication/azure-communication-jobrouter/src/pom.xml
  sdk/communication/azure-communication-jobrouter/src/test/com.azure.communication.jobrouter/JobRouterAsyncClientTest.java
  sdk/communication/azure-communication-jobrouter/src/test/com.azure.communication.jobrouter/JobRouterClientTest.java
  sdk/communication/azure-communication-jobrouter/src/test/com.azure.communication.jobrouter/JobRouterClientTestBase.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/APISpec.groovy
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/JobRouterAPITest.groovy
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/TestEnvironment.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/TestNameProvider.java
Due: none

More changes
  sdk/communication/azure-communication-jobrouter/src/main/java/com.azure.communication.jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterServiceVersion.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/AzureCommunicationRoutingServiceImpl.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/AzureCommunicationRoutingServiceImplBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/CommunicationBearerTokenCredential.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/JobRoutersImpl.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/package-info.java
  sdk/communication/azure-communication-jobrouter/src/test/com.azure.communication.jobrouter/JobRouterClientTest.java
  sdk/communication/azure-communication-jobrouter/src/test/com.azure.communication.jobrouter/JobRouterClientTestBase.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/JobRouterClientTest.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/JobRouterClientTestBase.java
Due: none

More changes
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterServiceVersion.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/utils/BuilderHelper.java
  sdk/communication/azure-communication-jobrouter/src/test/com.azure.communication.jobrouter/JobRouterAsyncClientTest.java
  sdk/communication/azure-communication-jobrouter/src/test/com.azure.communication.jobrouter/JobRouterClientTest.java
  sdk/communication/azure-communication-jobrouter/src/test/com.azure.communication.jobrouter/JobRouterClientTestBase.java
Due: none

More changes
  pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/AccessKeyTokenCredential.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/utils/BuilderHelper.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/APISpec.groovy
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/JobRouterAPITest.groovy
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/TestEnvironment.java
Due: eng/pipelines/mgmt.yml

sync client
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
Due: none

Address comments
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/CommunicationBearerTokenCredential.java
  sdk/communication/azure-communication-jobrouter/src/main/resources/azure-communication-jobrouter.properties
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/APISpec.groovy
  sdk/communication/azure-communication-jobrouter/swagger/README.md
Due: eng/pipelines/link-verification.yml

More routes
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAsyncClient.java
Due: none

Fix build
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/AccessKeyTokenCredential.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/samples/java/com.azure.communication.jobrouter/RouterClientJavadocCodeSnippets.java
  sdk/communication/pom.xml
Due: none

[AMQP] Ensure ReceiverEndpointState completes in case no link remote-close ack (#29201)
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/docs/reactor-receiver-closeflow.png
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorReceiverTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
Due: eng/pipelines/link-verification.yml

Fix dependency versions
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-jobrouter/pom.xml
Due: eng/pipelines/mgmt.yml

Add javadocs
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClient.java
Due: none

add javadocs
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClient.java
Due: none

add javadocs
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClientBuilder.java
Due: none
