Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_data.txt, eng/versioning/version_data_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/mediaservices/microsoft-azure-media, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

Remove unneeded Content models
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobCreateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobDisableContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobScheduleCreateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobScheduleUpdateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobTerminateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobUpdateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchNodeDeallocateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchNodeDisableSchedulingContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchNodeRebootContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchNodeReimageContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchNodeRemoveContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchNodeUserCreateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchNodeUserUpdateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolCreateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolEnableAutoScaleContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolEvaluateAutoScaleContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolReplaceContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolResizeContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolUpdateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTaskCreateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/UploadBatchServiceLogsContent.java
Due: eng/pipelines/pullrequest.yml

Regenerate SDK with updated emitter
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchAsyncClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/resources/META-INF/azure-compute-batch_metadata.json
Due: eng/pipelines/pullrequest.yml

Fix syntax for clarity on JobScheduleTests
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
Due: eng/pipelines/pullrequest.yml

Convert JobTests to use Sync Async pattern
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobTests.java
Due: eng/pipelines/pullrequest.yml

Add LRO method and test for deleteJobSchedule
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/lro/JobScheduleDeletePoller.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
Due: eng/pipelines/pullrequest.yml

Fix outdated VM Image in Job Test
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobTests.java
Due: eng/pipelines/pullrequest.yml

Fix unit tests
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/PoolTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/TaskTests.java
Due: eng/pipelines/pullrequest.yml

Update with Java autoscale options bag names
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchAsyncClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolEnableAutoScaleOptions.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolEvaluateAutoScaleOptions.java
  sdk/batch/azure-compute-batch/src/main/resources/META-INF/azure-compute-batch_apiview_properties.json
Due: eng/pipelines/pullrequest.yml

Regenerate for AccessScope and AffinityInfo change
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchAsyncClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/BatchClientImpl.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/AuthenticationTokenSettings.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/AzureFileShareConfiguration.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchAccessScope.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchAffinityInfo.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchCertificate.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTask.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTaskCreateContent.java
  sdk/batch/azure-compute-batch/src/main/resources/META-INF/azure-compute-batch_apiview_properties.json
Due: eng/pipelines/pullrequest.yml

More FileTests refactoring
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/FileTests.java
Due: eng/pipelines/pullrequest.yml

Address comments on test poller and using context
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/lro/JobScheduleDeletePoller.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
Due: eng/pipelines/pullrequest.yml

Update with new names for task number properties
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobScheduleStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobStatistics.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobTests.java
Due: eng/pipelines/pullrequest.yml

Updated changelog for clarity
  sdk/batch/azure-compute-batch/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Model name change to BatchFileProperties
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchAsyncClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchClientParallelOptions.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchFileProperties.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/FileTests.java
Due: eng/pipelines/pullrequest.yml

Add async test coverage to PoolTests and update VM
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/BatchClientTestBase.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/PoolTests.java
Due: eng/pipelines/pullrequest.yml

Clean up JobScheduleTests code
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
Due: eng/pipelines/pullrequest.yml

Revert version number changes
  sdk/batch/azure-compute-batch/README.md
  sdk/batch/azure-compute-batch/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Add beginDeleteJobSchedule with options bag
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
Due: eng/pipelines/pullrequest.yml

Add 2 sync beginTerminateJobSchedule methods
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/lro/JobScheduleTerminatePoller.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
Due: eng/pipelines/pullrequest.yml

Add beginDeletePool LRO methods and update tests
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchAsyncClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/lro/CertificateDeletePollerAsync.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/lro/PoolDeletePollerAsync.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/PoolTests.java
Due: eng/pipelines/pullrequest.yml

removing json changes
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobStorageError.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/ShareStorageError.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/QueueStorageError.java
Due: eng/pipelines/pullrequest.yml

pulling stuff from pipeline impl
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobParallelUploadOptions.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/contentValidation/BlobMessageEncoderUploadTests.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/structuredmessage/StorageChecksumAlgorithm.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/structuredmessage/StructuredMessageConstants.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/structuredmessage/StructuredMessageEncoder.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
Due: eng/pipelines/pullrequest.yml

Refactor date formatting in MetricsHelper to use a dedicated method for Azure Monitor Metrics API
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metrics/models/MetricsHelper.java
Due: eng/pipelines/pullrequest.yml

change version to beta
  sdk/face/azure-ai-vision-face/pom.xml
Due: eng/pipelines/pullrequest.yml

change version
  sdk/face/azure-ai-vision-face/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

add a blank line
  sdk/face/azure-ai-vision-face/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Add additional create matrix logging (#45894)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Merge async and sync HttpInstrumentation code together
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicy.java
Due: eng/pipelines/pullrequest.yml

Few fixes
  eng/scripts/Compare-CurrentToCodegeneration.ps1
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

generate storage v2 with instrumentation
  sdk/storage-v2/azure-storage-blob/pom.xml
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/AppendBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/AzureBlobStorageBuilder.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/BlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/BlockBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/ContainerClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/PageBlobClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/StorageServiceClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/ServicesImpl.java
Due: eng/pipelines/pullrequest.yml

Use response headers to deserialize response
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseHandler.java
Due: eng/pipelines/pullrequest.yml

add generated files
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedMultipleHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SimpleXmlSerializableServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientServiceImpl.java
Due: eng/pipelines/pullrequest.yml

Annotation processor: use response headers to deserialize response (#45901)
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedMultipleHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SimpleXmlSerializableServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientServiceImpl.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseHandler.java
Due: eng/pipelines/pullrequest.yml

correct spelling
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/models/CreateLivenessWithVerifySessionContent.java
  sdk/face/azure-ai-vision-face/src/samples/java/com/azure/ai/vision/face/samples/DetectLiveness.java
  sdk/face/azure-ai-vision-face/src/samples/java/com/azure/ai/vision/face/samples/DetectLivenessAsync.java
  sdk/face/azure-ai-vision-face/src/samples/java/com/azure/ai/vision/face/samples/DetectLivenessWithVerify.java
  sdk/face/azure-ai-vision-face/src/samples/java/com/azure/ai/vision/face/samples/DetectLivenessWithVerifyAsync.java
Due: eng/pipelines/pullrequest.yml

regenerate without pageable instr
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/StorageServiceClient.java
  sdk/storage-v2/azure-storage-blob/src/main/java/com/azure/v2/storage/blob/implementation/BlockBlobsImpl.java
Due: eng/pipelines/pullrequest.yml

fix dependency comment
  sdk/storage-v2/azure-storage-blob/pom.xml
Due: eng/pipelines/pullrequest.yml

try fix the analyze
  sdk/face/azure-ai-vision-face/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Changed pom file to work for spark 3.4 or 3.5, updated readme, removed logging for empty response
  .vscode/cspell.json
  eng/.docsettings.yml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-fabric-account-data-resolver/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark-fabric-account-data-resolver/README.md
  sdk/cosmos/azure-cosmos-spark-fabric-account-data-resolver/pom.xml
  sdk/cosmos/azure-cosmos-spark-fabric-account-data-resolver/src/main/scala/com/azure/cosmos/spark/fabric/FabricAccountDataResolver.scala
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml
