Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml

Increment package version after release of com.azure.spring spring-cloud-azure-starter-storage-blob
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring spring-cloud-azure-starter-storage-file-share
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring spring-cloud-azure-starter-storage-queue
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring spring-cloud-azure-starter-stream-servicebus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-servicebus/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring spring-cloud-azure-starter-stream-eventhubs
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-eventhubs/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring spring-cloud-azure-starter-integration-eventhubs
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring spring-cloud-azure-starter-integration-servicebus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring spring-cloud-azure-starter-integration-storage-queue
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
Due: eng/pipelines/mgmt.yml

imcrement spring-cloud-azure-starter-appconfiguration version
  eng/jacoco-test-coverage/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Due: eng/pipelines/mgmt.yml

imcrement spring-cloud-azure-dependencies version
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
Due: eng/pipelines/mgmt.yml

update according to comment
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RequestOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/DefaultPollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/OperationResourcePollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/StatusCheckPollingStrategy.java
Due: none

fix service bus usage
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSession.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusSession.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSessionTest.java
Due: none

update data-plane automation
  eng/mgmt/automation/changelog.py
  eng/mgmt/automation/generate_data.py
  eng/mgmt/automation/generate_utils.py
  eng/mgmt/automation/parameters.py
Due: eng/pipelines/mgmt.yml

update accoring to comments
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/LocationPollingStrategy.java
Due: none

Increment package version after release of com.azure.spring azure-spring-cloud-appconfiguration-config
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring azure-spring-cloud-feature-management
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment version for appconfiguration releases (#27931)
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Regenerate Form Recognizer with new Autorest Features (#27915)
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/FormRecognizerClientImpl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/FormRecognizerClientImplBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/AnalyzeDocumentHeaders.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/AnalyzeDocumentResponse.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/BuildDocumentModelHeaders.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/BuildDocumentModelResponse.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/ComposeDocumentModelHeaders.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/ComposeDocumentModelResponse.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/CopyDocumentModelToHeaders.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/CopyDocumentModelToResponse.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Update Monitor Query Swagger files to use SHA-1 hash
  sdk/monitor/azure-monitor-query/swagger/README.md
Due: eng/pipelines/link-verification.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring azure-spring-cloud-feature-management-web
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring azure-spring-cloud-appconfiguration-config-web
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.spring azure-spring-cloud-starter-appconfiguration-config
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

pr feedback.
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/simple/InMemoryBodyCollector.java
Due: none

Form Recognizer API consistency updates (#27753)
  sdk/formrecognizer/azure-ai-formrecognizer-perf/src/main/java/com/azure/ai/formrecognizer/perf/core/ServiceTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/migration-guide.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/BuildModelOptions.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/CopyAuthorizationOptions.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/CreateComposedModelOptions.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ReadmeSamples.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildModel.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildModelAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/CopyModel.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/CopyModelAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/CreateComposedModel.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/CreateComposedModelAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/DocumentAnalysisClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTest
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdministrationAsyncClientTest.beginBuildModelWithOptions[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdministrationAsyncClientTest.beginCopyWithOptions[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdministrationAsyncClientTest.createComposedModelWithOptions[1].json
Due: eng/pipelines/link-verification.yml

Update HttpLoggingPolicy to no longer require response buffering
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
Due: none

Use Java 8 for code-quality-reports Pipeline
  eng/pipelines/code-quality-reports.yml
Due: eng/pipelines/mgmt.yml

remove uninteresting CHANGELOG.md entry
  sdk/identity/azure-identity/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Clean up on cspell
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
Due: eng/pipelines/mgmt.yml

Miscellaneous Improvement to azure-core (#27638)
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/ReturnValueWireType.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipeline.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddDatePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AzureKeyCredentialPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/FixedDelayOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpRequestLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpResponseLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/QuerySubstitution.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/ResponseConstructorsCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/ResponseExceptionConstructorCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessibleByteArrayOutputStream.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/HttpResponseDecoder.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/DateTimeRfc1123.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/AddDatePolicyBenchmark.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxyResponseConstructionBenchmark.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxySpecialParametersBenchmark.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/SwaggerMethodParserTests.java
Due: none

Centralize usage of Java 11 for Data SDKs
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/keyvault/ci.data.yml
Due: eng/pipelines/mgmt.yml

Try to fix capture group usages without spaces before 1.11
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Due: eng/pipelines/mgmt.yml

Revert changes to eng/common
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Due: eng/pipelines/mgmt.yml

Slightly change matrix replace
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Due: eng/pipelines/mgmt.yml

Really revert the eng/common change
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Due: eng/pipelines/mgmt.yml

Change using editor that doesn't implicitly remove whitespaces
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Due: eng/pipelines/mgmt.yml

Update the main branch (#27928)
  eng/pipelines/docindex.yml
Due: eng/pipelines/mgmt.yml

Credential creation validation (#27918)
  eng/versioning/external_dependencies.txt
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ManagedIdentityCredentialTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

update TSG links to point to java docs (#27919)
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Due: none
