Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: AggregateReports
        displayName: Aggregate Reports
        jobs:
        - job: Reporting
          displayName: Generate reports (with build)
          timeoutInMinutes: 180
          variables:
  ...

eng/pipelines/latest-jdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      UseOfficial: false
      stages:
      - stage: LatestJdk
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/native-image-live-tests.yml:
  stages:
  - template: /eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
    parameters:
      ServiceDirectory: appconfiguration
      Artifacts:
      - name: azure-spring-cloud-test-appconfiguration-config
        groupId: com.azure.spring
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template
  ...

Update FaultInjectionWithAvailabilityStrategyTestsBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FaultInjectionWithAvailabilityStrategyTestsBase.java
Due: none

Update TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Due: none

fix more flaky tests
  sdk/cosmos/azure-cosmos-benchmark/src/test/java/com/azure/cosmos/benchmark/WorkflowTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/OperationPoliciesTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnDirectTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Due: none

Add cross-partition aggregate / GROUP BY parity tests for thin-client query
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ThinClientQueryE2ETest.java
Due: none

Fix FI unit tests
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionRuleBuilder.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionUnitTest.java
Due: none

Fix thin-client MULTI_HASH prefix EPK over-span; add QueryPlan parity tests
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ThinClientQueryE2ETest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ThinClientStoreModel.java
Due: none

Update pom.xml
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/pom.xml
Due: eng/pipelines/pullrequest.yml

Remove stale duplicate CHANGELOG description line
  sdk/compute/azure-resourcemanager-compute-bulkactions/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Increment package versions for cognitiveservices releases
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update version to 1.0.0-beta.1
  eng/versioning/version_client.txt
  sdk/compute/azure-resourcemanager-compute-bulkactions/CHANGELOG.md
  sdk/compute/azure-resourcemanager-compute-bulkactions/README.md
  sdk/compute/azure-resourcemanager-compute-bulkactions/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Migrate Spring update workflows to azure-sdk-for-java
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-cloud-azure-support-file.yml
  .github/workflows/update-spring-dependencies.yml
  sdk/spring/scripts/generate_spring_cloud_azure_support_file.py
  sdk/spring/scripts/generate_spring_versions_and_pr_description.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Enable PR path-based triggers for migrated workflows
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-cloud-azure-support-file.yml
  .github/workflows/update-spring-dependencies.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Address PR review feedback for Spring workflow migration
  .github/workflows/update-spring-cloud-azure-support-file.yml
  sdk/spring/scripts/generate_spring_cloud_azure_support_file.py
  sdk/spring/scripts/generate_spring_versions_and_pr_description.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix Spring version source detection in generator
  sdk/spring/scripts/generate_spring_versions_and_pr_description.py
Due: none

Update Spring Boot and Spring Cloud versions for the Spring compatibility tests. This commit is created by GitHub Action: https://github.com/Azure/azure-sdk-for-java/actions/runs/28494540471
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Fix shellcheck quoting in Spring workflows
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-cloud-azure-support-file.yml
  .github/workflows/update-spring-dependencies.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update Spring Boot and Spring Cloud versions for the Spring compatibility tests. This commit is created by GitHub Action: https://github.com/Azure/azure-sdk-for-java/actions/runs/28494616180
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Harden workflow triggers and version comparison
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-cloud-azure-support-file.yml
  .github/workflows/update-spring-dependencies.yml
  sdk/spring/scripts/generate_spring_cloud_azure_support_file.py
  sdk/spring/scripts/generate_spring_versions_and_pr_description.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Run Spring update workflows from main ref
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-cloud-azure-support-file.yml
  .github/workflows/update-spring-dependencies.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix Copilot review issues in Spring update automation
  .github/workflows/test-spring-boot-rc-version.yml
  sdk/spring/scripts/generate_spring_versions_and_pr_description.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Add Spring Initializr terms to cspell dictionary
  .vscode/cspell.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix RC workflow checkout for branch dispatch
  .github/workflows/test-spring-boot-rc-version.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix update workflows for branch dispatch scripts
  .github/workflows/update-spring-cloud-azure-support-file.yml
  .github/workflows/update-spring-dependencies.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update Spring Boot and Spring Cloud versions for the Spring compatibility tests. This commit is created by GitHub Action: https://github.com/Azure/azure-sdk-for-java/actions/runs/28495441369
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Add force-update test mode for RC workflow
  .github/workflows/test-spring-boot-rc-version.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Harden PR body construction in Spring workflows
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-dependencies.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

fix duplicate records issue
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/CosmosReadManyByPartitionKeyReader.scala
Due: none

Update Spring Boot and Spring Cloud versions for the Spring compatibility tests. This commit is created by GitHub Action: https://github.com/Azure/azure-sdk-for-java/actions/runs/28495980878
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Remove RC workflow test inputs and adjust current spring baseline
  .github/workflows/test-spring-boot-rc-version.yml
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Revert temporary spring support matrix baseline
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Support configurable base branch in Spring workflows
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-cloud-azure-support-file.yml
  .github/workflows/update-spring-dependencies.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Run support-file generation after base checkout
  .github/workflows/update-spring-cloud-azure-support-file.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Update Spring Boot and Spring Cloud versions for the Spring compatibility tests. This commit is created by GitHub Action: https://github.com/Azure/azure-sdk-for-java/actions/runs/28496984189
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Due: none

Harden Spring workflow env handling and BOM selection
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-dependencies.yml
  sdk/spring/scripts/generate_spring_cloud_azure_support_file.py
  sdk/spring/scripts/generate_spring_versions_and_pr_description.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Preserve support matrix JSON spacing style
  sdk/spring/scripts/generate_spring_cloud_azure_support_file.py
Due: none

Fix RC target selection and support file robustness
  .github/workflows/test-spring-boot-rc-version.yml
  .github/workflows/update-spring-cloud-azure-support-file.yml
  sdk/spring/scripts/generate_spring_cloud_azure_support_file.py
  sdk/spring/scripts/generate_spring_versions_and_pr_description.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Tighten workflow permissions and document legacy support
  .github/workflows/update-spring-cloud-azure-support-file.yml
  .github/workflows/update-spring-dependencies.yml
  sdk/spring/scripts/generate_spring_cloud_azure_support_file.py
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Latest spec changes: remove reminderPreviewTool and renamed method param
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/AgentsImpl.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/ReminderPreviewTool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/Tool.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/ToolType.java
  sdk/ai/azure-ai-agents/src/main/resources/META-INF/azure-ai-agents_metadata.json
  sdk/ai/azure-ai-agents/tsp-location.yaml
  sdk/ai/azure-ai-projects/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

added convenience method for code agents
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/utils/FileUtils.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/hostedagents/CodeAgentAsyncSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/hostedagents/CodeAgentSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/hostedagents/utils/CodeAgentSampleUtils.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/hostedagents/CodeAgentSamplesTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Unit tests for sha util
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/implementation/FileUtilsTest.java
Due: eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring
