Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/patch-release.yml

eng/pipelines/aggregate-reports.yml:
  stages:
  - stage: AggregateReports
    displayName: Aggregate Reports
    jobs:
    - job: Reporting
      displayName: Generate reports (with build)
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-20.04
      steps:
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

eng/pipelines/patch-release.yml:
  jobs:
  - job: Patching
    displayName: Generate patch (with build)
    timeoutInMinutes: 180
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    pool:
      vmImage: ubuntu-20.04
    steps:
    - template: /eng/pipelines/templates/steps/cache-maven-repository.yml
      parameters:
  ...

update spring service pom
  sdk/spring/pom.xml
Due: none

Fix Bug in Resource Ref Verifier (#29568)
  eng/common/scripts/Verify-Resource-Ref.ps1
Due: eng/pipelines/mgmt.yml

display versions
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
Due: none

update bearertoken policy
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AzureKeyCredentialPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessTokenCache.java
Due: none

initial set
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddDatePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddHeadersFromContextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddHeadersPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AzureKeyCredentialPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AzureSasCredentialPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/CookiePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HostPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/PortPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/ProtocolPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RedirectPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RequestIdPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/TimeoutPolicy.java
Due: none

logging policy update
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
Due: none

Extracted initial getProps into some helper methods
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/BlobDecryptionPolicy.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
Due: none

Update tests with options model
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/models/ClassificationPolicy.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/models/ExceptionRule.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/ClassificationPolicyAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateClassificationPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateExceptionPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/ExceptionPolicyAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/UpdateExceptionPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/samples/java/com.azure.communication.jobrouter/ExceptionPolicyExample.java
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/JobRouterLiveTests.java
  sdk/communication/azure-communication-jobrouter/swagger/src/main/java/JobRouterCustomization.java
Due: none

Increment package versions for monitor releases (#29547)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add javadocs
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/RouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/convertors/ClassificationPolicyAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/convertors/ExceptionPolicyAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateClassificationPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateExceptionPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/ExceptionPolicyAdapter.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/UpdateExceptionPolicyOptions.java
Due: none

More javadocs
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateClassificationPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/CreateExceptionPolicyOptions.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/models/UpdateExceptionPolicyOptions.java
Due: none

Update ignore revapi json
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml

remove profile for coverage
  eng/mgmt/automation/parameters.py
Due: eng/pipelines/mgmt.yml

[Automation] External Change
  eng/versioning/version_client.txt
  pom.xml
  sdk/alertsmanagement/ci.yml
  sdk/alertsmanagement/pom.xml
Due: eng/pipelines/mgmt.yml

exclude samples from code coverage report
  eng/scripts/generate_aggregate_coverage_pom.py
Due: eng/pipelines/mgmt.yml

Fix revapi json configuration
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Due: eng/pipelines/mgmt.yml

test pipeline
  sdk/spring/pom.xml
Due: none

Revert "test pipeline"
  sdk/spring/pom.xml
Due: none

Fix revapi json and deprecated obo provider
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapi/AadOboOAuth2AuthorizedClientProvider.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fix revapi json and make the grant type on_behalf_of available as it is more readable
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/constants/Constants.java
Due: eng/pipelines/mgmt.yml

remove shared members for test classes
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/kafka/AzureEventHubsKafkaOAuth2AutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/kafka/KafkaBinderConfigurationPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AzureKafkaAutoconfigurationUtilsTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/kafka/AbstractAzureKafkaOAuth2AutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/kafka/AzureKafkaOAuth2BinderConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/kafka/AzureKafkaOAuth2BootConfigurationTests.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/credential/resolver/AzureTokenCredentialResolver.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/AzureSpringIdentifier.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/kafka/AzureOAuthBearerToken.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/kafka/AzureKafkaPropertiesUtilsTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/kafka/AzureOAuthBearerTokenTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/kafka/KafkaOAuth2AuthenticateCallbackHandlerTest.java
Due: none

Update java doc
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/jwt/AadJwtClientAuthenticationParametersConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/jwt/AadJwtEncoder.java
Due: none

Added support read in multiple endpoints/connections strings
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationBootstrapConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/ClientManager.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/ConnectionManager.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/ConfigStore.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/resource/Connection.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/resource/ConnectionPool.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/stores/ClientStore.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationPropertiesTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/ConnectiongTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/stores/ClientStoreTest.java
Due: eng/pipelines/mgmt.yml

fix ut
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AzureKafkaAutoconfigurationUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AzureKafkaAutoconfigurationUtilsTest.java
Due: none

Fixing public visibility
  sdk/appconfiguration/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/DynamicFeatureManager.java
  sdk/appconfiguration/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManagementConfiguration.java
  sdk/appconfiguration/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/appconfiguration/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/models/FeatureDefinition.java
  sdk/appconfiguration/spring-cloud-azure-feature-management/src/main/resources/META-INF/spring.factories
Due: none

Changes for June release after running script (#29482)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/README.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/remoterendering/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/patch-release.yml: any of: eng/pipelines/patch-release.yml
