Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Generate
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - task: Maven@3
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/resources/mgmt-v2019_07_01/pom.xml
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/GenericResourceExpanded.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/Resources.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/TagOperations.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/DeploymentsImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/DeploymentsInner.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/GenericResourceExpandedImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/GenericResourceExpandedInner.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/ResourceManagementClientImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/ResourcesImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/ResourcesInner.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/ResourcesManager.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/TagOperationsImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/TagOperationsInner.java
Due: none

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/resources/mgmt-v2019_10_01/pom.xml
Due: none

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/resources/mgmt-v2020_06_01/pom.xml
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/Providers.java
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/implementation/ProvidersImpl.java
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/implementation/ProvidersInner.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/features/mgmt-v2015_12_01/pom.xml
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/locks/mgmt-v2016_09_01/pom.xml
  sdk/locks/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/locks/v2016_09_01/implementation/ManagementLocksImpl.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/managedapplications/mgmt-v2019_07_01/pom.xml
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/Application.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/ApplicationDefinitions.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/ApplicationPatchable.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/ApplicationPropertiesPatchable.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/Identity.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/ResourceIdentityType.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/UserAssignedResourceIdentity.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/implementation/ApplicationDefinitionImpl.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/implementation/ApplicationDefinitionsImpl.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/implementation/ApplicationDefinitionsInner.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/implementation/ApplicationImpl.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/implementation/ApplicationsImpl.java
  sdk/managedapplications/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/managedapplications/v2019_07_01/implementation/ApplicationsInner.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/policy/mgmt-v2016_12_01/pom.xml
  sdk/policy/mgmt-v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/PolicyAssignment.java
  sdk/policy/mgmt-v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/PolicyAssignments.java
  sdk/policy/mgmt-v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/PolicyDefinition.java
  sdk/policy/mgmt-v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/implementation/PolicyAssignmentImpl.java
  sdk/policy/mgmt-v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/implementation/PolicyAssignmentsInner.java
  sdk/policy/mgmt-v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/implementation/PolicyClientImpl.java
  sdk/policy/mgmt-v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/implementation/PolicyDefinitionImpl.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/policy/mgmt-v2018_03_01/pom.xml
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/ErrorResponse.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/PolicyAssignment.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/PolicyAssignments.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/PolicyDefinition.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/PolicySetDefinition.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicyAssignmentImpl.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicyAssignmentsInner.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicyClientImpl.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicyDefinitionImpl.java
  sdk/policy/mgmt-v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicySetDefinitionImpl.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/policy/mgmt-v2018_05_01/pom.xml
  sdk/policy/mgmt-v2018_05_01/src/main/java/com/microsoft/azure/management/policy/v2018_05_01/PolicyAssignments.java
  sdk/policy/mgmt-v2018_05_01/src/main/java/com/microsoft/azure/management/policy/v2018_05_01/implementation/PolicyAssignmentsInner.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/policy/mgmt-v2019_01_01/pom.xml
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/ErrorResponse.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/ErrorResponseException.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/Identity.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyAssignment.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyAssignments.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyDefinition.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyDefinitionReference.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyDefinitions.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicySetDefinition.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicySetDefinitions.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicySku.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyType.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/ResourceIdentityType.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/IdParsingUtils.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PageImpl.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyAssignmentImpl.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyAssignmentInner.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyAssignmentsImpl.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyAssignmentsInner.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyClientImpl.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyDefinitionImpl.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyDefinitionInner.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyDefinitionsImpl.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyDefinitionsInner.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyManager.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicySetDefinitionImpl.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicySetDefinitionInner.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicySetDefinitionsImpl.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicySetDefinitionsInner.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/package-info.java
  sdk/policy/mgmt-v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/package-info.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/policy/mgmt-v2019_06_01/pom.xml
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/policy/mgmt-v2019_09_01/pom.xml
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2016_06_01/pom.xml
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/ErrorDefinition.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/ErrorResponse.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/ErrorResponseException.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/Operation.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/OperationDisplay.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/Operations.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/ResourceName.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/ResourceNameStatus.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/Subscription.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/Subscriptions.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/TenantIdDescription.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/CheckResourceNameResultInner.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/LocationImpl.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/OperationImpl.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/OperationInner.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/OperationsImpl.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/OperationsInner.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/PageImpl.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/PageImpl1.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/ResourcesManager.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/SubscriptionClientImpl.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/SubscriptionImpl.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/SubscriptionsImpl.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/SubscriptionsInner.java
  sdk/resources/mgmt-v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/TenantsImpl.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2016_09_01/pom.xml
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/DeploymentExtended.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/DeploymentPropertiesExtended.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/Deployments.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ErrorAdditionalInfo.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ErrorResponse.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ExportTemplateRequest.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/GenericResource.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ParametersLink.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ResourceGroup.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ResourceGroups.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ResourcegroupSubscriptionGenericResourceExpanded.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/Resources.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/SubscriptionGenericResourceExpanded.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/TagOperations.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/TemplateHashResult.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/DeploymentExtendedImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/DeploymentOperationImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/DeploymentOperationsImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/DeploymentsImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/DeploymentsInner.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/GenericResourceExpandedInner.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/GenericResourceImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ProviderImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ProvidersImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceGroupImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceGroupInner.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceGroupsImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceGroupsInner.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceManagementClientImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourcegroupSubscriptionGenericResourceExpandedImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourcesImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourcesInner.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourcesManager.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/SubscriptionGenericResourceExpandedImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/TagOperationsImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/TagOperationsInner.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/TemplateHashResultImpl.java
  sdk/resources/mgmt-v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/TemplateHashResultInner.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2018_02_01/pom.xml
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/DeploymentExtended.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/DeploymentPropertiesExtended.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/Deployments.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ErrorAdditionalInfo.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ErrorResponse.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ExportTemplateRequest.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/GenericResourceExpanded.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ParametersLink.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ResourceGroup.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ResourceGroups.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/Resources.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/TagOperations.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/TemplateHashResult.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/DeploymentExtendedImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/DeploymentOperationImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/DeploymentOperationsImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/DeploymentsImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/DeploymentsInner.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/GenericResourceExpandedImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/GenericResourceExpandedInner.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ProviderImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ProvidersImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourceGroupImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourceGroupsImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourceManagementClientImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourcesImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourcesInner.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourcesManager.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/TagOperationsImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/TagOperationsInner.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/TemplateHashResultImpl.java
  sdk/resources/mgmt-v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/TemplateHashResultInner.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2018_06_01/pom.xml
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/ErrorDefinition.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/ErrorResponse.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/ErrorResponseException.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Location.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Operation.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/OperationDisplay.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Operations.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/ResourceName.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/ResourceNameStatus.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/SpendingLimit.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Subscription.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/SubscriptionPolicies.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/SubscriptionState.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Subscriptions.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/TenantIdDescription.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Tenants.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/CheckResourceNameResultInner.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/IdParsingUtils.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/LocationImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/LocationInner.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/OperationImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/OperationInner.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/OperationsImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/OperationsInner.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/PageImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/PageImpl1.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/ResourcesManager.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionClientImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionInner.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionsImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionsInner.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/TenantIdDescriptionImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/TenantIdDescriptionInner.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/TenantsImpl.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/TenantsInner.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/package-info.java
  sdk/resources/mgmt-v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/package-info.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2019_05_01/pom.xml
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/DeploymentExtended.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/Deployments.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/ErrorAdditionalInfo.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/ErrorResponse.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/GenericResourceExpanded.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/Resources.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/TagOperations.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/TemplateHashResult.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/DeploymentExtendedImpl.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/DeploymentsImpl.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/DeploymentsInner.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/GenericResourceExpandedImpl.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/GenericResourceExpandedInner.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/ResourceManagementClientImpl.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/ResourcesImpl.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/ResourcesInner.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/ResourcesManager.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/TagOperationsImpl.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/TagOperationsInner.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/TemplateHashResultImpl.java
  sdk/resources/mgmt-v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/TemplateHashResultInner.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2019_06_01/pom.xml
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/ErrorDefinition.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/ErrorResponse.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/ErrorResponseException.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/ResourceName.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/ResourceNameStatus.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/TenantCategory.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/TenantIdDescription.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/implementation/CheckResourceNameResultInner.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/implementation/SubscriptionClientImpl.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/implementation/TenantIdDescriptionImpl.java
  sdk/resources/mgmt-v2019_06_01/src/main/java/com/microsoft/azure/management/resources/v2019_06_01/implementation/TenantIdDescriptionInner.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2019_07_01/pom.xml
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/GenericResourceExpanded.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/Resources.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/TagOperations.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/DeploymentsImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/DeploymentsInner.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/GenericResourceExpandedImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/GenericResourceExpandedInner.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/ResourceManagementClientImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/ResourcesImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/ResourcesInner.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/ResourcesManager.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/TagOperationsImpl.java
  sdk/resources/mgmt-v2019_07_01/src/main/java/com/microsoft/azure/management/resources/v2019_07_01/implementation/TagOperationsInner.java
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2019_10_01/pom.xml
Due: none

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/mgmt-v2020_06_01/pom.xml
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/DeploymentProperties.java
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/ExpressionEvaluationOptions.java
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/ExpressionEvaluationOptionsScopeType.java
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/Providers.java
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/implementation/ProvidersImpl.java
  sdk/resources/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/resources/v2020_06_01/implementation/ProvidersInner.java
Due: none

Allow test PRs in SubmitPullRequest.ps1 script, updates to Invoke-GitHubAPI
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Due: eng/pipelines/mgmt.yml

Prevent template run for sync builds, Update SetTestPipelineVersion.ps1, add CloseAfterOpenForTesting to create-pull-request.yml cal
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/scripts/SetTestPipelineVersion.ps1
  sdk/template/ci.yml
Due: eng/pipelines/mgmt.yml

remove link in sample.md
  sdk/resourcemanager/docs/SAMPLE.md
Due: eng/pipelines/link-verification.yml

Adding hashCode and equal method for Option
  sdk/core/azure-core/src/main/java/com/azure/core/util/Option.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/OptionTests.java
Due: none

fix compile error
  profiles/2020-09-01-hybrid/azure/src/main/java/com/microsoft/azure/management/profile_2019_03_01_hybrid/Azure.java
  profiles/2020-09-01-hybrid/azure/src/test/java/com/microsoft/azure/management/profile_2019_03_01_hybrid/AzureTests.java
Due: eng/pipelines/mgmt.yml

Add 2 new artifact into ci.yml.
  sdk/keyvault/ci.yml
  sdk/spring/ci.yml
Due: none

update CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.microsoft.azure azure-servicebus-jms-spring-boot-starter
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/pom.xml
  sdk/spring/azure-spring-boot-starter-servicebus-jms/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot-test-servicebus-jms/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Fix error in pipeline.
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

use manager rather then collections in API
  profiles/2020-09-01-hybrid/azure/src/main/java/com/microsoft/azure/management/profile_2019_03_01_hybrid/Azure.java
Due: eng/pipelines/mgmt.yml

fix compile error
  profiles/2020-09-01-hybrid/azure/src/test/java/com/microsoft/azure/management/profile_2019_03_01_hybrid/AzureTests.java
Due: eng/pipelines/mgmt.yml

update CHANGELOG.md (#16587)
  sdk/spring/azure-spring-boot/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
