Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

Bump azure-storage-blob to 12.34.0 to match version_client.txt
  sdk/contentunderstanding/azure-ai-contentunderstanding/pom.xml
Due: eng/pipelines/pullrequest.yml

Update assets.json to include HSM recordings for new getKeyWith20260301PreviewServiceVersion test
  sdk/keyvault/azure-security-keyvault-keys/assets.json
Due: eng/pipelines/pullrequest.yml

Merge customOptions in inheritNonContinuationFieldsFrom to preserve token-mode headers
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/CosmosChangeFeedRequestOptionsWithPagedFluxOptionsTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosChangeFeedRequestOptionsImpl.java
Due: none

Fix indentation in DevTestLabsManagerTests for region definition
  sdk/devtestlabs/azure-resourcemanager-devtestlabs/src/test/java/com/azure/resourcemanager/devtestlabs/DevTestLabsManagerTests.java
Due: eng/pipelines/pullrequest.yml

Skip getKeyWith20260301PreviewServiceVersion on Managed HSM subclass
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
Due: eng/pipelines/pullrequest.yml

Update Administration assets tag to patch Keys api-version in beginSelectiveKeyRestore cassettes
  sdk/keyvault/azure-security-keyvault-administration/assets.json
Due: eng/pipelines/pullrequest.yml

Update version to 2.0.0-beta.1 for azure-resourcemanager-devtestlabs in POM and changelog
  eng/versioning/version_client.txt
  sdk/devtestlabs/azure-resourcemanager-devtestlabs/CHANGELOG.md
  sdk/devtestlabs/azure-resourcemanager-devtestlabs/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Fix admin assets: restore /backup api-version to 2025-07-01 (Administration's own version)
  sdk/keyvault/azure-security-keyvault-administration/assets.json
Due: eng/pipelines/pullrequest.yml

Revert Administration assets changes
  sdk/keyvault/azure-security-keyvault-administration/assets.json
Due: eng/pipelines/pullrequest.yml

suppressed public exposure of header
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/BetaAgentsAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/BetaAgentsClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/AgentsClientImpl.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/BetaAgentsImpl.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CandidateDeployConfig.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CandidateFileInfo.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CandidateMetadata.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/CandidateResults.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/DatasetInfo.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/OptimizationAgentDefinition.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/OptimizationCandidate.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/OptimizationJob.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/OptimizationJobProgress.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/OptimizationJobResult.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/OptimizationTaskResult.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/PromoteCandidateResult.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/models/PromotionInfo.java
  sdk/ai/azure-ai-agents/src/main/resources/META-INF/azure-ai-agents_metadata.json
  sdk/ai/azure-ai-agents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

things seem to be working for agents
  sdk/ai/azure-ai-agents/src/main/resources/META-INF/azure-ai-agents_metadata.json
  sdk/ai/azure-ai-agents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

path fix
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/FoundryFeaturesHeaderVerificationTest.java
Due: eng/pipelines/pullrequest.yml

fix(cosmos-tests): drain TestUtils dummy clients from leak detector
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosNettyLeakDetectorFactory.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/GatewayReadConsistencyStrategySpyWireTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Due: none

fix(cosmos-tests): isolate dummy client cleanup to GatewayReadConsistencyStrategySpyWireTest
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosNettyLeakDetectorFactory.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/GatewayReadConsistencyStrategySpyWireTest.java
Due: none

Isolate dummy-client leak fix to GatewayReadConsistencyStrategySpyWireTest
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/TestUtils.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/GatewayReadConsistencyStrategySpyWireTest.java
Due: none

It works for azure-ai-agents
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentsClientBuilder.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/FoundryFeaturesHeaderVerificationTest.java
Due: eng/pipelines/pullrequest.yml

WIP: azure-ai-projects refactor
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/AIProjectClientBuilder.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaDatasetsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaDatasetsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaEvaluatorsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaEvaluatorsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaInsightsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaInsightsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaRoutinesAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaRoutinesClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/EvaluationRulesAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/EvaluationRulesClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/AIProjectClientImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/BetaDatasetsImpl.java
  sdk/ai/azure-ai-projects/src/main/resources/META-INF/azure-ai-projects_metadata.json
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/DataGenerationJobWithEvaluationSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/DataGenerationJobsAsyncSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/DataGenerationJobsSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/ModelsAsyncSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/ModelsCreateAndPollSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/ModelsSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/ReadmeSamples.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/SkillsAsyncSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/SkillsPackageAsyncSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/SkillsPackageSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/SkillsSample.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/DataGenerationJobsAsyncClientTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/DataGenerationJobsClientTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/FoundryFeaturesHeaderVerificationTest.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/SamplesTests.java
  sdk/ai/azure-ai-projects/tsp-location.yaml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Add ACR login step to Kafka CI pipeline for Testcontainers cache (#49367)
  sdk/cosmos/kafka.yml
Due: none

Address xinlian12 PR comments: TOCTOU guard, doc clarity, ACK-timeout unit test
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/http/Http2PingHandlerTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Due: none

enabled CFSClean2
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Promote Foundry preview header in Java projects
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/AIProjectClientBuilder.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaEvaluatorsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaEvaluatorsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaInsightsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaInsightsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaRoutinesAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/BetaRoutinesClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/AIProjectClientImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/BetaDatasetsImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/models/FoundryFeaturesOptInKeys.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/AgentEvaluatorGenerationJobSource.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/DatasetEvaluatorGenerationJobSource.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/EvaluatorGenerationInputs.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/EvaluatorGenerationJob.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/EvaluatorGenerationJobSource.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/EvaluatorGenerationJobSourceType.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/EvaluatorGenerationTokenUsage.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/PromptEvaluatorGenerationJobSource.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/RoutineAttemptSource.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/RoutineRun.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/RoutineRunPhase.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/TracesEvaluatorGenerationJobSource.java
  sdk/ai/azure-ai-projects/src/main/resources/META-INF/azure-ai-projects_metadata.json
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/FoundryFeaturesHeaderVerificationTest.java
  sdk/ai/azure-ai-projects/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

fix(cosmos-spark): validate bounded change feed EOF against planned endLsn
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIterator.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorSpec.scala
Due: none

test(cosmos-spark): add bounded change feed EOF validation matrix
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorSpec.scala
Due: none

add ShareFileRangeItem and ShareFileRangeOptions for new pageability
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileRangeItem.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileListRangesOptions.java
Due: eng/pipelines/pullrequest.yml

fix(cosmos-spark): address review iter 1 — parse-failure retry + helper consolidation + diagnostics
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIterator.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorITest.scala
  sdk/cosmos/azure-cosmos-spark_3/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorSpec.scala
Due: none

remove maxResultsFromPage from SFListRangeOptions
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileListRangesOptions.java
Due: eng/pipelines/pullrequest.yml

Address iter-2 review: drop duplicate log + inline helper wrapper
  sdk/cosmos/azure-cosmos-spark_3/src/main/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIterator.scala
Due: none

docs(cosmos): clarify HTTP/2 PING threshold semantics and expand CHANGELOG
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
Due: eng/pipelines/link-verification.yml

create pageable apis for sharefileclient sync and async for listAllRanges and listAllRangesDiff
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
Due: eng/pipelines/pullrequest.yml

[confidentialledger] Enforce stricter redirect destination policy
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/src/main/java/com/azure/security/confidentialledger/ConfidentialLedgerRedirectPolicy.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerRedirectPolicyTest.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Increment package versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-resourcemanager-monitor-slis/CHANGELOG.md
  sdk/monitor/azure-resourcemanager-monitor-slis/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

Verify JARs published in archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/steps/java-esrp-publishing.yml
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

chore: ignore .coding-harness/ orchestration artifacts
  .gitignore
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

H3: route HTTP/2 PING-driven channel close as retryable transport failure
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/Http2PingKeepaliveTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyHttp2PingCloseTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/WebExceptionUtility.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2PingCloseRewrapHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2PingHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2PingTimeoutChannelClosedException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Due: eng/pipelines/link-verification.yml

restore deprecated apis and recordings
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
Due: eng/pipelines/pullrequest.yml

Release Prep
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

H3: align doc/comment/CHANGELOG wording with PING-send-failure close path
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2PingCloseRewrapHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2PingHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Due: eng/pipelines/link-verification.yml

June 2026 Core Release
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

test(cosmos): account for Http2PingHealth feature flag in user-agent helpers
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/UserAgentSuffixTest.java
Due: none
