Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Generate
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: windows-2019
    steps:
    - template: templates/steps/install-reporting-tools.yml
      parameters:
        Options: --batch-mode
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

Tighten requirements on what is allowed for the source supplier method
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/HttpClientServiceVersionAugmentedArgumentsProvider.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/HttpClientServiceVersionAugmentedSource.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/annotation/FullyQualifiedSourceSupplierTestHelper.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/annotation/HttpClientServiceVersionAugmentedArgumentsProviderTests.java
Due: none

Fix stackoverflow in Search test
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/batching/SearchIndexingPublisher.java
Due: none

Remove duplicate calls to bypass-local-dns.yml - Now called from verify-agent-os.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Due: eng/pipelines/mgmt.yml

Add verify-agent-os.yml to smoke tests
  common/smoke-tests/smoke-test-job.yml
Due: eng/pipelines/mgmt.yml

Updated Changelogs for storage beta release (#20748)
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

@danieljurek -> @benbp
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

update link
  sdk/storage/CONTRIBUTING.md
Due: eng/pipelines/link-verification.yml

Increment package version after release of com.azure azure-ai-anomalydetector
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/anomalydetector/azure-ai-anomalydetector/CHANGELOG.md
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/anomalydetector/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

CODEOWNERS tests.yml: @danieljurek -> @benbp (#20751)
  .github/CODEOWNERS
Due: eng/pipelines/mgmt.yml

Add description
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/DtdlStrings.java
  sdk/modelparser/azure-digitaltwins-parser/src/main/java/com/azure/digitaltwins/parser/implementation/parsergen/MaterialClassDigest.java
Due: none

Fix stackoverflow in Search test (#20749)
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/batching/SearchIndexingPublisher.java
Due: none

update link (#20752)
  sdk/storage/CONTRIBUTING.md
Due: eng/pipelines/link-verification.yml

Add template to merge multiple subscription configurations
  eng/common/TestResources/build-test-resource-config.yml
Due: eng/pipelines/mgmt.yml

Update eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/build-test-resource-config.yml
Due: eng/pipelines/mgmt.yml

resolving comments and fixing test cases
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ChangeFeedFetcher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/FeedResponse.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/RetryContextOnDiagnosticTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientTest.java
Due: none

resolving comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryContext.java
Due: none

resolving comments
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryContext.java
Due: none

Added changes
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-storage-internal-avro
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-storage-common
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add groupid directly to pom files
  sdk/spring/azure-spring-boot-test-aad-b2c/pom.xml
  sdk/spring/azure-spring-boot-test-aad-obo/pom.xml
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/pom.xml
  sdk/spring/azure-spring-boot-test-aad-resource-server/pom.xml
  sdk/spring/azure-spring-boot-test-aad/pom.xml
  sdk/spring/azure-spring-boot-test-application/pom.xml
  sdk/spring/azure-spring-boot-test-cosmos/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom-reactive.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
  sdk/spring/azure-spring-boot-test-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot-test-storage/pom.xml
  sdk/spring/azure-spring-cloud-test-eventhubs/pom.xml
Due: none

Increment package version after release of com.azure azure-storage-file-datalake
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-storage-blob-batch
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-storage-blob
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Change How the Netty HttpClient Implementation Handles SSLException (#20675)
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/HttpProxyExceptionHandler.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/HttpProxyExceptionHandlerTests.java
Due: none

Change blob cryptography keyvault dependency to beta (#20755)
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-storage-blob-nio
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-storage-file-share
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Set partition key on initialized CosmosQueryRequestOptions
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
Due: none

Increment package version after release of com.azure azure-storage-queue
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add the ability to use all service versions with a flag
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/HttpClientServiceVersionAugmentedArgumentsProvider.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/HttpClientServiceVersionAugmentedSource.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/annotation/HttpClientServiceVersionAugmentedArgumentsProviderTests.java
Due: none

added crypto changes
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure azure-storage-blob-cryptography
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment version for storage releases (#20756)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

azure-core: use classloader that loaded providers class to load individual provider classes
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPolicyProviders.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpClientProviders.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JsonSerializerProviders.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/MemberNameConverterProviders.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/TracerProxy.java
Due: none

add group attributes info (#20733)
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Due: eng/pipelines/link-verification.yml

add changelog
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

[Automation] External Change
  eng/versioning/version_client.txt
  pom.xml
  sdk/peering/ci.yml
  sdk/peering/pom.xml
Due: eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
