Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/latest-jdk.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml, eng/pipelines/native-image-live-tests.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/latest-jdk.yml: any of: eng/pipelines/latest-jdk.yml, eng/scrips/Install-Latest-JDK.ps1
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
  eng/pipelines/native-image-live-tests.yml: any of: eng/pipelines/native-image-live-tests.yml, eng/scrips/Install-GraalVM-JDK.ps1
  eng/pipelines/pullrequest.yml: any of: *, but not: eng/versioning/external_dependencies.txt, eng/versioning/version_client.txt, eng/versioning/version_java_files.txt, sdk/batch/microsoft-azure-batch, sdk/boms, sdk/cosmos, sdk/e2e, sdk/eventhubs/microsoft-azure-eventhubs, sdk/eventhubs/microsoft-azure-eventhubs-eph, sdk/servicebus/microsoft-azure-servicebus, sdk/spring

Fix passwordless JDBC and Redis azure.scopes defaulting to Azure Global when cloud-type=azure_china/azure_us_government (#48683)
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/properties/AzureJdbcPasswordlessProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/properties/AzureRedisPasswordlessProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertiesBeanPostProcessorTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/MergeAzureCommonPropertiesTest.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/AzurePasswordlessPropertiesUtils.java
Due: eng/pipelines/link-verification.yml

Fix Service Bus autoconfiguration for dedicated producer/consumer/processor connection details (#49257)
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusClientBuilderConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/properties/ConfigurationWithoutConnectionDetailsBean.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusAutoConfigurationTests.java
Due: eng/pipelines/link-verification.yml

Update assets.json tag and add scenario tests for Connection and JobDefinition with private source
  sdk/storagemover/azure-resourcemanager-storagemover/assets.json
  sdk/storagemover/azure-resourcemanager-storagemover/pom.xml
  sdk/storagemover/azure-resourcemanager-storagemover/src/test/java/com/azure/resourcemanager/storagemover/scenario/ConnectionTests.java
  sdk/storagemover/azure-resourcemanager-storagemover/src/test/java/com/azure/resourcemanager/storagemover/scenario/JobDefinitionPrivateSourceTests.java
  sdk/storagemover/azure-resourcemanager-storagemover/src/test/java/com/azure/resourcemanager/storagemover/scenario/StorageMoverManagementTestBase.java
Due: eng/pipelines/pullrequest.yml

[Serdes] Make propertyBag final in JsonSeralizable
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
Due: none

Changelog
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

split out the tests
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/DataGenerationJobsAsyncClientTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/DataGenerationJobsClientTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/SamplesTests.java
Due: eng/pipelines/pullrequest.yml

Add Foundry data generation sample recordings
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/tools/FabricIQSamplesAsyncTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/tools/FabricIQSamplesTestBase.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/tools/FabricIQSamplesTests.java
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/pom.xml
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/DataGenerationJobsAsyncClientTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/DataGenerationJobsClientTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/SamplesTests.java
Due: eng/pipelines/pullrequest.yml

Fix parent channel resolution and customHeaderCleaner duplicate guard
  sdk/cosmos/azure-cosmos-tests/src/test/resources/log4j2-test.properties
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Due: none

Fabric IQ and Data Gen samples (#49247)
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/tools/FabricIQAsync.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/tools/FabricIQSync.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/ClientTestBase.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/tools/FabricIQSamplesAsyncTests.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/tools/FabricIQSamplesTestBase.java
  sdk/ai/azure-ai-agents/src/test/java/com/azure/ai/agents/tools/FabricIQSamplesTests.java
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/pom.xml
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/EvaluationsHelper.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/OpenAIJsonHelper.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/GraderAzureAIEvaluator.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/TestingCriterionAzureAIEvaluator.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/DataGenerationJobWithEvaluationSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/ReadmeSamples.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/ClientTestBase.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/DataGenerationJobsAsyncClientTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/DataGenerationJobsClientTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/EvaluationsHelperTests.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/SamplesTests.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Using all the snippet for readme are being used (#49216)
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/IndexesSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/ReadmeSamples.java
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Remove unused import
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/task/TaskManager.java
Due: eng/pipelines/pullrequest.yml

Remove PROTOCOL_ERROR logic and client-level kill switch
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2PingHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Due: none

Add deduped warning for preferred regions that don't match any account region (aligned with Python SDK)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
Due: none

Improve LocationHelper dataCenterToUriPostfix comment with RFC 4343 rationale
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationHelper.java
Due: none

deleteSkill returns void
  sdk/ai/azure-ai-agents/src/main/resources/META-INF/azure-ai-agents_metadata.json
  sdk/ai/azure-ai-agents/tsp-location.yaml
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/SkillsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/SkillsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/DeleteSkillVersionResponse.java
  sdk/ai/azure-ai-projects/src/main/resources/META-INF/azure-ai-projects_metadata.json
  sdk/ai/azure-ai-projects/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

formatting updates
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/OpenAIJsonHelper.java
  sdk/ai/azure-ai-projects/src/test/java/com/azure/ai/projects/models/AzureAIAgentTargetToolsTest.java
Due: eng/pipelines/pullrequest.yml

rename to listsessionfiles
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentSessionFilesAsyncClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/AgentSessionFilesClient.java
  sdk/ai/azure-ai-agents/src/main/java/com/azure/ai/agents/implementation/AgentSessionFilesImpl.java
  sdk/ai/azure-ai-agents/src/main/resources/META-INF/azure-ai-agents_metadata.json
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/hostedagents/SessionFilesAsyncSample.java
  sdk/ai/azure-ai-agents/src/samples/java/com/azure/ai/agents/hostedagents/SessionFilesSample.java
  sdk/ai/azure-ai-agents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/ai/azure-ai-projects/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

updated changelog
  sdk/search/azure-search-documents/CHANGELOG.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

Fix LocationHelperTest — update expected URL to match normalized form (hyphens stripped)
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/LocationHelperTest.java
Due: none

SearchResourceEncryptionKey fix
  sdk/search/azure-search-documents/customizations/src/main/java/SearchCustomizations.java
Due: eng/pipelines/pullrequest.yml

add delete customizaiton back to swagger doc
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/FilesImpl.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

version update
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/pom.xml
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/pullrequest.yml

fix: remove errantRecordReporter guard to match writer pattern; fix test compilation
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/sink/SinkRecordTransformerTest.java
Due: none

revert gitignore change
  .gitignore
Due: eng/pipelines/mgmt.yml, eng/pipelines/pullrequest.yml

add changelog
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

update changelog
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

add knowledge samples
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/KnowledgeBaseCrudExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/KnowledgeRetrievalExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/KnowledgeSourceCrudExample.java
Due: eng/pipelines/pullrequest.yml

update version txt
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

search customization changes
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchResourceEncryptionKey.java
Due: eng/pipelines/pullrequest.yml

rename uri to url
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/EvaluatorCredentialRequest.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/ModelCredentialRequest.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/models/ModelVersion.java
  sdk/ai/azure-ai-projects/src/main/resources/META-INF/azure-ai-projects_metadata.json
  sdk/ai/azure-ai-projects/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update samples
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/ModelsAsyncSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/ModelsSample.java
Due: eng/pipelines/pullrequest.yml

Early yield on 429 throttling in QuorumReader/ConsistencyWriter
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriterTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/QuorumReaderTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/QuorumReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResult.java
Due: none

Add test for mixed 410/429 scenario - Gone replicas excluded, throttled replica yields early
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/QuorumReaderTest.java
Due: none

Fix E2E tests: skip on single-region emulator
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnDirectTests.java
Due: none
