Repository Azure/azure-sdk-for-java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: Generate
    timeoutInMinutes: 180
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - task: Maven@3
  ...

eng/pipelines/link-verification.yml:
  jobs:
  - job: Generate
    variables:
    - template: templates/variables/globals.yml
    pool:
      vmImage: ubuntu-18.04
    steps:
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
        CheckLinkGuidance: $true

eng/pipelines/mgmt.yml:
  jobs:
  - job: Build
    strategy:
      matrix:
        Java 8:
          ArtifactName: packages
          JavaVersion: '1.8'
        Java 7:
          ArtifactName: packages
          JavaVersion: '1.7'
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: ShellScript@2
  ...

update packagename for azure-spring-data-sample-gremlin
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/AzureSpringDataSampleGremlinApplication.java
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/config/GremlinProperties.java
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/config/UserRepositoryConfiguration.java
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/domain/Network.java
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/domain/Person.java
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/domain/Relation.java
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/repository/NetworkRepository.java
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/repository/PersonRepository.java
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/src/main/java/com/azure/spring/sample/data/gremlin/repository/RelationRepository.java
Due: none

remove test
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/AzureResourceManagerTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestContainerInstanceWithPrivateIpAddress.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestContainerInstanceWithPublicIpAddressWithSystemAssignedMSI.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestContainerRegistry.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestPrivateDns.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestRedis.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestSql.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestTrafficManager.java
Due: none

Fix error reported by pom_file_version_scanner.ps1.
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
Due: eng/pipelines/mgmt.yml

Add Codespaces configuration.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/docker-debian.sh
  .devcontainer/library-scripts/git-lfs-debian.sh
Due: eng/pipelines/mgmt.yml

Generated from 046b74c5fc352e594ac2478119a33a61d2b5f91d
  sdk/compute/mgmt-v2017_09_01/pom.xml
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/ResourceSkuCapabilities.java
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/ResourceSkuCapacity.java
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/ResourceSkuCosts.java
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/ResourceSkuLocationInfo.java
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/ResourceSkuRestrictionInfo.java
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/ResourceSkuRestrictions.java
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/implementation/ComputeManagementClientImpl.java
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/implementation/ResourceSkuInner.java
  sdk/compute/mgmt-v2017_09_01/src/main/java/com/microsoft/azure/management/compute/v2017_09_01/implementation/ResourceSkusImpl.java
Due: none

Generated from 046b74c5fc352e594ac2478119a33a61d2b5f91d
  sdk/compute/mgmt-v2018_04_01/pom.xml
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/CreationData.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/Disk.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/DiskSku.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/DiskUpdate.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/EncryptionSettings.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/GrantAccessData.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/ImageDiskReference.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/KeyVaultAndKeyReference.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/KeyVaultAndSecretReference.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/Snapshot.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/SnapshotSku.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/SnapshotUpdate.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/SourceVault.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/StorageAccountTypes.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/implementation/AccessUriInner.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/implementation/ComputeManagementClientImpl.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/implementation/DiskInner.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/implementation/DisksInner.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/implementation/SnapshotInner.java
  sdk/compute/mgmt-v2018_04_01/src/main/java/com/microsoft/azure/management/compute/v2018_04_01/implementation/SnapshotsInner.java
Due: none

Generated from 046b74c5fc352e594ac2478119a33a61d2b5f91d
  sdk/compute/mgmt-v2020_06_01/pom.xml
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/ExecutionState.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/LocationVirtualMachineRunCommand.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/VirtualMachine.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/VirtualMachineRunCommandInstanceView.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/VirtualMachineRunCommandScriptSource.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/VirtualMachineRunCommandUpdate.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/VirtualMachineRunCommands.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/VirtualMachineScaleSetVMRunCommands.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/VirtualMachineScaleSetVirtualMachineRunCommand.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/ComputeManagementClientImpl.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/ComputeManager.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/LocationVirtualMachineRunCommandImpl.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/ProximityPlacementGroupImpl.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/VirtualMachineImpl.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/VirtualMachineRunCommandInner.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/VirtualMachineRunCommandsImpl.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/VirtualMachineRunCommandsInner.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/VirtualMachineScaleSetVMRunCommandsImpl.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/VirtualMachineScaleSetVMRunCommandsInner.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/VirtualMachineScaleSetVirtualMachineRunCommandImpl.java
  sdk/compute/mgmt-v2020_06_01/src/main/java/com/microsoft/azure/management/compute/v2020_06_01/implementation/VirtualMachinesInner.java
Due: none

Format file in sdk/spring/azure-spring-boot-starter-keyvault-certificates.
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/src/main/java/com/azure/spring/security/keyvault/certificates/starter/KeyVaultCertificatesEnvironmentPostProcessor.java
Due: none

mgmt, update README and MIGRATION_GUIDE (#16426)
  sdk/resourcemanager/README.md
  sdk/resourcemanager/docs/MIGRATION_GUIDE.md
Due: eng/pipelines/link-verification.yml

Format files in sdk/keyvault/azure-security-keyvault-jca.
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/AuthClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/DelegateRestClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/JacksonJsonConverter.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/JsonConverter.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/JsonConverterFactory.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultCertificate.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultJcaProvider.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyManager.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyManagerFactory.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameter.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultTrustManager.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultTrustManagerFactory.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultTrustManagerFactoryProvider.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/LegacyRestClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/RestClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/RestClientFactory.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/rest/CertificateBundle.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/rest/CertificateItem.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/rest/CertificateListResult.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/rest/CertificatePolicy.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/rest/KeyProperties.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/rest/SecretBundle.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/AuthClientTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/DelegateRestClientTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/JacksonJsonConverterTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultCertificateTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultJcaProviderTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyStoreTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameterTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/LegacyRestClientTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/RestClientFactoryTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java
Due: none

Format files in sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/.mvn/wrapper/MavenWrapperDownloader.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/src/main/resources/application.properties
Due: none

fix broken link
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
Due: eng/pipelines/link-verification.yml

spotbugs exclude for fluent lite
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
Due: eng/pipelines/mgmt.yml

Change groupId from com.azure.spring to com.azure.
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Add Codespaces configuration. (#16489)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/docker-debian.sh
  .devcontainer/library-scripts/git-lfs-debian.sh
Due: eng/pipelines/mgmt.yml

copy azure from 2019 03
  profiles/2020-09-01-hybrid/azure/pom.xml
  profiles/2020-09-01-hybrid/azure/src/main/java/com/microsoft/azure/management/profile_2019_03_01_hybrid/Azure.java
  profiles/2020-09-01-hybrid/azure/src/main/java/com/microsoft/azure/management/profile_2019_03_01_hybrid/CustomCipherSuites.java
  profiles/2020-09-01-hybrid/azure/src/main/java/com/microsoft/azure/management/profile_2019_03_01_hybrid/package-info.java
  profiles/2020-09-01-hybrid/azure/src/test/java/com/microsoft/azure/management/profile_2019_03_01_hybrid/AzureTests.java
  profiles/2020-09-01-hybrid/pom.xml
Due: eng/pipelines/mgmt.yml

Remove data archetype. (#16422)
  eng/pipelines/templates/jobs/archetype-sdk-data.yml
  eng/pipelines/templates/stages/archetype-sdk-data.yml
  sdk/authorization/ci.yml
  sdk/batch/ci.yml
  sdk/eventgrid/ci.data.yml
  sdk/keyvault/ci.data.yml
  sdk/loganalytics/ci.yml
  sdk/mediaservices/ci.yml
  sdk/servicebus/ci.data.yml
  sdk/storage/ci.data.yml
Due: eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-redis
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-redis/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-redis/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-network
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-privatedns/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-eventhubs
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-cdn
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cdn/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cdn/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

GA azure
  eng/versioning/version_client.txt
Due: eng/pipelines/mgmt.yml

update pom version
  eng/jacoco-test-coverage/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/mgmt.yml

update README
  sdk/resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager-samples/README.md
  sdk/resourcemanager/azure-resourcemanager/README.md
Due: eng/pipelines/link-verification.yml

sync update of missing artifact id
  sdk/appconfiguration/tests.yml
  sdk/spring/scripts/replace_util.py
Due: none

add change log
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
Due: eng/pipelines/link-verification.yml

modify azure cloud foundry module
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/src/main/java/com/azure/spring/sample/cloudfoundry/AzureCloudFoundryServiceSampleApplication.java
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/src/main/java/com/azure/spring/sample/cloudfoundry/cosmos/CosmosRestController.java
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/src/main/java/com/azure/spring/sample/cloudfoundry/cosmos/User.java
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/src/main/java/com/azure/spring/sample/cloudfoundry/cosmos/UserRepository.java
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/src/main/java/com/azure/spring/sample/cloudfoundry/servicebus/ServiceBusRestController.java
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/src/main/java/com/azure/spring/sample/cloudfoundry/servicebus/User.java
Due: none

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-trafficmanager
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-containerinstance
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-msi
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-msi/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-msi/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-containerservice
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-privatedns
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Increment package version after release of com.azure.resourcemanager azure-resourcemanager-dns
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-dns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Due: eng/pipelines/link-verification.yml, eng/pipelines/mgmt.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/link-verification.yml: any of: **/*.md
  eng/pipelines/mgmt.yml: any file but: sdk
